.first_section{
  background-image: url('../img/bg_us.jpg');
}
.black_bg{
  position: relative;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.reverse{
  flex-direction: row-reverse;
}
.bg_gradient i{
  position: absolute;
  bottom: 25px;
  left: 49%
}
.title_block{
  margin: 0 auto;
  margin-top: 300px;
}
h2{
  text-transform: none;
}
.special__element{
  display: flex;
  align-items: flex-start;
}
.plus{
  width: 26px;
  height: 29px;
  margin-right: 5px;
  margin-top: 8px;
}
.special{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.plus_text{
  color: #4F525E;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  max-width: 461px;
}
.left__special .special__element{
  margin-bottom: 30px;
}
.right__special .special__element{
  margin-bottom: 30px;
}
.text_block, .img_block{
  margin-top: 50px;
}
.text_block{
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  max-width: 45%;
  height: 573px;
  text-align: left;
}
.img_block{
  width: 50%;
  height: 573px;
}
.mrg{
  margin-top: 50px;
}
