.first_section{
  background-image: url('../img/bg_cont.jpg')
}
h2{
  margin-left: 0px;
  text-align: left;
}
hr{
  height: 5px;
  width: 80%;
  background-color: #002A95;
  margin-left: 0px;
  border-radius: 10px;
}
.message{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.div{
  width: 60%
}
textarea{
  height: 130px;
}
input, textarea{
  width: 100%;
  margin-bottom: 20px;
  background: transparent;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  padding-top: 5px;
  font-family: 'Open Sans', sans-serif; font-size: 20px;
}
 button{
  background-color: #4A4EB0;
  color: #fff;
  font-family: 'Open Sans', sans-serif; font-size: 23px;
  font-weight: 400;
  padding: 11px 21px;
  max-width: 303px;
  border-radius: 15px;
  margin-top: 20px;
}
::-webkit-input-placeholder {color:rgba(97,97,97,0,55); font-family: 'Open Sans', sans-serif; font-size: 20px;}
::-moz-placeholder          {color:rgba(97,97,97,0,55); font-family: 'Open Sans', sans-serif; font-size: 20px;}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(97,97,97,0,55); font-family: 'Open Sans', sans-serif; font-size: 20px;}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(97,97,97,0,55); font-family: 'Open Sans', sans-serif; font-size: 20px;}
.place__title{
  background-color: #4A4EB0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}
.place{
  width: 424px;
  margin-top: 30px;
}
.place_text{
  background-color: #fff;
  color: #000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 42px;
  text-align: center;
}
.place__element{
  display: flex;
  align-items: flex-start;
  color: #000;
  font-size: 19px;
  margin-bottom: 20px;
}
.element__text{
  margin-left: 10px;
  font-family: 'Noto Sans SC', sans-serif;
  text-align: left;
}
.element__icon{
  margin-top: 7px;
}
#left{
  margin-left: 20px;
}
@media screen and (max-width: 1450px){
  .flex{
    flex-direction: column;
    align-items: center;
  }
  button{
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px){
  nav{
    margin-top: -20px;
  }
  .menu {
    margin-top: -22px;
  }
}
@media screen and (max-width: 550px){
  .div{
    width: 100%
  }
  .place__title{
    text-align: center;
  }
}
