@charset "UTF-8";
*, :after, :before
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box
}

a, a:visited
{
  text-decoration: none
}

a:hover
{
  text-decoration: none
}

ul
{
  margin: 0;
  padding: 0
}

ul li
{
  list-style: none
}

@font-face
{
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal
}

body
{
  margin: 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  overflow-x: hidden;
  height: 100%
}

.container
{
  width: 85%;
  max-width: 1104px;
  margin: 0 auto;
  height: 100%
}

.header
{
  padding-top: 50px;
  padding-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.nav
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.phone-img
{
  margin-left: -25px
}

.phone-number
{
  display: block;
  margin-left: 15px;
  margin-right: 48px
}

.heading-red
{
  color: #D02B38;
  margin-bottom: 2px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  line-height: 23px
}

.heading-normal
{
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.69%;
  color: #000000
}

.img-facebook
{
  margin-right: 25px
}

.img-instagram
{
  margin-right: 50px
}

.logo
{
  margin-right: 50px
}

.img-logo
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px
}

.logo-text
{
  margin-left: -10px;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: #000000
}

.trans-ru
{
  margin-right: 20px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  color: #D02B38
}

.trans-lat
{
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.2);
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%
}

.trans-en
{
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%
}

.img-loupe
{
  margin-right: 20px
}

.img-cart
{
  margin-right: 15px
}

.search-block .btn-search
{
  background: url(../img/loupe.svg) no-repeat center;
  height: 31px;
  border: 0;
  width: 31px;
  cursor: pointer;
  margin-right: 19px;
  margin-left: 1px
}

.btn-search:active, .btn-search:focus
{
  outline: none
}

.search-block
{
  margin-bottom: 2px;
  padding-right: 4px
}

.search-form
{
  position: relative
}

.input-search
{
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  display: none;
  left: -130px;
  position: absolute;
  top: 40px;
  background: #F9F9F9;
  border: 2px solid #EFEFEF;
  padding: 10px 30px 10px 12px;
  width: 164px;
  height: 40px;
  color: rgba(0, 0, 0, 0.25)
}

.input-search.active
{
  display: block
}

.container-flex
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.banner
{
  margin-bottom: 50px
}

.banner h2
{
  margin: 0
}

.banner .container
{
  max-width: 869px
}

.banner__nav-ul
{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px
}

.banner__nav-ul > li
{
  margin: 0 7px;
  position: relative
}

.banner__nav-ul > li > a
{
  padding: 12px 28px 12px 3px
}

.banner__nav-ul > li:first-child
{
  margin-left: 0
}

.banner__nav-ul > li:last-child
{
  margin-right: 0
}

.banner__nav-ul .acitem
{
  display: none;
  width: 100%;
  position: absolute;
  background-color: #F5F5F5;
  left: 0;
  top: 34px
}

.banner__nav-ul .accordeon__links
{
  padding: 12px 27px 12px 13px;
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 400;
  color: #000;
  display: inline-block;
  width: 100%
}

.banner__nav-ul .accordeon__links:hover
{
  background-color: #e3e3e3;
  color: #DD1936
}

.banner__links
{
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000;
  position: relative
}

.banner__links.active
{
  color: #DD1936;
  background-color: #F5F5F5
}

.banner__links.active:after
{
  background: transparent url(../img/arrow1_red.png) no-repeat center right
}

.accordeon:after
{
  top: 12px;
  position: absolute;
  width: 11px;
  height: 18px;
  right: 11px;
  content: "";
  background: transparent url(../img/arrow1.png) no-repeat center right
}

.banner__photos
{
  margin-right: 19px
}

.minimized
{
  width: 400px;
  height: 441px;
  cursor: pointer;
  margin-right: 6px;
  border: 1px solid #FFF
}

#magnify
{
  display: none;
  position: fixed;
  max-width: 600px;
  height: auto;
  z-index: 9999
}

#magnify img
{
  width: 100%;
  height: 100%
}

#overlay
{
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990
}

#close-popup
{
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px
}

#close-popup i
{
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block
}

.small-photos.container-flex
{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.small-photos img
{
  width: 129px;
  height: 143px
}

.small-photos img:not(:last-child)
{
  margin-bottom: 6px
}

.banner__short-desk
{
  font-size: 10px;
  line-height: 143.69%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
  margin-top: 0
}

.banner__tittle
{
  margin-bottom: 8px;
}

.banner__tittle h2
{
  font-size: 23px;
  line-height: 143.69%;
  font-weight: 700;
  color: #D02B38
}

.banner__tittle p
{
  margin: 0;
  margin-left: 20px;
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.scrollup
{
  width: 40px;
  height: 40px;
  opacity: 0.8;
  position: fixed;
  bottom: 50px;
  right: 29px;
  display: none;
  text-indent: -9999px;
  background: url("../img/btn-up2.png") no-repeat
}

.banner__text
{
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 500;
  color: #000;
  margin-bottom: 35px
}

.banner__sizes h2
{
  font-size: 17px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000;
  margin-bottom: 12px
}

.banner__sizes-ul
{
  margin-bottom: 23px;
}

.banner__sizes-ul:not(:last-child)
{
  margin-bottom: 14px
}

.banner__sizes-ul li
{
  min-width: 25%;
  text-align: center
}

.banner__sizes-ul li:not(:last-child)
{
  margin-right: 14px
}

.banner__sizes-ul-links label
{
  cursor: pointer;
  padding: 6px;
  display: block;
  border: 1px solid #C4C4C4;
  font-size: 17px;
  line-height: 143.69%;
  font-weight: 400;
  color: #000;
  white-space: nowrap;
}

.banner__sizes-ul-links.smooth
{
  color: rgba(0, 0, 0, 0.3)
}

.banner__sizes-ul-links input[type=radio]:checked + label
{
  color: #D02B38;
  border: 1px solid #D02B38
}

.banner__sizes-ul input[type=radio]
{
  display: none;
}

.banner__desk-row
{
  margin-bottom: 20px
}

.banner__desk-row p
{
  margin-top: 0;
  margin-bottom: 0
}

.banner__model
{
  font-size: 12px;
  line-height: 143.69%;
  font-weight: 500;
  color: #000;
  margin-right: 21px
}

.banner__type
{
  font-size: 12px;
  line-height: 143.69%;
  font-weight: 500;
  color: #2B6DD0
}

.btn-basket
{
  margin-right: 19px;
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000;
  padding: 0 8px 0 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 10px;
  position: relative
}

.btn-basket:before
{
  content: "";
  background: url("../img/cart_little.svg");
  position: absolute;
  width: 25px;
  height: 25px;
  left: 16px
}

.btn-buy-now
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 700;
  color: #fff;
  padding: 0 19px 0 68px;
  background-color: #DD1936;
  border-radius: 10px;
  padding: 14px 20px 14px 30px
}

.bonus
{
  background-color: #F5F5F5;
  padding: 30px 0 31px
}

.bonus .container
{
  max-width: 869px;
  text-align: center
}

.bonus p
{
  font-size: 16px;
  line-height: 143.69%;
  font-weight: 700;
  color: #333333
}

.review
{
  padding-bottom: 61px
}

.review h2
{
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 29px;
  line-height: 143.69%;
  font-weight: 700;
  color: #333333
}

.review .container
{
  max-width: 500px;
  text-align: center
}

.review .container .container-flex
{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.review form
{
  margin-bottom: 10px;
  width: 500px
}

.review .input
{
  margin-bottom: 15px
}

.review input, .review textarea
{
  text-align: center;
  background: #F5F5F5;
  border-radius: 10px;
  border: none
}

.review input::-webkit-input-placeholder, .review textarea::-webkit-input-placeholder
{
  font-family: "Muller";
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3)
}

.review input::-moz-placeholder, .review textarea::-moz-placeholder
{
  font-family: "Muller";
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3)
}

.review input:-ms-input-placeholder, .review textarea:-ms-input-placeholder
{
  font-family: "Muller";
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3)
}

.review input::-ms-input-placeholder, .review textarea::-ms-input-placeholder
{
  font-family: "Muller";
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3)
}

.review input::placeholder, .review textarea::placeholder
{
  font-family: "Muller";
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3)
}

.review input.short-input
{
  padding: 17px 0;
  width: 498px;
  margin: 0 auto
}

.review textarea
{
  padding: 17px 0 57px;
  width: 498px;
  resize: none
}

.grade
{
  font-size: 20px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000
}

.load
{
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000;
  margin-left: 13px
}

.fl_upld
{
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center
}

#file-input
{
  display: none
}

#file-list-display p
{
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: #DD1936;
  text-align: left;
  margin: 0 0 0 46px
}

.fl_upld label
{
  cursor: pointer;
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000;
  margin-left: 13px
}

#fl_nm
{
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: #DD1936;
  margin-top: 5px
}

.review__row
{
}

.review__row p
{
  margin: 0
}

.review__row .container-flex
{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.review__row:not(:last-child)
{
  margin-top: 10px;
  margin-bottom: 30px
}

.review__row .rating_block
{
  width: 180px;
  height: 34px
}

.review__row .rating_block input[type=radio]
{
  display: none
}

.review__row .label_rating
{
  float: right;
  display: block;
  width: 35px;
  height: 31px;
  background: url(../img/stars.png) no-repeat 50% 0;
  cursor: pointer
}

.review__row .rating_block .label_rating:active, .review__row .rating_block .label_rating:active ~ .label_rating, .review__row .rating_block input[type=radio]:checked ~ .label_rating
{
  background-position-y: -31px
}

.stars:not(:last-child)
{
  margin-right: 3px
}

.review__btn
{
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: #fff;
  padding: 12px 47px;
  background-color: #DD1936;
  border-radius: 10px;
  border: none;
  outline: none
}

.review__btn:hover
{
  cursor: pointer
}

.review2
{
  background-color: #F5F5F5;
  padding: 50px 61px
}

.review2 .container
{
  max-width: 869px
}

.review2 .container h2
{
  font-size: 29px;
  line-height: 143.69%;
  font-weight: 700;
  color: #333333;
  text-align: center;
  margin: 0 0 40px
}

.review__desk
{
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 500;
  color: #000
}

.review__users:not(:last-child)
{
  margin-bottom: 50px
}
.review__users .stars
{
  width: 23px;
  height: 23px;
}
.name
{
  margin: 0 0 5px;
  font-size: 23px;
  line-height: 143.69%;
  font-weight: 700;
  color: #D02B38
}

.model
{
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  margin-top: 8px
}
.review__photos-block
{
  display: flex;
}
.review__photos-block > DIV
{
  width: 176px;
  /*height: 192px;*/
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.review__photos-block IMG
{
  width: 100%;
  height: auto;
}


.products
{
  padding-bottom: 66px
}

.products .container
{
  max-width: 1000px;
  text-align: center
}

.products__btns
{
  display: inline-block;
  font-size: 18px;
  line-height: 143.69%;
  font-weight: 700;
  color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.products__btns .to-main
{
  font-size: 16px;
  line-height: 143.69%;
  font-weight: 700;
  color: #fff;
  border: 3px solid #DD1936;
  border-radius: 10px;
  background-color: #D02B38;
  padding: 13px 22px;
  margin-right: 50px
}

.products__btns .to-catalog
{
  font-size: 16px;
  line-height: 143.69%;
  font-weight: 700;
  border: 3px solid #DD1936;
  border-radius: 10px;
  color: #D02B38;
  background-color: #fff;
  padding: 13px 30px
}

.products__title
{
  font-size: 29px;
  line-height: 143.69%;
  font-weight: 700;
  color: #333333;
  margin: 50px 0 40px
}

.view_item
{
  position: relative
}

.new-product
{
  color: #D02B38
}

.footer
{
  background: #181818;
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 0
}

.footer .container
{
  max-width: 1200px
}

.footer-wrap
{
  padding-right: 0;
  padding-left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.footer-group
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 70px
}

.footer-group-col
{
  position: absolute;
  display: block;
  margin-left: 700px;
  margin-top: -120px
}

.light-heading
{
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.6)
}

.links
{
  text-decoration: none;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  margin-bottom: 20px
}

.mark
{
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 143.69%;
  color: #FFFFFF
}

.tabs
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px
}

.footer-logo
{
  margin-right: 25px
}

.form-text
{
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 143.69%;
  color: #000000;
  padding: 10px 0px 10px 10px;
  margin-bottom: 20px
}

.form-text:focus::-webkit-input-placeholder
{
  color: transparent
}

:focus::-moz-placeholder
{
  color: transparent
}

:focus:-moz-placeholder
{
  color: transparent
}

:focus:-ms-input-placeholder
{
  color: transparent
}

.form
{
  display: block;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center
}

.red-btn
{
  background: #D02B38;
  border-radius: 10px;
  padding: 10px 0px 10px 10px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  outline: none;
  border: none
}

.swiper-button-next
{
  position: absolute;
  top: 3370px;
  right: 280px
}

.swiper-button-prev
{
  position: absolute;
  top: 3380px;
  left: 280px
}

.phone-img
{
  margin-left: -25px
}

.swiper-button-next, .swiper-button-prev
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 30px;
  width: 30px
}

.modal_view.modal
{
  font-family: Roboto, sans-serif
}

.modal_view.modal .row .col-xs-3
{
  width: 40%;
  float: left;
  padding-top: 8px;
  color: #CAC8C9;
  font-size: 14px
}

.modal_view.modal .row .col-xs-9
{
  width: 60%;
  float: left
}

.modal_view.modal a.close-modal
{
  background: url(../images/modal-close.png) no-repeat 0 0
}

.modal_view.modal .row
{
  margin-bottom: 20px
}

.modal_view.modal .row select
{
  border: 1px solid #CAC8C9;
  color: #7D8082
}

.modal_view.modal .row select
{
  height: 35px;
  -webkit-appearance: none;
  background-image: url(../images/select.png);
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: "";
  -ms-appearance: none;
  appearance: none !important;
  font-size: 14px
}

.modal_view.modal .row select::-ms-expand
{
  display: none
}

.modal_view.modal .row select
{
  padding: 6px 20px 6px 20px;
  width: 100%
}

.modal_view.modal .btn.btn-primary
{
  font-size: 16px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 20px 8px 20px;
  margin-top: 20px;
  display: inline-block;
  background-color: #C79795;
  border: none;
  cursor: pointer
}


.status_item
{
  width: 22px;
  height: 54px;
  /*margin-left: 10px;*/
  /*top: 0;*/
  /*position: absolute*/
}

.rotate
{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  padding-left: 36px;
  vertical-align: text-top;
  display: inline-block;
  float: right;
  top: -9px;
  /*position: absolute*/
}

.new
{
  background: url(../images/status_new.jpg) no-repeat top
}

.sold
{
  background: url(../images/status_sold.jpg) no-repeat top
}

.offer
{
  background: url(../images/discont.png) no-repeat top
}

.size-error
{
  display: none;
  font-size: 16px;
  font-weight: 600;
  color: #BA0C17;
  margin-bottom: 13px;
}

