@charset "UTF-8";
*, :after, :before
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

@font-face
{
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal
}

body
{
  margin: 0;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px
}

.container
{
  width: 85%;
  max-width: 1200px;
  margin: auto
}

.header
{
  padding-top: 50px;
  padding-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.nav
{
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.phone-number
{
  display: block;
  margin-left: 15px;
  margin-right: 90px
}

.heading-red
{
  color: #D02B38;
  margin-bottom: 2px;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px
}

.heading-normal
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.69%;
  color: #000000
}

.img-facebook
{
  margin-right: 25px
}

.img-instagram
{
  margin-right: 100px
}

.logo
{
  margin-right: 100px;
}

.img-logo
{
  /*display: -webkit-box;*/
  /*display: -ms-flexbox;*/
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.logo-text
{
  margin-left: -10px;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: #000000
}

.trans-ru
{
  margin-right: 20px;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  color: #D02B38
}

.trans-lat
{
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.2);
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%
}

.trans-en
{
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%
}

.img-loupe
{
  margin-right: 20px
}

.view
{
  display: block;
  position: absolute;
  bottom: 10%;
  width: 192px;
  height: 52px;
  background: #F9F9F9;
  border-radius: 10px;
  left: 30%
}

.img-cart
{
  margin-right: 15px;
  margin-bottom: 0
}

.search-block .btn-search
{
  background: url(../img/loupe.svg) no-repeat center;
  height: 31px;
  border: 0;
  width: 31px;
  cursor: pointer;
  margin-right: 19px;
  margin-left: 1px
}

.btn-search:active, .btn-search:focus
{
  outline: none
}

.search-block
{
  margin-bottom: 2px;
  padding-right: 4px
}

.search-form
{
  position: relative
}

.input-search
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  display: none;
  left: -130px;
  position: absolute;
  top: 40px;
  background: #F9F9F9;
  border: 2px solid #EFEFEF;
  padding: 10px 30px 10px 12px;
  width: 164px;
  height: 40px;
  color: rgba(0, 0, 0, 0.25)
}

.input-search.active
{
  display: block
}

.card-wrap
{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.card
{
  position: relative;
  margin: 0 50px 60px 0;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%
}

.scrollup
{
  width: 40px;
  height: 40px;
  opacity: 0.8;
  position: fixed;
  bottom: 50px;
  right: 29px;
  display: none;
  text-indent: -9999px;
  background: url("../img/btn-up2.png") no-repeat
}

.main-heading--red
{
  display: block;
  position: absolute;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #D02B38;
  left: 0;
  right: 0
}

button
{
  border: none
}

.button-all
{
  padding: 13px 30px 13px 30px;
  display: block;
  bottom: 10%;
  max-width: 200px;
  max-height: 52px;
  background: #F9F9F9;
  border-radius: 10px;
  outline: none;
  border: none
}

.btn-text
{
  text-align: center;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none
}

.about
{
  background: #F9F9F9
}

.about
{
  padding-top: 50px;
  padding-bottom: 76px
}

.regular-heading
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #333333
}

.about-head:after
{
  display: block;
  content: "";
  border: 4px solid #D02B38;
  width: 230px;
  margin: auto;
  margin-bottom: 50px
}

.about-box
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.about-wrap
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.about-heading--red
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 143.69%;
  text-align: left;
  letter-spacing: -0.02em;
  color: #D02B38;
  margin: 0
}

.about-text
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #000000
}

.about-logo
{
  margin-right: 30px
}

.about-info
{
  display: block
}

.reg-head:after
{
  display: block;
  content: "";
  border: 4px solid #D02B38;
  width: 360px;
  margin: auto;
  margin-bottom: 20px
}

.photos
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 50px
}

.clothes
{
  padding-top: 50px;
  padding-bottom: 75px
}

.clothes-wrap
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.clothes-box
{
  margin-left: 15px;
  margin-right: 15px
}
.clothes-box A
{
  text-decoration: none;
}
.clothes-heading
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0
}

.clothes-text
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.5)
}

.clothes-img
{
  height: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 20px
}
.clothes-img img
{
  width: 250px;
}

.partners
{
  padding-top: 50px;
  padding-bottom: 80px;
  background: #F9F9F9
}

.part-head:after
{
  display: block;
  content: "";
  border: 4px solid #D02B38;
  width: 350px;
  margin: auto;
  margin-bottom: 60px
}

.partners-wrap
{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between
}

.partners-box--long
{
  background: url("../img/shop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 41px
}

.partners-box--short
{
  background: url("../img/note.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 336px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative
}

.long-info
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 140px 0 0 28px
}

.long-info.link-block
{
  text-align: left
}

.button-all a
{
  text-decoration: none;
  color: #000000
}

.short-info
{
  top: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 170px 41px 112px 41px
}

.long-text
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 20px
}

.btn-left
{
  width: 100%;
  margin: 0 auto
}

.link-block
{
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  height: 100%
}

.short-text
{
  margin-bottom: 20px;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF
}

.long
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F9F9F9;
  border-radius: 10px;
  margin-left: 25px;
  max-height: 45px;
  margin-top: 17px;
  max-width: 200px;
  padding-left: 60px
}

.delivery
{
  padding-top: 15px;
  padding-bottom: 64px
}

.del-head:after
{
  display: block;
  content: "";
  border: 4px solid #D02B38;
  width: 150px;
  margin: auto;
  margin-bottom: 60px
}

.delivery-wrap
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.omniva
{
  margin-right: 115px
}

.pay
{
  background: #F9F9F9;
  padding-top: 50px;
  padding-bottom: 50px
}

.pay-head:after
{
  display: block;
  content: "";
  border: 4px solid #D02B38;
  width: 270px;
  margin: auto;
  margin-bottom: 40px
}

.pay-wrap
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.pay-img
{
  margin: auto;
  margin-right: 105px
}

.footer
{
  background: #181818;
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 0
}

.footer-wrap
{
  padding-right: 0;
  padding-left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.footer-group
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 70px
}

.footer-group-col
{
  position: absolute;
  display: block;
  margin-left: 700px;
  margin-top: -120px
}

.light-heading
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.6)
}

.links
{
  text-decoration: none;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  margin-bottom: 20px
}

.mark
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 143.69%;
  color: #FFFFFF
}

.tabs
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px
}

.footer-logo
{
  margin-right: 25px
}

.form-text
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 143.69%;
  color: #000000;
  padding: 10px 0 10px 10px;
  margin-bottom: 20px
}

.form-text:focus::-webkit-input-placeholder
{
  color: transparent
}

:focus::-moz-placeholder
{
  color: transparent
}

:focus:-moz-placeholder
{
  color: transparent
}

:focus:-ms-input-placeholder
{
  color: transparent
}

.form
{
  display: block;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center
}

.red-btn
{
  background: #D02B38;
  border-radius: 10px;
  padding: 10px 0 10px 10px;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  outline: none;
  border: none
}

.swiper-button-next
{
  position: absolute;
  top: 3370px;
  right: 280px
}

.swiper-button-prev
{
  position: absolute;
  top: 3380px;
  left: 280px
}

.phone-img
{
  margin-left: -25px
}

.swiper-button-next, .swiper-button-prev
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 30px;
  width: 30px
}

@media (max-width: 1890px)
{
  .swiper-button-next
  {
    right: 230px
  }

  .swiper-button-prev
  {
    left: 230px
  }
}

@media (max-width: 1800px)
{
  .swiper-button-next
  {
    right: 200px
  }

  .swiper-button-prev
  {
    left: 200px
  }
}

@media (max-width: 1740px)
{
  .swiper-button-next
  {
    right: 170px
  }

  .swiper-button-prev
  {
    left: 170px
  }
}

@media (max-width: 1670px)
{
  .swiper-button-next
  {
    right: 130px
  }

  .swiper-button-prev
  {
    left: 130px
  }
}

@media (max-width: 1120px)
{
  #btnLeft
  {
    height: 35px
  }

  .btn-text
  {
    font-size: 13px;
    line-height: 10px
  }

  .long-text
  {
    font-size: 18px
  }

  .short-text
  {
    font-size: 18px
  }

  .short-text button
  {
    height: 35px
  }

  .short-info
  {
    top: -30px
  }

  .shor-info
  {
    font-size: 8px
  }

  .swiper-button-next
  {
    margin-top: -385px
  }

  .swiper-button-prev
  {
    margin-top: -385px
  }
}

@media (max-width: 1090px)
{
  .short-info
  {
    top: -50px
  }

  #btnLeft
  {
    left: -2px
  }
}

@media (max-width: 910px)
{
  .swiper-button-next
  {
    margin-top: -765px
  }

  .swiper-button-prev
  {
    margin-top: -765px
  }
}

@media (max-width: 1580px)
{
  .swiper-button-next
  {
    right: 90px
  }

  .swiper-button-prev
  {
    left: 90px
  }
}

@media (max-width: 1500px)
{
  .swiper-button-next
  {
    right: 40px
  }

  .swiper-button-prev
  {
    left: 40px
  }
}

@media (max-width: 1400px)
{
  .swiper-button-next
  {
    right: 20px;
    top: 2830px
  }

  .swiper-button-prev
  {
    left: 20px;
    top: 2830px
  }
}

@media (max-width: 1400px)
{
  .heading-red
  {
    font-size: 12px
  }

  .card
  {
    margin: 0 20px 20px 0;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%
  }

  .card-img
  {
    width: 450px
  }

  .clothes-img img
  {
    width: 225px
  }

  .phone-number
  {
    margin-right: 40px
  }

  .img-instagram
  {
    margin-right: 60px
  }

  .logo
  {
    margin-right: 50px
  }
}

@media (max-width: 1110px)
{
  .card-img
  {
    width: 350px
  }
}

@media (max-width: 900px)
{
  .short-text
  {
    font-size: 16px;
    width: 80%
  }

  .card-img
  {
    width: 250px
  }

  .main-heading--red
  {
    font-size: 30px
  }

  .view
  {
    left: 10%
  }

  .button-all
  {
    left: 20%
  }
}

@media (max-width: 640px)
{
  body
  {
    font-size: 12px
  }

  .view
  {
    width: 150px;
    height: 40px
  }

  .btn-text
  {
    font-size: 13px;
    line-height: 12px
  }

  .button-all
  {
    left: 20%
  }

  .card-img
  {
    width: 200px
  }

  .basket
  {
    display: none
  }

  .head-img
  {
    display: none
  }

  .phone-number
  {
    display: none
  }

  .phone-img
  {
    display: none
  }

  .img-facebook
  {
    display: none
  }

  .img-instagram
  {
    display: none
  }

  .trans-lat, .trans-ru
  {
    display: none
  }

  .main-heading--red
  {
    font-size: 20px
  }

  .about-heading--red
  {
    font-size: 22px
  }

  .about-wrap
  {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .about-box
  {
    margin-bottom: 20px
  }

  .clothes-img img
  {
    width: 75px
  }

  .clothes-heading
  {
    font-size: 14px
  }

  .clothes-text
  {
    font-size: 10px
  }

  .shop-img
  {
    width: 300px;
    margin-bottom: 20px
  }

  .note-img
  {
    width: 300px
  }

  .long-info
  {
    padding: 0;
    margin-top: 10px;
    margin-left: 40px
  }

  .long-text
  {
    font-size: 12px
  }

  .omniva
  {
    width: 40%
  }

  .work-img
  {
    width: 40%
  }

  .swiper-button-next
  {
    right: 0;
    top: 1750px
  }

  .swiper-button-prev
  {
    left: 0;
    top: 1750px
  }

  .short-text
  {
    font-size: 16px
  }

  .short-info
  {
    padding: 100px 41px 112px 41px
  }

  .pay-img
  {
    margin: 0;
    width: 30%
  }

  .links
  {
    font-size: 10px
  }

  .light-heading
  {
    font-size: 12px
  }

  .form-inputs
  {
    width: 40%;
    position: absolute;
    margin-left: 250px;
    margin-top: 130px
  }

  .card
  {
    margin: 0
  }

  .footer-group
  {
    margin-right: 0
  }

  .form, .red-btn
  {
    width: 70%;
    font-size: 12px
  }

  .footer-imgs
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
}

@media (max-width: 500px)
{
  .card-img
  {
    width: 150px
  }
}

@media (max-width: 450px)
{
  .card-img
  {
    width: 139px
  }

  .view
  {
    width: 100px
  }
}

@media (min-width: 1400px)
{
  .footer-group-col
  {
    margin-left: 900px
  }
}

@media (min-width: 1600px)
{
  .footer-group-col
  {
    margin-left: 1000px
  }
}


.pages-nav
{
  margin-bottom: 48px;
  margin-top: 23px;
  padding-left: 47px
}

.pages-nav__links
{
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(66, 78, 80, 0.6);
  padding: 7px 13px;
  background-color: #F5F5F5;
  margin-right: 10px
}
.pages-nav__links.current
{
  color: #F5F5F5;
  background-color: #424E50;
}

.pages-nav .container-flex
{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}


.product-list
{
  margin-bottom: 50px
}
.view-product-list
{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.product-list__ul
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list__items
{
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  background-color: #F9F9F9;
  margin: 0 0 17px 0;
  height: 341px;
  /*width: 170px;*/
}

.product-list__items + .discount
{
  display: none
}

.product-list__items:hover
{
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
  cursor: pointer
}

.product-list__img
{
  width: 165px;
  max-height: 174px
}

.product-list__links-blocks
{
  text-align: center;
  width: 100%;
  max-width: 165px
}

.product-list__links
{
  display: inline-block;
  text-align: center;
  background: transparent url(../..) no-repeat center right;
  margin-right: 21px
}

.discount-on
{
  font-size: 21px;
  line-height: 143.69%;
  font-weight: 700;
  color: #D02B38;
  margin-right: 17px
}

.discount-on + .price:after
{
  content: "";
  position: absolute;
  background-color: #000;
  width: 48px;
  height: 2px;
  top: 12px;
  left: 0
}

.discount-off
{
  display: none
}

.product-list__items .title
{
  margin: 10.22px 0 6px;
  font-size: 20px;
  line-height: 143.69%;
  font-weight: 500;
  color: #000
}

.product-list__items .description
{
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 143.69%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5)
}

.product-list__items .article
{
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 500;
  color: #000
}

.product-list__items .type
{
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 500;
  color: #2B6DD0
}

.product-list__items .price
{
  position: relative;
  font-size: 21px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000
}

.product-list__items .svg
{
  position: absolute;
  top: 10px
}

.product-list__items .status
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 30px;
  left: 0;
  top: 10px;
  position: absolute;
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding-left: 8px
}

.product-list__items .price-block
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  margin-top: -20px
}

ul.left-column__nav ul
{
  top: 1px;
  margin-bottom: 8px;
  position: relative;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div.checker, div.checker input, div.checker span {
  width: 19px;
  height: 19px;
  margin: 0;
  padding: 0;
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}