a, a:visited
{
  text-decoration: none
}

a:hover
{
  text-decoration: none
}

ul
{
  margin: 0;
  padding: 0
}

ul li
{
  list-style: none
}

@font-face
{
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal
}

body
{
  margin: 0;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  overflow-x: hidden;
  height: 100%
}

.container
{
  width: 85%;
  max-width: 1104px;
  margin: 0 auto;
  height: 100%
}

.header
{
  /*margin-top: 50px;*/
  /*margin-bottom: 37px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.nav
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.phone-img
{
  margin-left: -25px
}

.phone-number
{
  display: block;
  margin-left: 15px;
  margin-right: 48px
}

.heading-red
{
  color: #D02B38;
  margin-bottom: 2px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  line-height: 23px
}

.heading-normal
{
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.69%;
  color: #000000
}

.img-facebook
{
  margin-right: 25px
}

.img-instagram
{
  margin-right: 50px
}

.logo
{
  margin-right: 50px
}

.img-logo
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px
}

.logo-text
{
  margin-left: -10px;
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 143.69%;
  letter-spacing: -0.02em;
  color: #000000
}

.trans-ru
{
  margin-right: 20px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  color: #D02B38
}

.trans-lat
{
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.2);
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%
}

.trans-en
{
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%
}

.img-loupe
{
  margin-right: 20px
}

.img-cart
{
  margin-right: 15px
}

.search-block .btn-search
{
  background: url(../img/loupe.svg) no-repeat center;
  height: 31px;
  border: 0;
  width: 31px;
  cursor: pointer;
  margin-right: 19px;
  margin-left: 1px
}

.btn-search:active, .btn-search:focus
{
  outline: none
}

.search-block
{
  margin-bottom: 2px;
  padding-right: 4px
}

.search-form
{
  position: relative
}

.input-search
{
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 143.69%;
  letter-spacing: 0.02em;
  display: none;
  left: -130px;
  position: absolute;
  top: 40px;
  background: #F9F9F9;
  border: 2px solid #EFEFEF;
  padding: 10px 30px 10px 12px;
  width: 164px;
  height: 40px;
  color: rgba(0, 0, 0, 0.25)
}

.input-search.active
{
  display: block
}

.scrollup
{
  width: 40px;
  height: 40px;
  opacity: 0.8;
  position: fixed;
  bottom: 50px;
  right: 29px;
  display: none;
  text-indent: -9999px;
  background: url("../img/btn-up2.png") no-repeat
}

.container-flex
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.catalog-container
{
  max-width: 910px
}

.wrapper
{
  padding-right: 20px
}

.left-column
{
  margin-top: 16px;
  width: 176px;
  margin-right: 6px
}

.left-column__tittle
{
  font-size: 20px;
  line-height: 45.98px;
  font-weight: 700;
  color: #000;
  margin-bottom: 7px;
  margin-top: 0
}

.left-column__items
{
  margin-bottom: 10px
}

.left-column__links
{
  position: relative;
  font-size: 16px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000;
  text-transform: uppercase
}

.left-column__links:active
{
  color: #DD1936
}

.left-column__links:first-child
{
  background: none
}

.left-column .active
{
  color: #DD1936
}

.age
{
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000
}

.acitem, .acitem2
{
  display: none;
  margin-top: 5px
}

.accordeon__links
{
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 400;
  color: #000;
  display: inline-block;
  margin: 2px 0
}

.accordeon__links:hover
{
  text-decoration: underline
}

.accordeon__links.btn-all-products
{
  text-transform: uppercase;
  border: 1px solid #DD1936;
  padding: 3px 31px;
  color: #DD1936
}

.accordeon2:after, .accordeon:after
{
  position: absolute;
  width: 11px;
  height: 18px;
  right: -15px;
  content: "";
  background: transparent url(../img/arrow1.png) no-repeat center right
}

.active:after
{
  position: absolute;
  width: 11px;
  height: 18px;
  right: -15px;
  content: "";
  background: transparent url(../img/arrow1_red.png) no-repeat center right
}

.all:after
{
  background: none
}

.right-column
{
  padding-top: 16px;
  /*width: 77%*/
  width: calc( 100% - 176px );
}

.right-column__filter
{
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px
}

.right-column__items
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 70px
}

.right-column__links
{
  font-size: 21px;
  line-height: 45.98px;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.2)
}

.right-column__active
{
  color: #333333;
  position: relative
}

.right-column__active:after
{
  content: "";
  position: absolute;
  background-color: #D02B38;
  width: 40px;
  bottom: 2px;
  height: 2px;
  left: 0
}

.view_item
{
  width: 100%;
  /*max-width: 151px;*/
  position: relative;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  height: 174px;
}
.view_item .product-list__img
{
  max-width: 165px;
  height: 174px;
}

/*
.product-list__ul
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.product-list__items
{
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  background-color: #F9F9F9;
  margin: 0 10px 17px 0;
  height: 341px;
}

.product-list__items + .discount
{
  display: none
}

.product-list__items:hover
{
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
  cursor: pointer
}

.product-list__img
{
  width: 165px;
  max-height: 174px
}

.product-list__links-blocks
{
  text-align: center;
  width: 100%;
  max-width: 165px
}

.product-list__links
{
  display: inline-block;
  text-align: center;
  background: transparent url(../..) no-repeat center right;
  margin-right: 21px
}

.discount-on
{
  font-size: 21px;
  line-height: 143.69%;
  font-weight: 700;
  color: #D02B38;
  margin-right: 17px
}

.discount-on + .price:after
{
  content: "";
  position: absolute;
  background-color: #000;
  width: 48px;
  height: 2px;
  top: 12px;
  left: 0
}

.discount-off
{
  display: none
}

.tittle
{
  margin: 10.22px 0 6px;
  font-size: 20px;
  line-height: 143.69%;
  font-weight: 500;
  color: #000
}

.description
{
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 143.69%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5)
}

.article
{
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 500;
  color: #000
}

.type
{
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 500;
  color: #2B6DD0
}

.price
{
  position: relative;
  font-size: 21px;
  line-height: 143.69%;
  font-weight: 700;
  color: #000
}

.view
{
  position: relative
}

.svg
{
  position: absolute;
  top: 10px
}

.status
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 30px;
  left: 0;
  top: 10px;
  position: absolute;
  font-size: 14px;
  line-height: 143.69%;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding-left: 8px
}

.price-block
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  margin-top: -20px
}
*/
.new-product
{
  color: #D02B38
}

.sending
{
  padding: 5px 0;
  background-color: #F9F9F9
}

.sending .container-flex
{
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 52px 0 21px
}

.sending__text
{
  font-size: 19px;
  line-height: 45.98px;
  font-weight: 700;
  color: #333333
}

.warning
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 125px;
  background-color: rgba(208, 43, 56, 0.5)
}

.warning__text
{
  font-size: 16px;
  line-height: 34.48px;
  font-weight: 700;
  color: #fff;
  margin-left: 10px
}

.warning .container-flex
{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 58px
}

.warning img
{
  width: 8%
}

.footer
{
  background: #181818;
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 0
}

.footer .container
{
  max-width: 1200px
}

.footer-wrap
{
  padding-right: 0;
  padding-left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.footer-group
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 70px
}

.footer-group-col
{
  position: absolute;
  display: block;
  margin-left: 700px;
  margin-top: -120px
}

.light-heading
{
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.6)
}

.links
{
  text-decoration: none;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 143.69%;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  margin-bottom: 20px
}

.mark
{
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 143.69%;
  color: #FFFFFF
}

.tabs
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px
}

.footer-logo
{
  margin-right: 25px
}

.form-text
{
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 143.69%;
  color: #000000;
  padding: 10px 0px 10px 10px;
  margin-bottom: 20px
}

.form-text:focus::-webkit-input-placeholder
{
  color: transparent
}

:focus::-moz-placeholder
{
  color: transparent
}

:focus:-moz-placeholder
{
  color: transparent
}

:focus:-ms-input-placeholder
{
  color: transparent
}

.form
{
  display: block;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center
}

.red-btn
{
  background: #D02B38;
  border-radius: 10px;
  padding: 10px 0px 10px 10px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 143.69%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  outline: none;
  border: none
}

.swiper-button-next
{
  position: absolute;
  top: 3370px;
  right: 280px
}

.swiper-button-prev
{
  position: absolute;
  top: 3380px;
  left: 280px
}

.phone-img
{
  margin-left: -25px
}

.swiper-button-next, .swiper-button-prev
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 30px;
  width: 30px
}