.center{
  display: flex;
  justify-content: center;
}
.flex{
  flex-wrap: wrap;
}

.prim{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.prime__number{
  font-size: 200px;
  color: #4A4EB0;
  margin-right: 20px;
}
.prime__text{
  color: #000;
  font-size: 45px;
  max-width: 420px;
  text-align: left;
}
.project__block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project__block .project{
  width: 48%;
  height: 451px;
  margin: auto;
  overflow: hidden;
  position: relative
}
.opic{
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px
}
