.center{
  display: flex;
  justify-content: center;
}
.project__block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project__block .project{
  width: 40%;
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative
}
.opic{
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
}
.opic__adres {
    position: absolute;
    bottom: 15px;
}
.opic_title {
    font-size: 30px;
    font-weight: 600;
    max-width: 600px;
}
.third__project{
  margin-top: 20px !important;
}
footer{
  margin-top: 20px;
}
@media screen and (max-width: 1050px){
  .opic_title{
    font-size: 20px;
  }
}
@media screen and (max-width: 920px){
  .flex{
    flex-direction: column;
  }
  .project__block .project{
    height: 214px;
    width: 47%
  }
}
@media screen and (max-width: 550px){
  .third__project{
    margin-top: 0px !important;
  }
  .flex {
    align-items: flex-start;
    align-items: center;
  }
  .project__block .project{
    height: 180px;
    margin-bottom: 20px;
    width: 78%
  }
  .project__block{
    flex-direction: column;
  }
  footer{
    margin-top: 0px;
  }

}
