<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/><!-- Adaptive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/><!-- <link rel="stylesheet" href="css/print.css" type="text/css" media="print"> -->
    <link rel="stylesheet" href="libs/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" href="fonts/stylesheet.css"/>
    <link rel="icon" href="#" type="image/x-icon"/>
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>
    <title></title>
  </head>
  <body>
    <!-- [if lt IE 8]>
    div class="browserupgrade">Вы используете <strong>устаревшую</strong> версию браузера.Пожалуйста <a href="http://browsehappy.com/">обновите свой браузер</a>.</p>
    <![endif]
    
    -->
    <!--Шапка-->
    <header class="header">
      <div class="container">
        <nav class="navigation">
          <div class="navigation__menu" id="btnMenu"><img class="burger" src="img/header/icon_menu_burger.png" alt="Burger"/><img class="exit" src="img/icon/exit.svg" alt="exit"/>
                        <div class="menu-list" id="menu">
                          <ul>
                            <li> <a href="catalog.html">Женская одежда</a></li>
                            <li> <a href="catalog.html">мужская одежда</a></li>
                            <li> <a href="catalog.html">Детская одежда</a></li>
                            <li> <a href="catalog.html">Обувь</a></li>
                            <li> <a href="catalog.html">Другие товары</a></li>
                            <li> <a href="catalog.html">Малый опт</a></li>
                            <li> <a href="catalog.html">Скидки %</a></li>
                          </ul>
                          <div class="menu-footer">
                            <p class="adress">ул. Слокас 52 (LV-1007) Рига, Латвия</p><span class="phone">+(371) 26885058</span>
                          </div>
                        </div>
          </div>
          <div class="navigation__logo"><img src="img/header/logo.png" alt="Logo"/></div>
          <div class="navigation__block">
            <div class="block-search"><img src="img/header/icon_finder.png" alt="Search"/></div>
            <div class="block-lang">
              <div class="dropdown">
                <div class="dropbtn"> <img src="img/header/lang_lt.png" alt="LV"/></div>
                <div class="dropdown-content"><a href="#"><img src="img/header/lang_eng.png" alt="EN"/></a><a href="#"><img src="img/header/lang_rus.png" alt="RU"/></a></div>
              </div>
            </div>
            <div class="block-cart" data-count="0"> <img src="img/header/icon_cart.png" alt="Cart"/></div>
          </div>
        </nav>
      </div>
    </header>
    <!--//Шапка-->
    <main>
    </main>
    <!--Подвал-->
    <footer class="footer">
      <div class="container">
        <div class="footer-flex">
          <div class="flex-left"><a class="adress" href="https://goo.gl/maps/65MPspUN5kwAAVAL7" target="blank">ул. Слокас 52 (LV-1007) Рига, Латвия </a></div>
          <div class="flex-center">
            <div class="social-media"><a href="https://m.facebook.com/login/?locale2=ru_RU" target="blank"><img src="img/footer/facebook.svg" alt="facebook"/></a></div>
            <div class="social-media"><a href="https://www.instagram.com/accounts/login/?hl=ru" target="blank"><img src="img/footer/instagram.svg" alt="instagram"/></a></div>
          </div>
          <div class="flex-right">
            <div class="contact"> <span><img src="img/footer/whatsapp.svg" alt="whatsapp"/></span><span><img src="img/footer/viber.svg" alt="viber"/></span><a class="phone" href="tel:+(371) 26885058">+(371) 26885058</a></div>
            <p class="email"><span> <img src="img/footer/email.svg" alt="email"/></span><a href="mailto:info@nboutlet.eu">info@nboutlet.eu</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!--//Подвал-->
    <!-- [if lt IE 9]>
    <script src="libs/html5shiv/es5-shim.min.js"></script>
    <script src="libs/html5shiv/html5shiv.min.js"></script>
    <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="libs/html5shiv/respond.min.js"></script>
    [endif]
    -->
    <!--Scripts-->
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>