$white: #fff
$red: #FA1B56
$orange: #F2994A
$green1: #219653
$green2: #27AE60
$green3: #6FCF97
$yellow: #FBEC1C
$blue1: #2F80ED
$blue2: #2D9CDB
$blue3: #56CCF2
$purple1: #9B51E0
$purple2: #BB6BD9
$black: #333333
$gray: #757F93