@font-face 
    font-family: "Panton-Regular"
    src: url("../fonts/Panton-Regular.otf") format("opentype")
    font-weight: normal
@font-face 
    font-family: "Panton-Bold"
    src: url("../fonts/Panton-Bold.otf") format("opentype")
    font-weight: 700
@font-face 
    font-family: "Arial-Regular"
    src: url("../fonts/Arial-Regular.ttf") format("truetype")
    font-weight: 400
@font-face 
    font-family: "Arial-Bold"
    src: url("../fonts/Arial-Bold.ttf") format("truetype")
    font-weight: 700
