$black: #3B3943
$headerColor: #F1F3F4
$SFR: 'SF Pro Regular' //400
$SFM: 'SF Pro Medium' //500
$SFRM: "SF-Pro-Rounded-Medium" //500
$SFSB: 'SF Pro Semibold' //600
$SHE: 'SF-Pro-Rounded-Bold' //700
$SFB: 'SF Pro Bold' //700
$SFBK: 'SF Pro Black' //800
$SFHY: 'SF-Pro-Rounded-Heavy' //900