.modal
    &__window
        display: none
        background: $white
        border-radius: 5px
        position: relative
        padding: 25px
        max-height: 90vh
        overflow-y: auto
        .rules__int
            color: $blue
            text-decoration: underline
            font-size: 14px
            font-weight: 400
            margin-top: 10px
        &-active
            display: block
        .form__buttons-block
            display: flex
            .form__submit
                padding: 10px 25px
                background: $blue
                color: $white
                font-size: 16px
                font-weight: 600
                border-radius: 5px
                transition: .3s
                margin-right: 18px
                &:hover
                    transform: scale(1.05)
            .form__dis
                padding: 10px 25px
                border-radius: 5px
                background: #EFF5FF
                font-weight: 400
                transition: .3s
                font-size: 16px
                &:hover
                    transform: scale(1.05)
    &__title
        font-size: 20px
        font-weight: 600
    &__text
        font-size: 16px
        font-weight: 400
        margin-top: 15px
        margin-bottom: 40px
        color: $gray
        span
            color: $blue
    
.closeWindow
  position: absolute
  top: 25px
  right: 25px
  width: 15px
  height: 15px
.mainModalWindow
  max-width: 410px
  width: 100%
.DeleteManager
    max-width: 600px
    width: 100%
.DeleteIntegration
    max-width: 550px
    width: 100%
.mainModalWindow__form
    margin-top: 40px
    .checkbox
        font-size: 13px
        font-weight: 400
        margin-top: 10px
    .checkmark
        margin-right: 5px
    .form
        &__item
            margin-bottom: 20px
            &-title
                margin-bottom: 5px
                font-size: 13px
                font-weight: 600
                color: $gray
                span
                    color: $blue
                div
                    font-size: inherit
                    font-weight: inherit
            &-spec
                display: flex
                align-items: center
                justify-content: space-between
                
            .loadData
                color: $blue
            input
                padding: 13px 15px
                border-radius: 5px
                background: #F7F7F7
                font-size: 14px
                font-weight: 600
                width: 100%
                border: 2px solid transparent
                &:focus
                    border: 2px solid $blue
                &::placeholder
                    font-size: 14px
                    font-weight: 300
.IntegrationWithAmo
    max-height: 558px
    overflow-y: scroll
    .rules__int
        width: 100%
        border-bottom: 2px solid $whiteGray
        padding-bottom: 20px
    &__form
        margin-top: 25px
.IntegrationWithBitrix
    &__form
        margin-top: 15px
.MakeNewMail__form, .EditMail, .RedachMail
    .form__item
        display: flex
        &-icon
            min-width: 40px
            width: 40px
            height: 40px
        input
            height: 40px
.EditMail, .RedachMail
    .form__dis
        color: #F00
        background: #FFE1E1 !important
.MakeNewShablon, .EditShablon
    max-width: 980px
    width: 100%
    .form__main
        display: flex
        align-items: flex-start
        margin-top: 40px
    .form__item-main
        max-width: 592px
        width: 100%
    form
        margin-top: 0px
    textarea
        padding: 13px 15px
        border-radius: 5px
        background: #F7F7F7
        font-size: 14px
        font-weight: 400
        border: 0 none
        width: 100%
        border: 2px solid transparent
        resize: vertical
        outline: 0 none
        height: 288px
        &:focus
            border: 2px solid $blue
        &::placeholder
            font-size: 14px
            font-weight: 300
    &__aside
        margin-left: 50px
        display: flex
        flex-direction: column
        align-items: flex-start
        h3
            font-size: 18px
            font-weight: 400
            color: #000000
            margin-bottom: 25px
    &__button
        color: $blue
        font-size: 16px
        font-weight: 400
        margin-bottom: 10px   
        &:last-child
            margin-bottom: 0px     
.EditShablon
    .form__buttons-block
        justify-content: space-between
        align-items: center
    .form__delete
        padding: 10px 25px
        color: red
        font-size: 16px
        font-weight: 400
        border-radius: 5px
        background: #FFE1E1
        transition: .3s
        &:hover
            transform: scale(1.05)
.IntegrationWithPotok
    max-width: 788px
    width: 100%
    .AddNewVacancy
        margin-bottom: 20px
        color: $blue
        font-size: 14px
        font-weight: 400
    &__form
        margin-top: 15px
        .form__item-big
            width: 100%
        .form__item-small
            display: flex
            justify-content: space-between
            .form__item
                max-width: 359px
                width: 100%
.RealDeleteMail
    max-width: 490px
    width: 100%
    .form__buttons-block
        justify-content: space-between
@media screen and (max-width: $NoteContainer)
    .IntegrationWithPotok
        &__form
            .form__item-small
                flex-direction: column
                .form__item
                    max-width: 100%
    .MakeNewShablon, .EditShablon
        .form__main
            flex-direction: column
        &__aside
            margin-left: 0px
            margin-bottom: 40px
@media screen and (max-width: $MobileContainer)
    .EditShablon 
        .form__buttons-block
            flex-direction: column
            align-items: flex-start
        .form__delete
            margin-top: 20px
    .RedachMail__form, .EditMail__form
        .form__buttons-block
            flex-direction: column
            .form__submit
                margin-right: 0px
                margin-bottom: 15px
