.main
    margin-top: 77px
    background-image: url('../img/bg.png')
    background-size: cover
    background-position: center top
    background-repeat: no-repeat
    position: relative
    padding-bottom: 160px
    &::after
        width: 100%
        height: 150px
        background: rgba(25, 25, 25, 0.95)
        bottom: -75px
        left: 0
        position: absolute
        content: ""
        filter: blur(25px)
        z-index: 2
    .container
        display: flex
        align-items: center
        justify-content: space-between
.contact
    &__info
        max-width: 397px
    &__img
        max-width: 636px
        width: 100%
    &__item
        margin-bottom: 13px
        &-title
            font-size: 22px
            font-family: 'Gilroy-Bold'
            margin-bottom: 10px
        &-descript
            font-size: 17px
            color: #CDCDCD
            margin-bottom: 15px
            span
                font-family: 'Gilroy-Bold'
@media screen and (max-width: 1000px)
    .main
        padding-bottom: 98px
        background-size: 248%
        background-position: center top
        &::after
            height: 100px
        .container
            flex-direction: column
    .contact__img
        margin-top: 40px
    .contact__info
        max-width: 600px
        margin: 0 auto
        text-align: center
