.ic 
    display: block
    transition: .3s
.ic__tg
    &-header
        min-width: 40px
        -webkit-mask: url(../img/tg-header.svg) no-repeat center center
        mask: url(../img/tg-header.svg) no-repeat center center
        -webkit-mask-size: contain
        mask-size: contain
        background-color: $blue
        height: 40px
    &-footer
        width: 28px
        min-width: 28px
        height: 28px
        -webkit-mask: url(../img/tg-header.svg) no-repeat center center
        mask: url(../img/tg-header.svg) no-repeat center center
        -webkit-mask-size: contain
        mask-size: contain
        background-color: $black
.ic__wt
    &-header
        min-width: 40px
        -webkit-mask: url(../img/wt-header.svg) no-repeat center center
        mask: url(../img/wt-header.svg) no-repeat center center
        -webkit-mask-size: contain
        mask-size: contain
        background-color: $blue
        height: 40px
    &-footer
        width: 28px
        min-width: 28px
        height: 28px
        -webkit-mask: url(../img/wt-header.svg) no-repeat center center
        mask: url(../img/wt-header.svg) no-repeat center center
        -webkit-mask-size: contain
        mask-size: contain
        background-color: $black
.ic__vk
    width: 28px
    min-width: 28px
    height: 28px
    -webkit-mask: url(../img/vk.svg) no-repeat center center
    mask: url(../img/vk.svg) no-repeat center center
    -webkit-mask-size: contain
    mask-size: contain
    background-color: $black
.ic__gg
    width: 28px
    min-width: 28px
    height: 28px
    -webkit-mask: url(../img/gg.svg) no-repeat center center
    mask: url(../img/gg.svg) no-repeat center center
    -webkit-mask-size: contain
    mask-size: contain
    background-color: $black
.ic__arrow-menu
    width: 12px
    height: 15px
    -webkit-mask: url(../img/arrow-down.svg) no-repeat center center
    mask: url(../img/arrow-down.svg) no-repeat center center
    -webkit-mask-size: contain
    mask-size: contain
    background-color: #9E9E9E
.ic__stages
    min-width: 36px
    height: 36px
    -webkit-mask-size: contain
    mask-size: contain
    background-color: $blue
    &-1
        -webkit-mask: url(../img/stages-1.svg) no-repeat center center
        mask: url(../img/stages-1.svg) no-repeat center center
    &-2
        -webkit-mask: url(../img/stages-2.svg) no-repeat center center
        mask: url(../img/stages-2.svg) no-repeat center center
    &-3
        -webkit-mask: url(../img/stages-3.svg) no-repeat center center
        mask: url(../img/stages-3.svg) no-repeat center center
    &-4
        -webkit-mask: url(../img/stages-4.svg) no-repeat center center
        mask: url(../img/stages-4.svg) no-repeat center center

