@import 'style'
@import 'blocks/header'
.main
    margin-top: 50px
    .container
        display: flex
        align-items: center
        justify-content: space-between
        border-radius: 20px
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4)
        background: linear-gradient(225.00deg, rgb(36, 99, 202),rgb(18, 49, 100) 100%)
        padding: 0px
        padding-left: 40px
    &__img
        height: 439px
        img
            height: 100%
            border-top-right-radius: 20px
            border-bottom-right-radius: 20px
@import 'blocks/prem'
@import 'blocks/partner'
@import 'blocks/otz'
@import 'blocks/form'
@import 'blocks/footer'
@import 'blocks/modal'
@media screen and (max-width: 1200px)
    .main
        .container
            flex-direction: column
            overflow: hidden
            padding-top: 40px
            padding-left: 0px
        &__img
            margin-top: 35px
            margin-bottom: -200px
@media screen and (max-width: 550px)
    .main
        &__img
            border-top-right-radius: 20px
            border-bottom-right-radius: 20px
            width: calc(100% + 40px)
            transform: translateX(-20px)
            img
                height: auto
                width: 110%
        &__logo
            padding: 0px 20px