@import 'style'
@import 'blocks/header'
.main
    border-radius: 0px 0px 40px 40px
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4)
    background: linear-gradient(210.47deg, rgb(36, 99, 202) 39.142%,rgb(18, 49, 100) 100%)
    height: calc(100dvh - 127px)
    overflow: hidden
    .container
        display: flex
        align-items: center
        justify-content: space-between
        height: 100%
    &__info 
        max-width: 674px
    &__title
        color: $white
        font-size: 60px
        font-family: "VelaSans-Bold"
        font-weight: 700
        line-height: 110%
    &__descript
        font-size: 16px
        color: $white
        span 
            font-size: 60px
            font-weight: 700
            font-family: "VelaSans-Bold"
            color: transparent
            -webkit-background-clip: text
            background-clip: text
            background-image: linear-gradient(221.02deg, rgb(232, 11, 11),rgb(220, 79, 0))
    &__subtitle
        margin-top: 20px
        color: $white 
        font-size: 20px
    &__button 
        padding: 16px 77px
        background: $white 
        color: $blue
        border-radius: 40px
        font-size: 16px
        font-family: "VelaSans-SemiBold"
        margin-top: 33px
        transition: .3s
        &:hover 
            color: $white 
            box-shadow: 0px 0px 25.2px 0px $blue
            background: $blue
    &__img
        position: relative
        max-width: 439px
        width: 100%
        z-index: 1
        align-self: flex-end
        margin-bottom: -10px
        &::before
            top: -50%
            content: ""
            position: absolute
            z-index: -1
            width: 1400px
            height: 1400px
            background: linear-gradient(217.28deg, rgb(231, 231, 231) 5.001%,rgb(255, 255, 255) 83.887%)
            border-radius: 100%
@import 'blocks/prem'
.products
    &__tabs
        display: flex
        margin: 0 auto
        margin-top: 30px
        padding: 5px
        border-radius: 40px
        backdrop-filter: blur(20px)
        background: rgb(245, 245, 245)
        width: fit-content
        &-item 
            padding: 10px 15px
            border-radius: 40px
            font-size: 16px
            color: #9E9E9E
            font-weight: 500
            font-family: "VelaSans-Medium"
            &-active
                background: $blue 
                color: $white 
                font-weight: 400
                font-family: "VelaSans-Regular"
@import 'blocks/products'
.credit
    .custom-select__option--value
        padding: 10px 20px
        border-radius: 40px
        background: #F5F5F5 !important
        font-size: 16px
        font-weight: 500
        font-family: "VelaSans-Medium"
        width: 100%
    .custom-select--active
        .custom-select__option--value
            border-radius: 20px
            border-bottom-left-radius: 0px
            border-bottom-right-radius: 0px
    .custom-select__dropdown
        background: #F5F5F5
    .section__title
        text-align: center
    &__block
        border-radius: 20px
        background: linear-gradient(225.00deg, rgb(18, 49, 100),rgb(36, 99, 202) 100%)
        padding: 40px 0px
        display: flex
        align-items: center
        justify-content: center
        margin-top: 30px
    &__main
        background: $white
        max-width: 780px
        width: 100%
        border-radius: 20px
        padding: 40px
        &-button 
            color: $white
            border-radius: 40px
            padding: 16px 0px
            font-size: 16px
            font-weight: 500
            font-family: "VelaSans-Medium"
            width: 100%
            margin-top: 20px
            background: $blue 
            transition: .3s
            cursor: pointer
            &:hover 
                box-shadow: 0px 0px 25.2px 0px $blue
    &__input
        &-block 
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 20px
            margin-top: 20px
        &-input 
            padding: 10px 20px
            border-radius: 40px
            background: #F5F5F5
            font-size: 16px
            font-weight: 500
            font-family: "VelaSans-Medium"
            width: 100%
            &::placeholder
                color: #9E9E9E
        &-descript
            margin-top: 5px
            font-size: 14px
            opacity: 0.3
            font-weight: 500
            font-family: "VelaSans-Medium"
    &__sogl
        display: flex
        align-items: center
        margin-top: 10px
        gap: 10px
        &-descript
            color: #9E9E9E
            font-size: 14px
            font-weight: 500
            font-family: "VelaSans-SemiBold"
            text-align: left
        label
            min-width: 20px
            width: 20px
            height: 20px
            border-radius: 5px
            border: 1px solid #9E9E9E
            position: relative
            cursor: pointer
            &::before
                content: ""
                position: absolute
                top: 50%
                left: 50%
                transform: translateX(-50%) translateY(-50%)
                width: 12px
                height: 10px
                background-size: cover
                background-position: center center
                background-image: url('../../img/check.svg')
                display: none
                z-index: 1
                
        input
            display: none
            &:checked + label 
                background: $blue
                border-color: $blue
                &::before 
                    display: block
@import 'blocks/stages'
@import 'blocks/partner'
@import 'blocks/otz'
.blog
    &__header
        display: flex
        align-items: center
        justify-content: space-between
    .section__link
        font-size: 16px
        font-weight: 500
        font-family: "VelaSans-SemiBold"
        transition: .3s
        &:hover 
            color: $blue
    &__block
        margin-top: 30px
        display: flex
        gap: 20px
    &__item
        max-width: 33.33%
        width: 100%
        border-radius: 20px
        padding: 12px 20px
        background: #F5F5F5
        display: flex
        flex-direction: column
        justify-content: space-between
        &:hover
            .blog__item-link 
                span
                    background: $blue
                    color: $white
        &-title 
            font-size: 20px
            font-weight: 700
            font-family: "VelaSans-Bold"
            margin-bottom: 8px
        &-descript
            font-size: 16px
        &-link
            margin-top: 14px
            display: flex
            align-items: center
            gap: 10px
            font-size: 16px
            font-family: "VelaSans-Medium"
            font-weight: 500
            color: $blue
            span
                width: 30px
                height: 30px
                border-radius: 100%
                border: 1px solid $blue
                display: flex
                align-items: center
                justify-content: center
                font-size: 28px
                font-family: "VelaSans-Medium"
                font-weight: 500
                color: $blue
                transition: .3s
                padding-left: 1px
                padding-bottom: 2px
                border: 1px solid $blue 
@import 'blocks/form'
@import 'blocks/footer'
@import 'blocks/modal'
@media screen and (max-width: 1200px)
    .main
        &__img
            display: none
@media screen and (max-width: 900px)
    .main
        height: auto
        padding: 80px 0px
    .blog
        &__block
            flex-direction: column
            gap: 10px
        &__item
            max-width: 100%
    .credit
        &__block
            padding: 10px
        &__input
            &-block 
                grid-template-columns: 1fr
@media screen and (max-width: 550px)
    .main
        border-radius: 0px 0px 20px 20px
        &__title
            font-size: 26px
            margin-bottom: 15px
            font-weight: 500
            font-family: "VelaSans-Medium"
        &__descript
            font-size: 14px
            span
                font-size: 40px
        &__subtitle
            font-size: 16px
            font-weight: 400
        &__button
            width: 100%
            padding: 16px 0px
            box-shadow: 0px 0px 25.2px 0px rgb(36, 99, 202)
    .blog
        &__item
            padding: 15px 10px
            &-title
                font-size: 16px
            &-descript
                font-size: 14px
    .credit
        &__main
            padding: 10px
        &__input
            &-block 
                gap: 10px