@import 'style'
@import 'blocks/header'
.main
    border-radius: 0px 0px 40px 40px
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4)
    background: linear-gradient(210.47deg, rgb(36, 99, 202) 39.142%,rgb(18, 49, 100) 100%)
    height: calc(100dvh - 127px)
    overflow: hidden
    display: flex
    align-items: center
    .container
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__info 
        max-width: 674px
        padding-top: 100px
    &__title
        color: $white
        font-size: 60px
        font-family: "VelaSans-Bold"
        font-weight: 700
        line-height: 110%
    &__descript
        font-size: 16px
        color: $white
        span 
            font-size: 60px
            font-weight: 700
            font-family: "VelaSans-Bold"
            color: transparent
            -webkit-background-clip: text
            background-clip: text
            background-image: linear-gradient(221.02deg, rgb(232, 11, 11),rgb(220, 79, 0))
    &__subtitle
        margin-top: 20px
        color: $white 
        font-size: 20px
    &__button 
        padding: 16px 77px
        background: $white 
        color: $blue
        border-radius: 40px
        font-size: 16px
        font-family: "VelaSans-SemiBold"
        margin-top: 33px
        transition: .3s
        &:hover 
            color: $white 
            box-shadow: 0px 0px 25.2px 0px $blue
            background: $blue
    &__img
        position: relative
        max-width: 439px
        width: 100%
        z-index: 1
        &::before
            top: -30%
            content: ""
            position: absolute
            z-index: -1
            width: 1000px
            height: 1000px
            background: linear-gradient(217.28deg, rgb(231, 231, 231) 5.001%,rgb(255, 255, 255) 83.887%)
            border-radius: 100%
@import 'blocks/prem'
.products
    &__tabs
        display: flex
        margin: 0 auto
        margin-top: 30px
        padding: 5px
        border-radius: 40px
        backdrop-filter: blur(20px)
        background: rgb(245, 245, 245)
        width: fit-content
        &-item 
            padding: 10px 15px
            border-radius: 40px
            font-size: 16px
            color: #9E9E9E
            font-weight: 500
            font-family: "VelaSans-Medium"
            &-active
                background: $blue 
                color: $white 
                font-weight: 400
                font-family: "VelaSans-Regular"
    &__main
        &-active 
            display: flex !important
@import 'blocks/products'
.credit
    .section__title
        text-align: center
@import 'blocks/stages'
@import 'blocks/partner'
@import 'blocks/otz'
.blog
    &__header
        display: flex
        align-items: center
        justify-content: space-between
    .section__link
        font-size: 16px
        font-weight: 500
        font-family: "VelaSans-SemiBold"
        transition: .3s
        &:hover 
            color: $blue
    &__block
        margin-top: 30px
        display: flex
        gap: 20px
    &__item
        max-width: 33.33%
        width: 100%
        border-radius: 20px
        padding: 12px 20px
        background: #F5F5F5
        display: flex
        flex-direction: column
        justify-content: space-between
        &:hover
            .blog__item-link 
                span
                    background: $blue
                    color: $white
        &-title 
            font-size: 20px
            font-weight: 700
            font-family: "VelaSans-Bold"
            margin-bottom: 8px
        &-descript
            font-size: 16px
        &-link
            margin-top: 14px
            display: flex
            align-items: center
            gap: 10px
            font-size: 16px
            font-family: "VelaSans-Medium"
            font-weight: 500
            color: $blue
            span
                width: 30px
                height: 30px
                border-radius: 100%
                border: 1px solid $blue
                display: flex
                align-items: center
                justify-content: center
                font-size: 28px
                font-family: "VelaSans-Medium"
                font-weight: 500
                color: $blue
                transition: .3s
                padding-left: 1px
                padding-bottom: 2px
                border: 1px solid $blue 
@import 'blocks/form'
@import 'blocks/footer'