@import 'style'
@import 'blocks/header'
.main
    margin-top: 20px
    .container
        display: flex
        align-items: flex-start
        justify-content: space-between
        background: #F5F5F5
        border-radius: 20px
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4)
        position: relative
        overflow: hidden
        padding: 0px
        padding-left: 40px
    &__info 
        max-width: 674px
        padding-top: 100px
    &__title
        color: $blue
        font-size: 50px
        font-family: "VelaSans-Bold"
        font-weight: 700
        line-height: 110%
        margin-bottom: 23px
    &__descript
        font-size: 20px
        max-width: 489px
        font-weight: 400
        font-family: "VelaSans-Regular"
    &__button 
        padding: 16px 77px
        border-radius: 40px
        font-size: 16px
        font-family: "VelaSans-SemiBold"
        margin-top: 33px
        transition: .3s
        background: $blue
        color: $white 
        &:hover 
            box-shadow: 0px 0px 25.2px 0px $blue    
    &__img
        position: relative
        max-width: 497px
        width: 100%
        z-index: 1
        margin-bottom: -10px
        img
            z-index: 1
        &::before
            top: -112px
            right: -358px
            content: ""
            position: absolute
            z-index: -1
            width: 923px
            height: 923px
            background: #fff
            border-radius: 100%
.ref
    &__descript
        font-size: 30px
        font-weight: 600
        font-family: "VelaSans-SemiBold"
        span
            color: $blue
    &__block
        margin-top: 30px
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 20px
    &__item
        padding: 0px 25px
        padding-top: 27px
        padding-bottom: 32px
        text-align: center
        border-radius: 20px
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4)
        background: rgb(255, 255, 255)
        &-title 
            font-size: 24px
            font-weight: 700
            font-family: "VelaSans-Bold"
        &-descript
            font-size: 16px
            font-weight: 400
            font-family: "VelaSans-Regular"
            span
                background: linear-gradient(221.02deg, rgb(232, 11, 11),rgb(220, 79, 0))
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                background-clip: text
                text-fill-color: transparent
                font-size: 60px
                font-weight: 700
                font-family: "VelaSans-Bold"
.work
    .section__title
        text-align: center
    &__block
        display: flex
        gap: 20px
        margin-top: 30px
    &__item
        display: flex
        flex-direction: column
        justify-content: space-between
        border-radius: 20px
        padding: 40px
        padding-top: 31px
        max-width: 580px
        width: 100%
        &:first-child
            background: linear-gradient(225.00deg, rgb(36, 99, 202) 0%,rgb(18, 49, 100) 100%)
        &:nth-child(2)
            background: linear-gradient(225.00deg, rgb(70, 108, 154),rgb(39, 61, 88) 100%)
        &-header 
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 30px
        &-title 
            font-size: 26px
            font-weight: 700
            font-family: "VelaSans-Bold"
            color: $white 
        &-icon 
            border-radius: 10px
            background: rgba(255, 255, 255, 0.3)
            display: flex
            align-items: center
            justify-content: center
            min-width: 60px
            width: 60px
            padding: 12px 0px
            img
                width: 40px
        &-list 
            padding-left: 20px
            li 
                color: $white 
                font-size: 16px
                font-weight: 500
                font-family: "VelaSans-Medium"
                margin-bottom: 5px
                list-style: outside
        &-button 
            margin-top: 50px
            padding: 16px 73px
            background: $white 
            color: $blue 
            font-size: 16px
            font-weight: 600
            font-family: "VelaSans-SemiBold"
            border-radius: 40px
            width: fit-content
            transition: .3s
            &:hover 
                background: $blue
                color: $white
@import 'blocks/stages'
.stages
    &__block
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr
@import 'blocks/form'
@import 'blocks/footer'
@import 'blocks/modal'
@media screen and (max-width: 1100px)
    .main
        padding: 0px 20px
        &__info
            padding-top: 0px
        .container
            padding: 30px 20px
        &__img
            display: none
@media screen and (max-width: 900px)
    .ref
        &__block
            grid-template-columns: 1fr
            gap: 20px
        &__descript
            font-size: clamp(16px, 3vw, 28px)
            span
                font-size: clamp(16px, 3vw, 28px)
                font-weight: 500
                font-family: "VelaSans-Medium"
    .work
        &__block
            flex-direction: column
            align-items: center
@media screen and (max-width: 550px)
    .main
        .container
            padding: 20px 10px
        &__title
            font-size: 24px
        &__descript
            font-size: 16px
        &__button
            padding: 16px 0px
            width: 100%
    .ref
        &__block
            grid-template-rows: 1fr 1fr 1fr
        &__item
            padding: 10px 25px
            display: flex
            flex-direction: column
            justify-content: center
            &:last-child
                padding-top: 5px
            &-title 
                font-size: 16px
                font-weight: 600
                font-family: "VelaSans-SemiBold"
            &-descript
                font-size: 14px
                span
                    font-size: 40px
                    font-weight: 600
                    font-family: "VelaSans-SemiBold"
    .work
        &__item
            padding: 20px
            &-header 
                margin-bottom: 20px
            &-title 
                font-size: 16px
            &-list 
                li
                    font-size: 14px
            &-icon 
                width: 40px
                min-width: 40px
                border-radius: 5px
                padding: 9px 0px
                img
                    width: 24px
            &-button 
                margin-top: 20px
                width: 100%
                padding: 16px 0px