.burger__block
    background: $ShineGray
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
    border-radius: 0px 0px 0px 50px
    position: absolute
    top: -1000px
    right: 0px
    max-width: 527px
    width: 100%
    z-index: 1000
    transition: .5s
.burger__block-active
    top: 0px
.burger__header
    display: flex
    justify-content: flex-end
    padding: 27px 0px
    border-bottom: 3px solid $Yellow
    .burder-close
        width: 26px
        height: 26px
        margin-left: 50px
        margin-right: 80px
.burger__main
    padding-top: 30px
    padding-bottom: 30px
    padding-left: 50px
    padding-right: 80px
    .input__block
        width: 100%
        height: 61px
        position: relative
        input
            width: 100%
            height: 100%
            padding-left: 30px
            padding-right: 60px
            font-family: $GeometriaMedium
            border: 2px solid $Yellow
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
            border-radius: 15px
            background: $ShineGray
            &::placeholder
                color: rgba(255, 255, 255, 0.4)
                font-family: $GeometriaMedium
        button
            position: absolute
            top: 50%
            transform: translateY(-50%)
            right: 30px
            width: 23px
            height: 23px
    .mobile__block
        margin-top: 40px
        border-bottom: 1px solid $White
        display: none
        .header__link
            width: 100%
            display: block
            text-align: center
            padding: 12px 0px
        .menu
            flex-wrap: wrap
            justify-content: space-between
            margin-top: 40px
            li
                max-width: 48%
                width: 100%
                margin-right: 0px
                margin-bottom: 40px
    .burger__info
        margin-top: 40px
        padding-bottom: 40px
        border-bottom: 1px solid $White
        .info__numbers
            +flexa 
            justify-content: space-between
            font-family: $Montserrat
            font-weight: 500
            text-decoration: underline
        .info__adres    
            max-width: 345px
            font-family: $Montserrat
            font-weight: 400
            line-height: 30px
            margin-top: 30px
        .info__workTime
            margin-top: 30px
            font-family: $Montserrat
            font-weight: 600
            color: $Yellow
        .soz__block
            +flexa 
            justify-content: space-between
            margin-top: 40px
            a
                width: 41px
                height: 41px
                display: block
    .pol
        margin-top: 40px
        text-transform: uppercase
        text-decoration: underline
        font-size: 16px
        font-family: $Montserrat
        font-weight: 600
        display: block
        width: max-content
.modal__bg
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background: rgba(0, 0, 0, 0.4)
    z-index: 1000000
    display: none
    align-items: center
    justify-content: center
.zvonok
    background: #2E424D
    padding: 30px
    max-width: 396px
    width: 100%
    border-radius: 30px
    text-align: center
    opacity: 0
    display: none
    transition: .3s
    .zvon__title
        font-family: $HeuristicaBold
        font-size: 24px
        letter-spacing: 0.03em
        color: $White
        margin-bottom: 20px
    .zvon__descript
        max-width: 264px
        color: rgba(255, 255, 255, 0.8)
        font-family: $GeometriaRegular
        margin: 0 auto
        font-size: 16px
    form 
        margin-top: 40px
        .zvon__input-block
            width: 100%
            height: 50px
            position: relative 
        input
            width: 100%
            height: 50px
            background: $ShineGray
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2)
            border-radius: 10px   
            font-size: 16px
            font-family: $GeometriaRegular
            padding-left: 20px
        label
            position: absolute
            left: 20px
            top: 50%
            transform: translateY(-50%)
            font-size: 16px
            color: rgba(255, 255, 255, 0.5)
            font-size: 16px
            font-family: $GeometriaRegular
            span
                color: red
        input:focus + label
            display: none
        input:valid + label
            display: none
    .zvon__btn
        padding: 11px 50px
        margin: 0 auto
        background: $Yellow
        margin-top: 40px
        box-shadow: 0px 0px 30px rgba(255, 187, 0, 0.3)
        border-radius: 100px
    .zvon__footer
        margin-top: 20px
        font-size: 14px
        font-family: $GeometriaRegular
        a
            text-decoration: underline
.zapis
    background: #2E424D
    border-radius: 30px
    padding: 40px 30px
    max-width: 618px
    width: 100%
    opacity: 0
    display: none
    transition: .3s
    .zapis__block
        +flexa 
        justify-content: space-between
    .zapis__text
        max-width: 318px
        width: 100%
    .zapis__img
        max-width: 145px
        width: 100%
        img
            border-radius: 20px
    .zapis__title
        font-family: $HeuristicaBold
        font-size: 24px
        line-height: 29px
        letter-spacing: 0.03em
        color: $White
        margin-bottom: 15px
    input
        background: $ShineGray
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2)
        border-radius: 10px
        padding-left: 20px
        font-size: 16px
        font-family: $GeometriaRegular
        color: $White
        margin: 15px 0px
        height: 50px
        width: 100%
        &::placeholder
            font-size: 16px
            font-family: $GeometriaRegular
            color: rgba(255, 255, 255, 0.5)
    .zapis__main
        margin-top: 25px
        .int__block
            margin-top: 18px
            +flexa 
            justify-content: space-between
            input
                max-width: 264px
                padding-right: 20px
    .zapis-pretitle
        font-size: 16px
        font-family: $HeuristicaBold
    .zap__footer
        +flexa 
        justify-content: space-between
        margin-top: 25px
    .zap__button
        background: $Yellow
        padding: 11px 55px
        border-radius: 100px
    .zap__sogl
        max-width: 300px
        font-family: $GeometriaRegular
        font-size: 13px
        a
            text-decoration: underline
        span
            color: $Yellow
            font-family: $GeometriaBold
.reg__modal
    background: #2E424D
    border-radius: 30px
    padding: 40px 30px
    padding-bottom: 60px
    max-width: 396px
    width: 100%
    text-align: center
    opacity: 0
    display: none
    transition: .3s
    .reg__title
        font-family: $HeuristicaBold
        font-weight: 700
        font-size: 24px
        text-align: center
        letter-spacing: 0.03em
        margin-bottom: 30px
    .input__block-reg
        position: relative
        width: 100%
        height: 50px
        margin-bottom: 25px
        input
            background: $ShineGray
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2)
            border-radius: 10px
            width: 100%
            height: 100%
            padding-left: 20px
            color: $White
            font-size: 16px
            &:focus + label 
                display: none
            &:valid + label
                display: none
        label
            position: absolute
            top: 50%
            left: 0
            transform: translateY(-50%)
            font-family: $GeometriaRegular
            font-weight: 400
            margin-left: 20px
            color: rgba(255, 255, 255, 0.5)
            font-size: 16px
            span
                color: red
    .reg__btn
        display: flex
        flex-direction: column
    .next-step
        background: $Yellow
        padding: 11px 50px
        border-radius: 100px
        margin-bottom: 20px
        font-size: 16px
    .Tolog-form__btn
        color: $Yellow
        font-size: 16px
    .pol
        font-size: 14px
        font-family: $GeometriaRegular
        font-weight: 400
        margin-top: 30px
        a
            text-decoration: underline
.log__modal
    background: #2E424D
    border-radius: 30px
    padding: 40px 30px
    padding-bottom: 60px
    max-width: 396px
    width: 100%
    text-align: center
    opacity: 0
    display: none
    transition: .3s
    .log__title
        font-family: $HeuristicaBold
        font-weight: 700
        font-size: 24px
        text-align: center
        letter-spacing: 0.03em
        margin-bottom: 30px
    .input__block-log
        position: relative
        width: 100%
        height: 50px
        margin-bottom: 25px
        input
            background: $ShineGray
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2)
            border-radius: 10px
            width: 100%
            height: 100%
            padding-left: 20px
            color: $White
            font-size: 16px
            &::placeholder
                color: rgba(255, 255, 255, 0.5)
                font-size: 16px
    .log__btn
        display: flex
        flex-direction: column
    .next-step-log
        background: $Yellow
        padding: 11px 50px
        border-radius: 100px
        margin-bottom: 20px
        font-size: 16px
    .Toreg-form__btn
        color: $Yellow
        font-size: 16px
    .pol
        font-size: 14px
        font-family: $GeometriaRegular
        font-weight: 400
        margin-top: 30px
        a
            text-decoration: underline
.kod__text
    display: none
    font-size: 16px
    font-family: $GeometriaRegular
    font-weight: 400
    span
        color: $Yellow
        font-weight: 700
#kod
    display: none
@media screen and ( max-width:  600px)
    .zapis 
        .zapis__img
            display: none
        .zapis__text
            max-width: 100%
        .zapis__main 
            .int__block
                flex-direction: column
                align-items: flex-start
                input
                    max-width: 100%
        .zap__footer
            flex-direction: column
        .zap__button
            margin-bottom: 20px
            width: 100%
    .burger__block 
        max-width: 100%
        border-radius: 0px
        max-height: 100vh
        height: 100vh
        overflow-y: scroll
    .burger__main
        padding: 38px 15px
        .mobile__block
            display: block
        .input__block 
            input
                font-size: 16px
                padding-left: 20px
                height: 51px
                &::placeholder
                    font-size: 16px
            button
                top: 15px
                right: 20px
                transform: translateY(0)
        .pol
            font-size: 4vw
            margin: 0 auto
            margin-top: 40px
    .burger__header 
        .burder-close
            margin-right: 15px
            margin-left: 0px
@media screen and ( max-width:  380px)
    .zvonok,.zapis
        max-height: 90vh
        overflow-y: scroll
    .burger__main 
        .mobile__block 
            .menu 
                li
                    &:last-child
                        max-width: 100%
    .info__numbers, .info__adres, .burger__main .burder__info .info__workTime
        font-size: 16px
        line-height: normal
    .zvonok
        padding: 17px 7px
        border-radius: 15px
    
.modal__window-preactive
    display: block
.modal__window-active
    opacity: 1
    position: relative
.closeModal
    position: absolute
    top: 20px
    right: 20px
    width: 14px
    height: 14px
    cursor: pointer