.bonus__block
    width: 100%
    background: linear-gradient(100.46deg, $ShineGray 42.97%, #2E424D 100%)
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2)
    border-radius: 30px
    +flexa 
    justify-content: space-between
    padding: 61px
    padding-left: 50px
.card__title
    font-family: $HeuristicaRegular
    font-size: 54px
    letter-spacing: 0.05em
    span
        text-transform: uppercase
        font-family: $HeuristicaBold
        font-size: 60px
        letter-spacing: 0.05em
.card__line
    width: 3px
    height: 100px
    background: $Yellow
    margin-bottom: 20px
.card__descript
    font-family: $GeometriaRegular
    max-width: 372px
    line-height: 25px
.card__img
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.2))
    width: 520px
    height: 337px
    margin-bottom: 55px
    img 
        border-radius: 20px
.card__links
    +flexa 
.card__button
    color: $Black
    background: $Yellow
    box-shadow: 0px 0px 30px rgba(255, 187, 0, 0.5)
    border-radius: 100px
    padding: 15px 41px
    margin-right: 40px
.card__links
    font-size: 16px
    font-family: $MontserratAlternates
    color: rgba(255, 255, 255, 0.4)
    text-decoration: underline
@media screen and (max-width: $MainContainer)
    .bonus__block
        flex-direction: column
        align-items: flex-start
        width: 70%
        margin: 0 auto
@media screen and (max-width: 900px)
    .bonus__block
        width: 100%
@media screen and (max-width: 600px)
    .bonus__block
        padding: 40px 20px
    .card__banner
        width: 100%
        margin-top: 30px
    .card__img
        width: 100%
        height: auto
    .card__links
        flex-direction: column
        text-align: center
        align-items: center
    .card__button
        margin-right: 0px
        margin-bottom: 20px
    .card__title
        font-size: 9vw
        span
            font-size: 11vw
    .card__descript
        max-width: 232px
        font-size: 16px
    