.questions__block
    background: $ShineGray
    border: 1px solid $Yellow
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
    border-radius: 30px
    padding: 38px 50px
    +flexa 
    justify-content: space-between
    width: 100%
    .questions__title
        font-family: $HeuristicaBold
        font-size: 22px
        span
            color: $Yellow
            font-family: $MontserratAlternates
            font-weight: 600
    .questions__line
        margin: 14px 0px
        background: $Yellow
        width: 100px
        height: 2px
    .questions__descript
        font-family: $GeometriaRegular
        font-size: 16px
    .questions__buttons, .questions__soz
        +flexa 
    .questions__soz-item
        width: 50px
        height: 50px
        margin-right: 30px
        &:last-child
            margin-right: 0px
    .questions__button
        background: $Yellow
        color: $Black
        padding: 16px 31px
        margin-left: 40px
        font-weight: 600
        box-shadow: 0px 0px 30px rgba(255, 187, 0, 0.5)
        border-radius: 100px
@media screen and ( max-width:  1160px)
    .questions__block
        flex-wrap: wrap
    .questions__buttons
        margin-top: 30px
@media screen and ( max-width:  620px)
    .questions__buttons
        flex-wrap: wrap
    .questions__block
        padding: 20px
        .questions__buttons
            justify-content: center
            width: 100%
        .questions__button
            width: 100%
            margin-top: 30px
            margin-left: 0px