.times
    .title__block
        justify-content: space-between
    .title__line
        width: 310px
        margin-right: 0px
        margin-left: 30px
    .container
        position: relative
        &::before
            content: ""
            width: 3px
            height: 500px
            background: $Yellow
            position: absolute
            top: 20px
            right: 0
.times__desciprt
    max-width: 677px
    font-family: $GeometriaRegular
    line-height: 30px
    margin-top: 61px
.times__block
    max-width: 1116px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 60px
.times__row
    display: flex
    flex-direction: column
    position: relative
    &::before
        position: absolute
        top: 5px
        left: 7px
        width: 1px
        height: 244px
        background: $Yellow
        content: ""
.times__item
    +flexa 
    margin-bottom: 81px
    .item__round
        min-width: 15px
        max-width: 15px
        height: 15px
        border-radius: 100%
        background: $Yellow
        box-shadow: 0px 0px 10px $Yellow
        margin-right: 30px
    .item__title
        font-family: $GeometriaMedium
        max-width: 454px
.times__item-last
    margin-bottom: 0px
@media screen and ( max-width:  $MainContainer)
    .times 
        .container
            &::before
                top: 42px
@media screen and ( max-width:  900px)
    .times 
        .title__line
            display: none
        .container
            &::before
                display: none
    .times__block
        .times__row
            margin-bottom: 42px
    .times__item 
        .item__title
            font-size: 16px
        .item__round
            margin-right: 15px
        .item__title
            max-width: 82%
    