footer
    padding-top: 40px
    padding-bottom: 10px
    border-top: 1px solid rgb(245, 245, 245)
    .container
        display: flex
        align-items: flex-start
        justify-content: space-between
        gap: 90px
.footer
    &__logo
        width: 206px
    &__info
        display: flex
        align-items: flex-start
        justify-content: space-between
        width: 100%
        &-soz 
            display: flex
            align-items: center
            gap: 10px
            margin-top: 10px
            justify-content: flex-end
        &-title 
            font-size: 16px
            font-weight: 700
            font-family: "VelaSans-Bold"
        &-list 
            margin: 20px 0px
            display: flex
            flex-direction: column
            gap: 15px
            li
                font-size: 16px
                transition: .3s
                &:hover 
                    color: $blue
        &-contacts 
            text-align: right
    &__contacts
        &-title 
            font-size: 16px
            font-weight: 700
            font-family: "VelaSans-Bold"
            margin-top: 10px
            text-align: right
            &:first-child
                margin-top: 0px
        &-descript
            font-size: 14px
            color: #9E9E9E
    &__soz
        &-item 
            width: 28px
            .ic
                background: $black
                &:hover
                    background: $blue
    &__main
        &-text 
            margin-top: 50px
        &-descript
            color: #9E9E9E
            font-size: 14px
            margin-bottom: 10px
            width: 212px
            &:last-child
                margin-bottom: 0px
    &__under
        display: none
@media screen and (max-width: 900px)
    footer
        .container
            flex-direction: column
            gap: 40px 0px
    .footer
        &__main
            width: 100%
            display: flex
            justify-content: center
            &-text 
                display: none
        &__info
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 40px 10px
            &-item 
                &:nth-child(2)
                    text-align: right
                    .footer__info-list
                        align-items: flex-end
        &__under
            display: block
            text-align: center
            margin: 0 auto
            .footer__main-text
                display: block
                margin-top: 30px
