.form
    .container
        border-radius: 20px
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4)
        display: flex
        align-items: center
        justify-content: space-between
        overflow: hidden
    &__info
        padding: 30px 40px
        max-width: 640px
    &__title 
        margin-bottom: 30px
        color: $blue
        font-size: 35px
        font-weight: 700
        font-family: "VelaSans-Bold"
    &__descript
        font-size: 26px
    form
        display: flex
        flex-direction: column
        margin-top: 40px
    &__input
        width: 100%
        margin-bottom: 20px
        padding: 15px 20px
        border-radius: 40px
        background: #F5F5F5
        font-size: 16px
        font-weight: 500
        font-family: "VelaSans-Medium"
        &::placeholder
            color: #9E9E9E
    &__img
        max-width: 361px
        position: relative
        z-index: 1
        img
            margin-bottom: -10px
        &::before
            content: ""
            position: absolute
            width: 666px
            height: 666px
            border-radius: 100%
            z-index: -1
            background: $blue
            top: -82px
            right: -179px
    &__button
        padding: 16px 0px
        width: 100%
        border-radius: 40px
        background: $blue
        color: $white
        font-size: 16px
        font-weight: 500
        font-family: "VelaSans-Medium"
        cursor: pointer
        transition: .3s
        &:hover 
            box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202)
    &__sogl
        display: flex
        align-items: center
        margin-top: 10px
        gap: 10px
        &-descript
            color: #9E9E9E
            font-size: 14px
            font-weight: 500
            font-family: "VelaSans-SemiBold"
            text-align: left
        label
            width: 20px
            height: 20px
            border-radius: 5px
            border: 1px solid #9E9E9E
            position: relative
            cursor: pointer
            &::before
                content: ""
                position: absolute
                top: 50%
                left: 50%
                transform: translateX(-50%) translateY(-50%)
                width: 12px
                height: 10px
                background-size: cover
                background-position: center center
                background-image: url('../../img/check.svg')
                display: none
                z-index: 1
                
        input
            display: none
            &:checked + label 
                background: $blue
                border-color: $blue
                &::before 
                    display: block
@media screen and (max-width: 1200px)
    .form
        padding: 0px 20px
        .container
            flex-direction: column
            padding: 0px
            text-align: center
        &__img
            &::before 
                top: auto
                left: 50%
                transform: translateX(-50%)
                bottom: -50%
        &__title
            font-size: clamp(18px, 5vw, 35px)
            margin-bottom: 10px
        &__info
            padding: 20px 15px
        &__descript
            font-size: clamp(16px, 3.5vw, 26px)
@media screen and (max-width: 550px)
    .form
        form
            margin-top: 15px
        &__input
            margin-bottom: 10px
            padding: 10px
        &__button
            padding: 13px 0px
        &__img
            max-width: 162px
            &::before 
                width: 320px
                height: 320px
                bottom: -80%