header
    position: sticky
    top: 0
    left: 0
    z-index: 3
    width: 100%
    background: $white
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25)
.header
    &__burger
        display: none
    &__top
        padding: 11px 0px
        border-bottom: 1px solid #F5F5F5
        display: flex
        align-items: center
        justify-content: space-between
    &__logo
        width: 141px
    &__item
        display: flex
        flex-direction: column
        &-title 
            font-size: 16px
            font-family: "VelaSans-Bold"
        &-descript
            font-size: 14px
            color: #9E9E9E
    &__soz
        display: flex
        align-items: center
        gap: 10px
    &__recall
        padding: 10px 32px
        font-size: 16px
        font-weight: 500
        font-family: "VelaSans-Medium"
        border-radius: 40px
        background: $blue
        transition: .3s
        color: $white
        &-mobile 
            display: none
    &__bottom
        display: flex
        align-items: center
        justify-content: space-between
        &-close 
            display: none
        &-mobile
            display: none
        &-block 
            padding: 6px 0px
        &-item 
            font-size: 16px
            color: #9E9E9E
            position: relative
            overflow: hidden
            &:hover 
                overflow: visible
                > .header__bottom-submenu
                    opacity: 1
                .ic__arrow-menu
                    transform: rotate(180deg)
                    background: $black
            a
                padding: 10px
                display: flex
                align-items: center
                gap: 8px
                transition: .3s
                font-family: "VelaSans-Medium"
                &:hover 
                    border-radius: 10px
                    background: rgba(231, 231, 231, 0.4)
                    color: $black
            &-active 
                color: $black
                border-radius: 10px
                background: rgba(231, 231, 231, 0.4)
        &-submenu
            border-radius: 10px
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4)
            background: $white
            padding: 20px
            position: absolute
            top: 40px
            left: 0px
            z-index: 2
            width: max-content
            transition: .3s
            opacity: 0
            li
                font-size: 16px
                font-weight: 700
                font-family: "VelaSans-Bold"
@media screen and (max-width: 900px)
    .header 
        &__bottom
            flex-direction: column
            align-items: center
            &-close 
                display: block
                align-self: flex-end
                margin-bottom: 20px
            &-block
                display: flex
                position: fixed
                top: 0px
                left: -110%
                z-index: 4
                max-width: 650px
                width: 100%
                height: 100dvh 
                background: $white
                flex-direction: column
                padding: 20px
                transition: .5s
                &-active 
                    left: 0px
            &-mobile 
                padding-top: 20px
                display: flex
                align-items: center
                text-align: center
                flex-direction: column
                gap: 20px
                border-top: 1px solid rgb(245, 245, 245)
                margin-top: 20px
                justify-content: flex-end
                height: 100%
            &-item 
                a
                    padding-left: 0px
                &-active 
                    padding-left: 10px
        &__mobile
            &-title 
                font-size: 16px
                font-weight: 700
                font-family: "VelaSans-Bold"
            &-descript
                font-size: 14px
                font-weight: 400
                color: #9E9E9E
            &-soz 
                display: flex
                align-items: center
                gap: 10px
            &-sozItem 
                width: 40px
            &-button 
                padding: 10px 32px
                border-radius: 40px
                color: $white
                font-size: 16px
                font-weight: 500
                background: $blue
                font-family: "VelaSans-Medium"
                
        &__item, &__soz
            display: none
        &__burger
            display: block
            width: 30px
        &__buttons 
            display: flex
            align-items: center
            gap: 20px
@media screen and (max-width: 550px)
    .header
        &__recall
            display: none
            &-mobile 
                display: block
                width: 40px