.prem
    &__descript
        font-size: 28px
        font-weight: 500
        font-family: "VelaSans-Medium"
        span
            font-size: 28px
            font-weight: 600
            color: $blue
            font-family: "VelaSans-SemiBold"
    &__block
        display: flex
        gap: 20px
        margin-top: 30px
    &__item
        position: relative
        padding: 40px 20px
        max-width: 33.333%
        width: 100%
        border-radius: 20px
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        z-index: 1
        &::before 
            content: ""
            display: block
            opacity: 0
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            transition: .3s
            z-index: -1
            border-radius: 20px
        &:hover 
            &::before 
                opacity: 1
        &:nth-child(1)
            background: linear-gradient(225.00deg, rgb(36, 99, 202),rgb(18, 49, 100) 100%)
            &::before 
                background: $blue
        &:nth-child(2)
            background: linear-gradient(225.00deg, rgb(70, 108, 154),rgb(39, 61, 88) 100%)
            &::before 
                background: #466C9A
        &:nth-child(3)
            background: linear-gradient(45.00deg, rgb(31, 42, 62) 0%,rgb(34, 61, 116) 100%)
            &::before 
                background: #223D74
        &-icon 
            padding: 25px
            border-radius: 20px
            background: rgba(255, 255, 255, 0.3)
            display: flex
            align-items: center
            justify-content: center
            margin-bottom: 10px
            img
                width: 50px
        &-title 
            color: $white 
            font-size: 20px
            font-weight: 700
            font-family: "VelaSans-Bold"
            margin-bottom: 8px
        &-descript 
            font-size: 14px
            color: $white
            opacity: 0.8
@media screen and (max-width: 900px)
    .prem
        &__block
            flex-direction: column
            gap: 10px
        &__item
            max-width: 100%
            padding: 25px 10px
            &-icon 
                padding: 10px
                border-radius: 5px
                img
                    width: 20px
            &-title 
                font-size: 16px
            &-descript
                font-size: 14px
        &__descript
            font-size: clamp(16px, 3vw, 28px)
            span
                font-size: clamp(16px, 3vw, 28px)
