.main {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding: 140px 0px;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .section__title {
  margin-bottom: 25px;
}
.main__subtitle {
  padding-left: 12px;
  border-left: 5px solid #68C4FA;
  font-size: 16px;
  color: #CDCDCD;
  font-family: "Gilroy-Bold";
  text-transform: uppercase;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.main__info {
  max-width: 710px;
  width: 100%;
}
.main__descript {
  color: #CDCDCD;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.main__descript:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 1296px) {
  .main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main__subtitle {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .main {
    padding: 120px 0px;
  }
  .form__bg {
    padding: 0px;
  }
}