.main {
  margin-top: 77px;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 160px;
}
.main::after {
  width: 100%;
  height: 150px;
  background: rgba(25, 25, 25, 0.95);
  bottom: -75px;
  left: 0;
  position: absolute;
  content: "";
  -webkit-filter: blur(25px);
          filter: blur(25px);
  z-index: 2;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__info {
  max-width: 397px;
}
.contact__img {
  max-width: 636px;
  width: 100%;
}
.contact__item {
  margin-bottom: 13px;
}
.contact__item-title {
  font-size: 22px;
  font-family: "Gilroy-Bold";
  margin-bottom: 10px;
}
.contact__item-descript {
  font-size: 17px;
  color: #CDCDCD;
  margin-bottom: 15px;
}
.contact__item-descript span {
  font-family: "Gilroy-Bold";
}

@media screen and (max-width: 1000px) {
  .main {
    padding-bottom: 98px;
    background-size: 248%;
    background-position: center top;
  }
  .main::after {
    height: 100px;
  }
  .main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__img {
    margin-top: 40px;
  }
  .contact__info {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}