@import 'sass/_vars'
*
    padding: 0 
    margin: 0 
    box-sizing: border-box
    font-family: "Montserrat", sans-serif
    color: $black
    scroll-behavior: smooth
body
    position: relative
    max-width: 100%
    overflow-x: hidden
html
    overflow-x: hidden
img
    width: 100%
    height: auto
a
    text-decoration: none
    color: inherit
    cursor: pointer
button
    border: 0 none
    outline: 0 none
    font-family: inherit
    cursor: pointer
    background: none
li
    list-style: none
input, textarea
    border: 0 none
    outline: 0 none
    cursor: text
textarea
    resize: vertical
input[type="submit"]
    cursor: pointer
input[type="checkbox"]
    display: none
section
    margin-bottom: 60px
.container
    max-width: 1216px
    width: 100%
    margin: 0 auto
.section__title
    font-weight: 600
    font-size: 46px
.breadcrumbs
    display: flex
    &-item 
        margin-right: 15px
header
    position: absolute
    z-index: 2
    width: 100%
    padding: 27px 0px
    top: 0px
    left: 0px
    .container
        display: flex
        align-items: center
        justify-content: space-between
.header
    &__logo
        width: 288px
    &__menu
        display: flex
        align-items: center
        &-item
            margin-right: 53px
            font-size: 22px
            font-weight: 600
            color: $white
            position: relative
            &::before
                content: ""
                position: absolute
                bottom: -2px
                left: 0px
                background: $black
                width: 0px
                transition: .4s
                height: 2px
            &:hover
                &::before
                    width: 100%

            &:last-child
                margin-right: 0px
        &-mobile 
            display: none
footer
    background: $red
    padding-top: 48px
    padding-bottom: 20px
    .container
        display: flex
        align-items: flex-start
        justify-content: space-between
.footer
    &__left
        display: flex
        align-items: flex-start
        justify-content: space-between
        width: 100%
        &-title
            font-size: 24px
            font-weight: 600
            color: $white
        &-menu
            li
                color: rgba(255, 255, 255, 0.6)
                font-size: 20px
                font-weight: 600
                margin-top: 13px
                max-width: 299px
                position: relative
                transition: .5s
                &:hover
                    color: $white
    &__right
        padding-left: 37px
        border-left: 1px solid rgba(255, 255, 255, 0.4)
        margin-left: 130px
    &__line
        width: 100%
        height: 1px 
        margin-top: 25px
        background: rgba(255, 255, 255, 0.4)
    &__prava
        margin-top: 16px
        font-size: 16px
        font-weight: 600
        color: rgba(171, 164, 164, 0.75)
        text-align: center
        position: relative
.burger
    display: none
@media screen and (max-width: 1216px)
    .burger
        display: block
    .container
        max-width: 96%
    .header
        &__menu
            position: fixed
            top: 0
            right: -110%
            z-index: 10
            background: $white
            max-width: 70%
            width: 100%
            height: 100dvh
            flex-direction: column
            align-items: flex-start
            transition: .5s
            padding: 40px 30px
            &-item
                color: $black
                margin-right: 0px
                margin-bottom: 10px
            &-active
                right: -10px
            &-mobile
                display: block
                width: 20px
                align-self: flex-start
                margin-bottom: 30px
        &__logo
            width: 170px
    footer
        text-align: center
        .container
            flex-direction: column
            align-items: center
    .footer
        &__left
            flex-direction: column
            align-items: center
            &-item
                margin-bottom: 40px
        &__right
            margin-left: 0px
            padding-left: 0px
            border-left: 0px
@media screen and (max-width: 550px)
    .section__title
        font-size: 9vw
    header
        padding: 10px 0px