$white: #FFFFFF
$bg-active: #F1F1F2
$bg-focus: #E6E6E6
$darkBg: #2B4D5E
$disBtn: #3B6A81
$strongBg: #293B43
$strongBg-disable: #F0F1F3
$bgSemi: #E6E6E7
$button-disable: #D0D1D3
$button-active: #B7B7B7
$gray: #101D23
$black: #000
$red: #C00000