@font-face {
  font-family: "Circe Bold";
  src: url("../fonts/circe_bold.eot");
  src: url("../fonts/circe_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_bold.woff2") format("woff2"), url("../fonts/circe_bold.woff") format("woff"), url("../fonts/circe_bold.ttf") format("truetype"), url("../fonts/circe_bold.svg#circe_bold") format("svg");
}
@font-face {
  font-family: "Circe ExtraBold";
  src: url("../fonts/circe_extrabold.eot");
  src: url("../fonts/circe_extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_extrabold.woff2") format("woff2"), url("../fonts/circe_extrabold.woff") format("woff"), url("../fonts/circe_extrabold.ttf") format("truetype"), url("../fonts/circe_extrabold.svg#circe_extrabold") format("svg");
}
@font-face {
  font-family: "Circe Light";
  src: url("../fonts/circe_light.eot");
  src: url("../fonts/circe_light.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_light.woff2") format("woff2"), url("../fonts/circe_light.woff") format("woff"), url("../fonts/circe_light.ttf") format("truetype"), url("../fonts/circe_light.svg#circe_light") format("svg");
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/circe.eot");
  src: url("../fonts/circe.eot?#iefix") format("embedded-opentype"), url("../fonts/circe.woff2") format("woff2"), url("../fonts/circe.woff") format("woff"), url("../fonts/circe.ttf") format("truetype"), url("../fonts/circe.svg#circe") format("svg");
}
@font-face {
  font-family: "Circe Thin";
  src: url("../fonts/circe_thin.eot");
  src: url("../fonts/circe_thin.eot?#iefix") format("embedded-opentype"), url("../fonts/circe_thin.woff2") format("woff2"), url("../fonts/circe_thin.woff") format("woff"), url("../fonts/circe_thin.ttf") format("truetype"), url("../fonts/circe_thin.svg#circe_thin") format("svg");
}