//font-family: 'Montserrat', sans-serif
//Geomtria
//font-family: 'Montserrat Alternates', sans-serif
//Heuristica
@font-face
  font-family: "geometria_bold"
  src: local('geometria')
  src: url('../fonts/geometria_bold.otf') format('opentype')
@font-face
  font-family: "geometria_medium"
  src: local('geometria')
  src: url('../fonts/geometria_medium.otf') format('opentype')
@font-face
  font-family: "geometria_regular"
  src: local('geometria')
  src: url('../fonts/geometria_regular.woff2') format('woff2')
@font-face
  font-family: "Heuristica_Regular"
  src: local('Heuristica')
  src: url('../fonts/Heuristica-Regular.otf') format('opentype')
@font-face
  font-family: "Heuristica_Bold"
  src: local('Heuristica')
  src: url('../fonts/Heuristica-Bold.otf') format('opentype')