$GeometriaBold: "geometria_bold"
$GeometriaMedium: "geometria_medium"
$GeometriaRegular: 'geometria_regular'
$MontserratAlternates: 'Montserrat Alternates'
$Montserrat: 'Montserrat'
$HeuristicaRegular: "Heuristica_Regular"
$HeuristicaBold: "Heuristica_Bold"
$MainContainer: 1280px

=bg($size, $x, $y)
    background-size: $size
    background-repeat: no-repeat
    background-position: $x $y
=flexa
    display: flex
    align-items: center
