@import 'vars'
@import 'colors'
@import 'base'
@import 'fonts'

@import "blocks/Header"
@import "blocks/PreLinks"
.pre__links
    margin-bottom: 80px
.main
    &__title
        font-family: $HeuristicaBold
        font-size: 48px
        line-height: 60px
        letter-spacing: 0.02em
        text-transform: uppercase
        color: $White
        max-width: 728px
    &__describe
        margin-top: 30px
        margin-bottom: 20px
        font-family: $Montserrat
        font-weight: 400
        line-height: 30px
        max-width: 430px
@import "blocks/Actions"
.action__header
    +flexa 
    justify-content: space-between
    .abo
        padding: 19px 68px
        border-radius: 100px
        background: $Yellow
        font-family: $GeometriaBold
.action__label
    background: $ShineGray
    box-shadow: -1px -1px 2px rgba(72, 92, 105, 0.3), 1px 1px 2px rgba(59, 76, 86, 0.5), inset 10px -10px 20px rgba(59, 76, 86, 0.2), inset -10px 10px 20px rgba(59, 76, 86, 0.2), inset 10px 10px 20px rgba(72, 92, 105, 0.9), inset -10px -10px 25px rgba(59, 76, 86, 0.9)
    border-radius: 50px
    max-width: 563px
    +flexa
    .label__item-input
        display: none
    .label__item
        padding: 19px 40px
        border-radius: 50px
        cursor: pointer
        transition: .3s
    .label__item-input:checked + .label__item
        background: linear-gradient(276.86deg, #FFBB00 0%, #FFC72C 62.99%) !important
        color: $Black
.actions__block
  display: flex
  flex-wrap: wrap
  justify-content: space-between
.action__item
    max-width: 618px
    width: 100%
    margin: 24px 0px !important
    height: 250px
.actions__block-row
    width: 100%
    +flexa 
    justify-content: space-between
.block__min
    flex-direction: column
    display: flex
    width: 100%
.action__left 
    .services__link
        text-decoration: underline
        font-family: $GeometriaRegular
        font-weight: 400
    .action__title
        span
            color: $Yellow
#action__bg-3, #action__bg-4, #action__bg-5, #action__bg-6
    width: 100%
    height: 100%
#action__item-3
    background: linear-gradient(279.29deg, #41545F 0%, #546E7D 100%)
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
    .action__left 
        .services__link
            color: $Yellow
        .action__title
            text-transform: uppercase
            line-height: 35px
    .action__right
        transform: scaleX(-1)

#action__item-4
    background: linear-gradient(99.29deg, #E7F6FF 47.59%, #A2BECE 100%)
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
    .action__left 
        .services__link
            color: rgba(0, 0, 0, 0.5)
        .action__title
            line-height: 30px
            max-width: 204px
            color: #687896
    .action__right
        transform: scaleX(-1)
        max-width: 225px
        opacity: 0.5
        img
            height: auto
    .action__des
        margin-top: 20px
        color: $Black
        font-size: 14px
        font-family: $Montserrat
        font-weight: 400
#action__item-5
    background: linear-gradient(99.29deg, #E7FFEC 27.36%, #B7FFC6 100%)
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
    .action__left 
        .line
            height: 50px
            width: 3px
            background: $Yellow
            margin: 3px 0px
        .services__link
           color: rgba(0, 0, 0, 0.5)
           font-size: 14px
           text-decoration: none
        .action__title
            color: rgba(0, 0, 0, 0.8)
            max-width: 235px
            font-size: 20px
            line-height: 24px
    .action__right
        transform: scaleX(-1)
        max-width: 225px
        img
            height: auto
    .action__des
        margin-top: 20px
        color: $Black
        font-size: 14px
        font-family: $Montserrat
        font-weight: 400
#action__item-6
    background: linear-gradient(279.29deg, #41545F 0%, #546E7D 100%)
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
    .action__left 
        .services__link
           color: $Yellow
    .action__right
        max-width: 302px
        img
            height: auto
.big-item
    background: linear-gradient(270.74deg, #FF5A00 0%, #FF7C34 50.13%)
    height: 555px
    width: 100%
    border-radius: 20px
    position: relative
    overflow: hidden
    padding: 30px
    max-width: 618px
    .bg__image
        width: 100%
        height: 100%
        background-image: url(../img/stars.png)
        +bg(60%, center, right)
        position: absolute
        right: 0
        bottom: -95px
        opacity: 0.2
    .big__text
        height: 100%
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
    &-title
        font-size: 36px
        font-family: $HeuristicaBold
    .proz
        text-align: center
        font-size: 220px
        font-family: $MontserratAlternates
        font-weight: 700
        color: #FFDBC7
.main__banner
    &-item
        padding: 30px
        background: $ShineGray
        border: 2px solid $Yellow
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2)
        border-radius: 30px
    .text__descript-item
        margin-bottom: 0px
.text__descript-item
    font-family: $GeometriaRegular
    margin-bottom: 30px
    span
        color: $Yellow
        font-family: $GeometriaBold
    &:last-child
        margin-bottom: 0px
.about
    display: none
    margin-top: 100px
.about-active
    display: block
.none
    display: none
.dis
    opacity: 0.2
    pointer-events: none
.about__info
    +flexa 
    justify-content: space-between
    .main__banner-item
        max-width: 728px
        width: 100%
    .info__img
        max-width: 397px
        width: 100%
.usl
    .section__title
        max-width: 710px
    .adv__block
        display: flex
        justify-content: space-evenly
        flex-wrap: wrap
        margin-top: 100px
    .adv__item
        margin: 27px 0px
        background: $ShineGray
        border: 1px solid $Yellow
        border-radius: 20px
        padding: 30px
        max-width: 397px
        width: 100%
        display: flex
        flex-direction: column
        .item__number
            color: $Yellow
            font-family: $Montserrat
            font-size: 40px
            margin-bottom: 15px
            font-weight: 600
            margin-right: 20px
        .item__text
            font-family: $Montserrat
            font-weight: 400
            font-size: 16px
            line-height: 25px
@media screen and ( max-width: $MainContainer )
    .actions__block-row
        flex-direction: column
    .block__min
        align-items: center
    .big-item 
        height: 250px
        .bg__image
            background: none
        .proz
            font-size: 100px
            align-self: end
@media screen and ( max-width: 900px )
    .action__header
        flex-direction: column
        .abo
            margin-top: 20px
    .about__info
        flex-direction: column
        .info__img
            margin-top: 30px
            .main__banner-item
                max-width: 100%
@media screen and ( max-width: 600px )
    #action__item-4 
        .action__right
            max-width: 110px
    .action__label 
        .label__item
            padding: 21px 30px
            font-size: 16px
    #action__item-3 
        .action__right
            max-width: 170px
            width: 100%
            align-self: end
            img
                height: auto
    #action__item-6 .action__right, #action__item-5 .action__right
        max-width: 138px
    #action__item-5 .action__left .action__title
        font-size: 14px
        line-height: normal
    .about__info .main__banner-item
        font-size: 16px
        padding: 20px
    .action__title
        font-size: 17px
        line-height: normal
    .main__title
        font-size: 6vw
        line-height: normal
    .main__describe
        font-size: 3vw
        line-height: normal
    .action__label
        flex-direction: column
        width: 100%
        max-width: 100%
        border-radius: 10px
        .label__item
            width: 100%
            text-align: center
            border-radius: 10px

    



















@import "blocks/BonusCard"
@import "blocks/Questions"
@import "blocks/Footer"