@import 'vars'
@import 'colors'
@import 'base'
@import 'fonts'

@import "blocks/Header"
@import "blocks/PreLinks"
.pre__links
    margin-top: 0px
    padding-top: 30px
.mainScreen
    .container
        display: flex
        align-items: flex-start
        justify-content: space-between
    .main__title
        font-family: $HeuristicaBold
        font-size: 42px
        line-height: 50px
        letter-spacing: 0.03em
        margin-bottom: 87px
        max-width: 673px
    .main__descript
        font-family: $GeometriaRegular
        line-height: 25px
        position: relative
        max-width: 443px
        &::before
            content: ""
            height: 100px
            width: 3px
            position: absolute
            top: -50%
            left: -25px
            background: $Yellow
    .main__button
        padding: 15px 55px
        background: $Yellow 
        border-radius: 100px
        margin-top: 85px
    .mainImg
        max-width: 728px
        width: 100%
        margin-top: -130px
.main__bg
    background-image: url("../img/bg-bonus.png")
    +bg(140%, 55%, 90%)
.mainBanner
    .container
        background: $ShineGray
        border: 2px solid $Yellow
        border-radius: 30px
        padding: 50px
        .banner__item
            max-width: 1009px
            font-family: $GeometriaRegular
            line-height: 25px
            margin-bottom: 30px
.banner__item-2
    font-family: $GeometriaBold
    color: rgba(255, 255, 255, 0.6)
.banner__plus
    margin-top: 23px
    +flexa 
    justify-content: space-between
    &-item
        width: 26%
        .plus__title
            color: $Yellow
            font-size: 24px
            font-family: $GeometriaBold
            margin-bottom: 3px
        .plus__descript
            font-family: $GeometriaRegular
            line-height: 25px
.card__art
    .title__block
        align-items: flex-start
        .title__line
            margin-top: 17px
    &-descript
        font-family: $GeometriaRegular
        line-height: 25px
        margin-top: 41px
        max-width: 670px
        span
            color: $Yellow
    .banner__item-2
        margin-top: 80px
        max-width: 649px
.card__block
    display: flex
    justify-content: space-between
    margin-top: 80px
    .card-item
        max-width: 397px
        width: 100%
        .card__img
            max-width: 337px
            width: 100%
            height: 245px
            filter: drop-shadow(-30px 20px 30px rgba(0, 0, 0, 0.2))
            margin: 0 auto
            margin-bottom: 40px
            img
                border-radius: 20px
    .card__descript-block
        background: $ShineGray
        border: 1px solid $Yellow
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
        border-radius: 20px
        padding: 26px 40px
        height: 189px
        display: flex
        flex-direction: column
        justify-content: space-between
    .card__descript-header
        +flexa 
        justify-content: space-between
        .card__title
            text-transform: uppercase
            font-size: 20px
            font-family: $GeometriaBold
        .program__block
            color: $Yellow
            font-size: 16px
            font-family: $GeometriaBold
        .programm__descript
            font-size: 12px
            font-family: $GeometriaRegular
        .programm__price
            font-size: 20px
            font-family: $GeometriaBold
            color: $Yellow
            letter-spacing: 0.25em
        #price-3
            letter-spacing: 0.19em
    .card__descript-main
        display: flex
        justify-content: space-between
        .item-title
            font-size: 32px
            font-family: $GeometriaBold
            margin-bottom: 5px
        .item-descript
            font-size: 14px
            font-family: $GeometriaRegular
.card__services
    .container
        display: flex
        justify-content: space-between
        align-items: flex-start
    .card__services-item
        background: $ShineGray
        border: 1px solid $Yellow
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
        border-radius: 20px
        padding: 30px
        max-width: 397px
        width: 100%
    &-title
        font-size: 20px
        font-family: $GeometriaBold
        margin-bottom: 5px
    &-descript
        font-size: 16px
        font-family: $GeometriaRegular
        color: $Yellow
    &-list
        margin-top: 30px
        li
            list-style: none
            margin-bottom: 20px
            font-family: $Montserrat
            font-weight: 400
            font-size: 16px
            &:last-child
                margin-bottom: 0px
.warning
    margin-top: 80px
    .container
        box-shadow: 0px 0px 30px $Yellow
        border-radius: 20px
        background: $Yellow
        color: $Black
        font-family: $GeometriaMedium
        line-height: 25px
        text-align: center
        max-width: 1100px
        width: 100%
        padding: 23px 38px
.dopBonus
    .container
        display: flex
        justify-content: space-between
    .dopBonus__left-item
        padding: 30px
        font-family: $GeometriaRegular
        line-height: 25px
        border: 1px solid $Yellow
        border-radius: 20px
        span
            color: $Yellow
        .big__numbers
            font-family: $GeometriaBold
            font-size: 24px
        .bold
            font-family: $GeometriaBold
            
    .dopBonus__left
        margin-right: 45px
        &-item
            margin-bottom: 45px
            &:last-child
                margin-bottom: 0px
@media screen and (max-width: $MainContainer)
    .card__block
        flex-direction: column
        align-items: center
        .card-item 
            margin-bottom: 30px
            .card__img
                margin-bottom: 0px
    .card__services 
        .container
            flex-direction: column
            align-items: center
        &-item
            margin-bottom: 30px
@media screen and (max-width: 900px)
    .mainScreen 
        .container
            flex-direction: column
        .mainImg
            margin-top: 30px
    .banner__plus
        flex-direction: column
        align-items: center
        &-item
            margin-bottom: 30px
            text-align: center
            width: 100%
    .card__art 
        .title__block 
            .title__line
                display: none
    .dopBonus 
        .container
            flex-direction: column
    .dopBonus__left-item-2
        margin-top: 45px
    .dopBonus 
        .dopBonus__left
            margin-right: 0px
@media screen and (max-width: 500px)
    .mainScreen 
        .main__button
            width: 100%
            margin-top: 37px
        .main__title
            margin-bottom: 37px
            font-size: 7vw
            line-height: normal
        .mainImg
            margin-top: 37px
    .mainBanner 
        .container
            padding: 20px
            .banner__item
                font-size: 16px
                line-height: normal
    .banner__plus
        align-items: flex-start
        &-item
            text-align: left
            .plus__title
                font-size: 20px
            .plus__descript
                font-size: 16px
    .card__art-descript
        font-size: 16px
    .card__block 
        .card__descript-block
            height: 150px
            padding: 20px
        .card__descript-header 
            .card__title
                font-size: 18px
        .card__descript-main 
            .item-title
                font-size: 24px
            .item-descript
                font-size: 12px
    .banner__item-2,.warning .container,.dopBonus .dopBonus__left-item
        font-size: 16px
    .dopBonus 
        .dopBonus__left-item
            padding: 20px

@import "blocks/Questions"
@import "blocks/Footer"
@import "blocks/modal"