@import 'vars'
@import 'colors'
@import 'base'
@import 'fonts'

@import "blocks/Header"
@import "blocks/PreLinks"
@import "blocks/Actions"
@import "blocks/Services"
@import "blocks/Cart"
.more
    padding: 30px 40px
    max-width: 838px
    width: 100%
    background: $ShineGray
    border-radius: 30px
    position: relative
    opacity: 0
    transition: .5s
    display: none
    &__title
        color: $Yellow
        font-size: 24px
        font-family: $HeuristicaBold
    &__services
        margin-top: 20px
        .service__item
            padding: 20px 0px
            +flexa 
            justify-content: space-between
            border-top: 1px solid $White
            &:first-child
                border-top: none
        .item__descript
            max-width: 80%
            line-height: 25px
            font-family: $GeometriaRegular
        .item__price
            color: $Yellow
            font-family: $GeometriaBold
    .zap
        background: $Yellow
        padding: 15px 55px
        border-radius: 100px
        margin-top: 40px
    .closeMore
        width: 20px
        height: 20px
        position: absolute
        top: 27px 
        right: 35px












.pre__links
    margin-top: 0px
    padding-top: 30px
    margin-bottom: 120px
.mainScreen
    .container
        +flexa
        justify-content: space-between
        .main__title
            font-size: 30px
            font-family: $HeuristicaBold
            letter-spacing: 0.03em
        .main__descript
            position: relative
            font-family: $GeometriaRegular
            margin: 85px 0px
            max-width: 550px
            &::before
                content: ""
                position: absolute
                height: 100px
                width: 3px
                left: -25px
                top: -50%
                background: $Yellow
        .main__button
            background: $Yellow
            border-radius: 100px
            padding: 15px 55px
    &__img
        max-width: 617px
        width: 100%
        img
            border-radius: 20px
.main__banner
    &-item
        padding: 30px
        background: $ShineGray
        border: 2px solid $Yellow
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2)
        border-radius: 30px
    .text__descript-item
        margin-bottom: 0px
.text__descript-item
    font-family: $GeometriaRegular
    margin-bottom: 30px
    line-height: 25px
    span
        color: $Yellow
        font-family: $GeometriaBold
.adv__block
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    .adv__item
        position: relative
        max-width: 397px
        width: 100%
        margin: 55px 0px
        background: $ShineGray
        border: 1px solid $Yellow
        border-radius: 20px
        padding: 30px
        .item__number
            color: $Yellow
            font-family: $Montserrat
            font-size: 58px
            position: absolute
            top: -57px
            left: 20px
            font-weight: 600
        .item__text
            font-family: $Montserrat
            font-weight: 400
            font-size: 16px
            line-height: 25px
.art
    .section__describe
        margin-top: 61px
        max-width: 949px
        font-family: $GeometriaRegular
    &__block
        +flexa 
        justify-content: space-between
        margin-top: 80px
    &__img
        max-width: 347px
        width: 100%
    &__text
        max-width: 838px
        width: 100%
    &__list
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        .list__item
            margin-bottom: 47px
            .item__text
                padding: 15px 20px
                padding-right: 110px
                background: $ShineGray
                border: 1px solid $Yellow
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
                border-radius: 10px
            .item__icon
                margin-bottom: 15px
                margin-left: 15px
                width: 64px
                height: 64px
                border-radius: 15px
                +flexa 
                justify-content: center
                background: $White
                img
                    width: 45px
    .desc__block
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        .text__descript-item
            max-width: 618px
            margin-top: 80px
.auto__price
    .title__block
        text-align: center
        justify-content: center
        .title__line
            &:last-child
                margin-left: 30px
    &-block
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin-top: 80px
    &-item
        max-width: 286px
        width: 100%
        background: $ShineGray
        border: 1px solid $Yellow
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2)
        border-radius: 20px
        padding: 30px
        display: flex
        flex-direction: column
        margin: 20px 0px
        .item__img
            max-width: 226px
            height: 170px
            border-radius: 20px
            margin-bottom: 40px
            img
                border-radius: 20px
        .item__title
            font-family: $MontserratAlternates
            font-weight: 600
            font-size: 16px
            letter-spacing: -0.022em
            color: $White
            margin-bottom: 10px
        .item__price
            font-size: 16px
            font-family: $GeometriaRegular
            margin-bottom: 20px
        .item__more-info
            font-family: $GeometriaRegular
            align-self: flex-end
            font-size: 16px
            color: $Yellow
            text-decoration: underline
.inheit
    .text__descript-item
        margin-top: 61px
        margin-bottom: 80px
.prof
    .container
        +flexa 
        justify-content: space-between
    &__text, &__img
        max-width: 618px
        width: 100%
    &__text
        .text__descript-item
            &:first-child
                margin-bottom: 30px
    &__img
        border-radius: 20px
        border: 1px solid $Yellow
        img
            border-radius: 20px
    .title__block
        margin-bottom: 40px
    .tovar__title
        max-width: 578px
        margin-left: 40px
#unflex
    display: block
.actions, .services
    .title__block
        text-align: center
        justify-content: center
        .title__line
            &:last-child
                margin-left: 30px
.prof__slider
    margin-top: 100px
    .slider__item
        margin: 0px 22px
        border-radius: 20px
        border: 1px solid $Yellow
        img
            border-radius: 20px
    .slick-dots
        position: absolute
        left: 50%
        transform: translateX(-50%)
        +flexa 
        bottom: -61px
        li
            font-size: 0px
            width: 100px
            height: 3px
            background: $White
            margin-right: 20px
            &:last-child
                margin-right: 0px
        .slick-active
            background: $Yellow
    .slick-arrow
        position: absolute
        bottom: -61px
        width: 30px
        height: 14px
        font-size: 0px
        +bg(cover, center, center)
    .slick-prev
        left: 0
        background-image: url("../img/icons/mark-left.svg")
    .slick-next
        right: 0
        background-image: url("../img/icons/mark-right.svg")
@import "blocks/Footer"
@media screen and ( max-width: $MainContainer )
    .art__block
        flex-direction: column
        align-items: flex-start
    .art__list
        margin-top: 30px
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        .list__item 
            .item__text
                width: 100%
    .prof 
        .container
            flex-direction: column
            align-items: flex-start
        &__text
            max-width: 100%
            margin: 20px 0px
@media screen and ( max-width: 900px )
    .mainScreen 
        .container
            flex-direction: column
            align-items: flex-start
            .main__descript
                margin: 40px 0px
    .mainScreen__img
        max-width: 100%
    .art .desc__block 
        .text__descript-item
            max-width: 100%
@media screen and ( max-width: 600px )
    .prof__slider
        .slider__item
            margin: 0
        .slick-dots 
            li
                width: 50px
                margin-right: 10px

    .more__title
        font-size: 18px
    .more
        border-radius: 20px
        padding: 20px 30px
        .closeMore
            top: 20px
        .zap
            width: 100%
    .more__services 
        max-height: 350px
        overflow-y: scroll
        .item__descript
            font-size: 14px
            line-height: normal
            max-width: 100%
        .item__price
            margin-top: 20px
        .service__item
            flex-direction: column
            align-items: flex-start
    .auto__price-block
        justify-content: center
    .pre__links
        margin-bottom: 50px
    .text__descript-item
        font-size: 16px
        line-height: normal
    .title__line, .vertical-line
        display: none
    .tovar__title
        margin-left: 0px !important
    .art__list 
        .list__item
            width: 100%
    .art 
        .desc__block 
            .text__descript-item
                margin-top: 20px
        .section__describe
            font-size: 16px
    .mainScreen 
        .container 
            .main__title
                font-size: 7vw
            .main__button
                width: 100%
    .main__banner-item
        padding: 20px
    .adv__block .adv__item .item__text
        padding: 20px
.block-body
    max-height: 100%
    overflow-y: hidden
.more-active
    opacity: 1
@import "blocks/modal"