@import 'vars'
@import 'colors'
@import 'base'
@import 'fonts'

@import "blocks/Header"
@import "blocks/PreLinks"
.pre__links
    margin-top: 0px
    padding-top: 30px
.main
    background: linear-gradient(208.52deg, $Yellow 6.74%, rgba(46, 66, 77, 0) 30%)
.mainScreen
    .container
        +flexa
        justify-content: space-between
        .main__title
            font-size: 30px
            font-family: $HeuristicaBold
            letter-spacing: 0.03em
        .main__descript
            position: relative
            font-family: $GeometriaRegular
            margin: 85px 0px
            max-width: 550px
            &::before
                content: ""
                position: absolute
                height: 100px
                width: 3px
                left: -25px
                top: -50%
                background: $Yellow
        .main__button
            background: $Yellow
            box-shadow: 0px 0px 30px rgba(255, 187, 0, 0.5)
            border-radius: 100px
            padding: 15px 55px
    &__img
        max-width: 617px
        width: 100%
        img
            border-radius: 20px
@import "blocks/Services"
.services__block
    justify-content: space-evenly
.services__item
    height: 343px
    max-width: 286px
.services__title
    font-family: $MontserratAlternates
    font-weight: 600
    font-size: 16px
    letter-spacing: -0.022em
.services__link
    color: $Yellow
    align-self: flex-end
.services__img
    position: static
    top: auto
    right: auto
    max-height: 160px
    width: max-content
    align-self: center
.services__header
    flex-direction: column
    align-items: flex-start
    .title__block
        margin-bottom: 43px
        .arr
            width: 20px
            margin-left: 14px
    .section__title
        font-size: 18px
        font-family: $GeometriaRegular
.services__form, .input__block
    width: 100%

.more__services
    margin-top: 200px
    .services__link
        color: $White
    &-header
        +flexa 
        justify-content: center
        .header-line
            width: 100px
            height: 3px
            background: $Yellow
        .section__title
            margin: 0px 20px
            text-align: center
.main__banner
    &-item
        padding: 40px
        background: $ShineGray
        border: 2px solid $Yellow
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2)
        border-radius: 30px
    .text__descript-item
        margin-bottom: 0px
.text__descript-item
    font-family: $GeometriaRegular
    margin-bottom: 30px
    span
        color: $Yellow
        font-family: $GeometriaBold
    &:last-child
        margin-bottom: 0px
.section__describe
    font-family: $GeometriaBold
    color: rgba(255, 255, 255, 0.6)
    margin-top: 41px
@import "blocks/Times"
.times__block
    max-width: 100%
.times__row
    height: 350px
    justify-content: space-between
    &::before
        height: 90%
.times__item 
    margin-bottom: 0px
    .item__title
        font-family: $GeometriaRegular
.error
    .container
        display: flex
        justify-content: space-between
    .main__banner-item
        max-width: 617px
        width: 100%
        padding: 30px
    .main__banner-img
        max-width: 582px
        width: 100%
        img
            border-radius: 20px
.inheit
    .title__block
        margin-bottom: 60px
    .tovar__title
        max-width: 798px
        margin-left: 40px
.adv__block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .adv__item
        margin: 25px 0px
        background: $ShineGray
        border: 1px solid $Yellow
        border-radius: 20px
        padding: 30px
        height: 195px
        max-width: 397px
        width: 100%
        .item__number
            color: $Yellow
            font-family: $Montserrat
            font-size: 40px
            margin-bottom: 15px
            font-weight: 600
        .item__text
            font-family: $Montserrat
            font-weight: 400
            font-size: 16px
            line-height: 25px
.zamen
    .title__block
        margin-bottom: 83px
.zamen__item
    +flexa 
    justify-content: space-between
    margin-bottom: 58px
    &:last-child
        margin-bottom: 0px
    .rotate
        transform: scale(-1, 1)
    .zamen__text
        max-width: 618px   
        .text__descript-item
            font-family: $GeometriaRegular
            &:first-child
                margin-bottom: 30px
    .zamen__img 
        max-width: 580px
        width: 100%
        img
            border-radius: 20px
@media screen and (max-width: $MainContainer)
    .error 
        .container
            flex-direction: column
            align-items: center
        .main__banner-item
            max-width: 100%
        .main__banner-img
            margin-top: 40px
            max-width: 60%
    .zamen__item
        flex-direction: column
        align-items: center
        margin-top: 40px
        &:nth-child(3)
            flex-direction: column-reverse
        .zamen__text
            max-width: 100%
        .zamen__img
            margin: 20px 0px
            max-width: 60%
@media screen and (max-width: 900px)
    .mainScreen
        margin-bottom: 0px 
        .container
            flex-direction: column
            align-items: flex-start
            .main__descript
                margin: 40px 0px
    .mainScreen__img
        max-width: 100%
        margin-top: 30px
    .main
        background: linear-gradient(311deg, #FFBB00 6.74%, rgba(46, 66, 77, 0) 30%)
        padding-bottom: 10px
    .main__banner-item, .error .main__banner-item
        padding: 20px
        font-size: 16px
    .section__describe, .zamen__item .zamen__text .text__descript-item
        font-size: 16px
    .error .main__banner-img, .zamen__item .zamen__img
        max-width: 100%
    .adv__block .adv__item
        max-width: 100%
        margin: 20px 0px
@media screen and (max-width: 600px)
    .adv__block 
        .adv__item
            height: auto
    .mainScreen 
        .container 
            .main__title
                font-size: 5vw
            .main__descript
                font-size: 3vw
            .main__button
                width: 100%
    .services__item
        margin-top: 23px
    .services__block
        margin-top: 0px
    .inheit .tovar__title
        font-size: 5vw
        margin-left: 0px
    .vertical-line
        display: none
@import "blocks/Actions"
@import "blocks/Questions"
@import "blocks/Cart"
@import "blocks/Footer"