@import 'vars'
@import 'colors'
@import 'base'
@import 'fonts'

@import "blocks/Header"
@import "blocks/PreLinks"
@import "blocks/Times"
.pre__links
    margin-top: 0px
    padding-top: 30px
    margin-bottom: 120px
.main
    background-image: url("../img/bg__line-5.png")
    +bg(180%, center, 46%)
.mainScreen
    .container
        +flexa
        justify-content: space-between
        .main__title
            font-size: 30px
            font-family: $HeuristicaBold
            letter-spacing: 0.03em
        .main__descript
            position: relative
            font-family: $GeometriaRegular
            margin: 85px 0px
            max-width: 550px
            &::before
                content: ""
                position: absolute
                height: 100px
                width: 3px
                left: -25px
                top: -50%
                background: $Yellow
        .main__button
            background: $Yellow
            box-shadow: 0px 0px 30px rgba(255, 187, 0, 0.5)
            border-radius: 100px
            padding: 15px 55px
    &__img
        max-width: 617px
        width: 100%
        img
            border-radius: 20px
@import "blocks/Services"
.services__block
    justify-content: space-evenly
.services__item
    height: 343px
    max-width: 286px
.services__title
    font-family: $MontserratAlternates
    font-weight: 600
    font-size: 16px
    letter-spacing: -0.022em
.services__link
    color: $Yellow
    align-self: flex-end
.services__img
    position: static
    top: auto
    right: auto
    max-height: 160px
    height: 160px
    width: max-content
    max-width: 100%
    align-self: center
.services__header
    flex-direction: column
    align-items: flex-start
    .title__block
        margin-bottom: 43px
        .arr
            width: 20px
            margin-left: 14px
    .section__title
        font-size: 18px
        font-family: $GeometriaRegular
.services__form, .input__block
    width: 100%

.main__banner
    &-item
        padding: 30px
        background: $ShineGray
        border: 2px solid $Yellow
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2)
        border-radius: 30px
    .text__descript-item
        margin-bottom: 0px
.text__descript-item
    font-family: $GeometriaRegular
    margin-bottom: 30px
    span
        color: $Yellow
        font-family: $GeometriaBold
.adv__block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .adv__item
        position: relative
        max-width: 397px
        width: 100%
        .item__number
            color: $Yellow
            font-family: $Montserrat
            font-size: 40px
            position: absolute
            top: -12px
            left: 20px
            font-weight: 600
        .item__text
            margin: 27px 0px
            background: $ShineGray
            border: 1px solid $Yellow
            border-radius: 20px
            padding: 30px
            max-width: 397px
            width: 100%
            font-family: $Montserrat
            font-weight: 400
            font-size: 16px
            line-height: 25px
.prich
    .title__block
        margin-bottom: 65px
    .tovar__title
        max-width: 559px
        margin-left: 40px
    .container
        +flexa 
        justify-content: space-between
    .prich__text
        max-width: 618px
    .prich__img
        max-width: 507px
.prich__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .list__item
        display: flex
        max-width: 48%
        margin-top: 60px
        .item__img
            min-width: 27px
            max-width: 27px
            height: 27px
            margin-right: 25px
        .item__text
            font-family: $GeometriaRegular
            line-height: 25px
.pol
    .container
        +flexa 
        justify-content: space-between
    .pol__img, .main__banner-item
        max-width: 618px
        width: 100%
    .pol__img
        img
            border-radius: 20px
.os
    .container  
        +flexa 
        justify-content: space-between
    .title__block
        margin-bottom: 60px
    .times__block
        margin-top: 80px
    .os__text
        max-width: 728px
        width: 100%
    .os__img
        max-width: 507px
        width: 100%
    .times__row
        max-width: 300px
        &::before
            height: 131px
    .times__item 
        .item__title
            font-family: $GeometriaRegular
    #first
        align-items: flex-start
.inheit
    .container
        border-top: 3px solid $Yellow
    .text__descript-item
        margin-top: 100px
        margin-bottom: 80px
        max-width: 570px
.grunde
    .container
        +flexa 
        justify-content: space-between
    &__text, &__img
        max-width: 618px
        width: 100%
    &__img
        border: 1px solid $Yellow
        border-radius: 20px
        img
            border-radius: 20px
    .main__banner-item
        margin-bottom: 0px
        &:first-child
            margin-bottom: 45px
@media screen and (max-width: $MainContainer)
    .prich 
        .container
            flex-direction: column
            align-items: flex-start
        .prich__img
            margin-top: 30px
    .prich__list 
        flex-direction: column
        align-items: flex-start
        .list__item
            max-width: 100%
    .pol 
        .container
            flex-direction: column
            align-items: flex-start
        .main__banner-item
            max-width: 100%
            margin-top: 30px
    .os 
        .container
            flex-direction: column
            align-items: flex-start
        &__img
            align-self: center
    .grunde 
        .container
            flex-direction: column
            align-items: flex-start
        &__img
            margin-top: 30px
        &__text
            max-width: 100%
@media screen and (max-width: 900px)
    .mainScreen
        margin-bottom: 0px 
        .container
            flex-direction: column
            align-items: flex-start
            .main__descript
                margin: 40px 0px
    .mainScreen__img
        max-width: 100%
        margin-top: 30px
    .main
        background: none
    .main__banner-item, .error .main__banner-item
        padding: 20px
        font-size: 16px
    .section__describe, .zamen__item .zamen__text .text__descript-item
        font-size: 16px
    .error .main__banner-img, .zamen__item .zamen__img
        max-width: 100%
    .adv__block .adv__item
        max-width: 100%
        margin: 20px 0px
@media screen and (max-width: 600px)
    .pre__links
        margin-bottom: 50px
    .prich__list .list__item .item__text
        font-size: 16px
    .prich
        .tovar__title
            max-width: none
            margin-left: 0px
    .prich .tovar__title
        margin-left: 0px
            
    .adv__block 
        .adv__item
            height: auto
    
    .mainScreen 
        .container 
            .main__title
                font-size: 5vw
            .main__descript
                font-size: 3vw
            .main__button
                width: 100%
    .services__block
        margin-top: 0px
    .vertical-line
        display: none
    .text__descript-item
        font-size: 16px
@import "blocks/Actions"
@import "blocks/Questions"
@import "blocks/Cart"
@import "blocks/Footer"