@import 'vars'
@import 'colors'
@import 'base'
@import 'fonts'

@import "blocks/Header"
@import "blocks/PreLinks"
@import "blocks/Times"
.pre__links
    margin-top: 0px
    padding-top: 30px
.main
    background: linear-gradient(208.52deg, $Yellow 6.74%, rgba(46, 66, 77, 0) 30%)
.mainScreen
    .container
        +flexa
        justify-content: space-between
        .main__title
            font-size: 30px
            font-family: $HeuristicaBold
            letter-spacing: 0.03em
        .main__descript
            position: relative
            font-family: $GeometriaRegular
            margin: 85px 0px
            max-width: 550px
            &::before
                content: ""
                position: absolute
                height: 100px
                width: 3px
                left: -25px
                top: -50%
                background: $Yellow
        .main__button
            background: $Yellow
            box-shadow: 0px 0px 30px rgba(255, 187, 0, 0.5)
            border-radius: 100px
            padding: 15px 55px
    &__img
        max-width: 617px
        width: 100%
        img
            border-radius: 20px
.main__banner
    &-item
        padding: 40px
        background: $ShineGray
        border: 2px solid $Yellow
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2)
        border-radius: 30px
    .text__descript-item
        margin-bottom: 0px
.text__descript-item
    font-family: $GeometriaRegular
    margin-bottom: 30px
    span
        color: $Yellow
        font-family: $GeometriaBold
    &:last-child
        margin-bottom: 0px
.section__describe
    font-family: $GeometriaBold
    color: rgba(255, 255, 255, 0.6)
    margin-top: 41px
.error__item
    margin-top: 80px
    +flexa
    justify-content: space-between
    
    .text__descript-item
        margin: 5px 0px
    #akpp-2
        max-width: 397px
.pol-diag
    .times__block
        max-width: 100%
    .times__item 
        align-items: flex-start
        .item__title
            font-family: $GeometriaRegular

    .title__block
        margin-bottom: 40px
    .tovar__title
        max-width: 696px
        margin-left: 40px
    .text__descript-item
        max-width: 689px
        width: 100%
    &__main
        +flexa 
        justify-content: space-between
    &__img
        max-width: 507px
.service__des
    .main__banner-item
        padding: 30px
    .service__des-block
        +flexa 
        justify-content: space-between
        margin-bottom: 100px
    &-img
        max-width: 618px
        width: 100%
        border: 1px solid $Yellow
        border-radius: 20px
        img
            border-radius: 20px
    &-text
        max-width: 617px
    .adv__block
        margin-top: 80px
        align-items: flex-start
        .adv__item
            height: auto
            padding: 0
            max-width: 286px
            margin: 0
            border: 0 none
            background: none
            position: relative
            .item__text
                height: auto
                padding: 12px 20px
                max-width: 286px
                margin: 35px 0px
                background: $ShineGray
                border: 1px solid $Yellow
                border-radius: 20px
                width: 100%
                display: flex
            .item__number
                position: absolute
                top: -7px
                left: 20px
.inheit
    .title__block
        margin-bottom: 60px
    .inherit__describe
        margin-bottom: 30px
        max-width: 950px
        line-height: 25px
        font-family: $GeometriaRegular
    .adv__block
        .adv__item
            max-width: 397px
            width: 100%
            flex-direction: column
            height: auto
            .inh__img
                max-width: 170px
                align-self: flex-end
.adv__block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .adv__item
        margin: 27px 0px
        background: $ShineGray
        border: 1px solid $Yellow
        border-radius: 20px
        padding: 30px
        height: 150px
        max-width: 397px
        width: 100%
        display: flex
        .item__number
            color: $Yellow
            font-family: $Montserrat
            font-size: 40px
            margin-bottom: 15px
            font-weight: 600
            margin-right: 20px
        .item__text
            font-family: $Montserrat
            font-weight: 400
            font-size: 16px
            line-height: 25px
.error
    .tovar__title
        max-width: 781px
        margin-left: 41px
    .main__banner-item
        max-width: 618px
        padding: 30px
    .main__banner-img
        max-width: 617px
    .adv__block
        justify-content: space-evenly
        .adv__item
            height: auto
            padding: 0
            max-width: 397px
            margin: 0
            border: 0 none
            background: none
            position: relative
            .item__text
                height: auto
                padding: 12px 20px
                max-width: 100%
                margin: 25px 0px
                background: $ShineGray
                border: 1px solid $Yellow
                border-radius: 10px
                width: 100%
                display: flex
            .item__number
                position: absolute
                top: -13px
                left: 20px
    .eror__under
        max-width: 949px
        margin-top: 50px
        width: 100%
@media screen and (max-width: $MainContainer)
    .pol-diag__main, .service__des .service__des-block
        flex-direction: column
        align-items: flex-start
    .pol-diag 
        .times__block
            flex-direction: column
            align-items: flex-start
            .times__row
                margin-bottom: 30px
                &:last-child
                    margin-bottom: 0px
    .error 
        .error__item
            flex-direction: column
            align-items: center
        .main__banner-item
            max-width: 100%
        .main__banner-img
            margin-top: 40px
            max-width: 60%
    .zamen__item
        flex-direction: column
        align-items: center
        margin-top: 40px
        &:nth-child(3)
            flex-direction: column-reverse
        .zamen__text
            max-width: 100%
        .zamen__img
            margin: 20px 0px
            max-width: 60%
@media screen and (max-width: 900px)
    .times__item .item__title
        max-width: 454px
    .service__des .adv__block
        justify-content: space-between
    .mainScreen
        margin-bottom: 0px 
        .container
            flex-direction: column
            align-items: flex-start
            .main__descript
                margin: 40px 0px
    .mainScreen__img
        max-width: 100%
        margin-top: 30px
    .main
        background: linear-gradient(311deg, #FFBB00 6.74%, rgba(46, 66, 77, 0) 30%)
        padding-bottom: 10px
    .main__banner-item, .error .main__banner-item
        padding: 20px
        font-size: 16px
        margin-top: 30px
    .section__describe, .zamen__item .zamen__text .text__descript-item
        font-size: 16px
    .error .main__banner-img, .zamen__item .zamen__img
        max-width: 100%
    .adv__block 
        justify-content: center
        .adv__item
            max-width: 100%
            margin: 20px 0px
    .prich__block
        flex-direction: column
        align-items: flex-start
@media screen and (max-width: 600px)
    .service__des .service__des-block
        margin-bottom: 0px
    .service__des .main__banner-item
        padding: 20px
    .text__descript-item
        font-size: 16px
    .service__des 
        .adv__block 
            .adv__item
                max-width: 100%
                .item__text
                    max-width: 100%
    .error .tovar__title, .pol-diag .tovar__title
        max-width: none
        margin-left: 0px
    .times__block
        flex-direction: column
        align-items: flex-start
        padding-left: 10px
    .times__item
        width: 100%
    .prich .tovar__title
        margin-left: 0px
            
    .adv__block 
        .adv__item
            height: auto
    
    .mainScreen 
        .container 
            .main__title
                font-size: 5vw
            .main__descript
                font-size: 3vw
            .main__button
                width: 100%
    .services__item
        margin-top: 23px
    .services__block
        margin-top: 0px
    .inheit .tovar__title
        font-size: 5vw
        margin-left: 0px
    .vertical-line
        display: none
@media screen and (max-width: 400px)
    .times__item
        margin-bottom: 77px
@import "blocks/Actions"
@import "blocks/Questions"
@import "blocks/Cart"
@import "blocks/Footer"