@import 'vars'
@import 'colors'
@import 'base'
@import 'fonts'

@import "blocks/Header"
@import "blocks/PreLinks"
.tovar
    +bg(888px 936px, right -554px, top)
    background-image: url("../img/bg__tovar.svg")
    position: relative
    margin-bottom: 0px
    padding-bottom: 170px
.tovar__title
    text-transform: uppercase
    letter-spacing: 0.02em
.ver__line
    margin: 20px 0
    width: 3px
    height: 100px 
    background: $Yellow
.tovar__info-block
    display: flex
    justify-content: space-between
    align-items: flex-start
.tovar__text
    line-height: 30px
    &-menu
        .tovar__text-item
            margin-bottom: 20px
.tovar__text-item
    margin-bottom: 30px
    font-family: $Montserrat
    font-weight: 400
    max-width: 838px
    list-style: none
    line-height: 30px
    &:last-child
        margin-bottom: 0px
    span
        color: $Yellow
        margin-right: 5px
    &-last
        margin-top: 30px
        max-width: 950px
.tovar__img
    width: 397px
    background: $ShineGray
    border: 1px solid $Yellow
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1)
    border-radius: 30px
    padding: 30px
    margin-top: -100px
    &-item
        +flexa 
        justify-content: center
        margin-bottom: 58px
    &-info
        +flexa 
        justify-content: space-between
    &-button
        width: 200px
        padding: 15px 15px
        background: $Yellow
        box-shadow: 0px 0px 30px rgba(255, 187, 0, 0.5)
        border-radius: 100px
        color: $Black
        font-weight: 600
    img
        width: auto
        height: auto
        max-height: 286px
        max-width: 100%

.price
    font-family: $GeometriaBold
    font-size: 20px
@media screen and ( max-width:  $MainContainer)
    .tovar
        background: none
    .tovar__info-block
        flex-direction: column-reverse
    .tovar__img
        margin-top: 0px
        margin-bottom: 50px
@media screen and ( max-width:  600px)
    .tovar__text-item
        font-size: 16px
    .tovar__img
        width: 100%
        padding: 15px
    
@import "blocks/Questions"
@import "blocks/Actions"
@import "blocks/Footer"
@import "blocks/modal"