$lgt: GillLight
$med: GillMedium
$bld: GillBold

$reg2: GillSansCReg
$lgt2: GillSansLightCLight
$bld2: GillSansCondCBold
*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    background: #56C5C6
    color: #fff
    font-family: $lgt
    max-height: 100vh
    height: 100vh
    width: 100%
    overflow-y: hidden
    position: relative
button
    outline: 0 none
    border: 0 none
    cursor: pointer
header
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding-top: 120px
.main__descript
    font-size: 33px
.main__title
    font-size: 53px
    margin-top: 14px
    margin-bottom: 40px
    font-family: $bld
.button__block
    display: flex
    align-items: center
    font-size: 18px
    font-family: $med
    button
        padding: 14px 56px
        border-radius: 5px
        width: 208px
.reg
    background: #FDC34D
    color: #000
    margin-right: 56px
.log
    border: 2px solid #fff
    color: #fff
    background: transparent
main
    background-image: url("img/main__bg.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    width: 84%
    margin: 0 auto
    height: 612px
    margin-top: 10px
.modal__bg
    display: flex
    align-items: center
    justify-content: center
    background: rgba(0, 0, 0, 0.4)
    position: absolute
    top: 0
    left: 0
    z-index: 2000
    width: 100%
    height: 100%
    opacity: 0
    visibility: hidden
    transition: .5s
.modal__window
    color: #000
    position: relative
    padding: 46px 34px
    min-width: 430px
    background: #fff
    border-radius: 5px
    font-family: $reg2
    max-height: 95%
    overflow-y: scroll
.modal__header
    display: flex
    align-items: center
    justify-content: space-between
.modal__title
    color: #424242
    font-size: 28px
    font-family: $lgt
    margin-bottom: 15px
.smen
    background: none
    font-size: 16px
    color: #5AA6FF
    text-decoration: underline
    width: auto
    height: auto
.modal__line
    height: 1px
    width: 100%
    background: #C4C4C4
.google
    width: 100%
    background: #EDF1F4
    box-shadow: 2px 2px 3px rgba(106, 151, 192, 0.21)
    height: 63px
    padding: 16px 62px
    color: #424242
    font-size: 18px
    display: flex
    align-items: center
    margin-top: 24px
.goog
    width: 29px
    height: 30px
    margin-right: 14px
.modal__text
    text-align: center
    margin: 24px 0px
    font-size: 18px
    font-family: $lgt2
    font-size: 18px
.input__item
    display: flex
    align-items: center
    margin-bottom: 20px
    input
        max-width: 269px
        width: 100%
        height: 40px
        border: 1px solid #B9B9B9
        outline: 0 none
        padding-left: 14px
        font-size: 16px
.input__title
    font-family: $bld2
    margin-right: 20px
    font-size: 16px
    width: 85px
    text-align: right
.sms
    max-width: 91px !important
.allert
    color: #E31C1C
    font-size: 14px
    font-family: $lgt2
.form__button
    margin-top: 15px
    width: 208px
    height: 50px
    color: #fff
    padding: 14px 49px
    font-size: 18px
    font-family: $bld2
    background: #55C2F6
    border-radius: 5px
.close
    position: absolute
    top: 18px
    right: 17px
    cursor: pointer
    width: 15px
    height: 15px
#clode__btn
    display: none
.zab
    color: #39A0FF
    font-size: 14px
    text-decoration: underline
    background: transparent
    float: right
    cursor: pointer
.f_bt
    display: flex
    justify-content: center
    align-items: center
    width: 100%
#log
    border-top: 3px solid #00A65A
#rek
    border-top: 3px solid #DD4B39
.rek__title
    text-align: center
    color: #424242
    font-size: 20px
    font-family: $reg2
    margin-bottom: 27px
.rek__descript
    margin: 0 auto
    max-width: 304px
    font-size: 18px
    font-family: $lgt2
    text-align: center
.carptcha
    width: 100%
    height: 60px
    background: #8f8f8f
    margin: 10px auto

.modalActive
    visibility: visible
    opacity: 1
    display: flex 
.hidden
    opacity: 0
    visibility: hidden