@font-face {
  font-family: "Gilroy-Black";
  src: url("../fonts/gilroy-black.eot");
  src: url("../fonts/gilroy-black.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-black.woff2") format("woff2"), url("../fonts/gilroy-black.woff") format("woff"), url("../fonts/gilroy-black.ttf") format("truetype"), url("../fonts/gilroy-black.svg#gilroy-black") format("svg");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.eot");
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: url("../fonts/gilroy-heavy.eot");
  src: url("../fonts/gilroy-heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-heavy.woff2") format("woff2"), url("../fonts/gilroy-heavy.woff") format("woff"), url("../fonts/gilroy-heavy.ttf") format("truetype"), url("../fonts/gilroy-heavy.svg#gilroy-heavy") format("svg");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.eot");
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular.eot");
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/gilroy-semibold.eot");
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg");
}
@font-face {
  font-family: "Ferry-Black";
  src: url("../fonts/ferry-black.eot");
  src: url("../fonts/ferry-black.eot?#iefix") format("embedded-opentype"), url("../fonts/ferry-black.woff2") format("woff2"), url("../fonts/ferry-black.woff") format("woff"), url("../fonts/ferry-black.ttf") format("truetype"), url("../fonts/ferry-black.svg#ferry-black") format("svg");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gilroy-Medium";
  color: #454444;
}

body {
  position: relative;
}

h1, h2, h3, h4 {
  font-family: "Ferry-Black";
  text-transform: uppercase;
}

img {
  width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  display: block;
}

button {
  cursor: pointer;
  border: 0 none;
  outline: 0 none;
  font-family: inherit;
  color: inherit;
}

li {
  list-style: none;
}

span {
  font-size: inherit;
  font-family: inherit;
}

.container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
}

.section__title {
  max-width: 730px;
  font-size: 30px;
}
.section__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__title-line {
  width: 7px;
  background: #3CCC2C;
  height: 45px;
  margin-right: 14px;
}
.section__descript {
  max-width: 616px;
  margin-top: 19px;
  display: block;
  line-height: 27px;
}

@media screen and (max-width: 1296px) {
  .container {
    max-width: 96%;
  }
}
@media screen and (max-width: 400px) {
  .section__title {
    font-size: 5vw;
  }
  .section__descript {
    font-size: 13px;
    line-height: 20px;
  }
}
header {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 7px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
          box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
  border-radius: 50px;
  max-width: 1063px;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.header__logo {
  width: 84px;
  margin-right: 50px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu li {
  font-size: 17px;
  margin-right: 46px;
}
.header__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 67px;
}
.header__price-old {
  font-size: 16px;
  text-decoration-line: line-through;
  margin-bottom: 2px;
}
.header__price-new {
  font-size: 17px;
  color: #3CCC2C;
  font-family: "Gilroy-Bold";
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__phone-icon {
  width: 18px;
  margin-right: 18px;
}
.header__phone-item {
  font-size: 17px;
  font-family: "Gilroy-SemiBold";
}

.mobile__header {
  display: none;
}

.mobile__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 250px;
  padding: 10px 15px;
  left: -110%;
  top: 0px;
  background: #FFFFFF;
  z-index: 4;
  position: absolute;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.mobile__menu-active {
  left: 0px;
}
.mobile__menu li {
  margin-bottom: 10px;
  font-size: 19px;
}

@media screen and (max-width: 1000px) {
  header {
    display: none;
  }
  .mobile__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 33px;
  }
  .mobile__header .header__logo {
    width: 106px;
  }
  .mobile__header .header__burger {
    width: 47px;
    height: 47px;
    background: #454444;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile__header .header__burger img {
    width: 21px;
  }
}
header {
  max-width: 944px;
}

.bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg .banner {
  margin-top: 325px;
}
.bg .banner-block {
  border-radius: 20px 20px 0px 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main {
  padding-top: 336px;
}
.main__title {
  color: #FFFFFF;
  max-width: 774px;
  font-size: 60px;
  margin-bottom: 25px;
}
.main__descript {
  color: #3CCC2C;
  font-size: 20px;
}

.banner {
  margin-top: 88px;
}
.banner-mrg {
  margin-top: 0px;
}
.banner-block {
  background: #FFFFFF;
  color: #454444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 70px;
  border-radius: 0px 0px 20px 20px;
  -webkit-box-shadow: 0px 6px 13px 0px rgba(112, 112, 112, 0.2), 0px 24px 24px 0px rgba(112, 112, 112, 0.17), 0px 54px 32px 0px rgba(112, 112, 112, 0.1), 0px 96px 38px 0px rgba(112, 112, 112, 0.03), 0px 150px 42px 0px rgba(112, 112, 112, 0);
          box-shadow: 0px 6px 13px 0px rgba(112, 112, 112, 0.2), 0px 24px 24px 0px rgba(112, 112, 112, 0.17), 0px 54px 32px 0px rgba(112, 112, 112, 0.1), 0px 96px 38px 0px rgba(112, 112, 112, 0.03), 0px 150px 42px 0px rgba(112, 112, 112, 0);
}
.banner__title {
  margin-bottom: 19px;
  font-size: 22px;
}
.banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.banner__descript {
  font-size: 17px;
  margin-bottom: 4px;
}
.banner__sub-title {
  font-size: 20px;
}
.banner__sub-title span {
  color: #3CCC2C;
}
.banner__arrow {
  min-width: 210px;
  width: 210px;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  margin-top: -20px;
}
.banner__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3CCC2C;
  -webkit-box-shadow: 0px 0.902px 2.705px 0px rgba(194, 194, 194, 0.1), 0px 5.409px 5.409px 0px rgba(194, 194, 194, 0.09), 0px 11.72px 7.212px 0px rgba(194, 194, 194, 0.05), 0px 20.735px 8.114px 0px rgba(194, 194, 194, 0.01), 0px 31.553px 9.015px 0px rgba(194, 194, 194, 0);
          box-shadow: 0px 0.902px 2.705px 0px rgba(194, 194, 194, 0.1), 0px 5.409px 5.409px 0px rgba(194, 194, 194, 0.09), 0px 11.72px 7.212px 0px rgba(194, 194, 194, 0.05), 0px 20.735px 8.114px 0px rgba(194, 194, 194, 0.01), 0px 31.553px 9.015px 0px rgba(194, 194, 194, 0);
  padding: 20px 26px;
  border-radius: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.banner__button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.banner__button-icon {
  width: 54px;
  margin-right: 13px;
}
.banner__button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.banner__button .text__item-title {
  font-size: 16px;
  margin-bottom: 5px;
  color: #FFFFFF;
}
.banner__button .text__item-descript {
  font-size: 13px;
  opacity: 0.7;
  color: #FFFFFF;
}

.count {
  margin-top: 206px;
}
.count-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 83px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.count-item {
  max-width: 416px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 291px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.count-item:hover .count-bg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.count-title {
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 7px;
  z-index: 1;
}
.count-descript {
  color: #FFFFFF;
  font-size: 17px;
  z-index: 1;
  margin-bottom: 25px;
}
.count-bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.what {
  margin-top: 145px;
}
.what-gif {
  width: 64px;
}
.what__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.what__slider {
  margin-top: 55px;
}
.what__slider-item {
  margin: 0px 22px;
  height: 357px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 15px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 56px 67px;
}
.what .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.what .slick-track .slick-active {
  height: 486px !important;
  -webkit-filter: blur(0);
          filter: blur(0);
}
.what .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.what .slick-dots li {
  height: 6px;
  background: #E6E6E6;
  cursor: pointer;
}
.what .slick-dots li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.what .slick-dots li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.what .slick-dots button {
  font-size: 0;
  width: 60px;
}
.what .slick-dots .slick-active {
  background: #3CCC2C;
}
.what .item-title {
  color: #FFFFFF;
  font-size: 30px;
  margin-bottom: 15px;
}
.what .item-descript {
  color: #FFFFFF;
  font-size: 17px;
  max-width: 473px;
}

.marsh {
  margin-top: 211px;
}
.marsh__slider {
  margin-top: 69px;
}
.marsh__slider-item {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
          box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
  margin: 0px 12px;
  border-radius: 10px;
}
.marsh .item__img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.marsh .item__info {
  padding: 14px 33px;
  padding-bottom: 64px;
}
.marsh .item__day {
  color: #3CCC2C;
  font-size: 19px;
}
.marsh .item__title {
  margin-top: 4px;
  font-size: 19px;
  margin-bottom: 13px;
}
.marsh .item__descript {
  font-size: 15px;
  color: rgba(69, 68, 68, 0.8);
  line-height: 25px;
}
.marsh .slick-track {
  padding: 20px 0px;
}
.marsh .slick-arrow {
  position: absolute;
  top: 43%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #3CCC2C;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.marsh .slick-arrow img {
  width: 7px;
}
.marsh .slick-prev {
  left: -55px;
}
.marsh .slick-next {
  right: -55px;
}
.marsh .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 63px;
}
.marsh .slick-dots li {
  height: 6px;
  background: #E6E6E6;
  cursor: pointer;
}
.marsh .slick-dots li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.marsh .slick-dots li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.marsh .slick-dots button {
  font-size: 0;
  width: 60px;
}
.marsh .slick-dots .slick-active {
  background: #3CCC2C;
}

.picture {
  margin-top: 80px;
  max-height: 1080px;
  overflow: hidden;
  height: 1080px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.map {
  margin-top: 81px;
}
.map-block {
  margin-top: 37px;
  border-radius: 20px;
  border: 2px solid #3CCC2C;
  padding: 26px 21px;
}
.map-block img {
  border-radius: 20px;
}

.date {
  margin-top: 126px;
}
.date-block {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.date__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 178px;
}
.date__tabs-item {
  position: relative;
}
.date__tabs-modal {
  max-width: 957px;
  width: 957px;
  background: #FFFFFF;
  -ms-grid-columns: 1fr 8px 1fr 8px 1fr 8px 1fr 8px 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 21px 8px;
  position: absolute;
  z-index: 2;
  padding: 46px 28px;
  border-radius: 28px;
  white-space: nowrap;
  -webkit-box-shadow: 0px 1.404px 4.211px 0px rgba(194, 194, 194, 0.1), 0px 8.422px 8.422px 0px rgba(194, 194, 194, 0.09), 0px 18.247px 11.229px 0px rgba(194, 194, 194, 0.05), 0px 32.283px 12.632px 0px rgba(194, 194, 194, 0.01), 0px 49.126px 14.036px 0px rgba(194, 194, 194, 0);
          box-shadow: 0px 1.404px 4.211px 0px rgba(194, 194, 194, 0.1), 0px 8.422px 8.422px 0px rgba(194, 194, 194, 0.09), 0px 18.247px 11.229px 0px rgba(194, 194, 194, 0.05), 0px 32.283px 12.632px 0px rgba(194, 194, 194, 0.01), 0px 49.126px 14.036px 0px rgba(194, 194, 194, 0);
  display: none;
}
.date__tabs-modal .date__tabs-item {
  margin-top: 0px !important;
}
.date__tabs-modal-active {
  display: -ms-grid;
  display: grid;
}
.date__tabs-item {
  margin-top: 18px;
  max-width: 196px;
  width: 100%;
}
.date__tabs-item-active {
  background: #3CCC2C !important;
  color: #FFFFFF;
}
.date__info-item {
  display: none;
}
.date__info-item-active {
  display: block;
}
.date__info-title {
  font-size: 20px;
  position: relative;
  margin-bottom: 19px;
}
.date__info-title::before {
  content: "";
  position: absolute;
  background: #3CCC2C;
  top: 50%;
  width: 28px;
  height: 7px;
  left: -40px;
}
.date__info-descript {
  font-size: 19px;
  margin-bottom: 12px;
}
.date__info-descript:last-child {
  margin-bottom: 0px;
}
.date .item__modal-open, .date .date__tabs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 44px;
  font-size: 15px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
          box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
  border-radius: 10px;
  background: #FFFFFF;
  font-size: 19px;
}
.date .item__modal-open {
  background: #FFFFFF;
  color: #454444;
}
.date .item__modal-open img {
  margin-left: 15px;
  width: 14px;
}
.date .item__modal-open-active {
  background: #3CCC2C;
  color: #FFFFFF;
}

.cost {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 90px;
  padding-bottom: 175px;
  margin-top: 186px;
}
.cost__title {
  font-size: 40px;
  margin-bottom: 21px;
  color: #FFFFFF;
}
.cost__price-old {
  font-size: 20px;
  font-family: "Gilroy-SemiBold";
  text-decoration: line-through;
  margin-bottom: 2px;
  color: #FFFFFF;
}
.cost__price-new {
  font-family: "Gilroy-Bold";
  color: #3CCC2C;
  font-size: 28px;
  margin-bottom: 33px;
}
.cost__button {
  padding: 19px 59px;
  color: #FFFFFF;
  background: #3CCC2C;
  font-size: 18px;
  border-radius: 10px;
  font-family: "Gilroy-SemiBold";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cost__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.incl {
  margin-top: 167px;
}
.incl__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 24px;
  margin-top: 80px;
}
.incl__block-f {
  margin-bottom: 87px;
}
.incl__item {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
          box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
  border-radius: 20px;
  padding: 25px;
}
.incl__item-img {
  max-height: 149px;
  overflow: hidden;
  margin-bottom: 16px;
}
.incl__item-title {
  font-size: 20px;
  margin-bottom: 13px;
}
.incl__item-descript {
  color: rgba(69, 68, 68, 0.7);
  font-size: 16px;
  line-height: 22px;
}

.comand {
  margin-top: 150px;
}
.comand__block {
  margin-top: 89px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 24px;
}
.comand__item:hover .comand__button {
  opacity: 1;
}
.comand__item:hover .comand__info {
  height: 300px;
  padding-left: 29px;
  padding-right: 19px;
  padding-top: 21px;
  padding-bottom: 49px;
}
.comand__item:hover .comand__item-bg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.comand__header {
  height: 458px;
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 47px;
  overflow: hidden;
}
.comand__item-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  border-radius: 20px;
  height: 100%;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.comand__button {
  position: absolute;
  top: 25px;
  right: 34px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.comand__button img {
  width: 17px;
  height: 23px;
}
.comand__title {
  color: #FFFFFF;
  font-size: 23px;
}
.comand__info {
  border-radius: 0px 0px 20px 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
          box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
  height: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  padding: 0px;
}
.comand__info-title {
  font-size: 18px;
  margin-bottom: 21px;
}
.comand__info-descript {
  color: rgba(69, 68, 68, 0.8);
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 22px;
}
.comand__info-descript:last-child {
  margin-bottom: 0px;
}
.comand__info-descript span {
  color: #3CCC2C;
}

.otz {
  margin-top: 150px;
}
.otz__block {
  margin-top: 73px;
}
.otz__slider-item {
  margin: 0px 12px;
  border-radius: 20px;
}
.otz__slider-item img {
  border-radius: 20px;
}
.otz__slider:first-child {
  margin-bottom: 12px;
}
.otz__video {
  margin-top: 107px;
}
.otz__video .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.otz__video-item {
  margin: 0px 24px;
  height: 357px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
  background: #454444;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
          box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
}
.otz__video-item iframe {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.otz__video .slick-active {
  height: 486px !important;
}
.otz__video .slick-arrow {
  position: absolute;
  bottom: -94px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #3CCC2C;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.otz__video .slick-arrow img {
  width: 7px;
}
.otz__video .slick-prev {
  left: 46%;
}
.otz__video .slick-next {
  right: 46%;
}

.prem {
  margin-top: 217px;
}
.prem__header {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.prem-gif {
  width: 64px;
}
.prem__item {
  margin: 0px 12px;
  border-radius: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
          box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
  padding: 35px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.prem__item-gif {
  max-width: 216px;
  width: 100%;
  margin-bottom: 5px;
  margin: 0 auto;
  padding-left: 60px;
}
.prem__item-title {
  font-size: 21px;
  font-family: "Gilroy-Black";
  text-transform: none;
  margin-bottom: 13px;
}
.prem__item-descript {
  font-size: 16px;
  line-height: 23px;
  color: rgba(69, 68, 68, 0.7);
}
.prem .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.prem .slick-dots li {
  height: 6px;
  background: #E6E6E6;
  cursor: pointer;
}
.prem .slick-dots li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.prem .slick-dots li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.prem .slick-dots button {
  font-size: 0;
  width: 60px;
}
.prem .slick-dots .slick-active {
  background: #3CCC2C;
}
.prem .slick-track {
  padding-bottom: 20px;
}
.prem .slick-arrow {
  position: absolute;
  bottom: -94px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #3CCC2C;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.prem .slick-arrow img {
  width: 7px;
}
.prem .slick-prev {
  left: 44%;
}
.prem .slick-next {
  right: 44%;
}

.form {
  margin-top: 77px;
}
.form__block {
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 66px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
          box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.1), 0px 6px 6px 0px rgba(194, 194, 194, 0.09), 0px 13px 8px 0px rgba(194, 194, 194, 0.05), 0px 23px 9px 0px rgba(194, 194, 194, 0.01), 0px 35px 10px 0px rgba(194, 194, 194, 0);
}
.form__img {
  max-width: 760px;
  width: 100%;
}
.form__info {
  max-width: 440px;
  width: 100%;
  margin-left: 86px;
  margin-bottom: 60px;
}
.form__info input, .form__info textarea {
  padding: 25px 40px;
  resize: vertical;
  font-size: 16px;
  color: #454444;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background: #FEFEFE;
  margin-bottom: 22px;
  width: 100%;
}
.form__info input::-webkit-input-placeholder, .form__info textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__info input::-moz-placeholder, .form__info textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__info input:-ms-input-placeholder, .form__info textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__info input::-ms-input-placeholder, .form__info textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__info input::placeholder, .form__info textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__info textarea {
  height: 144px;
}
.form__submit {
  background: #3CCC2C;
  color: #FFFFFF;
  width: 100%;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: 20px;
  padding: 24px 0px;
}
.form__polit {
  font-size: 15px;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}
.form__polit a {
  color: #3CCC2C;
}

footer {
  margin-top: 127px;
  padding: 30px 0px;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(219, 219, 219, 0.1), 0px -10px 10px 0px rgba(219, 219, 219, 0.09), 0px -22px 13px 0px rgba(219, 219, 219, 0.05), 0px -38px 15px 0px rgba(219, 219, 219, 0.01), 0px -60px 17px 0px rgba(219, 219, 219, 0);
          box-shadow: 0px -2px 5px 0px rgba(219, 219, 219, 0.1), 0px -10px 10px 0px rgba(219, 219, 219, 0.09), 0px -22px 13px 0px rgba(219, 219, 219, 0.05), 0px -38px 15px 0px rgba(219, 219, 219, 0.01), 0px -60px 17px 0px rgba(219, 219, 219, 0);
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo-img {
  width: 126px;
  margin-bottom: 19px;
}
.footer__logo-text {
  font-size: 14px;
  font-family: "Gilroy-Regular";
}
.footer__menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 295px;
}
.footer__menu-title {
  font-size: 17px;
  margin-bottom: 18px;
}
.footer__menu-item {
  font-size: 15px;
  margin-bottom: 6px;
  color: rgba(69, 68, 68, 0.7);
}
.footer__under {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 330px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .footer__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__menu-block {
    text-align: center;
    margin-bottom: 20px;
  }
}
.modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  width: 100%;
  height: 100vh;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
}
.modal__bg-preactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__bg-active {
  opacity: 1;
}
.modal__window {
  background: #FFFFFF;
  padding: 64px 191px;
  position: relative;
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.modal__window-active {
  opacity: 1;
}
.modal__close {
  top: 33px;
  right: 44px;
  width: 24px;
  position: absolute;
  background: none;
}
.modal__title {
  font-size: 30px;
  margin-bottom: 4px;
  text-align: center;
}
.modal__descript {
  max-width: 346px;
  font-size: 17px;
  margin: 0 auto;
  text-align: center;
  line-height: 27px;
}
.modal__descript span {
  color: #3CCC2C;
}
.modal__form {
  margin-top: 7px;
}
.modal__input {
  margin-bottom: 21px;
  width: 100%;
}
.modal__input-title {
  font-size: 16px;
  margin-bottom: 9px;
}
.modal__input input {
  padding: 26px 40px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background: #FEFEFE;
  font-size: 16px;
  color: #454444;
  width: 100%;
}
.modal__input input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.modal__input input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.modal__input input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.modal__input input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.modal__input input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.modal__button {
  padding: 24px 0px;
  color: #FFFFFF;
  background: #3CCC2C;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Gilroy-SemiBold";
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.modal__polit {
  text-align: center;
  max-width: 349px;
  margin: 0 auto;
  font-size: 15px;
}
.modal__polit span {
  color: #3CCC2C;
}

@media screen and (max-width: 1000px) {
  .modal__window {
    padding: 64px 46px;
  }
}
@media screen and (max-width: 550px) {
  .modal__title {
    font-size: 4.5vw;
  }
  .modal__descript {
    font-size: 3.5vw;
    line-height: normal;
  }
  .modal__form {
    margin-top: 25px;
  }
  .modal__input input {
    padding: 21px 27px;
  }
  .modal__close {
    top: 18px;
    right: 29px;
  }
}
@media screen and (max-width: 1440px) {
  .main__title {
    font-size: 7vw;
    max-width: none;
  }
  .main__descript {
    font-size: 3vw;
  }
  .banner__title {
    text-align: center;
  }
  .banner-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 40px;
  }
  .banner__info {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner__arrow {
    display: none;
  }
  .banner__button {
    margin-top: 20px;
  }
  .count {
    margin-top: 100px;
  }
  .count-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .count-item {
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
  }
  .count-item:last-child {
    margin-bottom: 0px;
  }
  .what__slider-item {
    margin: 0px 5px;
    padding: 22px 17px;
  }
  .marsh {
    margin-top: 150px;
  }
  .marsh .slick-dots {
    margin-top: 10px;
  }
  .marsh .slick-arrow {
    bottom: -100px;
    top: auto;
  }
  .marsh .slick-prev {
    left: 44%;
  }
  .marsh .slick-next {
    right: 44%;
  }
  .picture {
    margin-top: 100px;
  }
  .date-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .date__tabs {
    margin-right: 30px;
  }
  .date__info {
    max-width: 230px;
  }
  .date__info-title {
    font-size: 16px;
  }
  .date__info-descript {
    font-size: 13px;
  }
  .incl {
    margin-top: 100px;
  }
  .comand {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1000px) {
  .marsh .slick-prev, .comand__block .slick-prev, .otz__video .slick-prev, .prem .slick-prev {
    left: 41vw;
  }
  .marsh .slick-next, .comand__block .slick-next, .otz__video .slick-next, .prem .slick-next {
    right: 41vw;
  }
  .form__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__info {
    margin-left: 0px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .date__tabs-modal {
    width: 100%;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    left: 0;
    max-width: 99%;
    overflow: hidden;
  }
  .incl__block {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px 15px;
    margin-top: 40px;
  }
  .comand__info {
    height: auto;
    padding-left: 29px;
    padding-right: 19px;
    padding-top: 21px;
    padding-bottom: 49px;
  }
  .comand__item {
    margin: 0px 20px;
  }
  .comand__block {
    margin-top: 25px;
  }
  .comand__block .slick-arrow {
    position: absolute;
    bottom: -94px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #3CCC2C;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .comand__block .slick-arrow img {
    width: 7px;
  }
  .comand__block .slick-prev {
    left: 46%;
  }
  .comand__block .slick-next {
    right: 46%;
  }
  .comand__block .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .comand__block .slick-dots li {
    height: 6px;
    background: #E6E6E6;
    cursor: pointer;
  }
  .comand__block .slick-dots li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .comand__block .slick-dots li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .comand__block .slick-dots button {
    font-size: 0;
    width: 60px;
  }
  .comand__block .slick-dots .slick-active {
    background: #3CCC2C;
  }
}
@media screen and (max-width: 750px) {
  .marsh .slick-prev, .comand__block .slick-prev, .otz__video .slick-prev, .prem .slick-prev {
    left: 35vw;
  }
  .marsh .slick-next, .comand__block .slick-next, .otz__video .slick-next, .prem .slick-next {
    right: 35vw;
  }
}
@media screen and (max-width: 600px) {
  .picture {
    height: 700px;
  }
  .picture img {
    height: 600px;
  }
  .date .item__modal-open, .date .date__tabs-item {
    padding: 12px 26px;
  }
  .incl__block {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .comand__item {
    margin: 0px 5px;
  }
  .otz__video-item {
    margin: 0px 10px;
  }
  .prem .slick-dots button {
    width: 10px;
  }
  .date__tabs-modal {
    gap: 21px 0px;
    padding: 25px 0px;
  }
  .date .item__modal-open, .date .date__tabs-item {
    padding: 12px 5px;
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .main {
    padding-top: 100px;
  }
  .bg .banner {
    margin-top: 150px;
  }
  .marsh .slick-prev, .comand__block .slick-prev, .otz__video .slick-prev, .prem .slick-prev {
    left: 40px;
  }
  .marsh .slick-next, .comand__block .slick-next, .otz__video .slick-next, .prem .slick-next {
    right: 40px;
  }
  .banner__descript {
    font-size: 13px;
  }
  .banner__sub-title {
    font-size: 18px;
  }
  .banner__button .text__item-title {
    font-size: 12px;
  }
  .banner__button .text__item-descript {
    font-size: 11px;
  }
  .banner__button-icon {
    width: 33px;
  }
  .banner-block {
    padding: 13px 20px;
  }
  .count-item {
    height: 230px;
  }
  .what-gif {
    display: none;
  }
  .what .item-title {
    font-size: 18px;
  }
  .what .item-descript {
    font-size: 11px;
  }
  .what .what__slider-item {
    height: 177px !important;
  }
  .what .slick-track .slick-active {
    height: 270px !important;
  }
  .what .slick-dots button {
    width: 20px;
  }
  .banner__title {
    font-size: 16px;
  }
  .marsh {
    margin-top: 80px;
  }
  .marsh__slider {
    margin-top: 20px;
  }
  .marsh .item__info {
    padding: 14px 19px;
  }
  .marsh .slick-dots button {
    width: 30px;
  }
}