.main {
  padding-top: 200px;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__subtitle {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
.main__subtitle span {
  color: rgb(206, 160, 88);
}
.main__right-title {
  color: #cea058;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}
.main__right-menu {
  text-transform: uppercase;
  font-size: 16px;
}
.main__right-menu li {
  padding-left: 10px;
  margin-bottom: 15px;
  border-left: 2px solid #cea058;
  line-height: 22px;
}
.main__button {
  margin-top: 35px;
}
.main__list li {
  list-style: inside;
  margin-bottom: 5px;
}

.services {
  margin-top: 150px;
}
.services .container {
  position: relative;
}
.services__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 40px;
  margin-top: 60px;
}
.services__subtitle {
  color: #cea058;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.services__item {
  display: none;
}
.services__item-count {
  color: #cea058;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 5px;
}
.services__item-title {
  color: #cea058;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}
.services__item-line {
  margin: 15px 0px;
  width: 60px;
  height: 1px;
  background: #fff;
  opacity: 0.4;
}
.services__item-descript {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.services__item-link {
  width: 100%;
  border-radius: 50px;
  border: 1px solid #cea058;
  padding: 15px 0px;
  font-size: 16px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 30px;
}
.services__item-link:hover {
  background: #cea058;
}
.services__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 30px;
}
.services__button:hover .services__button-icon {
  background: #cea058;
}
.services__button-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: transperent;
  border: 2px solid #cea058;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
}
.services__button-icon img {
  width: 11px;
  height: 24px;
}

.rec {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 100px 0px;
}
.rec__filter {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.3)));
  background: linear-gradient(to bottom, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.3));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px 0px;
}
.rec .section__title {
  text-transform: uppercase;
  font-weight: 600;
}
.rec__block {
  text-transform: uppercase;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.rec__block li {
  padding-left: 10px;
  margin-right: 50px;
  border-left: 2px solid #cea058;
  line-height: 22px;
}
.rec__block li:last-child {
  margin-right: 0px;
}
.rec__title {
  margin-top: 70px;
}
.rec__subtitle {
  max-width: 565px;
  font-size: 26px;
  line-height: 36px;
  margin-top: 20px;
  font-weight: 500;
}
.rec .main__button {
  margin-top: 60px;
}

.et {
  margin-top: 100px;
}
.et .container {
  position: relative;
}
.et__bg {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.08;
}
.et__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  gap: 80px 40px;
}
.et__item {
  position: relative;
  border-radius: 16px;
  border: 1px solid #836d49;
  background: #0b0b0b;
  padding: 30px;
  padding-top: 70px;
}
.et__item-icon {
  background: #0b0b0b;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #cea058;
  position: absolute;
  top: -50px;
  left: 40px;
}
.et__item-icon img {
  width: auto;
  height: 58px;
}
.et__item-title {
  max-width: 359px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.et__item-descript {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  max-width: 488px;
}
.et__subtitle {
  margin-top: 60px;
  font-size: 20px;
  font-weight: 500;
}
.et__subblock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 40px;
  margin-top: 50px;
}
.et__subitem-icon {
  width: 58px;
}
.et__subitem-title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}
.et__subitem-descript {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.prinz {
  margin-top: 150px;
}
.prinz__block {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prinz__info {
  max-width: 560px;
  border-radius: 16px;
  border: 1px solid #836d49;
  padding: 50px 40px;
}
.prinz__info-title {
  font-size: 24px;
  font-weight: 600;
  color: #cea058;
  max-width: 351px;
  margin-bottom: 20px;
}
.prinz__info-descript {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.prinz__img {
  border-radius: 16px;
  border: 1px solid #836d49;
  max-width: 560px;
}
.prinz__img img {
  border-radius: 16px;
}
.prinz__subblock {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 40px;
}
.prinz__item-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.prinz__item-descript {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.prof {
  margin-top: 150px;
}
.prof__block {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prof__img {
  border-radius: 16px;
  background-image: linear-gradient(315deg, rgba(207, 163, 87, 0.27) 0%, rgba(207, 165, 87, 0.6) 97%);
  border: 1px solid rgb(220, 150, 41);
}
.prof__img-ie {
  width: 73px;
  position: absolute;
  top: 30px;
  right: 20px;
}
.prof__img-block {
  max-width: 558px;
  width: 100%;
  border-radius: 16px;
  position: relative;
}
.prof__img-filter {
  border-radius: 16px;
  background-color: rgba(11, 11, 11, 0.65);
  width: 100%;
  height: 100%;
}
.prof__info {
  max-width: 539px;
  padding: 20px 0px;
}
.prof__info-title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}
.prof__info-subtitle {
  font-size: 16px;
  font-weight: 400;
}
.prof__info-descript {
  margin-top: 30px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}

.kluch {
  margin-top: 80px;
}
.kluch__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px 30px;
  margin-top: 60px;
}
.kluch__item img {
  border-radius: 16px;
}
.kluch__item-img {
  border: 1px solid rgb(220, 150, 41);
  border-radius: 16px;
}
.kluch__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  position: relative;
}
.kluch__item-title {
  color: #cea058;
}
.kluch__item-icon {
  width: 27px;
  height: 27px;
  border-radius: 100%;
  border: 1px solid #cea058;
  margin-left: 10px;
}
.kluch__item-descript {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
  margin-top: 10px;
  line-height: 22px;
}
.kluch__item-d {
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  max-width: 280px;
  min-width: 280px;
  color: #000000;
  position: absolute;
  bottom: 34px;
  right: 20px;
  padding: 15px;
  display: none;
}
.kluch__item-d-active {
  display: block;
}

.ur {
  margin-top: 150px;
}
.ur .container {
  position: relative;
}
.ur__bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0px;
  width: 100%;
  opacity: 0.08;
}
.ur__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}
.ur__block-first .ur__info {
  max-width: 539px;
}
.ur__block-first .ur__info-title {
  max-width: 404px;
}
.ur__block-first .ur__info-subtitle {
  max-width: 451px;
}
.ur__block-first .ur__img-block {
  max-width: 500px;
  position: relative;
}
.ur__block-first .ur__img-block .ur__img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 60px;
  width: 100%;
}
.ur__block-first .ur__img-block .ur__img-row:nth-child(1) {
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 35px;
}
.ur__block-second .ur__info {
  max-width: 543px;
}
.ur__block-second .ur__img-block {
  max-width: 550px;
  position: relative;
}
.ur__block-second .ur__img-block .ur__img-item:nth-child(2) {
  position: absolute;
  bottom: -100px;
  right: -140px;
}
.ur__img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.ur__img-item {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(11, 11, 11, 0.4);
          box-shadow: 0px 0px 10px 0px rgba(11, 11, 11, 0.4);
  border-radius: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.ur__img-item img {
  border-radius: 16px;
}
.ur__img-filter {
  opacity: 0.4;
}
.ur__img-active {
  opacity: 1;
}
.ur__info-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 15px;
}
.ur__info-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 20px;
}
.ur__info-descript {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  margin-top: 20px;
}

.office {
  margin-top: 150px;
}
.office .container {
  position: relative;
}
.office__bg {
  position: absolute;
  top: 250px;
  z-index: -1;
  width: 79px;
}
.office__bg-first {
  left: -40px;
}
.office__bg-second {
  right: -40px;
}
.office__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 40px;
  margin-top: 80px;
}
.office__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.office__item-from {
  font-size: 16px;
  color: #cea058;
}
.office__item-arrow {
  min-width: 15px;
  width: 15px;
  margin: 0px 15px;
}
.office__item-to {
  font-size: 16px;
}
.office__item-loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  max-width: 320px;
}
.office__item-icon {
  min-width: 30px;
  width: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 1160px) {
  .prinz__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prinz__img {
    margin-top: 20px;
  }
  .main {
    padding-top: 150px;
  }
  .main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__right {
    margin-top: 40px;
  }
  .services {
    margin-top: 100px;
  }
  .services__block {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .prof__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kluch__container {
    max-width: 100%;
    overflow-x: scroll;
  }
  .kluch__item {
    width: 267px;
  }
  .kluch__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .ur__block-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ur__block-first .ur__img-block {
    margin-top: 40px;
  }
  .ur__block-first .ur__img-block .ur__img-row:nth-child(1) {
    position: static;
    margin-bottom: 20px;
  }
  .ur__block-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .ur__block-second .ur__img-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .ur__block-second .ur__img-block .ur__img-item:nth-child(2) {
    position: static;
    margin-top: 20px;
  }
  .office__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .office__bg {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .prinz {
    margin-top: 50px;
  }
  .prinz__subblock {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .services__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .services__subtitle {
    font-size: 3.2vw;
    line-height: normal;
  }
  .rec__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .rec__subtitle {
    font-size: 3.5vw;
    line-height: normal;
  }
  .et__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .et__subblock {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .prof__img-ie {
    display: none;
  }
  .ur__block-first .ur__img-block .ur__img-row {
    gap: 0px 10px;
  }
  .office {
    margin-top: 50px;
  }
  .office__block {
    margin-top: 20px;
  }
}