@font-face
  font-family: "Myria"
  src: url("../fonts/myria.OTF") format("opentype")
  font-style: normal
  font-weight: normal

@font-face 
  font-family: "SFProText"
  src: url("../fonts/SFProText-Regular.ttf") format("truetype")
  font-style: normal
  font-weight: normal
