@import 'main'
@import 'TheHeader'
.main
    background-image: url("../img/fon.jpg")
    background-size: cover
    background-position: center top
    background-repeat: no-repeat
    background-size: auto 900px
    padding-top: 40px
    &__block
        background: $white
        width: 100%
        padding: 35px 40px
        border-radius: 10px
        margin-top: 10px
    &__title
        font-size: 22px
        margin-bottom: 25px
    &__descript
        font-size: 16px
.item__descript
    margin-top: 20px
    .main__descript
        margin-bottom: 5px
        text-indent: 15px
@import 'table'
@import 'TheFooter'
