@import "main"
@import "TheHeader"

.main
    background-image: url("../img/fon.jpg")
    background-size: cover
    background-position: center top
    background-repeat: no-repeat
    background-size: auto 900px
    padding-top: 40px
    &__block
        background: $white
        width: 100%
        padding: 35px 40px
        border-radius: 10px
        margin-top: 10px
    &__info
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__img
        min-width: 530px
        width: 530px
        height: 530px
        margin-right: 40px
        img
            border-radius: 5px
    &__title
        font-size: 22px
        font-weight: 600
    &__sub-title
        margin-top: 20px
        color: $blue
        font-size: 20px
        font-weight: 400
        margin-bottom: 10px
    &__table
        display: flex
        flex-direction: column
        max-width: 350px
        width: 100%
        .table__row
            display: flex
            padding: 5px 10px
            padding-right: 40px
            justify-content: space-between
            align-items: center
            background: $tableFirst
            &:nth-child(2n)
                background: $tableSecond
    &__price-descript
        max-width: 280px
        font-size: 14px
        opacity: 0.8
        margin-top: 5px
    &__buy
        padding: 10px 30px
        margin-top: 15px
        border-radius: 30px
    &__ras
        margin-top: 10px
        font-size: 16px
        color: $blue
        text-decoration: underline
.detal__descript
    margin-top: 20px
@import "quest"
@import "TheFooter"
@media screen and (max-width: 1000px)
    .main__info
        flex-direction: column
        margin-bottom: 40px
@media screen and (max-width: 650px)
    .main__img
        min-width: auto
        width: 100%
        height: auto
        max-width: 100%
        margin-bottom: 20px
    .main__table
        max-width: 100%
@media screen and (max-width: 400px)
    .main__block
        padding: 15px 10px