@font-face {
    font-family: "ArialRegular";
    src: url("fonts/ArialRegular.eot");
    src: url("fonts/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/ArialRegular.woff") format("woff"),
    url("fonts/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "ArialBold";
    src: url("fonts/ArialBold.eot");
    src: url("fonts/ArialBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/ArialBold.woff") format("woff"),
    url("fonts/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "HelveticaRegular";
    src: url("fonts/HelveticaRegular.eot");
    src: url("fonts/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/HelveticaRegular.woff") format("woff"),
    url("fonts/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
body{
  font-family: "ArialBold";
  color: #fff;
  background: linear-gradient(180deg, #000000 0%, #222222 100%);
}
.overflow{
  overflow-y: hidden;
}
.container{
  width:1185px;
  margin: 0 auto;
}
#black__bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(57, 57, 57, 0.6);
    z-index: 2000;
    display: none;
}
#menu2{
  z-index: 2100;
}
header{
  background-color: #242323;
  padding-top: 21px;
  padding-bottom: 21px;
  position: relative;
  z-index: 2100
}
section{
  display: flex;
  align-items: center;
  height: calc(100vh - 79px);
  background: linear-gradient(180deg, #000000 0%, #222222 100%);
}
.flex_s{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left__header, .right__header{
  display: flex;
  align-items: center;
}
.header__logo{
  font-family: "ArialRegular";
  font-size: 25px;
}
.header__logo span{
  background-color: #FF8A00;
  color: #000;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}
.menu li{
  margin-left: 58px;
}
.menu li:first-child{
  margin-left: 62px;
}
.menu li a{
  color: #fff;
  font-family: "ArialRegular";
  font-size: 15px;
  transition: .3s
}
.menu li a:hover{
  color: #FF8A00
}
#li_btn{
  display: none;
}
#li_btn button{
  border: 1px solid #FF8A00;
  border-radius: 2px;
  color: #FF8A00;
  background-color: #242323;
  font-size: 14px;
  padding: 7px 21px
}
.number{
  font-size: 20px;
  margin-right: 27px;
}
.call{
  color: #fff;
  background-color: #FF8A00;
  border-radius: 3px;
  font-family: "ArialRegular";
  font-size: 15px;
  padding: 10px 22px;
}
#btn{
  display: none;
}
#burger {
    height: 15px;
    width: 31px;
    display: none;
}
.top_main__block{
  display: flex;
  flex-direction: column;
}
.block__title{
  font-size: 35px;
  max-width: 693px;
  line-height: 40px;
  margin-bottom: 34px;
}
.undertitle__block{
  display: flex;
  align-items: center;
}
.undertitle__block p{
  margin-left: 22px;
  font-size: 23px;
}
.icon{
  width: 20px;
  height: 23px;
}
.bottom_main__block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 78px;
}
.left_info__block, .right_info__block{
  display: flex;
  flex-direction: column;
}
.right_info__block{
  align-items: flex-end;
  width: 507px;
  height: 102px;
  position: relative;
}
.info__text{
  font-family: "ArialRegular";
  font-size: 22px;
  max-width: 500px;
  line-height: 24px;
margin-top: -2px;
}
.info__text span, .link__text span, .laptop__text span{
  color: #FF8A00;
}
.link{
  margin-top: 78px;
  display: flex;
  align-items: center;
}
.link a{
  padding: 20px;
  font-size: 17px;
  background-color: #FF8A00;
  border-radius: 5px;
  margin-right: 29px;
  color: #fff;
  font-family: "ArialRegular";
}
.link__text{
  max-width: 302px;
  font-family: "ArialRegular";
  font-size: 15px;
}
.laptop_video, .play_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.laptop_video{
  width: 448px;
  height: 246px;
  position: absolute;
  top: -255px;
  border: 3px solid #FF8A00;
  border-radius: 15px;
}
.play_btn{
  width: 53px;
  height: 53px;
  border-radius: 33px;
  background: rgba(196, 196, 196, 0.2);
}
.play_btn i{
  color: #C4C4C4;
  font-size: 30px;
  margin-left: 4px
}
.laptop__text {
    font-size: 20px;
    line-height: 22px;
    font-family: "ArialRegular";
    max-width: 406px;
    margin-top: 126px;
    position: absolute;
    bottom: -46px;
    left: 60px;
}
.window{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(47, 46, 50, 0.6);
  z-index: 3000;
  justify-content: center;
  align-items: center;
  display: none;
}
.flex{
  display: flex;
}
.none{
  display: none;
}
.link__text2{
  display: none
}
.window__menu{
  width: 385px;
  padding-top: 55px;
  padding-bottom: 29px;
  padding-left: 32px;
  padding-right: 34px;
  background: #222222;
  border-radius: 9px;
  color: #fff;
  box-shadow: -4.49109px 3.59288px 3.59288px rgba(0, 0, 0, 0.25), 4.49109px 4.49109px 3.59288px rgba(0, 0, 0, 0.25);
}
.window__menu h2{
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
}
form{
  margin-top: 65px
}
.window__menu p{
  font-family: "ArialRegular";
  font-size: 20px;
  margin-bottom: 5px;
}
#bottom{
  margin-bottom: 22px;
}
.window__menu input{
  border: 1px solid #FF8A00;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding-left: 25px;
  background-color: #222222;
  color: #C4C4C4;
  font-size: 14px;
  margin-top: 6px
}
.window__menu button{
  color: #fff;
  background-color: #FF8A00;
  border-radius: 3px;
  font-family: "ArialRegular";
  font-size: 13px;
  padding: 10px 18px;
  margin-top: 46px;
  text-transform: uppercase;
}
.window__text{
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  margin-top: 23px;
  font-family: "ArialRegular";
}
.window__text a{
  color: #FF8A00;
  text-decoration: underline;
}
.close_btn{
  position: relative;
}
#close_window{
  display: none;
  cursor: pointer;
}
.close_btn img{
  position: absolute;
  top: -65px;
  right: -16px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.first_round, .second_round, .third_round, .main_round, .main_round i, .round__text{
  display: none;
}
@media screen and (max-width: 1024px) {
  .number{
    font-size: 15px;
    margin-right: 17px
  }
  .call{
    font-size: 13px;
    padding: 12px 23px;
  }
  .container{
    width: 74.96%
  }
  .right__header i{
    display: block;
    cursor: pointer;
  }
  #burger{
    display: block;
    margin-left: 38px;
  }
  ul{
    display: none;
    position: absolute;
    background-color: #242323;
    height: 228px;
    bottom: -228px;
    width: 100%;
    left: 0px;
    text-align: center;
    font-size: 20px;
    z-index: 100
  }
  .menu li:first-child{margin-left: 0px;}
  .menu li{
    margin-top: 22px;
    margin-left: 0px;
  }
  .menu li a{
    font-size: 20px;
  }
  section{
    min-height: 100vh;
    max-height: none;
    height: auto;
    padding-top: 33px;
    padding-bottom: 58px;
  }
  .block__title{
    max-width: 357px;
    font-size: 30px;
    line-height: 34px
  }
  .block{
    display: block !important;
  }
  .undertitle__block{
    margin-top: 26px;
  margin-right: 11px;
  }
  .top_main__block{
    flex-direction: row;
    justify-content: space-between;
  }
  .icon{
    width: 39px;
    height: 39px;
  }
  .undertitle__block p{
    font-size: 15px;
    max-width: 92px;
  }
  .bottom_main__block{
    flex-direction: column-reverse;
    margin-top: 123px;
  }
  .laptop_video{
    top: 0;
    margin-top: -52px;
    width: 448px
  }
  .laptop__text{
    display: none;
  }
  .left_info__block{
    width: 100%;
    margin-top: 193px;
  }
  .info__text{
    line-height: 23px;
    font-size: 20px;
    max-width: 564px;
  }
  .link{
    margin-top: 54px;
    flex-direction: column;
    align-items: flex-start;
  }
  .link a{
    max-width: 232px;
    font-size: 14px
  }
  .link__text{
    max-width: 100%;
    margin-top: 39px;
    font-size: 13px;
  }
}
@media screen and (max-width: 650px){
  #burger{
    width: 25px;
    height: 14px;
  }
  .first_round, .second_round, .third_round, .main_round, .main_round i{
    display: block;
  }
  .first_round, .second_round, .third_round, .main_round{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.2)
  }
  .first_round{
    width: 73px;
    height: 73px;
  }
  .second_round{
    width: 61px;
    height: 61px;
  }
  .third_round{
    width: 49px;
    height: 49px;
  }
  .main_round{
    width: 38px;
    height: 38px;
  }
  .main_round i{
    color: #fff;
    font-size: 20px;
  }
  .play_round {
    position: absolute;
    right: 0;
    bottom: -35px;
    display: flex;
    align-items: center;
  }
  .round__text{
    color: #fff;
    font-size: 8px;
    margin-right: 7px;
    display: block;
  }
  ul{
    height: 278px;
    bottom: -278px;
  }
  #li_btn{
    display: block;
  }
  section{
    max-height: none;
    height: auto;
    padding-top: 33px;
    padding-bottom: 58px;
  }
  .container{
    width: 91.25%
  }
  .right__header button{
    display: none
  }
  .top_main__block{
    flex-direction: column;
  }
  .block__title{
    max-width: 100%;
    margin-bottom: 0px;
  }
  .right_info__block{
    flex-direction: column-reverse;
  }
  .left_info__block{
    margin-top: -30px;
  }
  .right_info__block, .filter{
    width: 100%
  }
  .laptop_video{
    display: none;
  }
  .laptop__text{
    display: block;
    position: absolute;
    margin-top: 0px;
    top: -48px;
    right: 0;
    text-align:left;
    font-size: 12px;
    max-width: 153px;
    line-height: 19px;
    left: auto
  }
  .undertitle__block{
    margin-top: 57px
  }
  .info__text{
    max-width: 400px;
  }
  .link{
    margin-top: 5.7vh;
    position: relative;
  }
  .link a{
    margin: 0 auto;
  }
  .block__title {
    font-size: 6vw
  }
  .header__logo{
    font-size: 4vw
  }
  .number{
    font-size: 3.3vw
  }
  .bottom_main__block {
    margin-top: 0px
  }
  .link__text{
    display: none
  }
  .link__text2{
    display: flex;
    align-items: center;
    margin-top: 74px;
    position: relative;
  }
  .text2__text{
    margin-left: 6px;
  }
  .text2__img{
    width: 16px;
    height: 18px;
  }
  .text2__text{
    color: #fff;
    font-family: "HelveticaRegular";
    font-size: 7px;
    max-width: 100px;
  }
  .text2__text span{
    color: #FF8A00;
    font-size: 11px;
  }
  #pos{
    color: #fff;
    position: absolute;
    bottom: -22px;
    left: 0;
    max-width: none;
    font-size: 8px;
  }
}
@media screen and (max-width: 400px){
  .window__menu{
    width: 230px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 32px;
  }
  .window__menu input{
    padding-left: 17px;
    font-size: 9px;
    height: 26px
  }
  .window__menu p{font-size: 11px}
  .window__menu button{
    margin-top: 29px;
    font-size: 8px;
    padding: 7px 10px;
  }
  .window__text {
    font-size: 7px;
    line-height: 8px;
}
  .window__menu h2{
    font-size: 14px;
  }
  .close_btn img {
    width: 15px;
    height: 15px;
    top: -38px;
    right: -9px;
}
  .menu li a{
    font-size: 14px
  }
  form {
    margin-top: 30px;
  }
  header{
    padding-top: 13px;
    padding-bottom: 11px;
  }
  .info__text{
    font-size: 13px;
    line-height: 15px
  }

  .undertitle__block p{
    font-size: 10px;
    margin-left: 8px
  }
  .icon{
    width: 15px;
    height: 15px
  }
  .laptop__text{
    line-height: 11px;
    top: -27px;
    font-size: 10px;
  }
  .block__title{
    line-height: 21px
  }

  .link a{
    padding: 13px 8px;
    font-size: 10px
  }
}
@media screen and (max-height: 750px){
  .right_info__block{
    flex-direction: column;
  }

}
