@import sass/base
header
    display: flex
    justify-content: space-between
    align-items: center
html
    scroll-behavior: smooth   
    max-width: 100%
    overflow-x: hidden
body
    max-width: 100%
    width: 100%
    overflow-x: hidden
.menu
    li
        margin-right: 25px
        transition: .3s
        color: #fff
        list-style: none
        &:last-child
            margin-right: 0px
        &:hover
            color: rgb(255, 24, 66)
.bg-2
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("../img/avi_bg.jpg")
    background-size: cover
    background-position: right center
    background-repeat: no-repeat
    background-size: 70% 100%
    opacity: 0.6
.main__section, .where, .prom_avi, .pox, .slogan, .autor, .play
    background-image: url("../img/bg.jpg")
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    padding: 40px 0px
    position: relative
.logo
    font-size: 30px
    font-weight: 300
    color: #fff
.main
    color: #fff
    text-align: center
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 70px
.main__title
    font-weight: bold
    font-size: 80px
    margin-bottom: 29px
    color: #fff
.main__describe
    font-size: 26px
    font-weight: bold
    margin-bottom: 80px
    color: #fff
.main__img
    width: 455px
.section__title
    font-size: 30px
    text-align: center
    font-weight: bold
.desc
    margin-top: 60px
    .section__title
        color: #000
        margin-bottom: 30px
.desc__text
    font-size: 18px
    line-height: 155%
.rules__describe
    font-size: 18px
    line-height: 155%
    span
        font-weight: 600
.rules
    margin-top: 60px
    .container
        display: flex
        align-items: center
        justify-content: space-between
    .section__title
        margin-bottom: 40px
.rules__img
    min-width: 550px
    max-width: 550px
.rules__text
    margin-left: 30px
.where
    margin-top: 40px
    color: #fff
    .section__title
        color: #fff
    .container
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 50px
    .where__describe
        color: #fff
        font-size: 18px
        line-height: 155%
        margin-bottom: 27px
    span
        color: #fff
        font-weight: 600
        font-size: 18px
.where__img
    min-width: 550px
    max-width: 550px
    margin: 0px 20px
.where__item
    margin-bottom: 30px
.bt
    display: flex
    justify-content: center
.where__btn
    margin-top: 60px
.prom_avi, .pox
    padding-top: 40px
    color: #fff
    .section__title
        color: #fff
        margin-bottom: 30px
    .container
        display: flex
        flex-direction: row-reverse
        align-items: center
        justify-content: space-between
        margin-top: 50px
    .where__describe
        color: #fff
        font-size: 18px
        line-height: 155%
        margin-bottom: 27px
    span
        color: #fff
        font-weight: 600
        font-size: 18px
.pox
    .where__describe
        margin-bottom: 0px
.slogan
    .section__title
        color: #fff
.autor
    position: relative
    padding: 0px 0px
    .bg
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.6)
        padding: 40px 0px
    .section__title
        max-width: 800px
        color: #fff
        margin: 0 auto
@media screen and (max-width: 1170px)
    .container
        width: 100%
    .main__img
        display: none
    .main 
        justify-content: center
    .rules .container, .where .container, .prom_avi .container, .pox .container
        flex-direction: column
    .where__img
        margin: 0
        margin-top: 30px
    .where__text 
        text-align: center
@media screen and (max-width: 750px)
    .bg-2
        background-size: 100% 50%
        
    .main__section
        padding-top: 20px
    .menu
        margin-top: 20px
        li
            font-size: 13px
            text-align: center
            margin-right: 6px
    header
        flex-direction: column
    .rules__img, .where__img
        max-width: 100%
        min-width: 100%
    .main__title
        font-size: 20vw