* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", system-ui;
  font-size: 14px;
  font-weight: 400;
  color: #1D1D1B;
}

body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: 0 none;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
  font-family: inherit;
}

li {
  list-style: none;
}

span {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

section {
  margin-bottom: 100px;
}

.section__title {
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
}

header {
  padding: 26px 0px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  z-index: 3;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-width: 196px;
  width: 100%;
}
.header__menu-button {
  display: none;
}
.header__menu-submenu {
  position: absolute;
  top: 33px;
  padding: 20px;
  padding-left: 40px;
  background: #FFF;
  border: 1px solid #1D1D1B;
  border-radius: 20px;
  max-width: 268px;
  width: 238px;
  left: -37px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__menu-item {
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__menu-item:first-child::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -17px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #F0AD0B;
}
.header__menu-item:hover {
  color: #F0AD0B;
}
.header__menu-item:hover::before {
  background: #1D1D1B;
}
.header__submenu-item {
  position: relative;
}
.header__submenu-item::before {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  position: absolute;
  content: "";
  position: absolute;
  top: 5px;
  left: -17px;
  background: #F0AD0B;
}
.header__submenu-item a {
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__submenu-item a:hover {
  color: #F0AD0B;
}
.header__button {
  border: 1px solid #1D1D1B;
  padding: 5px;
  padding-left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 60px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  gap: 23px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__button:hover {
  background: #1D1D1B;
  color: #FFF;
}
.header__button-icon {
  width: 40px;
}
.header__burger {
  display: none;
}

footer {
  background: #1D1D1B;
  padding: 30px 0px;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  max-width: 196px;
  width: 100%;
  margin-bottom: 33px;
  display: block;
}
.footer__sogl {
  color: #616465;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__item-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}
.footer__item-nav li {
  color: #FFF;
}
.footer__item-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  text-transform: uppercase;
  max-width: 345px;
}
.footer__item-menu li {
  color: #FFF;
}
.footer__button {
  background: #FFF;
  padding: 5px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  padding-left: 23px;
  background: #FFF;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__button:hover {
  background: #F0AD0B;
  color: #1D1D1B;
}
.footer__button img {
  width: 40px;
}
.footer__link {
  color: #616465;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0px 15px;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 94px;
    left: -110%;
    z-index: 3;
    max-width: 100%;
    width: 100%;
    background: #FFF;
    height: 100dvh;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    padding-bottom: 94px;
  }
  .header__menu-button {
    background: #FFF;
    padding: 5px;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 23px;
    padding-left: 23px;
    background: #FFF;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #1D1D1B;
  }
  .header__menu-button:hover {
    background: #1D1D1B;
    color: #FFF;
  }
  .header__menu-active {
    left: 0px;
  }
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .header__menu-item::before {
    display: none;
  }
  .header__menu-item-child a:first-child {
    display: none;
  }
  .header__menu-submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    padding: 0;
    border: 0;
    max-width: none;
    width: auto;
    gap: 30px;
  }
  .header__menu-submenu li::before {
    top: 2px;
  }
  .header__menu-submenu li a {
    font-weight: 400;
    font-size: 14px;
    display: block !important;
  }
  .header__button {
    display: none;
  }
  .header__burger {
    display: block;
    width: 24px;
  }
}
@media screen and (max-width: 1100px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .footer__logo {
    margin-bottom: 0px;
  }
  .footer__sogl {
    display: none;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .footer__item-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  header {
    padding: 10px 0px;
  }
  section {
    margin-bottom: 50px;
  }
  .section__title {
    font-size: 7.5vw;
  }
  .header__menu {
    top: 62px;
    padding-bottom: 62px;
  }
}
.main__bg {
  background: #E9E4E3;
  border-radius: 100px;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.main__img {
  max-width: 818px;
  width: 100%;
  height: 604px;
}
.main__img img {
  height: 100%;
}
.main__info {
  max-width: 522px;
  width: 100%;
}
.main__title {
  font-size: 65px;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.main__descript {
  font-size: 16px;
  font-weight: 400;
}
.main__list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  gap: 3px;
}
.main__list-item {
  position: relative;
  font-size: 16px;
  font-weight: 400;
}
.main__list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -16px;
  background: #F0AD0B;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}
.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  border-radius: 60px;
  background: #1D1D1B;
  border: 1px solid #1D1D1B;
  color: #FFF;
  padding: 10px;
  padding-left: 60px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main__button:hover {
  background: #FFF;
  color: #1D1D1B;
}
.main__button-icon {
  width: 53px;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.about__slider-block {
  max-width: 630px;
  width: 100%;
  border-radius: 60px;
  overflow: hidden;
}
.about__slider .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  z-index: 1;
}
.about__slider .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #FFF;
  cursor: pointer;
}
.about__slider .slick-dots li button {
  font-size: 0px;
}
.about__slider .slick-dots .slick-active {
  background: #F0AD0B;
}
.about__info {
  max-width: 630px;
  width: 100%;
}
.about__title {
  margin-bottom: 15px;
}
.about__title-mobile {
  display: none;
}
.about__descript {
  margin-bottom: 7px;
  text-align: justify;
  font-size: 16px;
}
.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 17px;
}
.about__item {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #1D1D1B;
  max-width: 197px;
  position: relative;
}
.about__item::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  right: -15px;
  top: -15px;
  background-size: cover;
  background-position: center center;
}
.about__item-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about__item-descript span {
  font-weight: 700;
}

#about__item-1 {
  max-width: 100%;
}

.bonus__title {
  text-align: center;
}
.bonus__block {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.bonus__item {
  padding: 40px;
  border-radius: 40px;
  border: 1px solid #1D1D1B;
  width: 100%;
}
.bonus__item-icon {
  width: 77px;
  margin-bottom: 20px;
}
.bonus__item-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.bonus__item-descript {
  font-size: 16px;
  font-weight: 700;
  color: #616465;
}

.line, .sk {
  max-width: 100%;
  overflow: hidden;
  -webkit-transform: rotate(-1.494deg);
          transform: rotate(-1.494deg);
}
.line__block, .sk__block {
  padding: 16px 0px;
  background: #1D1D1B;
}
.line__marquee, .sk__marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 33px;
  -webkit-animation: scroll-text 15s linear infinite;
          animation: scroll-text 15s linear infinite;
}
.line__marquee p, .sk__marquee p {
  white-space: nowrap;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
}
.line__marquee p span, .sk__marquee p span {
  color: #F0AD0B;
  font-size: 16px;
  font-weight: 700;
}

.sk {
  -webkit-transform: rotate(1.494deg);
          transform: rotate(1.494deg);
}

@-webkit-keyframes scroll-text {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll-text {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.services__title {
  text-align: center;
}
.services__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 34px;
}
.services__tabs-item {
  padding: 20px;
  border-radius: 40px;
  border: 1px solid #1D1D1B;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.services__tabs-item-active {
  background: #1D1D1B;
  color: #FFF;
}
.services__main {
  margin-top: 20px;
}
.services__main-header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 40px;
  border: 1px solid #1D1D1B;
}
.services__main-descript {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
}
.services__header-item {
  text-transform: uppercase;
  font-size: 16px;
}
.services__header-name {
  max-width: 430px;
  width: 100%;
}
.services__header-master {
  max-width: 70px;
  width: 100%;
}
.services__header-topmaster {
  max-width: 110px;
  width: 100%;
}
.services__block {
  margin-top: 10px;
  display: none;
}
.services__block-active {
  display: block;
}
.services__block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-radius: 40px;
  border: 1px solid #1D1D1B;
  background: #E9E4E3;
}
.services__item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  max-width: 430px;
  width: 100%;
}
.services__item-topmaster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  text-align: right;
  max-width: 110px;
  width: 100%;
}
.services__item-master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  text-align: right;
  max-width: 70px;
  width: 100%;
}
.services__name-title, .services__name-price, .services__topmaster-title, .services__topmaster-price, .services__master-title, .services__master-price {
  font-size: 16px;
  font-weight: 700;
}
.services__name-descript, .services__topmaster-descript, .services__master-descript {
  font-size: 16px;
}

.sert__block {
  border-radius: 100px;
  border: 1px solid #1D1D1B;
}
.sert .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sert__info, .sert__img {
  max-width: 630px;
  width: 100%;
}
.sert__img img {
  height: 100%;
}
.sert__title {
  letter-spacing: -1.35px;
  margin-bottom: 30px;
}
.sert__descript {
  max-width: 325px;
  width: 100%;
  font-size: 16px;
}
.sert__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 91px;
  background: #1D1D1B;
  color: #FFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  padding-left: 60px;
  border-radius: 60px;
  margin-top: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #1D1D1B;
}
.sert__button:hover {
  background: #FFF;
  color: #1D1D1B;
}
.sert__button img {
  width: 53px;
}

.works__title {
  text-align: center;
}
.works__slider {
  margin: 0px -10px;
  margin-top: 30px;
}
.works__item {
  margin: 0px 10px;
}
.works .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 0px;
}
.works .slick-prev {
  left: -5px;
}
.works .slick-next {
  right: -5px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.reviews__title {
  text-align: center;
}
.reviews__slider {
  margin: 0px -10px;
  margin-top: 34px;
}
.reviews .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 0px;
}
.reviews .slick-prev {
  left: -5px;
}
.reviews .slick-next {
  right: -5px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.reviews__item {
  padding: 40px;
  border: 1px solid #1D1D1B;
  border-radius: 40px;
  margin: 0px 10px;
}
.reviews__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 34px;
  margin-bottom: 24px;
}
.reviews__item-icon {
  width: 100px;
  border-radius: 100%;
}
.reviews__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.reviews__item-name {
  font-size: 16px;
  font-weight: 700;
}
.reviews__item-date {
  font-size: 16px;
  font-weight: 400;
  color: #616465;
}
.reviews__item-stars {
  max-width: 140px;
  width: 100px;
}
.reviews__item-descript {
  font-size: 16px;
  font-weight: 400;
}

.contact__block {
  background: #E9E4E3;
  border-radius: 100px;
}
.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__info {
  max-width: 410px;
  width: 100%;
}
.contact__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.contact__img {
  max-width: 818px;
  width: 100%;
  border-radius: 100px;
  overflow: hidden;
}
.contact__item {
  padding: 20px;
  border: 1px solid #1D1D1B;
  background: #FFF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
  text-transform: uppercase;
}
.contact__item-title {
  font-size: 15px;
  font-weight: 700;
}
.contact__mail {
  margin-top: 34px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}
.contact__soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}
.contact__soz-item {
  width: 60px;
}
.contact__button {
  border-radius: 40px;
  background: #1D1D1B;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  padding-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  text-transform: uppercase;
  border: 1px solid #1D1D1B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact__button:hover {
  background: #FFF;
  color: #1D1D1B;
}
.contact__button img {
  width: 53px;
}

@media screen and (max-width: 1280px) {
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__title {
    display: none;
  }
  .about__title-mobile {
    display: block;
  }
  .about__item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 48%;
  }
  #about__item-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 100%;
  }
  .services__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  .services__tabs-item {
    padding: 10px;
    font-size: 12px;
  }
  .sert .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .sert__block {
    padding-top: 10px;
  }
  .sert__title {
    text-align: center;
  }
  .sert__button {
    display: none;
  }
  .sert__descript {
    text-align: center;
    margin: 0 auto;
  }
  .works .slick-prev {
    left: 20px;
  }
  .works .slick-next {
    right: 20px;
  }
  .reviews .slick-arrow {
    bottom: -80px;
    top: auto;
  }
  .reviews .slick-prev {
    left: auto;
    right: 52%;
  }
  .reviews .slick-next {
    right: auto;
    left: 52%;
  }
  .contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    gap: 20px;
  }
  .contact__info {
    padding: 0px 15px;
  }
  .contact__img {
    max-width: 100%;
  }
  .contact__block {
    padding-top: 20px;
  }
  .contact__title {
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .main__bg {
    padding-top: 40px;
  }
  .main__title {
    text-align: center;
  }
  .main__button {
    margin: 0 auto;
    margin-top: 40px;
  }
  .main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__img {
    height: auto;
  }
  .main__img img {
    height: auto;
  }
  .bonus__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bonus__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .bonus__item-icon {
    margin-bottom: 0px;
  }
  .line__block, .sk__block {
    padding: 6px 0px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 650px) {
  .main__bg {
    border-radius: 40px;
  }
  .main__title {
    font-size: 9vw;
    line-height: normal;
    margin-bottom: 20px;
  }
  .main .container {
    padding: 0px;
  }
  .main__info {
    padding: 0px 15px;
  }
  .about__slider-block {
    border-radius: 20px;
  }
  .about__item {
    padding: 10px;
    max-width: 48%;
  }
  .about__item-title {
    font-size: 14px;
  }
  .about__item-descript {
    font-size: 14px;
  }
  .about__item::after {
    right: 0px;
    width: 30px;
    height: 30px;
  }
  .about__block {
    gap: 16px 0px;
  }
  .bonus__block {
    margin-top: 10px;
    gap: 10px;
  }
  .bonus__item {
    padding: 10px;
    border-radius: 20px;
  }
  .bonus__item-icon {
    width: 30px;
  }
  .bonus__item-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .services__tabs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .services__main-header {
    padding: 10px;
  }
  .services__main-descript {
    font-size: 12px;
  }
  .services__block-item {
    padding: 10px;
    border-radius: 20px;
  }
  .services__header-name, .services__item-name {
    max-width: 200px;
  }
  .services__name-title, .services__name-price, .services__name-descript {
    font-size: 12px;
  }
  .services__topmaster-title, .services__topmaster-price, .services__topmaster-descript {
    font-size: 12px;
  }
  .services__master-title, .services__master-price, .services__master-descript {
    font-size: 12px;
  }
  .sert .container {
    padding: 0px;
  }
  .sert__title {
    margin-bottom: 10px;
  }
  .sert__info {
    padding: 0px 15px;
  }
  .sert__descript {
    max-width: none;
  }
  .sert__block {
    border-radius: 40px;
  }
  .works__slider {
    margin-top: 10px;
  }
  .reviews {
    margin-bottom: 100px;
  }
  .reviews__item {
    padding: 10px;
    border-radius: 20px;
  }
  .reviews__item-header {
    margin-bottom: 10px;
    gap: 20px;
  }
  .reviews__item-icon {
    width: 70px;
  }
  .reviews__item-info {
    gap: 5px;
  }
  .reviews__slider {
    margin-top: 10px;
  }
  .contact__block {
    border-radius: 40px;
  }
  .contact__img {
    border-radius: 40px;
  }
  .contact__mail {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
  .contact__item-title {
    font-size: 12px;
  }
  .contact__info-block {
    margin-top: 10px;
    gap: 10px;
  }
}