@import norm
#modalBg
    width: 100%
    height: 100vh
    background: rgba(0, 0, 0, 0.3)
    position: fixed
    top: 0
    left: 0
    z-index: 200
    justify-content: center
    @include flexa
    
.modalWindow
    position: relative
.modalCity
    background: #fff
    padding: 0px 30px
    padding-top: 50px
    padding-bottom: 60px
    min-width: 790px
    max-width: 100%
    border-radius: 6px
    .section__title
        font-size: 18px
    .city
        display: flex
        justify-content: space-between
        margin-top: 40px
    .city__line
        display: flex
        flex-direction: column
    .city__item
        color: $blue
        font-size: 16px
        margin-bottom: 14px
        transition: .4s
        cursor: pointer
        &:hover
            color: $green
.closeCity, .closeRecall
    background: transparent
    width: 11px
    height: 11px
    position: absolute
    top: 15px
    right: 20px
.recall__modal
    background: rgba(59, 87, 130, 0.9)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 6px
    padding: 40px
    max-width: 448px
    width: 100%
    z-index: 3000
    input, select
        background: #fff
        padding-left: 20px
        font-size: 14px
        color: $blue
        margin-bottom: 20px
        border-radius: 8px
        width: 100%
        height: 48px
        outline: none
        &::placeholder
            font-size: 14px
            color: $blue
    .send
        width: 100%
        @include flexa
        justify-content: center
        color: $blue
        font-size: 14px
        height: 48px
        background: #fff
        border-radius: 8px
.recall__title
    text-align: center
    color: #fff
    font-size: 26px
    font-weight: 600
    margin-bottom: 42px


.body__active
    height: 100vh
    overflow: hidden