@import font
@import mixins
@import modal
$black2: #222931
header
    background: $black2
    color: #fff
    position: static !important
    .container 
        .header__icon 
            .search-box 
                .search-btn
                    background: $black2
.error
    background-image: url("../img/error__bg.jpg")
    width: 100%
    height: 1028px
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    color: #fff
    .main__section
        width: 805px
        padding-top: 106px
footer
    background: #fff
    .main__container 
        .footer__info, .footer__menu
            color: $black2
    .footer__text
        color: $black2
.main__error
    width: 100%
    height: 504px
    margin: 0 auto
.error__title
    
    font-size: 30px
    line-height: 39px
    font-family: $SHE
    max-width: 365px
    margin-top: 30px
.error__link
    display: flex
    font-size: 20px
    font-family: $SFRM
    margin-top: 35px
    a
        position: relative
        &::before
            content: url("../img/error_arrow.svg")
            position: absolute
            top: 2px
            right: -30px
.tovar__buttons
    footer
        background-color: $black2
        margin-top: 20px
        .main__container
            .footer__menu, .footer__info
                color: #fff
@media screen and (max-width: 850px)
    .error
        .main__section
            width: 97%
@media screen and (max-width: 650px)
    .error 
        .main__section
            padding-top: 0px
    .main__error
        width: 418px
        height: 261px
    .error
        height: 500px
    .error__text
        background: #fff
        width: 100%
        color: $black
        margin-top: 220px
    footer
        margin-top: 150px
    .error__link
        margin-top: 20px
        a
            &::before
                content: url("../img/error_arrow_black.svg")
@media screen and (max-width: 450px)
    .main__error 
        width: 300px
        height: 261px
    .error
        height: 380px
    .error__text
        margin-top: 90px
    footer
        margin-top: 80px
    .error__title
        font-size: 20px
        line-height: 26px
    