.button__item
    cursor: pointer
    position: relative
    ul
        position: absolute
        top: 0
        right: 1px
        transform: translateX(100%)
        color: #000 !important
        background: #fff
        box-shadow: 0px 4px 34px rgba(59, 57, 67, 0.2)
        border-radius: 6px
        font-size: 17px
        font-family: $SFRM
        display: none
        padding: 20px 0px
        padding-left: 20px
        width: 256px
        li
            margin-bottom: 23px
            &:last-child
                margin-bottom: 0px
    &:hover > ul
        display: block
        li
            &:hover > ul
                display: block
@media screen and (max-width: 1200px)
    .button__item
        cursor: pointer
        position: relative
        &:hover > ul
            display: none