@import font
@import mixins
@import modal

body
    color: $black
.option
    margin-top: 43px
    .option__block
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin-bottom: 15px
.option__item
    width: 25%
    max-width: 229px
    font-family: $SFR
    min-height: 142px
    .option__icon
        height: 80px
        cursor: pointer
        img
            width: auto
    .option__title
        font-size: 16px
        margin-bottom: 1px
        margin-top: 10px
        line-height: 19px
    .option__plus
        color: #fff
        background: #FF5555
        padding: 2px 4px
        margin-left: 5px
        border-radius: 5px
        font-family: $SFB
    .option__descript
        max-width: 209px
        font-size: 10px
        margin: 0
        line-height: normal
        margin-top: 1px
.option__text
    font-family: $SFR
    line-height: 20px
    font-size: 16px
    padding-top: 2px
.option_text__item
    display: none
.openText
    display: block !important

.card
    color: #FF5555
    text-decoration: underline
    font-family: $SFB
    cursor: pointer
.find
    margin-top: 50px
    .main__container
        display: flex
        justify-content: center
        align-items: flex-start
.find__item
    width: 33.33%
    &:nth-child(2)
        margin-top: 70px
    &:nth-child(3)
        margin-top: 140px
        padding-left: 10px
        margin-right: 0px
.find_up
    display: flex
    align-content: flex-start
    .find__icon
        width: 97px
        height: 97px
        margin-right: 25px
        box-shadow: 0px 32px 54px rgba(255, 85, 85, 0.2246)
        background: #FF5555
        border-radius: 10px
        display: flex
        justify-content: center
        align-items: center
        img
            width: auto
            height: 36px
            
    .find_next
        height: 80px
        margin-top: 40px
        img
            width: auto
.find__title
    font-size: 24px
    line-height: 34px
    margin-top: 7px
    font-family: $SHE
.find__down
    margin-top: 10px
    opacity: 0.6
    font-size: 16px
    font-family: $SFR
.section__title
    text-align: center
    font-size: 30px
    font-family: $SHE
    margin-bottom: 50px
.methods
    .section__title
        text-align: left
        margin-bottom: 0px
.round__info
    margin-top: 20px 
    display: flex
    align-items: center
    div
        min-width: 12px
        height: 12px
        border: 3px solid #FF5555
        border-radius: 12px
        margin-right: 15px
.main_p
    font-size: 16px
    opacity: 0.7
    font-family: $SFR
    line-height: 23px    
.dop__info
    .section__title
        text-align: left
        margin-top: 100px
        margin-bottom: 15px
    .main_p
        margin-top: 15px
    .dop__title
        font-size: 16px
        margin-bottom: 0px
        margin-top: 30px
    .mrg-top
        margin-top: 30px
.card
    margin-top: 100px
    .main__container
        display: flex
        align-items: center
        justify-content: space-between
.card__item
    width: 100px
    img
        height: auto
footer
    margin-top: 100px
@media screen and (max-width: 1200px)
    .find_next
        display: none
    .find 
        .main__container
            flex-direction: column
            justify-content: center
            align-items: center
    .find__item
        width: auto
        text-align: center
        margin-top: 40px
        &:nth-child(2)
            margin-top: 40px
        &:nth-child(3)
            margin-top: 40px
            padding-left: 0px
    .find_up 
        .find__icon
            margin-right: 0px
            margin: 0 auto
    .card__item 
        img
            width: 100px
    .slick-track
        display: flex !important
        align-items: center !important
    .option 
        .option__block
            flex-wrap: wrap
            justify-content: center
            align-items: center
    .option__item
        width: 50%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0 15%
        max-width: none
        text-align: center
        margin-bottom: 30px
        &:first-child
            border-bottom: 0px
@media screen and (max-width: 800px)
    .option__item 
        .option__title
            font-size: 12px
            line-height: 16px
    .section__link
        margin-top: 40px  
    .section__title
        margin-bottom: 20px
    .find__item
        &:first-child
            margin-top: 0px
    .option__item
        padding: 0 3%
    .option__text
        line-height: 18px
        font-size: 14px
    .dop__info 
        .section__title
            margin-top: 50px 
    footer
        margin-top: 40px
@media screen and (max-width: 350px)
    .card__item 
        img
            width: 80px
    .card
        margin-top: 50px
#option___title-1, #option___title-2, #option___title-3,#option___title-4
    display: none   
.cart-active
    display: block !important
    padding-bottom: 7px
    border-bottom: 1px solid #371A45
    opacity: 0.9
.card-active-d
    display: block !important


