@import font
@import mixins
@import modal
.map
    margin-top: 60px
    .main__container
        display: flex
        justify-content: space-between
.section__describe
    max-width: none
.adres__map
    width: 640px
    height: 659px
    iframe
        border-radius: 20px
.map__info-block
    display: flex
    flex-direction: column
    align-items: flex-start
    max-width: 448px
.map__title
    font-size: 30px
    margin-bottom: 40px
.info__item
    font-size: 16px
    color: $black
    opacity: 0.7
    margin-bottom: 20px
    line-height: 28px
.prox
    margin-top: 120px
    .main__container
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
.prox__item
    width: 100%
    max-width: 640px
    margin-bottom: 50px
    position: relative
    text-align: center
.prox__img
    width: 100%
    height: 295px
    z-index: 10
    img
        border-radius: 20px            
.prox__number
    position: absolute
    height: 200px
    top: -70px
    right: -70px
    z-index: 5
    img
        width: auto
.and_site
    right: auto
    left: -70px
.prox__title
    margin-top: 10px
    font-family: $SFB
    font-size: 30px
.postr__block
    display: flex
    align-items: center
    margin-bottom: -10px
    margin-top: 10px
@media screen and (max-width: 1200px)
    .map
        margin-top: 60px
        .main__container
            flex-direction: column-reverse
    .adres__map
        width: 100%
    .map__info-block
        margin-top: 30px

@media screen and (max-width: 800px)
    .prox__number
        display: none
    .prox
        margin-top: 50px
    .adres__map
        height: 500px
@media screen and (max-width: 600px)
    .adres__map
        height: 300px
    .prox__img
        height: 200px
    .prox__title
        font-size: 20px
    .section__link
        margin-top: 50px
