$black: #3B3943
$headerColor: #F1F3F4
$SFR: 'SF Pro Regular' //400
$SFM: 'SF Pro Medium' //500
$SFSB: 'SF Pro Semibold' //600
$SHE: 'SF-Pro-Rounded-Bold' //700
$SFB: 'SF Pro Bold' //700
$SFBK: 'SF Pro Black' //800
$SFHY: 'SF-Pro-Rounded-Heavy' //900
@mixin flex-centerX
    display: flex
    align-items: center
@mixin flex-centerJ
    display: flex
    align-items: center
    justify-content: space-between
@mixin icon-size($w, $h)
    width: $w
    height: $h
*
    padding: 0
    margin: 0
    box-sizing: border-box
body
    font-family: $SFM
    color: $black
    position: relative
button, a
    text-decoration: none
    color: inherit
    font-family: inherit
    border: 0 none
    outline: 0 none
    cursor: pointer
.container
    width: 1720px
    margin: 0 auto
.main__container
    width: 1150px
    margin: 0 auto
img
    width: 100%
    height: 100%
li
    list-style: none
//HEADER
header
    background-color: $headerColor
    padding: 30px 0px
    width: 100%
    z-index: 120
    top: 0
    left: 0
    .left__header, .right__header
        @include flex-centerX
    .container
        @include flex-centerJ
        .menu__button
            z-index: 130
        #openMenu
            display: none
        .open_menuImg
            width: 28px
            height: 18px
            display: none
            z-index: 150
        .logo
            width: 166px
            height: 31px
        .menu
            @include flex-centerX
            font-size:20px
            margin-left: 150px
            li
                margin-right: 40px
                &:last-child
                    margin-right:0px
        .number
            @include flex-centerX
            font-size: 15px
            font-family: $SFR
            margin-right: 27px
            .phone__icon
                margin-right: 9px
                width: 19px
                height: 19px
        .header__icon
            @include flex-centerX
            position: relative
            .search-box 
                display: flex
                align-items: center
                position: relative
                margin-right: 30px
                max-width:10px
                .search-btn 
                    display: flex
                    justify-content: center
                    align-items: center
                    align-items: center
                    border-radius: 50%
                    text-decoration: none
                    img
                        width: 17px 
                        height: 17px
                .search-txt 
                    border: none
                    outline: none
                    background: none
                    padding: 0
                    color: $black
                    font-size: 16px
                    transition: .4s
                    line-height: 40px
                    width: 0
                    position: absolute
                    right: 20px
                    background-color: #F1F3F4
                    z-index: 10
                .search-txt-active  
                    width: 240px
                    padding-left: 10px
                    border: 1px solid #3B3943
                    border-radius: 9px
            .icon__item
                width:20px
                height: 18px
                margin-right: 30px
                cursor: pointer
                &:last-child
                    margin-right: 0px
        .cart
            position: relative
            .col
                position: absolute
                width: 18px 
                height: 18px
                border-radius: 100%
                @include flex-centerX
                justify-content: center
                background-color: #FF5555
                color: #fff
                top: -9px
                right: -8px
                font-size:11px
.main__section
    width: 1150px
    margin: 0 auto
    padding-top: 10px
    .main__container
        height: 565px
        background-image: url("img/main_bg.png")
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        padding-top: 50px
        padding-left: 20px
        padding-right: 20px
        border-radius: 20px
        .right_main
            width: 408px
            height: 490px
        .left_main
            .slider__item
                display: flex
                justify-content: space-between
                margin-left: 50px
                .info__main
                    margin-left: 50px
                    color: #fff
                    h2
                        max-width: 466px
                        font-size: 56px
                        line-height: 64px
                        margin-bottom: 25px
                    p
                        font-size: 96px
                        font-family: $SFHY
                    button
                        color: #fff
                        padding: 18px 25px
                        font-size:20px
                        width: 165px
                        height: 67px
                        background-image: url("img/button__bg.png") 
                        background-repeat: no-repeat
                        background-position: center center
                        background-size: cover
                        margin-top: 45px
                        background-color: transparent
                        border-radius: 20px
                        position: relative
                        overflow: hidden
                        &:hover
                            filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25))


//Second Blcok
.categorii
    .categori__button
            display: none
    .categori__block
        @include flex-centerX
        flex-wrap: wrap
        margin-top: 20px
        .categori__link
            @include flex-centerX
            flex-direction: column
            width: 25%
            text-align: center
            padding: 0px 46px
            margin-top:60px
            transition: .5s
            z-index: 5
            .categori__icon
                transition: .5s
                height: 85px
                img
                    width: auto
            .categori__name
                font-size: 20px
                margin-top: 20px    
            &:hover    
                .categori__icon
                    transform: scale(1.2)
.tovar
    .container
        display: flex
        align-items: flex-start
        margin-top: 124px
        
        .main__container
            margin-left: 74px
        .tovar__buttons
            display: flex
            flex-direction: column
            align-items: flex-start
            footer
                display: none
            .button__item
                width: 256px
                display: flex
                align-items: center
                padding-left:32px
                padding-top: 10px
                padding-bottom: 10px
                font-size: 17px
                transition: .3s
                border-radius: 6px
                background: transparent
                margin-top: 8px
                &:hover
                    background: linear-gradient(91.93deg, #FF5757 -6.24%, #FF9A9A 108.54%)
                    color: #fff
                    .ct_img__img
                            &:first-child
                                display: none
                            &:nth-child(2)
                                display: block
                .ct_img__img
                    &:nth-child(2)
                        display: none
                &:first-child
                    margin-top: 0px
                .ct__img
                    margin-right: 10px
                        
                #ct_1
                    @include icon-size(24px, 21px)
                #ct_2
                    @include icon-size(17px, 24px)
                #ct_3
                    @include icon-size(20px, 24px)
                #ct_4
                    @include icon-size(24px, 17px)
                #ct_5
                    @include icon-size(24px, 28px)
                #ct_6
                    @include icon-size(24px, 24px)
                #ct_7
                    @include icon-size(22px, 16px)
            .active
                background: linear-gradient(91.93deg, #FF5757 -6.24%, #FF9A9A 108.54%)
                color: #fff
                
        .tovars__title
            @include flex-centerX
            .catalog__icon
                margin-right: 25px
            #fire
                @include icon-size(52px, 67px)
            #news, #wow
                @include icon-size(67px, 67px)
            h1
                font-size: 30px
                font-family: $SFB
        .tovar__items
            display: flex
            align-items: flex-start
            flex-wrap: wrap
            justify-content: space-between
            margin-top: 5px
            .tovar__item
                background: #FFFFFF
                box-shadow: 0px 14px 14px rgba(12, 31, 56, 0.06), 0px 4px 34px rgba(26, 71, 132, 0.1)
                border-radius: 30px
                width: 352px
                display: flex
                flex-direction: column
                justify-content: space-between
                padding: 12px 23px 23px 25px
                margin-top: 40px
                min-height: 275px
                .tovar__img
                    width: 292px 
                    height: 259px
                    margin-bottom: 20px
                    display: flex
                    justify-content: center
                    img
                        width: auto
                .tovar__title
                    font-family: $SFSB
                    font-size: 17px
                    line-height: 21px
                    max-width: 302px
                .tovar__down
                    @include flex-centerJ
                    .mb__icon
                        display: flex
                        align-items: center
                        justify-content: space-between
                        
                        div       
                            &:nth-child(2)
                                display: flex
                                align-items: center
                                display: none
                                .mab__item
                                    width: 15px
                                    height: 15px
                                    border-radius: 100%
                                    background: #dddddd
                                    padding: 7px
                                    display: flex
                                    align-items: center
                                    justify-content: center
                                    box-sizing: content-box
                                    &:first-child
                                        margin-right: 10px
                                    img
                                        width: 13px
                                        height: 13px
                    .tovar__price
                        font-size: 24px
                        font-family: $SFBK
                        .old__price
                            position: relative
                            &::before
                                content: ""
                                background-color:  #FF5555
                                position: absolute
                                bottom: 50%
                                width: 100%
                                height: 3px
                                transform: rotate(-15deg)
                                border-radius: 7px
                        .new_price
                            color: #FF5555
                            margin-left: 20px
                    .addbutton
                        width: 46px
                        height: 46px
                        border-radius: 100%
                        color: #fff
                        font-size: 30px
                        @include flex-centerX
                        justify-content: center
                        background: rgba(255, 68, 68, 0.9)
                        padding-bottom: 4px
                        padding-left: 1px
                        transition: .3s
                        &:hover
                            opacity: 0.7
                        .cartIImg
                            width: 24px
                            height: 24px
                            display: none
.comapny__info
    margin-top: 80px
    .reverse
        flex-direction: row-reverse
    .main__container
        display: flex
        justify-content: space-between
        align-items: flex-start
        .info__text
            h2
                font-family: $SFB
                font-size: 30px
                line-height: 45px 
                margin-bottom: 25px
            p
                font-family: $SFR
                font-size: 16px 
                line-height: 22px
                max-width: 605px
            .advantages
                display: flex
                align-items: center
                margin-top: 40px
                flex-wrap: wrap
                font-size: 20px
                justify-content: space-between
                max-width: 605px
                .advantages__item
                    display: flex
                    flex-direction: column
                    width: 240px
                    margin-bottom: 35px
                    #adv_1
                        @include icon-size(78px, 60px)
                    #adv_2
                        @include icon-size(58px, 60px)
                    #adv_3
                        @include icon-size(60px, 34px)
                    #adv_4
                        @include icon-size(46px, 46px)
                    .advantages__text
                        margin-top:20px
        .info__img
            width: 502px
            height: 594px
            img
                width: auto
        .info__img_2
            width: 358px
            height: 428px
            img
                width: auto                  
#mrg_0
    margin: 0 auto
.questions
    margin-top:100px                
    .question__item
        cursor: pointer
        margin-bottom:30px
        transition: 0.5s
        position: relative
        &::after
            content: '▶'
            position: absolute
            top: 14px
            right: 20px
            color: #FF5555
        .questiom
            font-family: $SFB
            font-size:30px
            max-width: 90%
        .answer
            font-family: $SFR
            font-size: 16px
            max-width: 928px
            height: 0px
            transition: .5s
            margin-top: 30px
            overflow: hidden
    .question__item.ans__active
        .answer
            height: 150px
        &::after
            transform: rotate(90deg)
footer
    background: linear-gradient(180deg, #46444F 0%, #2F2C3C 98.21%)
    padding: 70px 0px
    .main__container
        display: flex
        justify-content: space-between
        align-items: flex-start
        .footer__logo
            width: 160px
            height: 32px
        .footer__menu
            @include flex-centerX
            font-size: 12px 
            color: #fff
            text-transform: uppercase
            li
                margin-right: 20px
                &:last-child
                    margin-right: 0px
        .footer__info
            display: flex
            max-width: 355px
            color: #fff
            justify-content: space-between
            flex-wrap: wrap
            .footer__item
                display: flex
                align-items: flex-start
                margin-bottom: 30px
                img   
                    margin-right: 9px
                &:last-child
                    margin-bottom: 0px
                #footer__i1
                    @include icon-size(19px, 19px)
                #footer__i2
                    @include icon-size(19px, 17px)
                #footer__i3
                    @include icon-size(15px, 18px)
    .footer__text
        color: #fff
        font-size: 12px
        line-height: 14px
        font-family: $SFR
        max-width:1120px
        margin: 0 auto
        margin-top: 35px


@media screen and (max-width: 1720px)
    .container
        width: 97%
    
@media screen and ( max-width: 1220px)
    .main__container
        width: 97%
    .main__section
        width: 100%
        .main__container 
            .left_main 
                .slider__item
                    margin-left: 0px
                    padding-top: 40px 
                    .info__main
                        margin-left: 0px
                        h2
                            font-size: 41px
                            line-height: 41px
                            margin-bottom: 21px
                        p
                            font-size: 50px
                        button
                            margin-top: 20px
            .right_main
                width: 254px
                height: 350px
    header 
        padding: 20px 0px
        .container 
            .menu
                display: none
            .open_menuImg
                display: block
                margin-right: 10px
    .tovar 
        .container
            .tovar__buttons 
                position: fixed
                top: -100%
                left: 0
                background: #ECEEEF
                width: 100%
                height: 100vh
                z-index: 120
                transition: .5s
                justify-content: space-between
                opacity: 0
                footer
                    overflow: hidden
                    display: block
                    width:100%
                    position: relative
                    .round
                        width: 116%
                        height: 200px
                        background: #ECEEEF
                        top: -145px
                        right: -8%
                        border-radius: 100%
                        position: absolute
                    .main__container 
                        .footer__menu 
                            li
                                margin-bottom: 10px
                        .footer__info 
                            .footer__item
                                margin-bottom: 15px

            .main__container
                    margin: 0 auto
            .tovar__items 
                justify-content: space-around
                
                .tovar__item
                    width: 32%
                    padding: 13px 10px
                    .tovar__img
                        width: 100%
                        height: 118px
                    .tovar__down
                        flex-direction: column
                        align-items: flex-start
                        margin-top: 30px
                        .mb__icon
                            width:100%
                            div
                                &:nth-child(2)
                                   display: flex 
                        .tovar__price
                            font-size: 15px
                        .addbutton
                            margin-top: 10px
                            border-radius: 9px
                            font-size: 11px
                            width: 100%
                            height: 33px
                            padding: 0px
                            display: flex
                            align-items: center
                            position: relative
                .tovar__title
                    font-size: 12px
                    line-height: 14px
                    
                
    .comapny__info 
        .main__container
            position: relative
            .info__text
                z-index:20
            .info__img, .info__img_2
                z-index: 10
                position: absolute
                top: 0
                opacity: 0.2 !important
            .info__img
                right: 0
            .info__img_2
                left: 0
    footer
        .footer__text
            text-align: center 
        .main__container
            flex-direction: column
            align-items: center
            .footer__logo
                margin-bottom: 20px
            .footer__menu
                flex-direction: column
                justify-content: center
                align-items: center
                text-align: center
                margin-bottom: 20px
                li
                    margin-right: 0px
                    margin-bottom: 20px
            .footer__info
                flex-wrap: wrap
                flex-direction: column
                align-items: center
                .footer__item
                    margin-right: 0px
@media screen and ( max-width: 790px)
    .main__section
        width: 100%
        .main__container 
            .left_main 
                .slider__item
                    .info__main
                        max-width: 45%
                        h2
                            font-size: 25px
                        p
                            font-size: 35px
            .right_main
                margin-top:55px

    .categorii 
        .main__container 
            .categoris__button 
                display: flex
                align-items: center
                justify-content: center
            
            .categori__block
                position: fixed
                width: 100%
                height: calc( 100vh -  53px)
                top: -100%
                left: 0
                background: #fff
                z-index: 100
                align-items: center
                justify-content: space-evenly
                flex-direction: row
                align-content: flex-start
                margin-top: 0px
                opacity: 0
                padding-bottom: 15px
                transition: .5s
                .categori__link
                    box-shadow: 0px 8.85938px 8.85938px rgba(12, 31, 56, 0.06), 0px 2.53125px 21.5156px rgba(26, 71, 132, 0.1)
                    border-radius: 10px
                    width: 41%
                    height: 170px
                    padding: 2px 2px
                    margin-top: 15px
                    padding-top: 17px
            .categori__button
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                background: #FF5555
                border-radius: 20px
                color: #fff
                text-align: center
                padding: 14px 27px
                font-size:15px
                max-width: 135px
                height: 91px
                img
                    width: 20px
                    height: 20px
                    margin-bottom: 10px
                &:first-child
                    margin-right: 30px
    header
        padding: 20px 0px
        .container
            .open_menuImg
                display: block
                margin-right: 10px
            .logo
                width: 141px
                height: 22px
            .number
                display: none
    
    .footer__info
        text-align: center
    .tovar-2
        .container 
            .tovar__items 
                .tovar__item
                    min-height: 275px
                    height: max-content
                    padding-bottom: 10px
                    .tovar__title
                        position: relative
                        &::before
                            content: "В наличии"
                            color: #219653
                            position: absolute
                            bottom: -20px
                            left: 0
                    .tovar__down 
                        .tovar__price
                            display: flex
                            flex-direction: column
                            align-items: flex-start
                            .old__price
                                font-size: 14px
                                font-family: $SFR
                            .new_price
                                margin-left: 0px
                                color: $black
                                font-size: 24px
    .tovar 
        .container 
            .tovar__items 
                .tovar__item
                    .tovar__title
                        font-size: 14px
@media screen and ( max-width: 500px)
    .tovar 
        .container 
            .tovar__items 
                .tovar__item
                    width: 45%
                    .slider__sett
                        display: flex
                        height: 406px
                        flex-direction: column
                        justify-content: space-between
                    .tovar__title
                        font-size: 12px
    .tovar-2 
        .container 
            .tovar__items
                position: relative
                margin-top: 30px 
                .tovar__item
                    background: transparent
                    box-shadow: none
                    padding: 0
                    margin-top: 0px
                    padding-left: 1%
                    .slider__sett
                        width: 247px
                        margin: 0 auto
                        box-shadow: 0px 14px 14px rgba(12, 31, 56, 0.06), 0px 4px 34px rgba(26, 71, 132, 0.1)
                        border-radius: 30px
                        padding: 13px 10px
                        display: flex
                        height: auto
                        flex-direction: column
                        justify-content: space-between
        .slick-arrow
            top: -70px
            position: absolute
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            width: 11px
            height: 13px
            font-size: 0
        .slick-next
            right: 0px
            background-image: url("img/btn-next.png")
        .slick-prev
            right: 20px
            background-image: url("img/btn-pre.png")
        .slick-slider 
            .slick-track
                padding-bottom: 30px
    .main__section
        width: 100%
        .main__container
            padding-left: 0px
            padding-right: 0px
            border-radius: 0px
            .left_main 
                .slider__item 
                    padding-left: 7px
                    padding-right: 7px
                    .info__main
                        max-width: 70%
            .right_main
                width: 190px
                height: 253px
                margin-top:140px
    header
        .container
            padding-right: 5px
            .lbl_menu
                z-index: 2000
            .logo
                width: 96px
                height: 17px
            .header__icon:hover 
                .search-txt
                    width: 300px
    .comapny__info 
        .main__container 
            .info__text 
                h2
                    font-size: 20px
                    margin-bottom: 10px
                    line-height: 30px
                p
                    font-size: 14px
                .advantages
                    flex-direction: column
                    align-items: flex-start
            .info__img
                width: 294px
                height: 400px
                top: auto
                bottom: 0
                right: 10%
                img
                    width: 100%
            .info__img_2
                width: 300px
                height: 373px
    .questions 
        .question__item 
            .questiom
                font-size: 20px
                max-width: 95%
            .answer
                font-size: 14px
@media screen and (max-width:400px)
    .main__section
        padding-top: 10px 
        .main__container 
            height:440px
            .right_main
                width: 148px
                height: 199px
                margin-top: -20px
    header
        .container
            .header__icon:hover 
                .search-txt
                    width: 260px
    .tovar-2 
        .container 
            .tovar__items 
                .tovar__item
                    padding-left: 2%
    .questions 
        .question__item 
        .question__item.ans__active 
            .answer
                height: 200px

.open
    top: 53px !important
    overflow: scroll
    opacity: 1!important
.overflow
    overflow-y: hidden
@keyframes animate
    0%
        width: 0px
        height: 0px
    100%
        width: 40px
        height: 40px