@import font
@import mixins
@import modal
.section__link
    p
        margin-left: 15px
#tovar
    display: block
    top: 0
.tovar__buttons_tovar
            display: flex
            flex-direction: column
            align-items: flex-start
            position: sticky
            left: 0
            top: 100px
            z-index: 90
            footer
                display: none
            .button__item
                min-width: 271px
                display: flex
                padding-right: 11px
                align-items: center
                padding-left:14px
                padding-top: 10px
                padding-bottom: 10px
                font-size: 19px
                transition: .3s
                border-radius: 6px
                background: transparent
                margin-top: 8px
                z-index: 150
                text-align: left
                &:hover
                    background: linear-gradient(91.93deg, #FF5757 -6.24%, #FF9A9A 108.54%)
                    color: #fff
                    .ct_img__img
                            &:first-child
                                display: none
                            &:nth-child(2)
                                display: block
                .ct_img__img
                    &:nth-child(2)
                        display: none
                &:first-child
                    margin-top: 0px
                .ct__img
                    margin-right: 10px
                    width: 24px
                    display: flex
                    align-items: center
                    justify-content: center
                        
                #ct_1
                    img
                        @include icon-size(21px, 21px)
                #ct_2
                    img
                        @include icon-size(24px, 24px)
                #ct_3
                    img
                        @include icon-size(21px, 25px)
                #ct_4
                    img
                        @include icon-size(24px, 24px)
                #ct_5
                    img
                        @include icon-size(24px, 28px)
                #ct_6
                    img
                        @include icon-size(24px, 22px)
                #ct_7
                    img
                        @include icon-size(24px, 24px)
            .active
                background: linear-gradient(91.93deg, #FF5757 -6.24%, #FF9A9A 108.54%)
                color: #fff
.tovarD
    margin-top: 60px  