@import sass/base
body
    background-image: url(../img/bg.webp)
    background-repeat: repeat-y
    background-size: auto
    background-position: left top
.logo
    width: 120px
    margin-right: 60px
header
    display: flex
    align-items: center
    padding-top: 20px
.main__screen
    display: flex
    margin-top: 100px
    justify-content: space-between
.main__img
    width: 250px
    margin-top: 80px

.main__text
    h1
        max-width: 600px
        font-size: 71px
        font-weight: 400
        margin-bottom: 50px
        line-height: 114%
        span
            font-weight: 600
    p
        font-size: 20px
        font-weight: 500
        margin-bottom: 10px
.reg
    margin-top: 150px
.inovation
    margin-top: 50px
    .container
        display: flex
        .section__title
            font-size: 57px
            font-weight: 400
            max-width: 510px
            margin-bottom: 20px
    .section__text
        margin-left: 30px
    .section__describe
        max-width: 555px
        font-weight: 300 
        font-size: 21px 
        line-height: 154% 
        span
            font-weight: 500
.rules
    margin-top: 100px
    .container
        display: flex
        align-items: center
        justify-content: space-between
    .rules__img
        width: 100%
        margin-right: 30px
    .section__title
        font-size: 57px
        font-weight: 700
        max-width: 500px
        line-height: 114%
    .rules__value
        font-size: 21px
        font-weight: 600
        margin-top: 30px
    .rules__menu
        margin-left: 40px
        margin-top: 30px
        li
            margin-bottom: 20px
            font-size: 18px
            &:last-child
                font-weight: 600
    .play
        margin-top: 60px
.adv
    margin-top: 100px
    .container
        display: flex
        align-items: center
        justify-content: space-between
    .adv__img
        width: 100%
    .section__title
        font-size: 57px
        font-weight: 700
        max-width: 500px
        line-height: 114%
    .rules__value
        font-size: 21px
        font-weight: 600
        margin-top: 30px
        margin-bottom: 20px
    p
        font-size: 21px
        margin-top: 15px
    .adv__img
        border-top: 2px solid #000
        padding: 20px 30px 
    .adv__item
        margin-top: 20px
        max-width: 70%
    .item__title, .adv__title
        font-weight: 600
        font-size: 25px
        margin-bottom: 10px
    .adv__title
        margin-top: 50px
.strateg
    margin-top: 100px
    .container
        display: flex
        align-items: center
        justify-content: space-between
    .strateg__img
        width: 100%
    .section__title
        font-size: 57px
        font-weight: 700
        max-width: 500px
        line-height: 114%
    p
        font-size: 21px
        margin-top: 15px
    .strateg__item
        margin-top: 20px
        max-width: 70%
    .item__title
        font-weight: 600
        font-size: 25px
        margin-bottom: 10px
    .play
        margin-top: 100px
.find
    margin-top: 50px
    .section__title
        font-size: 57px
        font-weight: 700
        max-width: 80%
        line-height: 114%
        margin: 0 auto
        text-align: center
        margin-bottom: 40px
    .container
        display: flex
        justify-content: space-between
    .find__text
        max-width: 45%
        font-size: 18px
        font-weight: 300
        span
            font-weight: 600
    .fing__img
        display: flex
        flex-direction: column
        img
            margin-bottom: 40px
            width: 90%
@media screen and (max-width: 1170px)
    .container
        width: 99%
    .line
        display: none
    .inovation 
        .section__text
            margin-left: 0px
    .rules .container
        flex-direction: column
    .rules .rules__img
        margin-right: 0px
    .adv .adv__img, .strateg .strateg__img
        display: none
    .find 
        .container
            flex-direction: column-reverse
        .find__text
            max-width: 90%
        .fing__img 
            margin-top: 30px
            img
                width: 100%
@media screen and (max-width: 700px)
    .main__img
        display: none
    .reg, 
    .main__screen, 
    .rules, 
    .strateg, 
    .adv
        margin-top: 50px
    .find .section__title 
        font-size: 7vw
        font-weight: 700
        max-width: 100%
    header
        flex-direction: column
    .logo
        margin-right: 0px
    .menu li
        margin-right: 15px
    .main__text h1
        font-size: 12vw
    .inovation 
        .section__describe
            font-size: 16px
    .rules 
        .section__title
            font-size: 14vw
        .rules__menu
            margin-left: 20px
    .adv 
        .section__title
            font-size: 14vw
        .adv__item
            max-width: 100%
    .strateg 
        .section__title
            font-size: 13vw
        .strateg__item
            max-width: 100%



