.catalog
    &_block
        display: flex
        align-items: flex-start
        gap: 20px
        margin-top: 40px
    &_filters
        max-width: 280px
        width: 100%
        background: $sceen
        padding: 20px
        border-radius: 4px
        &Title
            @include h3
    &_main
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 20px
