@import sass/base.sass
.main__section
    background: #eff1f1
    padding-top: 25px
    padding-bottom: 42px
    position: relative
    .right__section
        position: absolute
        bottom: 0
        right: 0px
        width: 827px
header
    display: flex
    justify-content: space-between
    align-items: center
.logo
    width: 215px
    height: 56px   
.adres, .number
    font-size: 17px
    display: flex
    align-items: center
.iconh
    width: 14px
    margin-right: 11px
.number
    font-family: $bld
.soz
    display: flex
    align-items: center
.soz__item
    background-image: linear-gradient(to top, #40de82, #0d9847)
    width: 37px
    height: 37px
    border-radius: 100%
    display: flex
    align-items: center
    justify-content: center
    padding: 10px
    margin-right: 8px
    cursor: pointer
    &:last-child
        margin-right: 0px
.recall
    font-size: 12px
.first__section
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 70px
    .first__section-title
        max-width: 560px
        font-size: 40px
        text-align: left
    form
        background: #fff
        border-radius: 15px
        padding: 32px 40px
        max-width: 535px
        margin-top: 59px
        button
            background-image: linear-gradient(to top, #40de82, #0d9847)
            width: 100%
            padding: 17px 0px
            text-align: center
.input__block
    display: flex
    flex-wrap: wrap
    justify-content: space-between
.form__title
    text-align: center
    font-size: 18px
    font-family: $med
    margin-bottom: 24px
    font-weight: 500
.form__item
    width: 100%
    padding-left: 15px
    height: 48px
    border-radius: 5px
    box-shadow: 0 0 0 0 #050505, inset 0 0 0 0 #000, inset 0 0 0 1px #e8e8e8
    border: 1px solid #e8e8e8
    margin-bottom: 12px
.form__item-1
    max-width: 222px
.adv
    padding-top: 145px
    .container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin-top: 74px
.adv__item
    color: #000
    text-align: center
    padding: 42px 0px
    border-radius: 15px
    box-shadow: 0.1px 2px 36px 4px rgba(109, 109, 109, 0.08)
    background-color: #fff
    width: 100%
    max-width: 370px
    hr
        color: #0d9847
        height: 2px 
        width: 80px
        margin: 18px auto
.adv__img
    width: 60px
    height: 69px
    margin: 0 auto
    margin-bottom: 20px
.adv__title
    font-size: 20px
    font-family: $bld
.adv__describe
    max-width: 215px
    margin: 0 auto
    font-size: 18px
    font-family: $lght
.uns
    margin-top: 159px
.table
    display: flex
    flex-direction: column
    color: #000
    margin-top: 74px
.table__header   
    display: flex
    align-items: center
    width: 100%
    justify-content: flex-end
    color: #333333
    font-size: 24px
    font-family: $bld
    .table__item
        padding-bottom: 10px
        padding-top: 19px
.table__item
    width: 293px
    padding: 0px 51px
    display: flex
    align-items: center
    justify-content: center
    font-family: $bld
    height: 100%
    img
        width: 139px
.table__column
    display: flex
    align-items: center
    justify-content: center
    height: 62px
    &:nth-child(2n)
        background: #f7f7f7

.inf
    img
        width: 32px
        height: 15px
.table__column
    font-size: 18px
.table__title
    padding: 0
    padding-left: 30px
    justify-content: flex-start
    font-family: $reg
.border
    border-left: 1px solid #0d9847
    border-right: 1px solid #0d9847
.border-all, .border-bottom
    border: 1px solid #0d9847
    border-radius: 10px
.border-all
    border-bottom: 0px
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px
.border-bottom
    border-top: 0px
    border-top-left-radius: 0px
    border-top-right-radius: 0px
.sov
    margin-top: 264px
    .container
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 75px
.sov__right
    display: flex
    flex-wrap: wrap
.sov__item
    background: #f7f7f7
    max-width: 332px
    padding: 32px 46px
    padding-right: 59px
    border-radius: 20px
    margin: 9px
.sov__header
    display: flex
    align-items: center
.sov__header-img
    margin-right: 20px
    img
        height: 37px
        width: auto   
.sov__header-title
    max-width: 160px
    color: #333333
    font-size: 18px
    font-family: $med
.sov__describe
    max-width: 230px
    color: #494949
    font-size: 15px
    font-family: $lght
    margin-top: 18px
.sov__img
    min-width: 354px
    max-width: 354px
    margin-right: 102px
.buy
    margin-top: 154px
    .container
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 69px
    .buy__item
        border-left: 1px solid #dcdcdc
        border-right: 1px solid #dcdcdc
        padding: 0px 9px
        img
            height: 81px
            padding: 15px 0px
            width: auto
.about
    margin-top: 157px
    background-image: url("../img/about_car.png")
    background-repeat: no-repeat
    background-position: 90% center
    background-size: 616px

.abour__right
    min-width: 716px
    max-width: 716px
.about__title
    text-align: left
.about__block
    margin-top: 74px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 673px
.about__item
    display: flex
    flex-direction: column   
    width: 50%
    margin-bottom: 70px
.about__item-title
    color: #0d9847
    font-family: $bld
    font-size: 50px
    margin-bottom: 15px
.about__item-descript
    color: #333333
    font-size: 21px
    font-family: $reg
.review__describe
    max-width: 500px
    font-size: 21px
    color: #494949
.review
    margin-top: 257px
#slider
    margin-top: 69px 
    iframe
        height: 307px
        border-radius: 10px
.slick-center
    opacity: 1 !important
    pointer-events: auto !important
.slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 56px
    height: 56px
    background-color: #068039 
    background-image: none
    border-radius: 100%
    font-size: 0px
    padding: 0
    z-index: 1000
    background-repeat: no-repeat
    background-position: center center
    background-size: 10px 17px
.slick-next
    right: 34%
    background-image: url("../img/arr__right.webp")
.slick-prev
    left: 34%
    background-image: url("../img/arr__left.webp")
.obr__title
    text-align: left
    margin-bottom: 65px
.obr
    margin-top: 217px
    max-width: 100%
    overflow: hidden
    .container
        display: flex
        justify-content: space-between
        
.question__item
    position: relative
    padding-top: 33px
    padding-left: 36px
    border-radius: 10px
    box-shadow: 0.3px 4px 15px 1px rgba(173, 173, 173, 0.17)
    margin-bottom: 15px
    max-width: 609px
    width: 100%
    .question__arrow
        position: absolute
        top: 35px
        right: 35px
        cursor: pointer
        transition: .5s
        width: 19px
        height: 9px
    .question__arrow-active
        transform: rotate(180deg)
        top: 30px
    &:last-child
        margin-bottom: 0px
.question__title
    font-size: 17px
    font-family: $med
    cursor: pointer
.question__answer
    font-family: $lght
    font-size: 14px
    max-width: 491px
    margin-top: 22px
    max-height: 0px
    padding: 0
    overflow: hidden
    transition: .3s
.question__answer-active
    max-height: none
    padding-bottom: 31px
    overflow: visible
.obr__right
    background: #fff
    box-shadow: 0.3px 4px 15px 1px rgba(173, 173, 173, 0.17)
    border-radius: 15px
    padding: 23px 50px
    max-width: 480px
    width: 100%
.form__soz
    display: flex
    justify-content: center
.form__soz__item
    margin-right: 8px
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    border: 1px solid transparent
    padding: 10px
    &:last-child
        margin-right: 0px
    img
        width: 41px
        height: 41px
        margin-bottom: 9px
.radio
    display: none
    &:checked + .form__soz__item
        border: 1px solid #e8e8e8
.right__title, .right__descript, .form__soz-title
    text-align:  center
.right__title
    font-size: 23px
    margin-bottom: 17px
    color: #333333
    font-family: $med
.right__descript
    color: #494949
    font-size: 15px
    font-family: $lght
.form__footer-item
    height: 60px
    width: 100%
    border-radius: 10px
    box-shadow: 0 0 0 0 #000, inset 0 0 0 0 #000, inset 0 0 0 1px #f7f7f7, inset 0 0 12px 1px rgba(112, 112, 112, 0.04)
    background-color: #fbfbfb
    padding-left: 21px
    font-size: 18px
    margin-top: 30px
.form__soz-title
    color: #494949
    font-size: 16px
    font-family: $lght
    margin-top: 30px
    margin-bottom: 19px
textarea
    resize: none
    height: 125px !important
    outline: 0 none
    border: 0 none
    font-family: inherit
    padding-top: 25px
.form__foter-btn
    border-radius: 10px
    background-color: #068039
    margin: 0 auto
    background-image: none
    margin-top: 18px
    
footer
    padding-top: 82px
    padding-bottom: 22px
    background: #f8f8f8
    margin-top: 150px
    hr
        width: 100%
        height: 2px
        background-color: #dfdfdf
    .sogl
        text-align: center
        font-size: 13px
        margin-top: 21px
        font-family: $lght
        display: flex
        align-items: center
        justify-content: center
        width: 100%
    .container_1
        display: flex
        justify-content: space-between
        margin-bottom: 91px
    nav
        display: flex
        max-width: 355px
        width: 100%
        justify-content: space-between
    .number
        margin-top: 26px
.footer__info
    display: flex
    flex-direction: column
.footer__menu
    li
        margin-bottom: 15px
        &:last-child
            margin-bottom: 0px
.footer__soz
    display: flex
    margin-top: 29px
    a
        width: 29px
        height: 29px
        margin-right: 11px
        &:last-child
            margin-right: 0px
@media screen and (max-width: 1500px)
    .main__section 
        .right__section
            display: none
@media screen and (max-width: 1170px)
    .slick-next
        right: 20px
    .slick-prev
        left: 20px
    .container
        width: 100%
    .uns
        .container
            overflow: scroll
    .table
        width: 1170px
    .soz, .adres, .number
        display: none
    .first__section
        justify-content: center
    .first__section 
        .first__section-title
            text-align: center
    .first__section 
        form
            margin: 0 auto
            margin-top: 59px
    .uns, .sov, .about, .buy, .review, .obr
        margin-top: 80px
    .adv 
        padding-top: 50px
        .container
            flex-direction: column
            justify-content: center
            align-items: center
    .sov 
        .container
            flex-direction: column
    .sov__right
        justify-content: center
    .about
        background-image: none
    .about__title
        text-align: center
    .about__block
        max-width: 100%
    .about__item
        align-items: center
    .obr 
        .container
            flex-direction: column
            justify-content: center
            align-items:  center
    .obr__right
        margin-top: 50px
    footer
        margin-top: 50px
        padding-top: 20px
        .logo
            margin-bottom: 30px
        .container_1
            flex-direction: column
            align-items: center
@media screen and (max-width: 750px)
    .main__section
        .menu
            display: none
    .buy
        .container
            overflow: scroll
    .about__block
        flex-direction: column
        align-items: center
    .sov__img
        margin-right: 0px
    .about__item
        width: 100%
    .about__item-descript
        text-align: center
@media screen and (max-width: 450px)
    .sov__item
        padding-left: 10px
    .recall
        display: none
    .form__item-1
        max-width: 100%
    .table
        margin-top: 20px
    .sov__img
        max-width: 100%
        min-width: auto
    .obr__right, .first__section form
        padding-left: 10px
        padding-right: 10px
    .form__soz
        flex-wrap: wrap
    .section__title
        font-size: 26px
    .first__section .first__section-title
        font-size: 30px
    .question__title
        font-size: 13px
    .question__item
        padding-left: 10px
        padding-top: 12px
        .question__arrow
            top: 14px
            right: 10px