* {
    margin: 0;
    padding: 0;
}

.board {
    background-color: #cdc1b5;
    border: 6px solid #bbada0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 400px;
    height: 400px;
    user-select: none;
    position: relative;
}

.board-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    border: 5px solid #bbada0;
}

.board-item-2 {
    background-color: #eee4da;
    color: #727371;
}

.board-item-4 {
    background-color: #ece0ca;
    color: #727371;
}

.board-item-8 {
    background-color: #f4b17a;
    color: white;
}

.board-item-16 {
    background-color: #f59575;
    color: white;
}

.board-item-32 {
    background-color: #f57c5f;
    color: white;
}

.board-item-64 {
    background-color: #f65d3b;
    color: white;
}

.board-item-128 {
    background-color: #edce71;
    color: white;
}

.board-item-256 {
    background-color: #edcc63;
    color: white;
}

.board-item-512 {
    background-color: #edc651;
    color: white;
}

.board-item-1024 {
    background-color: #eec744;
    color: white;
}

.board-item-2048 {
    background-color: #ecc230;
    color: white;
}

.board-item-4096 {
    background-color: #fe3d3d;
    color: white;
}

.board-item-8192 {
    background-color: #ff2020;
    color: white;
}


dialog {
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 500px;
    width: 100%;
    border: 0 none;
    outline: 0 none;
    border-radius: 10px;
    padding: 18px 30px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.tiles-layer {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2;
}

.tile {
    position: absolute;
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 800;
    font-size: 30px;
    box-sizing: border-box;
    transition: left 100ms cubic-bezier(.19, 1, .22, 1),
        top 100ms cubic-bezier(.19, 1, .22, 1),
        transform 90ms ease;
    pointer-events: none;
    border: 6px solid transparent;
}