/*Standart Settings*/
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    color: #fff;
    letter-spacing: 1px;
}
img{width: 100%}
.flexa{display: flex; align-items: center}
a{color: inherit; text-decoration: none}
li{list-style-type: none; transition: .2s;box-sizing: border-box;}
ul{padding: 0; margin: 0}
button{border: none; cursor: pointer}
h1, h2, h3, p{margin: 0}
input[type="radio"] {display: none;}
h1{
    font-family: 'Open Sans', sans-serif;
    color: #242424; 
    font-weight: 500;
}
.flexsa{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px
}
/*Header Settings*/
header{
    background-color: #242424; 
    padding: 20px 0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.logo{
    width: 180px;
    height: 50px;
    margin-right: 105px;
    background-color: red
}
.left__header, .right__header{
    display: flex;
    align-items: flex-start;
}
.sozial__item{
    margin-right: 10px;
    color: #fff;
    font-size: 1.5rem;
    margin-top: -5px
}
.sozial__item:last-child{margin-right: 0px}
.formButton{
    font-family: inherit;
    background-color: #fff;
    padding: 10px 25px;
    color: #242424;
    border-radius: 30px;
    margin-right: 50px;
    box-shadow: 1.563px 8.863px 20px 0 rgb(0 0 0 / 30%)
}
.companyinfo, .number{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.number{margin-right: 0px}
.menu{
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    box-sizing: border-box;
}
.menu li{border-bottom: solid 1px transparent;}
.menu li:hover{
    color: #ffe5db;
    border-bottom: solid 1px #ffe5db;
}
#menuButton{display: none}
.burger{display: none}
.burger i{
    font-size: 28px
}
/*Slider*/
.slider{
    background-color: #242424; 
    padding: 80px 0 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider__block{
    max-width: 1024px; 
    overflow: hidden
}
.slick-dots{
    display: flex;
    align-items: center;
}
.slick-dots button{
    margin-right: 3px;
    margin-left: 3px;
}
.slider__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider__text{
    margin-top: 20px;
    color: #ffe5db;
    text-align: center;
}
.slider__title{
    font-size: 45px;
    font-weight: 600;
}
.slider__descript{
    font-size: 20px;
}
/*Smartphone*/
.tabs{
    background-color: #fafafa;
    padding: 30px 0;
}
.tabs__button{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.tabs__button button{
    background-color: #242424;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    width: 20%;
    border-right: 1px solid gray;
}
.tabs__content{
    color: #242424;
    padding-top: 80px;
    text-align: center;
}
.tabs__item{display: none;}
.tab__title{
    font-size: 2.5rem;
    letter-spacing: -1px;
}
.tabs__descript{
    letter-spacing: -1px;
    line-height: 20px;
    font-weight: 400;
}
.tachnik{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.technik__item{
    width: 16%;
    height: 292px;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-bottom: 50px;
    transition: .2s;
    padding: 12px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
    border-radius: 5px;
    cursor: pointer;
}
.technik__item:hover{box-shadow: 0 1px 8px #c1c1c1;}
.technik__img{
    height: 205px;
    max-width: 150px;
    margin-bottom: 15px;
}
.technik__name{
    text-align: center;
    color: #242424;
    margin-top: 15px;
}
/*Advantage*/
.advantages{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.advantages__item{
    width: 33.33%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 25px;
    text-align: center;
}
.advantage__img{
    margin-bottom:20px;
    color: #999;
    font-size: 60px;
}
.advantage__title{
    color: #242424;
    margin-bottom: 15px;
    font-size: 22px;
}
.advantage__descript{
    color: #787878;
    font-size: 16px;
    font-weight: 300
}
/*Descript*/
.descript__title{
    color: #242424;
    margin-bottom: 12px;
    letter-spacing: .2px;
    font-size: 2.4rem;
    line-height: 1.2;
}
.company__descript p{
    letter-spacing: .2px;
    color: #242424;
    margin-bottom: 1rem;
    font-size: 16px
}
.descript__menu{color: #242424;margin-bottom: 1rem;padding-left: 30px}
.descript__menu li{list-style:disc}
/*Cart*/
.cart{margin-top: 45px}
/*Footer*/
footer{
    background-color: #222;
    padding: 40px 0 15px 0;
    text-align: center;
    margin-top: -10px
}
footer .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer__menu li{margin-top: 10px;}
.footer__menu li:first-child{margin-top: 0px}
.footer__str{
    background-color: #111;
    padding: 30px 0 15px 0;
    color: #ffe5db;
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width: 1040px){
    .menu{left:-100%;transition: .8s;display: none;position:absolute}
    .container{width: 100%}
    .number, .companyinfo,.tabs__button span {display: none;}
    .burger{display:block;width: 28px;height: 28px;position: absolute;z-index:150;position: relative;}
    .beurger label{position: absolute;}
    .right__header{align-items: center;}
    .technik__item{
        width:33%;
        margin: 0 auto;
    }
    .logo{margin-right: 10%}
    .menuactive{
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: rgba(36,36,36,.99);
        left: 0;
        top: 0;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20px;
    }
    .menu li {
        margin-bottom: 8px;
        font-weight: 400;
    }
}
@media screen and (max-width: 750px){
    .advantages__item{
        width: 100%;
    }
    .technik__item{
        width:50%;
    }
    .sozial{
        display: none
    }
    .descript__title{
        font-size: 2.1rem
    }
    footer .container{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footer__menu:nth-child(2){margin-top: 50px}
}
@media screen and (max-width: 400px){
    .descript__title {
        font-size: 1.8rem;
    }
    .formButton{
        padding: 10px 15px;
        margin-right: 10px;
    }
    .logo{
        width: 150px;
        height: 41px
    }
    
}
.link{
    color: #242424;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px
}
.link a{
    color: #777777;
    font-weight: 400;
}
.section__title{
    font-size: 40px;
    color: #242424;
    margin-bottom: 30px
}
.overflow{overflow-y: hidden;}
.block{display: block}