@font-face {
  font-family: "SF-Pro-SemiBold";
  src: url(./fonts/SFProText-Semibold.ttf);
}
@font-face {
  font-family: "TT Firs Neue Light";
  src: url("../fonts/TTFirsNeue-Light.eot");
  src: local("TT Firs Neue Light"), local("TTFirsNeue-Light"), url("../fonts/TTFirsNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFirsNeue-Light.woff2") format("woff2"), url("../fonts/TTFirsNeue-Light.woff") format("woff"), url("../fonts/../fontsTTFirsNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue Regular";
  src: url("../fonts/TTFirsNeue-Regular.eot");
  src: local("TT Firs Neue Regular"), local("TTFirsNeue-Regular"), url("../fonts/../fonts/TTFirsNeue-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("../fonts/../fonts/TTFirsNeue-Regular.woff") format("woff"), url("../fonts/../fonts/TTFirsNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue ExtraLight";
  src: url("../fonts/TTFirsNeue-ExtraLight.eot");
  src: local("TT Firs Neue ExtraLight"), local("TTFirsNeue-ExtraLight"), url("../fonts/TTFirsNeue-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFirsNeue-ExtraLight.woff2") format("woff2"), url("../fonts/TTFirsNeue-ExtraLight.woff") format("woff"), url("../fonts/TTFirsNeue-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue Demibold";
  src: url("../fonts/TTFirsNeue-DemiBold.eot");
  src: local("TT Firs Neue DemiBold"), local("TTFirsNeue-DemiBold"), url("../fonts/TTFirsNeue-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFirsNeue-DemiBold.woff2") format("woff2"), url("../fonts/TTFirsNeue-DemiBold.woff") format("woff"), url("../fonts/TTFirsNeue-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue Bold";
  src: url("../fonts/TTFirsNeue-Bold.eot");
  src: local("TT Firs Neue Bold"), local("TTFirsNeue-Bold"), url("../fonts/TTFirsNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold.woff") format("woff"), url("../fonts/TTFirsNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue ExtraBold";
  src: url("../fonts/TTFirsNeue-ExtraBold.eot");
  src: local("TT Firs Neue ExtraBold"), local("TTFirsNeue-ExtraBold"), url("../fonts/TTFirsNeue-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFirsNeue-ExtraBold.woff2") format("woff2"), url("../fonts/TTFirsNeue-ExtraBold.woff") format("woff"), url("../fonts/TTFirsNeue-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue Medium";
  src: url("../fonts/TTFirsNeue-Medium.eot");
  src: local("TT Firs Neue Medium"), local("TTFirsNeue-Medium"), url("../fonts/TTFirsNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFirsNeue-Medium.woff2") format("woff2"), url("../fonts/TTFirsNeue-Medium.woff") format("woff"), url("../fonts/TTFirsNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue Thin";
  src: url("../fonts/TTFirsNeue-Thin.eot");
  src: local("TT Firs Neue Thin"), local("TTFirsNeue-Thin"), url("../fonts/TTFirsNeue-Thin.ttf") format("truetype") url("../fonts/TTFirsNeue-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFirsNeue-Thin.woff2") format("woff2"), url("../fonts/TTFirsNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue Black";
  src: url("../fonts/TTFirsNeue-Black.eot");
  src: local("TT Firs Neue Black"), local("TTFirsNeue-Black"), url("../fonts/TTFirsNeue-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFirsNeue-Black.woff2") format("woff2"), url("../fonts/TTFirsNeue-Black.woff") format("woff"), url("../fonts/TTFirsNeue-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "TT Firs Neue Regular";
  color: #fff;
}

body {
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  background: #0F1116;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

button {
  background: 0 none;
  border: 0 none;
  outline: 0 none;
  font-family: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1658px;
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%;
}

section {
  margin-bottom: 150px;
}

.section__title {
  font-size: 120px;
  color: #FBEC1C;
  font-family: "TT Firs Neue Light";
  font-weight: 300;
}

header {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  padding: 32px 0px;
  z-index: 1;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 78px;
}
.header__menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 96px;
}
.header__menu li {
  font-size: 20px;
  position: relative;
}
.header__menu li::before {
  width: 0px;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: -2px;
  background: #fff;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__menu li:hover::before {
  width: 100%;
}
.header__button {
  color: #FA1B56;
  border: 1px solid #FA1B56;
  padding: 23px 51px;
  font-size: 17px;
  font-weight: 500;
  font-family: "TT Firs Neue Medium";
  border-radius: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__button:hover {
  color: #333333;
  background: #FA1B56;
}

.main {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-bottom: 155px;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.main__title {
  max-width: 855px;
  width: 100%;
  font-size: 160px;
  font-weight: 400;
  font-family: "TT Firs Neue Regular";
}
.main__descript {
  max-width: 514px;
  width: 100%;
  font-weight: 400;
  font-family: "TT Firs Neue Regular";
  font-size: 30px;
  line-height: 47px;
}

.tabs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabs__item {
  padding: 28px 66px;
  border-radius: 55px;
  border: 1px solid #757F93;
  font-size: 19px;
  font-weight: 500;
  font-family: "TT Firs Neue Medium";
  color: #757F93;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tabs__item:hover {
  background: #FA1B56;
  color: #333333;
  border: 1px solid #FA1B56;
}

.about__title {
  font-size: 90px;
  font-weight: 400;
  font-family: "TT Firs Neue Regular";
  max-width: 1151px;
  line-height: 80px;
}
.about__title span {
  color: #FBEC1C;
  font-size: 90px;
  font-weight: 400;
  font-family: "TT Firs Neue Regular";
}
.about__link {
  color: #FA1B56;
  border: 1px solid #FA1B56;
  padding: 32px 36px;
  font-size: 18px;
  font-weight: 400;
  font-family: "TT Firs Neue Regular";
  border-radius: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 55px;
}
.about__link:hover {
  color: #333333;
  background: #FA1B56;
}
.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.about__info {
  max-width: 674px;
  width: 100%;
}
.about__descript {
  font-size: 23px;
  color: #757F93;
}
.about__adv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 62px 0px;
}
.about__adv-title {
  font-weight: 250;
  margin-bottom: 30px;
  font-size: 160px;
  line-height: 85px;
  font-family: "TT Firs Neue ExtraLight";
}
.about__adv-descript {
  font-size: 23px;
  font-weight: 500;
  font-family: "TT Firs Neue Medium";
  color: #757F93;
}

.case__title {
  text-align: right;
  padding-right: 331px;
}
.case__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.case__item {
  max-width: 654px;
}
.case__item-big {
  max-width: 928px;
  width: 100%;
}
.case__item:nth-child(2n) {
  text-align: right;
}
.case__item:nth-child(2n) .case__item-tags {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.case__item-img {
  border-radius: 92px;
  overflow: hidden;
  margin-bottom: 13px;
}
.case__item-title {
  font-size: 44px;
  font-weight: 400;
  font-family: "TT Firs Neue Regular";
}
.case__item-descript {
  font-size: 25px;
  font-weight: 400;
  font-family: "TT Firs Neue Regular";
  color: #757F93;
}
.case__item-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  margin-top: 28px;
}
.case__tags-item {
  padding: 16px 30px;
  color: #757F93;
  border: 1px solid #757F93;
  border-radius: 60px;
}