$black: #2C3136
$white: #ffffff
$green: #ADBB92
=flexa
    display: flex
    align-items: center
=bg 
    background-repeat: none
    background-size: cover
    background-position: center center
=shadow 
    box-shadow: 0px 0px 8px $white, 0px 0px 16px $white, 0px 0px 32px $white
*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-size: 14px
    font-weight: 400
    font-family: 'Roboto Slab', serif
html
    scroll-behavior: smooth
html, body
    max-width: 100%
    overflow-x: hidden
body
    position: relative
section
    padding: 60px 0px
.main
    padding: 0px
img
    width: 100%
    display: block
li
    list-style: none
a, button
    color: inherit
    font-family: inherit
    font-size: inherit
    text-decoration: none
    background: none
    cursor: pointer
    border: 0 none
    outline: 0 none
.container
    max-width: 1050px
    width: 100%
    margin: 0 auto
.main
    position: relative
    width: 100%
    height: 100vh
.slider
    width: 100%
    max-height: 100%
    overflow: hidden
    .slick-arrow
        position: absolute
        top: 50%
        transform: translateY(-50%)
        +bg
        font-size: 0
        width: 30px
        height: 30px
        z-index: 20
        filter: drop-shadow(0px 0px 5px $white)
    .slick-next
        background-image: url("img/arr-right.svg")
        right: 50px
    .slick-prev
        background-image: url("img/arr-left.svg")
        left: 50px
    .slick-dots
        +flexa 
        position: absolute
        bottom: 50px
        left: 50%
        transform: translateX(-50%)
        li
            font-size: 0px
            width: 10px
            height: 10px
            border-radius: 100%
            background: $white
            margin-right: 5px
            cursor: pointer
            &:last-child
                margin-right: 0px
        .slick-active
            background: $green
.slider__item
    position: relative
.slider__bg
    width: 100%
    height: 100%
    background: rgba(255, 255, 255, 0.4)
    position: absolute
    top: 0
    left: 0
header
    position: absolute
    top: 0
    left: 0
    padding-top: 13px
    z-index: 20
    width: 100%
    .container
        +flexa 
        justify-content: space-between
    .logo
        width: 136px
    .left__block
        display: flex
        flex-direction: column
    .menu
        +flexa 
        li
            margin-right: 40px
            padding-bottom: 19px
            border-bottom: 2px solid transparent
            font-size: 14px
            font-weight: 400
            &:last-child
                margin-right: 0px
            &:hover
                border-bottom-color: $black
                color: $green
    .soz__block
        margin-bottom: 20px
        align-self: flex-end
        +flexa 
        .soz__item
            width: 20px
            height: 20px
            margin-right: 20px
            filter: drop-shadow(0px 0px 5px $white)
.slider__text
    position: absolute
    top: 50%
    left: 50%
    transform: translateY(-50%) translateX(-50%)
    z-index: 20
    text-align: center
    +flexa
    flex-direction: column
.main__title
    font-size: 52px
    color: $green
    text-shadow: 0px 0px 8px #FFFFFF, 0px 0px 16px #FFFFFF, 0px 0px 32px #FFFFFF
    margin-bottom: 15px
.main__descript    
    color: $black
    text-shadow: 0px 0px 8px #FFFFFF, 0px 0px 16px #FFFFFF, 0px 0px 32px #FFFFFF
    font-size: 19px
    margin-bottom: 50px
.main__link
    padding: 15px 30px
    background: $green
    font-size: 13px
    color: $white
    text-transform: uppercase
.podologia
    background: url("img/Background.jpg")
    +bg
    background-repeat: repeat-y
    text-align: center
.pod__info
    max-width: 711px
    margin: 0 auto
.pod__descirpt
    font-size: 16px
    max-width: 700px
    margin: 30px auto
.pod__img
    max-width: 450px
    border-radius: 20px
    margin: 0 auto
    img
        border-radius: 20px
.pod__title
    font-size: 32px
    margin-bottom: 32px
    margin-top: 60px
    text-align: left
    span
        color: $green
        font-size: inherit
.pod__list
    color: #878B90
    li
        list-style: inside
        text-align: left
        margin-bottom: 10px
        font-size: 19px
        &:last-child
            margin-bottom: 0px
.slogan
    .pod__title
        text-align: center
        max-width: 406px
        margin: 0 auto
.about
    background: url("img/Background.jpg")
    +bg
    background-repeat: repeat-y
.about__item
    +flexa
    justify-content: space-between
    margin-bottom: 60px
    &:last-child
        margin-bottom: 0px
    .item__img
        max-width: 500px
        border-radius: 20px
        img
            border-radius: 20px
    .item__text
        max-width: 500px
.about__title
    color: $green
    font-size: 32px
    margin-bottom: 30px
.about__descript
    max-width: 316px
    font-size: 19px
    color: $green
    margin-bottom: 25px
.about__prelist
    margin-bottom: 25px
    font-size: 15px
    color: #878B90
.aboutSelf__list
    li
        list-style: inside
        margin-bottom: 5px
        font-size: 15px
        color: #878B90
        &:last-child
            margin-bottom: 0px
.hoch
    font-size: 12px
    color: #878B90
    margin-bottom: 30px
.hoch__list
    li
        list-style: georgian inside url('img/ok.svg')
        margin-bottom: 10px
        font-size: 12px
        color: #878B90
        &:last-child
            margin-bottom: 0px
.obuch
    .main__title
        text-align: center
.obuch__block
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 15px
.obuch__item
    max-width: 500px
    width: 100%
    transition: .3s
    border: 2px solid #EEEEEE
    padding: 40px
    margin: 25px 0px
    &:hover
        box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.25)
.obuch__title
    color: $black
    font-size: 19px
    margin-bottom: 20px
.obuch__date
    .date__item
        font-size: 17px
        color: $green
        margin-bottom: 5px
        &:last-child
            margin-bottom: 0px
.obuch__adress
    margin-top: 35px
    font-size: 15px
    color: #878B90
.obuch__footer
    margin-top: 15px
    color: $green
    font-size: 17px
    text-align: center
.kab
    .main__title
        text-align: center
        margin-bottom: 30px
        color: $black
        span
            color: $green
            font-size: inherit
    .kab__descript
        font-size: 16px
        text-align: center
        color: $green
.kab__block
    margin-top: 35px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: flex-start
.kab__item
    max-width: 500px
    width: 100%
    padding: 40px
    margin: 25px 0px
    transition: .3s
    border: 2px solid #EEEEEE
    background: $white
    &:hover
        box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.25)
    .item__title
        font-size: 19px
        color: $green
        margin-bottom: 20px
    .item__descipt
        font-size: 17px
        color: #878B90
.form
    form
        background: $white
    &__title
        font-size: 19px
        color: $black
        margin-bottom: 25px
    .input__block
        margin-bottom: 10px
        .input__title
            font-size: 14px
            color: #878B90
            margin-bottom: 10px
            text-transform: uppercase
            font-family: 'PT Sans', sans-serif
        input
            width: 100%
            height: 47px
            padding-left: 30px
            outline: 0 none
            border: 2px solid #EEEEEE
            color: #878B90
            font-size: 13px
            &::placeholder
                color: #878B90
                font-size: 13px
    &__button
        width: 100%
        background: $green
        font-family: 'PT Sans', sans-serif
        color: $white
        font-size: 13px
        padding: 15px 0px
        text-transform: uppercase
        margin-top: 15px
.methods
    background: url("img/Background.jpg")
    +bg
    background-repeat: repeat-y
    .methods__item
        margin-bottom: 60px
        +flexa 
        justify-content: space-between
        &:last-child
            margin-bottom: 0px
    .item__img
        max-width: 500px
        border-radius: 20px
        img
            border-radius: 20px
    .item__text
        max-width: 500px
    .methods__title
        font-size: 32px
        color: $green
        margin-bottom: 30px  
    .methods__descript
        margin-bottom: 20px
        font-size: 15px
        color: #878B90
        &:last-child
            margin-bottom: 0px
.diploms
    background: url("img/Background.jpg")
    +bg
    background-repeat: repeat-y
    .main__title
        text-align: center
        text-transform: uppercase
        margin-bottom: 40px
    .diploms__block
        +flexa 
        justify-content: space-between
.otz
    .main__title
        text-align: center
        margin-bottom: 60px
    &__item
        padding: 40px
        border: 2px solid #EEEEEE
    &__name
        font-size: 19px
        color: $black
        margin-bottom: 20px   
    .slick-dots
        +flexa 
        position: absolute
        bottom: -50px
        left: 50%
        transform: translateX(-50%)
        li
            font-size: 0px
            width: 10px
            height: 10px
            border-radius: 100%
            background: #EEEEEE
            margin-right: 5px
            cursor: pointer
            &:last-child
                margin-right: 0px
        .slick-active
            background: $green
.estetika
    background: url("img/Background-e.jpg")
    +bg
    .form
        form
            padding: 40px
    &__title
        font-size: 32px
        text-align: center
        margin-bottom: 30px

        span
            color: $green
            font-size: inherit
            text-shadow: 0px 0px 8px #FFFFFF, 0px 0px 16px #FFFFFF, 0px 0px 32px #FFFFFF
    &__descript
        font-size: 16px
        margin-bottom: 35px
        text-align: center
.photo
    background: url("img/Background-f.png")
    +bg
.photo__block
    margin-top: 24px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .photo__item
        max-width: 250px
        margin-bottom: 17px
        display: none
.svyaz
    background: #878B90
    .main__title
        text-shadow: none
        color: $white
        text-align: center
        font-size: 32px
        margin-bottom: 25px
    &__descript
        color: #EEEEEE
        font-size: 16px
        margin-bottom: 50px
        text-align: center
    .form
        display: flex
    form
        max-width: 700px
        width: 100%
        padding: 40px
    .form__info
        max-width: 350px
        width: 100%
        padding: 40px
        background: #EEEEEE
        .info__title
            font-size: 19px
            margin-bottom: 25px
        .info__item
            +flexa 
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0px
        .item__icon
            max-width: 15px
            min-width: 15px
            margin-right: 20px
        .item__text
            font-size: 15px
            color: #878B90
            font-family: 'PT Sans', sans-serif
.loadMore, .burger
    display: none
@media screen and (max-width: 1050px)
    .burger
        display: block
        width: 30px
    .loadMore
        display: block
        margin: 0 auto
        font-size: 24px
        color: $white
    .photo__block
        flex-direction: column
        align-items: center
    .container
        max-width: 98%
    header .left__block
        display: none
        position: absolute
        top: 0
        right: -150%
        transition: .5s
        background: $white
        width: 100%
        max-height: 100vh
        height: 100vh
        overflow-y: scroll
    .main
        height: auto
        .slider__img
            height: 600px
            img
                height: 100%
        .slick-slider, .slick-list, .slick-track
            height: 600px
    .about__item
        flex-direction: column
        align-items: center
        &:nth-child(2)
            flex-direction: column-reverse
        .item__img
            margin-bottom: 30px
    .obuch__block, .kab__block, .methods .methods__item
        flex-direction: column
        align-items: center
    .methods
        .item__img
            margin-bottom: 20px
    .diploms .diploms__block
        flex-direction: column
        align-items: center
    .diplom__item
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0px
    .svyaz 
        .form
            flex-direction: column
        form, .form__info
            max-width: none
@media screen and (max-width: 450px)
    .main__title
        font-size: 32px
    .main__descript
        font-size: 16px
        margin-bottom: 40px
    .slider 
        .slick-next
            right: 10px
        .slick-prev
            left: 10px
    .pod__descirpt
        font-size: 12px
    .pod__title
        font-size: 24px
        text-align: center
    .pod__list 
        li
            font-size: 14px
    .about__prelist
        margin-bottom: 50px
    .aboutSelf__list 
        li
            font-size: 12px
    .obuch__item, .kab__item, .otz__item, .estetika .form form, .svyaz form, .svyaz .form__info
        padding: 25px
    .kab__item,.obuch__item
        margin: 10px 0px
.left__block-active
    right: 0px !important
    z-index: 2000
.menu-active
    flex-direction: column !important
    align-items: flex-start !important
    li
        font-size: 24px 
        text-transform: uppercase

.left__block-active2
    display: flex !important
    flex-direction: column-reverse !important
    justify-content: flex-end !important
    padding: 60px 50px !important
.soz__block-active
    align-self: flex-start !important