@import 'vars'
@import 'fonts'
*
    padding: 0 
    margin: 0
    box-sizing: border-box
    font-family: 'Gilroy-Medium'
    
body
    position: relative
    max-width: 100%
    overflow-x: hidden
img
    width: 100%
    height: auto
a
    text-decoration: none
    color: inherit
    display: block
    width: fit-content
button
    background: 0 none
    border: 0 none
    outline: 0 none
    font-family: inherit
li
    list-style: none
