@font-face {
    font-family: "ArialRegular";
    src: url("fonts/ArialRegular.eot");
    src: url("fonts/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/ArialRegular.woff") format("woff"),
    url("fonts/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "ArialBold";
    src: url("fonts/ArialBold.eot");
    src: url("fonts/ArialBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/ArialBold.woff") format("woff"),
    url("fonts/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "HelveticaRegular";
    src: url("fonts/HelveticaRegular.eot");
    src: url("fonts/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/HelveticaRegular.woff") format("woff"),
    url("fonts/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
html{
  height: 100vh
}
body{
  font-family: "ArialBold";
  color: #fff;
  background: linear-gradient(180deg, #000000 0%, #222222 100%);
}
.container{
  width:1176px;
  margin: 0 auto;
}
header{
  background-color: #242323;
  padding-top: 21px;
  padding-bottom: 21px;
}
section{
  display: flex;
  align-items: center;
  height: calc(100vh - 79px);
}
.flex_s{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left__header, .right__header{
  display: flex;
  align-items: center;
}
.header__logo{
  font-family: "ArialRegular";
  font-size: 25px;
}
.header__logo span{
  background-color: #FF8A00;
  color: #000;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}
.menu li{
  margin-left: 55px;
}
.menu li:first-child{
  margin-left: 66px;
}
.menu li a{
  color: #fff;
  font-family: "ArialRegular";
  font-size: 15px;
  transition: .3s
}
.menu li a:hover{
  color: #FF8A00
}
.number{
  font-size: 20px;
  margin-right: 24px;
}
.right__header button{
  color: #fff;
  background-color: #FF8A00;
  border-radius: 3px;
  font-family: "ArialRegular";
  font-size: 15px;
  padding: 10px 18px;
}
.top_main__block{
  display: flex;
  flex-direction: column;
}
.block__title{
  font-size: 35px;
  max-width: 693px;
  line-height: 40px;
  margin-bottom: 40px;
}
.undertitle__block{
  display: flex;
  align-items: center;
}
.undertitle__block p{
  margin-left: 19px;
  font-size: 23px;
}
.icon{
  width: 20px;
  height: 23px;
}
.bottom_main__block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 78px;
}
.left_info__block, .right_info__block{
  display: flex;
  flex-direction: column;
}
.right_info__block{
  align-items: center;
  width: 507px;
  height: 102px;
  position: relative;
}
.info__text{
  font-family: "HelveticaRegular";
  font-size: 23px;
  max-width: 500px;
  line-height: 26px;
}
.info__text span, .link__text span, .laptop__text span{
  color: #FF8A00;
}
.link{
  margin-top: 78px;
  display: flex;
  align-items: center;
}
.link a{
  padding: 20px;
  font-size: 17px;
  background-color: #FF8A00;
  border-radius: 5px;
  margin-right: 29px;
  color: #fff
}
.link__text{
  max-width: 302px;
  font-family: "ArialRegular";
  font-size: 15px;
}
.laptop{
  width: 507px;
  height: 102px;
  position: absolute;
  top: -125px;
}
.filter{
  position: absolute;
  width: 607px;
  height: 202px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 86, 82, 0.138) 0%, rgba(126, 52, 121, 0.348) 57.29%, rgba(255, 60, 0, 0.114) 100%);
  filter: blur(50px);
  top: -40px;
  left: -60px;
}
.laptop__text{
  font-size: 20px;
  line-height: 20px;
  font-family: "HelveticaRegular";
  max-width: 359px;
  margin-top: 126px;
  position: absolute;
  bottom: -67px;
}
@media screen and (max-width: 1024px) {
  .container{
    width: 81.96%
  }
  nav{
    display: none;
  }
  section{
    padding-top: 54px;
    display: block
  }
  .block__title{
    max-width: 357px;
    font-size: 30px;
  }
  .top_main__block{
    flex-direction: row;
    justify-content: space-between;
  }
  .icon{
    width: 39px;
    height: 39px;
  }
  .undertitle__block p{
    font-size: 15px;
    max-width: 92px;
  }
  .bottom_main__block{
    flex-direction: column-reverse;
    margin-top: 150px;
  }
  .laptop{
    position: static;
  }
  .laptop__text{
    margin-top: 21px;
    text-align: center;
    max-width: 315px;
    font-size: 15px;
    position: static;
  }
  .left_info__block{
    width: 100%;
    margin-top: 197px;
  }
  .info__text{
    font-size: 20px;
    max-width: 564px;
  }
  .link{
    margin-top: 54px;
    flex-direction: column;
    align-items: flex-start;
  }
  .link a{
    max-width: 232px;
    font-size: 14px
  }
  .link__text{
    max-width: 100%;
    margin-top: 44px
  }
}
@media screen and (max-width: 650px){
  section{
    max-height: 110vh;
    overflow-y: hidden;
  }
  .container{
    width: 91.25%
  }
  .right__header button{
    display: none
  }
  .top_main__block{
    flex-direction: column;
  }
  .block__title{
    max-width: 100%;
    margin-bottom: 0px;
  }
  .right_info__block{
    flex-direction: column-reverse;
  }
  .left_info__block{
    margin-top: 64px;
  }
  .right_info__block, .filter{
    width: 100%
  }
  .laptop__text{
    position: absolute;
    margin-top: 0px;
    top: -110px;
    right: 0;
    text-align:left;
    font-size: 10px;
    max-width: 153px;
  }
  .undertitle__block{
    margin-top: 57px
  }
  .info__text{
    max-width: 410px;
  }
  .link{
    margin-top: 5.7vh
  }
  .link a{
    margin: 0 auto;
  }
  .block__title {
    font-size: 6vw
  }
  .header__logo{
    font-size: 4vw
  }
  .number{
    font-size: 3.5vw
  }
  .laptop{
    width: 53.75%;
    height: 55px
  }
  .filter{
    width: 100%;
    height: 100%;
    top: 15px;
    left: -5px;
    filter: blur(40px);
  }
  .bottom_main__block {
    margin-top: 52px
  }
  section{
    padding-top: 35px;
    padding-bottom: 58px;

  }
}
@media screen and (max-width: 400px){
  .info__text{
    font-size: 13px;
    line-height: 15px
  }
  .link__text{
    display: none
  }
  .undertitle__block p{
    font-size: 10px;
    margin-left: 8px
  }
  .icon{
    width: 15px;
    height: 15px
  }
  .laptop__text{
    line-height: 11px;
    top: -83px
  }
  .block__title{
    line-height: 21px
  }

  .link a{
    padding: 13px 8px;
    font-size: 10px
  }

}
