/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{display: flex;}
/* Слайд */
.slick-slide{max-width: 1120px;}

/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slider{position:relative}
.slick-arrow{
    position: absolute;
    top: 50%;
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 0;
    width: 20px;
    height: 30px;
    z-index: 10
}
/* Стрелка влево */
.slick-arrow.slick-prev{
    left: 1%;
    background-image: url('img/arrow-left.png');
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    right: 1%;
    background-image: url('img/arrow-right.png');
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 45px
}
.slick-dots li{
    background-color: rgba(255,255,255,.5);
    margin-right: 3px;
    margin-left: 3px;
    width: 30px;
    height: 3px;
    cursor: pointer
}
/* Активная точка */
.slick-dots li.slick-active{
    background-color: #fff;
}
/* Элемент точки */
.slick-dots li button{
    display: none
}
@media screen and (max-width: 400px){
    
}