@import "vars"
*
    font-family: 'Inter', sans-serif
    padding: 0
    margin: 0
    color: $white
body
    background: $mainBg
img
    width: 100%
    height: auto
button,a
    border: 0 none
    outline: 0 none
    font-family: inherit
    color: inherit
    cursor: pointer
    text-decoration: none
.container
    max-width: 1290px
    margin: 0 auto
    width: 100%
h1
    font-weight: 700
    font-size: 40px
h2
    font-weight: 700
    font-size: 24px
    text-align: justify
    margin-top: 22px
header
    .container
        display: flex
        align-items: flex-end
.logo
    width: 322px
    margin-right: 138px
.text__item
    margin-top: 40px
    h2
        margin-bottom: 20px
        text-align: left
    &-descript
        font-weight: 600
        font-size: 18px
        margin-top: 16px
        line-height: 29px
    &-list
        margin-top: 15px
        padding-left: 30px
        li
            margin-top: 5px
footer
    margin-top: 95px
    color: $white
    padding-bottom: 20px
    font-weight: 400
    .last
        margin-left: 35px
.header__container
    +flexa
    justify-content: space-between
    max-width: $headerContainer
    margin: 0 auto
@media screen and (max-width: 900px)
    footer
        padding-left: 20px
        .header__container
            flex-direction: column-reverse
            align-items: flex-start
        .last
            margin-left: 0px
    .footer__right
        display: flex
        flex-direction: column
    .footer__text
        margin-bottom: 6px
    .copy
        margin-top: 9px
    header 
        .container
            flex-direction: column
            align-items: flex-start
    .main__title
        align-self: center
    h1
        font-size: 30px
    h2
        font-size: 20px
    .main__descript
        font-size: 24px
    .text__item
        margin-top: 30px
        h2
            margin-bottom: 10px
        &-descript
            font-size: 14px
            line-height: 22px

@media screen and (max-width: 550px)
    h1
        font-size: 26px
    .main__descript
        font-size: 18px
    .text__item 
        h2
            font-size: 20px
    .logo
        width: 150px
    footer
        margin-top: 40px
        padding-left: 0px
