$reg: 'TT-Regular'
$med: 'TT-Medium'
$bld: 'TT-Bold'
$lght: 'TT-Light'
*
    margin: 0
    padding: 0
    text-decoration: none
    color: inherit
    font-weight: inherit
    list-style: none
    box-sizing: border-box
html
    scroll-behavior: smooth
body
    max-width: 100%
    overflow-x: hidden
    font-size: 16px
    color: #000
    font-family: $reg
button, input
    border: 0 none
    outline: 0 none
    font-family: inherit
button
    color: #fff
.menu
    display: flex
    justify-content: space-between
    align-items: center
    background: #fbfbfb
    padding: 20px 88px
    width: 100%
    text-transform: uppercase
    margin-top: 26px
    border-radius: 10px
    li
        font-size: 13px
        font-family: $med
        transition: .4s
        &:hover
            color: #3fbf71
button
    background-image: linear-gradient(to top, #fcba5c, #ff9113)
    background-color: #e88310
    border-radius: 10px
    padding: 18px 33px
    text-transform: uppercase
    cursor: pointer
.container
    width: 1170px
    margin: 0 auto
img
    width: 100%
    height: auto
.section__title
    font-size: 34px
    font-family: $reg
    font-weight: 400
    text-align: center
    span
        font-family: $bld
.section__describe
    max-width: 836px
    color: #494949
    margin: 0 auto
    margin-top: 38px
    text-align: center
    font-size: 21px
    font-family: $lght
    font-weight: inherit