.main__pre-title
    color: #fff
    font-size: 25px
    margin-bottom: 20px
.rules__describe-2
    margin-top: 50px
.where
    background: none
    span
        color: #000
.where__describe, .where .where__describe, .where .section__title
    color: #000
.where__text
    .section__title
        margin-bottom: 40px
#que
    .where__describe
        margin-top: 20px
.play
    .bt
        width: 100%
        display: flex
        justify-content: space-around
    a
        cursor: pointer
        background-color: rgb(7, 154, 48)
        padding: 15px 18px
        border: 5px solid rgb(255, 255, 255)
        border-radius: 90px
        box-shadow: rgb(0 0 0 / 35%) 0px 10px 20px
        color: #fff
        transition: all 0.5s linear 0s
        &:hover
            transform: scale(1.1)
.play__title, .play__descript
    color: #fff
    text-align: center
    font-size: 30px
.play__title
    font-weight: 300
    margin-bottom: 27px
.play__descript
    font-weight: 600
@media screen and (max-width: 600px)
    .rules__text
        margin-left: 0px
        margin-bottom: 20px
    .play
        .bt
            flex-direction: column
            text-align: center
            max-width: 320px
            margin: 0 auto