
.cart-shadow {
	background-color: rgba(0,0,0,.25);
}

.cart-modal {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
    display: none;
}

.cart-modal.active {
	display: flex;
}

.cart-modal .cart-body {
    margin-left: auto;
	width: 299px;
	background-color: white;
    display: flex;
    flex-direction: column;
}

.cart-modal .cart-header {
	display: flex;
	padding: 29px 24px;
	line-height: 30px;
	font: 16px 'Circe-Light', sans-serif;
	color: rgba(0, 0, 0, 255);
}

.cart-modal .cart-close {
	margin-top: auto;
	margin-bottom: auto;
    margin-left: auto;
	width: 16px;
	height: 16px;
	background-image: url('../images/cancel@1X.png');
}

.cart-modal .cart-close:hover {
	cursor: pointer;
}

.cart-modal .cart-product-total {
    margin-top: auto;
    padding: 29px 24px;
}
.cart-modal .cart-product-total p {
	font: 16px 'Circe-Light', sans-serif;
   	display: flex;
}

.cart-modal .cart-product-total p b {
	margin-left: auto;
}
.cart-modal .cart-product-total p:last-child {
    margin-top: 20px;
}
.cart-modal .cart-product-total p:last-child b {
	color: #af2c25;
}

.cart-modal .cart-action {
    display: flex;
    flex-direction: column;
    padding: 29px 24px;
}

.cart-modal .cart-action .cart-send, .cart-modal .cart-action .cart-next {
	font: 16px 'Circe-Light', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6.5px 20px 5px 20px;
    text-align: center;
}
.cart-modal .cart-action .cart-send {
	color: rgba(255, 255, 255, 255);
    background-color: #000000;
}
.cart-modal .cart-action .cart-next {
	color: rgba(0, 0, 0, 255);
    margin-top: 10px;
    border: 1px solid #000000;
}

.cart-modal .cart-product-item {
    display: flex;
    font: 16px 'Circe-Light', sans-serif;
	padding: 29px 24px;
	border-bottom: 1px solid #cac8c9;
}

.cart-modal .cart-product-item-img {
    min-width: 73px;
    height: 99px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}
.cart-product-item-info {
    display: flex;
    flex-direction: column;
}

.cart-product-item-title {
    text-transform: uppercase;
}

.cart-product-item-property {
    margin-top: auto;
    margin-bottom: auto;
}

.cart-product-item-price {
    font-weight: bold;
}