#catalog {
	width: 1027px;	
	padding: 35px 0 57px 0;
	overflow: hidden;
	left: 14px;
	margin: 0 auto;
	position:relative;
}
#left-column {
	width: 197px;
	float: left;
}
#left-column h1 {
	font-family: 'Circe-Bold';
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 6px;
}
#right-column {
	margin-left: 197px;
}

/* Навигация */
.nav_block {
	width:735px;
	height: 71px;
	margin: 0 auto;
	margin-top:5px;
	float:left;
}
.navigation {
	font: 14px 'Circe-Light';
	width:664px;
	height: 86px;
	margin: 0 auto;
	text-align:center;
	position: relative;
	display: -moz-inline-box;
	float:left;
	*zoom: 1;
	*display: inline;
    vertical-align: bottom;
	margin-top:9px;
}
.navigation a:link, .navigation a:visited, .navigation a:active {
	display: inside;
	text-decoration: none;
	color: #303030;
	padding: 8px 0px 0px 0px;
	text-decoration: none;
	margin:0 4px 0 4px;
}
.navigation a:hover {
	color: #af2c25;
	text-decoration: underline;
}
.navigation span {
	text-decoration: underline;
	color: #af2c25;
	margin:0 4px 0 4px;
}
.navigation span.nav_ext {
	border: none;
	background: transparent;
}
.nav_arrow_right {
    margin:0 0 0 3px;
	display: inline-block;
}
.nav_arrow_left {
	margin:0 3px 0 0;
	display: inline-block;
}
.empty-product {
	font: 15px 'Circe-Light';
}

/*Фильтр*/
#filter {
	font-family: 'Circe-Regular';
	width: 100%;
	height: 65px;
	text-align:center;
	top: 1px;
	position:relative;
}
#filter li {
	display:inline;
	margin: 0 16px 0 16px;
}
#filter a {
	font-size: 20px;
	color: #9c9e9f;
	text-transform: uppercase;
	text-decoration: none;
}
#filter #active {
	color: #000000;
    border: 1px solid #000000;
    padding: 0 8px 0 8px;
    position: relative;
}
#filter #active::before, #filter #active::after {
    content: ''; 
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
	bottom: -19px;
    border: 6px solid transparent;
    border-top: 6px solid #000000;
}
#filter #active::after {
    border-top: 6px solid white;
    bottom: -18px; 
}

.filter-sort-size{
	
}

.filter-sort-size li{
	float: left;
    display: block;
    width: 46%;
}
.filter-sort-age{
	
}
.filter-sort-age li {
    font: 14px/22px 'Circe-Light', sans-rerif;
    text-transform: none;
    background: none;
    color: #000;
}
.filter-sort-age li:first-child {
  
}
.filter-sort-age li label{
	font: 14px/22px 'Circe-Light', sans-rerif;
    text-transform: none;
    background: none;
    color: #000;
	cursor:pointer;
}

.filter-sort-age li label:hover{
	text-decoration:underline;
}



/*Доставка*/
#delivery {
	width: 1000px;
	height: 61px;
	background:url(../images/delivery.png) no-repeat;
	background-size: cover;
	float:left;
	margin: 18px 0 40px 0;
}


#delivery_lv {
	width: 1000px;
	height: 61px;
	background:url(../images/delivery_lv.png) no-repeat;
	background-size: cover;
	float:left;
	margin: 18px 0 40px 0;
}
#delivery_en {
	width: 1000px;
	height: 61px;
	background:url(../images/delivery_en.png) no-repeat;
	background-size: cover;
	float:left;
	margin: 18px 0 40px 0;
}

#message {
	font-family: 'Circe-Bold';
	line-height: 19px;
	width: 1000px; 
	height: 100px;
	font-size: 17px;
	color: #ffffff;
	background-color: rgba(175,44,37,.5);
	float: left;
}
#message #left-column {
	width: 68px;
	height:68px;
	background: url("../images/important-circle.png") no-repeat;
	background-size: cover;
	margin: 16px 0 16px 24px;
	float: left;
}
#message #right-column {
	margin: 21px 30px 0 138px;
}

.loading-page{
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
.filter-slider{
	margin-top:10px;
}
.price-slider{
	margin-left: 9px;
	margin-right: 24px;
}
.price-range-form{
	display:none;
}
.slider-margin-value-min,.slider-margin-value-max{
	font-size:12px;
	color:#9c9e9f;
	padding-bottom:7px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-toP: 15px;
}
.slider-margin-value-min{
	float:left;
	position: relative;
	left: -6px;
}
.slider-margin-value-max{
	float:right;
	position: relative;
	right: -3px;
}
.btn-filter{
	font-family: 'Circe-Light' !important;
    font-size: 14px !important;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background: none;
    border: none;
    text-align: right;
    width: 100%;
}
.btn-filter:focus{
	outline:none;
}
.clear{
	clear:both;
}
hr, .hr{
	border-top:1px solid #ccc;
}
.sort-hr{
	margin: 15px 70px 15px 0;
}
.products-loading{
	width:150px;
	height:150px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
}
.all-products-link{
	margin:5px 0;
}
.all-products-link a{
	border:1px solid #af2c25;
	color:#af2c25 !important;
	text-align:center !important;
	display:block;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	
}
#p_prldr1{
position: absolute;
left: 0;
top: 0;
right:0;
bottom:0;
background-size: cover;
background: #fff;
z-index: 30;}

.contpre1 small{font-size:25px;}
 
.contpre1{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#000;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}
 
#p_prldr1 .svg_anm1 {
position: absolute;
top: -700px;
left: 0;
right: 0;
width: 150px;
height: 150px;
margin-left: 50px;
background: url(http://freepreloaders.com/preloaders/flat-ring/index.flat-circle-spinner.svg) center center no-repeat;
background-size:150px;    
}
