/* Предустановки
-----------------------------------------------------------------------------*/

h1 {
	font-size: 21px;
	text-transform: uppercase;
	text-align:center;
	display: block;
}
.button1 {
	font-size: 16.5px;
	width: 200px;
	color: #ffffff;
	text-transform: uppercase;
	border: 1px solid #fff;
	text-align:center;
	display:inline-block;
	padding: 9px 0 6px 0;
}
.block-bg {
	width:100%;
	min-width:1200px;
	height: 136px;
	position: absolute;
}


/* Блоки
-----------------------------------------------------------------------------*/

#header {
	height: 294px;
	background: url("../images/header_bg.jpg") no-repeat center top;
	background-size: cover;
	position: relative;
	margin-bottom: 59px;
}
#catalog {
	width: 950px;
	height: 1243px;
	text-align: center;
	margin: 0 auto;
}


/* Стили для блоков
-----------------------------------------------------------------------------*/

/*Каталог*/
#catalog h1 {
	color: #af2c25;
	margin-bottom: 47px;
}
#catalog .flex-container ul {
	display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#catalog li {
	width: 455px;
    height: 285px;
	margin-bottom: 60px;
	position: relative;
}
#catalog li a .mask {
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
#catalog li a:hover .mask {
	width: 100%;
	height: 100%;
	opacity: 0.75;
	position:absolute;
}
#catalog .mask .button1 {
	margin-top: 126px;
}
#catalog li a {
	display: block; 
	width: 100%;
	height: 100%;
	transition: 0.3s;
	position:absolute;
}
#catalog li a:hover {
	background-color: rgba(0,0,0,.3);
	transition: 0.3s;	
}
#catalog li:nth-child(1) { background:url(../images/cat1.jpg) no-repeat; }
#catalog li:nth-child(2) { background:url(../images/cat2.jpg) no-repeat; }
#catalog li:nth-child(3) { background:url(../images/cat3.jpg) no-repeat; }
#catalog li:nth-child(4) { background:url(../images/cat4.jpg) no-repeat; }
#catalog li:nth-child(5) { background:url(../images/cat5.jpg) no-repeat; }
#catalog li:nth-child(6) { background:url(../images/cat6.jpg) no-repeat; }
#catalog .catalog-bottom .button1 {
	color: #595550;
	border: 1px solid #595550;
	margin-top: -10px;
}

/*О Нас*/
#about .block-bg  {
	background:url("../images/group.png") no-repeat center;
	margin-top: -86px;
}
#about {
	height: 500px;
	color: #ffffff;
	background: url("../images/header_bg1.jpg") no-repeat center bottom;
	background-size: cover;
}
#about .container {
	width: 1078px;
	height: 100%;
	margin: 0 auto;
}
#about h1 {
	font-size: 27px;
	padding: 86px 0 38px 0;
}
#about .text {
	font-size: 17px;
	padding: 0 18px 0 25px;
}
#about .text cufon {
	font-size: 16px;
	margin-bottom: 4px;
}
#about .text p { margin-top: 20px;}
#about .small-container .separate {
	width: 167px;
	height: 3px;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 15px;
	display: block;
}
#about .small-container {
	text-align: center;
}

/*Бренды*/
#brands {
	height: 267px;
}
#brands .container {
	width: 1078px;
	height: 100%;
	margin: 0 auto;
}

/*Карта*/
#map {
	background: url("../images/map.jpg") no-repeat center bottom;
	background-size: cover;
	height: 610px;
}
#map .container {
	width: 1043px;
	height: 100%;
	margin: 0 auto;
}
#map #layer {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
#map .info-block {
	width: 300px; 
	height: 323px;
	font-size: 16px;
	color: #353535;
	background-color: #ffffff;
	float: right;
	padding: 69px 0 0 33px;
	margin: 130px 0px 0 0;
}
#map .block-bg  {
	background:url("../images/point.png") no-repeat center;
	margin-top: -71px;
}
#map .adress cufon {
	margin-bottom: 5px;
}
#map .contact {
	margin: 43px 0 0 0;
}
#map .contact cufon {
	margin-bottom: 0px;
}
#map li {
	line-height: 14px;
	padding:0px 0px 4px 0px;
}
#map li:nth-child(3) {
	margin-top: 27px;
}
#map li img {
	float:left; 
	margin-right: 4px;
}
#map a {
	color: #353535;
}
#map a:hover {
	border-bottom: 1px solid #353535;
}


.search-column{
	margin-left:0;
}


