
html, body {
	height: 100%; 
	margin: 0; 
	padding: 0; 
}


.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
*:first-child+html .clearfix{
	min-height:1px;
}

#wrapper {
	width: 100%;
	min-width: 1200px;
	min-height: 100%; 
	bottom:0; 
	margin: 0 auto; 
}
#top-header {
	height: 57px;
	background: url("../images/top_bg.gif") repeat-x #ffffff;
}
#clear {
	height: 307px; 
}
#footer {
	font-family: 'Circe-Light';
	width: 100%;
	min-width: 1200px;
	height: 307px; 
	color: #ffffff;
	background-color: #333333; 
	margin: -307px auto 0; 
}

#header p {
	width: 100%;
	font-size: 29px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -41%);
	position: absolute;
}
#header p cufon { margin-bottom: 9px; }
#ellipse {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
}
#ellipse img {
	width: 64px;
	height: 65px;
	background-size: cover;
}
#top-header .container {
	width: 1109px;
	height: 100%;
	margin: 0 auto;
}
#logo {
	top: 22px;
	position: absolute;
}
#logo #nboutlet {
	width: 90px;
	height: 13px;
	background-size: cover;
}
#logo #back {
	top: 5px;
	left: 39px;
	right: 0;
	position:absolute;
}
#top-header .info-bar {
	min-width: 125px;
	top: 13px;
	position: relative;
	float:right;
}
#top-header .phone, #top-header .social, #top-header .search-block {
	float:left;
}
#top-header .phone img {
	width: 148px;
	height: 30px;
	background-size: cover;
}
#top-header .social {
	margin-left: 43px;
	margin-right:30px;
	text-align:right;
}
#top-header .social img {
	margin-left: 2.5px;
}



#top-header .search-block input:focus, #top-header .search-block .btn-search:focus{
	outline:none;
}
#top-header .search-block input[type="text"]{
	color:#b1b0b0;
	border: 3px solid #b1b0b0;
	height:12px;
	padding: 10px 30px 10px 10px;
	font-family: 'Lucida Grande',sans-serif;
	width:207px;
	position: absolute;
	top: 44px;
	z-index: 10;
	right: 25px;
	display: none;
}

#top-header .search-block .btn-search{
	background:url("../images/icon_search.png") no-repeat center;
	height: 20px;
	border: 0;
	width: 20px;
	cursor:pointer;
	position:relative;
	right: 32px;
	top: 4px;
	margin-left: 24px;
}






/*ÃÂ¡ÃÂ¿ÃÂ¸Ã‘ÂÃÂ¾ÃÂº Ã‘â€šÃÂ¾ÃÂ²ÃÂ°Ã‘â‚¬ÃÂ¾ÃÂ²*/
#item-list {
	width: 100%;
	position:relative;
}
#item-list li {
	width: 192px;
	height: 349px;
	margin: 0 5px 20px 5px;
	text-align: center;
	float: left;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}
#item-list li:hover {
	background-color: #fff; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.35);
	 -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.35); 
	 box-shadow: 1px 2px 5px rgba(0,0,0,.35);
	cursor: pointer;
}
#item-list .view {
	width: 192px;
	height: 208px;
	background:url("../images/empty.png") #f8f8f8 no-repeat;
	position:relative;
}
#item-list .view img {
	width: 192px;
	height: 208px;
	background-size: cover;
}

#item-list .viewsearch {
	width: 192px;
	height: 208px;
	background:url("../images/empty.png") #f8f8f8 no-repeat;
	position:relative;
}
#item-list .viewsearch img {
	width: 192px;
	height: 208px;
	background-size: cover;
}

.status {
	width: 22px;
	height: 54px;
	margin-left: 10px;
	top: 0;
	position:absolute;
}



.rotate  {
	-webkit-transform: rotate(90deg); /* Chrome y Safari */
	-moz-transform: rotate(90deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(90deg); /* Opera */
	padding-left:36px;
	vertical-align: text-top; 
	display:inline-block;
	float:right;
	top: -9px;
	position: absolute;
}
.new { background:url("../images/status_new.jpg") no-repeat top; }
.sold { background:url("../images/status_sold.jpg") no-repeat top; }
.offer { background:url("../images/discont.png") no-repeat top; }
#item-list a {
	text-decoration: none;
}
#item-list .title {
	font-family: 'Circe-Regular';
	font-size: 18px;
	color: #000000;
	text-transform: uppercase;
	margin: 15px 0 0px 0;
}
#item-list .description {
	font-family: 'Circe-Regular';
	font-size: 13px;
	color: #9c9e9f;
}
#item-list .article {
	font-family: 'Circe-Light';
	font-size: 14px;
	color: #000000;
	margin: 11px 0 10px 0;
}
#item-list .price {
	font-family: 'Circe-Bold';
	font-size: 20px;
	color: #000000;
	text-decoration: none
}
#item-list .price img {
	width:12px;
	top: 1px;
	margin-right:1px;
	position:relative;
}


#item-bottom {
	width: 100%;
	text-align:center;
	float: left;
    position: relative;
    z-index: 100;
}
#item-bottom .button1 {
	font-size: 16.5px;
	width: 200px;
	color: #595550;
	text-transform: uppercase;
	border: 1px solid #595550;
	text-align:center;
	display:inline-block;
	padding: 9px 0 6px 0;
	margin: 0 17px 0 17px;
}




/*ÃÅ¸ÃÂ¾ÃÂ´ÃÂ²ÃÂ°ÃÂ»*/
#footer .container {
	width: 1029px;
	height: 100%;
	margin: 0 auto;
	position:relative;
}
#footer .block-link {
	width: 400px;
	height: 166px;
	padding: 46px 0 0 0;
    left:0;
	position:absolute;
}
#footer .block-link .left-column {
	width: 202px;
 	float: left;
}
#footer .block-link .right-column {
	margin-left: 202px;
}
#footer .title {
	font-size: 18px;
	margin-bottom: 14px;
}
#footer .block-link  li {
	font-size:17px;
	line-height: 23px;
}
#footer .block-link a  {
	color: #ffffff;
	text-decoration: underline;
}
#footer .block-link a:hover  {
	text-decoration: none;
}
#footer .block-info {
	width: 483px;
	height: 117px;
	padding: 100px 10px 0 0;
    right: 0;
	position:absolute;
}
#footer .block-info .left-column {
	width: 262px;
 	float: left;
}
#footer .block-info .right-column {
	margin-left: 262px;
	
}
#footer .block-info .logo {
	top: 60px;
	right: 28px;
	position:absolute;
}
#footer .contact li cufon {
	margin-bottom: 4px;
}
#footer .contact img {
	float:left; 
	margin-right: 6px;
}
#footer .contact a {
	color: #ffffff;
}
#footer .contact a:hover {
	text-decoration: none;
}
#footer .copyright {
	width: 100%;
	height: 60px;
	font-size: 16px;
	position: absolute;
	bottom: 0;
}
#footer .copyright img {
	top: 2px;
	position:relative;
}
#footer .copyright cufon {
	margin-top: 34px;
}

.navigation-search{
	width: 100% !important;
}
.nav-block-search{
	width:100% !important;
}

.search-result-text {
    margin-left: 4px;
}


.search-result-text p{
   
}

.search-result-text .result-search{
	color:#000000;
	font-size:18px;
}
.search-result-text .products-result{
	color:#6d6e71;
	font-size:16px;
	margin-top:5px;
}
.my-separator{
	border-top:1px solid #c8c9ca;
	margin-left: 5px;
    margin-right: 22px;
    margin-bottom: 30px;
    margin-toP: 7px;
}

.subscribe-text{
	text-align:right;
}

.subscribe{
	float:right;
	margin-toP:48px;
	position: relative;
    z-index: 100;
}
.subscribe button:focus , .subscribe input:focus{
	outline:none;
}
.subscribe button{
	background:#af2c25;
	border:none;
	cursor:pointer;
	color:#fff;
	font-size:14px;
	padding:11px; 
	width:160px;
	margin-left:10px;
}

.subscribe input[type="text"]{
	border:none;
	font-size:14px;
	padding:8px;
	width:266px;
}
.subscribe-text{
	margin-bottom:17px;
}


.lang-bar {
	
	float:left; position: relative; top:22px; left:135px
}

.lang-bar img { margin-right:14px;
-webkit-filter: drop-shadow(2px 3px 3px #aeaeae);
filter: drop-shadow(2px 3px 3px #aeaeae);

}