/*!BASE!*/

html,
body {
  height: 100%;
}

body {
  font-family: 'montserratregular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 768px;
  min-width: 320px;
  height: 100%;
  padding: 0 20px;
  margin: auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  margin-top: 18px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-sale {
  display: block;
  max-width: 130px;
  text-decoration: none;
  font-family: "montserratsemibold";
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  /* or 128% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #BA0C17;
  padding: 7px 29px 7px 10px;
  position: relative;
  border-radius: 1px;
}

.btn-sale:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0px, -60%);
  -ms-transform: translate(0px, -60%);
  transform: translate(0px, -60%);
  background: url("../img/icon/arrow_next-small.svg") no-repeat;
  background-size: contain;
  height: 17px;
  padding-right: 16px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 375px) {
  .btn-sale {
    max-width: 157px;
    font-size: 18px;
    padding: 7px 33px 7px 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 45px;
  }

  .btn-sale {
    padding: 18px 33px 18px 10px;
    border-radius: 0;
  }

  .btn-sale:after {
    background: url("../img/icon/arrow_next.svg") no-repeat;
    -webkit-transform: translate(0px, -56%);
    -ms-transform: translate(0px, -56%);
    transform: translate(0px, -56%);
    height: 26px;
  }
}