/*!Стили карточек в корзине!*/

.card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 16px;
  margin-top: 31px;
  margin-bottom: 16px;
}

.card-block .card_exit {
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.card-block .card__img {
  width: 100px;
  height: 100px;
}

.card-block .card__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10px;
}

.card-block .card__content-wrap .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-block .card__content-wrap .card__content .card-title {
  font-family: "montserratregular";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card-block .card__content-wrap .card__content .card-size,
.card-block .card__content-wrap .card__content .card-count,
.card-block .card__content-wrap .card__content .card-article {
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #b1b0b0;
}

.card-block .card__content-wrap .card__content .card-count {
  display: none;
}

.card-block .card__content-wrap .card__content .card-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.card-block .card__content-wrap .card__content .card-article .article-title {
  display: none;
}

.card-block .card__content-wrap .card__price {
  font-family: "montserratsemibold";
  font-size: 14px;
  line-height: 23px;
  color: #BA0C17;
  -ms-flex-item-align: center;
  align-self: center;
}

@media screen and (min-width: 375px) {
  .card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 16px;
    margin-top: 31px;
    margin-bottom: 16px;
  }

  .card-block .card__content-wrap {
    margin-top: 0;
  }

  .card-block .card__content-wrap .card__content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .card-block .card__content-wrap .card__content .card-title {
    max-width: 195px;
  }

  .card-block .card__content-wrap .card__price {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .card-block {
    border-bottom: 1px solid #c4c4c4;
  }

  .card-block .card_exit {
    margin-right: 31px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  .card-block .card__img {
    width: 160px;
    height: 160px;
    margin-right: 21px;
  }

  .card-block .card__content-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .card-block .card__content-wrap .card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 235px;
    margin-right: 140px;
  }

  .card-block .card__content-wrap .card__content .card-title {
    max-width: 100%;
    font-size: 16px;
  }

  .card-block .card__content-wrap .card__content .card-size,
  .card-block .card__content-wrap .card__content .card-count,
  .card-block .card__content-wrap .card__content .card-article {
    font-size: 14px;
  }

  .card-block .card__content-wrap .card__content .card-count {
    display: block;
  }

  .card-block .card__content-wrap .card__content .card-article .article-title {
    display: block;
  }

  .card-block .card__content-wrap .card__content .card-article {
    margin-top: auto;
    margin-bottom: 0;
  }

  .card-block .card__content-wrap .card__price {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 18px;
  }
}