/*!Блок каталог!*/

.item-list a {
  color: #000000;
}

.item-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.item-list ul li {
  max-width: 158px;
  margin-bottom: 20px;
}

.item-list .view {
  position: relative;
}

.item-list .status {
  width: 22px;
  height: 54px;
  margin-left: 10px;
  top: 0;
  position: absolute;
}

.item-list .new {
  background: url(../img/status/status_new.png) no-repeat top;
}

.item-list .title,
.item-list .description,
.item-list .article {
  font-family: "montserratregular";
  letter-spacing: 1px;
}

.item-list .title {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 16px;
}

.item-list .description,
.item-list .article {
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

.item-list .description {
  margin-bottom: 5px;
}

.item-list .article {
  margin-bottom: 12px;
}

.item-list .price {
  font-family: 'montserratsemibold';
  line-height: 23px;
}

@media screen and (min-width: 375px) {
  .item-list ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .item-list ul li {
    min-width: 210px;
    margin-bottom: 30px;
  }
}