/*!Стили формы оформления заказа!*/

.form-block {
  width: 100%;
  margin: 0 auto;
  display: none;
}

.form-block .form-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-block .form-order label {
  font-family: 'montserratsemibold';
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #000000;
}

.form-block .form-order select,
.form-block .form-order option {
  font-family: 'montserratregular';
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #828282;
}

.form-block .form-order input,
.form-block .form-order textarea {
  border: 1px solid #828282;
}

.form-block .form-order input,
.form-block .form-order select {
  height: 32px;
  margin-bottom: 27px;
}

.form-block .form-order select {
  margin-left: 12px;
  width: 72%;
}

.form-block .form-order textarea {
  height: 94px;
  min-height: 50px;
  max-height: 100px;
  resize: vertical;
}

.cart-form-title {
  font-family: "montserratsemibold";
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  text-align: center;
  padding: 27px 0 31px;
  display: none;
}

.checkout-form .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .form-block {
    width: 340px;
  }

  .cart-form-title {
    display: block;
  }
}