/*!Подвал!*/

.footer {
  padding: 28px 0 33px;
  background-color: #333333;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "montserratregular";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #ffffff;
}

.flex-left {
  max-width: 185px;
  line-height: 17px;
  margin-bottom: 19px;
}

.flex-left .adress {
  color: #ffffff;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}

.flex-center .social-media {
  width: 37px;
  height: 37px;
  margin-right: 10px;
}

.flex-center .social-media:last-child {
  margin-right: 0;
}

.flex-right .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 19px;
}

.flex-right .phone {
  margin-left: 6px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.flex-right .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-right .email span {
  display: inline-block;
  margin-right: 10px;
  margin-left: 6px;
}

.flex-right .email a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  padding-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .footer-flex {
    font-size: 16px;
  }

  .flex-left {
    max-width: 150px;
    margin-bottom: 0;
  }

  .flex-center {
    margin-bottom: 0;
  }

  .flex-right .contact {
    padding-bottom: 10px;
  }
}