/*!HEADER!*/

.header {
  background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#ffffff));
  background: -o-linear-gradient(bottom, #f3f3f3 0%, #ffffff 100%);
  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 37px;
}

.navigation__menu {
  width: 20px;
  height: 20px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.navigation__menu .exit {
  display: none;
}

.navigation__logo {
  width: 83px;
  height: 11px;
  margin-left: auto;
}

.navigation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin-left: auto;
}

.block-search {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  cursor: pointer;
}

/*!Блок языковой панели!*/

.block-lang {
  position: relative;
  margin-right: 3px;
}

.dropbtn {
  width: 17px;
  height: 13px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 35px;
  padding: 6px 8px;
}

.dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3px;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  background: url(../img/header/arrow-lang.svg) no-repeat;
  width: 5px;
  height: 5px;
}

.dropdown:hover {
  background-color: #ffffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 1;
  padding: 6px 9px;
  background-color: #ffffff;
}

.dropdown-content a {
  width: 17px;
  height: 13px;
  text-decoration: none;
  display: block;
  margin-bottom: 7px;
}

.dropdown-content a:last-child {
  margin-bottom: 0;
}

.dropdown-content a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#ffffff));
  background: -o-linear-gradient(bottom, #f3f3f3 0%, #ffffff 100%);
  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*!Корзина!*/

.block-cart {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

/*!Скрытое меню!*/

.menu-list {
  position: absolute;
  left: -100%;
  top: 37px;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  -webkit-transition: left 0.2s linear;
  -o-transition: left 0.2s linear;
  transition: left 0.2s linear;
  z-index: 5;
}

.menu-list ul {
  margin: 44px 0 100% 58px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style-type: none;
}

.menu-list ul li {
  margin-bottom: 38px;
}

.menu-list ul li:last-child {
  margin-bottom: 0;
}

.menu-list ul li a {
  font-family: "montserratsemibold";
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-list ul li:nth-child(7) a {
  color: #BA0C17;
}

.menu-list-active {
  left: 0;
}

.menu-list .menu-footer {
  font-family: "montserratregular";
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  letter-spacing: 1px;
  background-color: #e1e1e1;
  padding: 21px 0 21px 58px;
}

.menu-list .menu-footer .adress {
  max-width: 190px;
  margin-bottom: 9px;
}

.menu-list-filter {
  position: static;
}

.menu-list-filter ul {
  margin: 24px 0 40px 58px;
}

.menu-list-filter ul li {
  margin-bottom: 40px;
}

.menu-list-filter ul li a {
  font-family: "montserratregular";
  font-size: 13px;
  line-height: 23px;
}

.menu-list-filter ul li:nth-child(7) a {
  color: #000000;
}

.menu-list-filter ul li:last-child {
  border: 1px solid #BA0C17;
  padding: 8px 40px;
}

.menu-list-filter ul li:last-child a {
  color: #BA0C17;
}

@media screen and (min-width: 768px) {
  .navigation {
    height: 53px;
  }

  .navigation__menu {
    width: 34px;
    height: 34px;
  }

  .navigation__logo {
    width: 175px;
    height: 23px;
  }

  .navigation__block {
    min-width: 125px;
  }

  .block-search {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }

  .block-lang {
    margin-right: 0;
  }

  .dropbtn {
    width: 27px;
    height: 21px;
  }

  .dropdown {
    padding: 5px 8px;
    width: 45px;
  }

  .dropdown-content {
    top: 31px;
    height: 60px;
  }

  .dropdown-content a {
    width: 27px;
    height: 21px;
  }

  .block-cart {
    margin-right: 15px;
    width: 27px;
    height: 27px;
  }

  .block-cart .round .count{
    content: attr(data-count);
    position: absolute;
    color: #BA0C17;
    font-family: "montserratmedium";
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 1px;
    top: 1px;
    left: 28px;
  }

  .menu-list {
    min-width: 125px;
    top: 53px;
  }

  .menu-list ul {
    margin: 57px 0 88px 114px;
  }

  .menu-list ul li {
    margin-bottom: 70px;
  }

  .menu-list .menu-footer {
    padding: 21px 0 21px 114px;
  }

  .menu-list-filter ul {
    margin: 17px 0 40px 114px;
  }

  .menu-list-filter ul li {
    margin-bottom: 27px;
  }

  .menu-list-filter ul li a {
    font-size: 16px;
    line-height: 20px;
  }

  .menu-list-filter ul li:last-child {
    padding: 8px 60px;
  }
}