/*!Блок назад!*/

.block-return {
  font-family: "montserratregular";
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-return .return {
  text-decoration: none;
  color: #000000;
  margin-left: 8px;
  line-height: 1;
}