@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.container {
    width: 1240px;
}
.category__intro {
    display: flex;
}
main{
    position: relative;
    overflow: hidden;
}
.categ__menu{
    position: absolute;
    top: 88px;
    right: -240px;
    background: #fff;
    max-width: 368px;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .5s
}
.categ__open{
    background: transparent;
    transition: .6s
}
.categ__menu.active .categ__open{
    transform: rotate(180deg);
}
.categ li{
    margin-top: 10px
}
.categ li a{
    display: flex;
    align-items: center;
    color: #021245;
    font-size: 24px;
    font-family: 'PT Sans';
}
.categ__img{
    margin-right: 32px;
    width: 73px
}
.categ__img img{
    margin: 0 auto;
}
.categ__text{
    max-width: 180px;
    font-size: 22px;
    color: #021245
}
.category__title {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0;
    color: #021245;
    margin-top: 150px;
    margin-left: 3%
}
.category__cards .container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 61px;
    margin-left: 3%
}
.card {
    transition: .3s;
    max-width: 300px;
    cursor: pointer
}
.card__intro {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px 8px #E1EBF6;
    align-items: center;
    padding: 15px
}

.card__title {
    font-family: 'PT Sans';
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: #003F80;
    max-width: 130px
}
.card__price {
    font-size: 20px;
    color: #003F80;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #003F80;
    min-width: 130px;
    height: 43px;
    border-radius: 39px;
    transition: 0.3s
}
.card__price:hover{
    background-color: #003F80;
    color: #fff
}
footer {
    margin-top: 80px}
@media screen and (max-width: 1240px){
    .container{
        width: 80%;
        justify-content:flex-start !important
    }
    .card{
        margin: 10px
    }
}
@media screen and (max-width: 900px){
    .footer{
        justify-content: center !important;

    }
    .footer .contacts{
        text-align: center;
    }
}
@media screen and (max-width: 600px){
    .categ__menu{
        top: 200px
    }
    .category__cards .container{
        margin-left: 0px
    }
}
@media screen and (max-width: 420px){
    .categ__menu{
        top: 182px
    }
    .category__title{
        margin-top: 100px;
        font-size: 11vw
    }
    .card{
        margin-right: 0px;
        margin-left: 2%;
        max-width: 80%
    }
    .card__content, .card__content img{
        width: 100%
    }
    .card__price{
        min-width: 50%;
        height: 30px;
    }
    .card__title{
        font-size: 14px
    }
    .category__cards .container{
        margin-top: 30px
    }
    .card__intro{
        padding-left: 5px;
        padding-right: 5px
    }
    .header .logo{
        top: 10px
    }
    .header{
        height: 65px
    }
}
.active{
    right: 0;
    padding-left: 45px
}
@media screen and (max-width: 340px){
    .categ__menu{
        top: 176px;
        padding-left: 15px
    }
}