$rg: TTNormsRegular
$md: TTNormsMediun
$bld: TTNormsBold
$th: TTNormsThin
$lg: TTNormsLight
*
    box-sizing: border-box
    margin: 0
    padding: 0
    border: 0 none
    outline: 0 none
    font-size: 14px
    font-family: $rg
    color: #fff
h1, h2
    font-family: $th
    span
        font-family: $bld
        font-size: inherit
        color: inherit
li
    list-style: none
button, a
    font-family: inherit
    color: inherit
    text-decoration: none
    cursor: pointer
img
    width: 100%
    height: auto
.container
    width: 1170px
    margin: 0 auto
    font-family: $rg 
.about
    margin-top: 148px

.line__title
    display: flex
    align-items: center
    text-transform: uppercase
    color: #fff
    font-size: 32px
    font-family: $bld
    hr
        left: 0
        background-image: linear-gradient(to top, #37de6c, #17bf4e, #0e8631)
        height: 5px
        width: 357px
        margin-right: 10px