* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
  color: #33322E;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #F7F5ED;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
}

button {
  background: none;
  outline: 0 none;
  border: 0 none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section__title {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 50px;
}

section {
  margin-bottom: 80px;
}

header {
  padding: 20px 0px;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-img {
  width: 100px;
  margin-right: 20px;
}
.header__logo-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-item {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 600;
}
.header__menu-item:last-child {
  margin-right: 15px;
}
.header__button {
  color: #fff;
  padding: 15px 30px;
  background: #596530;
  border-radius: 103px;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
  padding-top: 246px;
  padding-right: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__title {
  max-width: 441px;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 110%;
}
.main__descript {
  max-width: 702px;
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
}
.main__button {
  min-width: 160px;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #596530;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.heart__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.heart__img {
  max-width: 570px;
  width: 100%;
  margin-right: 40px;
}
.heart__img img {
  border-radius: 30px;
}
.heart__info {
  max-width: 590px;
}
.heart__info-item {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: justify;
}
.heart__info-item:last-child {
  margin-bottom: 0px;
}

.price__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.price__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 198px;
}
.price__item-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.price__item-descript {
  font-size: 26px;
  font-weight: 600;
  color: #7A8459;
}
.price__item-button {
  background: #596530;
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 103px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.price__item-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.rent__item {
  margin: 0px 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.2;
}
.rent .slick-active {
  opacity: 1;
}
.rent .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  bottom: -30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.rent .slick-dots button {
  font-size: 0px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #7A8459;
  margin-right: 10px;
}
.rent .slick-dots button:last-child {
  margin-top: 0px;
}
.rent .slick-dots .slick-active button {
  background: #33322E;
}
.rent .slick-next, .rent .slick-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 0px;
  background-size: 40px 40px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}
.rent .slick-next {
  right: 130px;
}
.rent .slick-prev {
  left: 130px;
}

.what .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.what__item {
  max-width: 590px;
  width: 100%;
}
.what__item-main {
  padding: 40px;
  border-radius: 30px;
  background: #fff;
  min-height: 624px;
}
.what__item-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 25px;
}
.what__item-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.what__item-list li:last-child {
  margin-bottom: 0px;
}
.what__item-list li img {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 15px;
}
.what__item-subblock {
  margin-top: 20px;
  border-radius: 30px;
  padding: 40px;
  position: relative;
  min-height: 239px;
  overflow: hidden;
}
.what__item-subblock::before {
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.1;
}
.what__item-img {
  position: absolute;
  right: 45px;
  bottom: 22px;
}
.what__item-subtitle {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
.what__item-descript {
  font-size: 32px;
  font-weight: 600;
  margin-top: 5px;
  color: #fff;
}
.what .subblock-first {
  background: #596530;
}
.what .subblock-second {
  background: #655730;
}
.what .subblock-second .what__item-img {
  bottom: -40%;
}

.how__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.how__descript {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}
.how__descript:last-child {
  margin-bottom: 0px;
}
.how__descript span {
  color: #989898;
}
.how__map {
  margin-top: 44px;
  height: 520px;
}

footer .container {
  background-size: cover;
  background-position: center center;
  padding: 30px;
  border-radius: 30px;
}

.footer__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  width: 100px;
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__menu li {
  font-size: 16px;
  font-weight: 600;
  margin-right: 40px;
  color: #fff;
}
.footer__button {
  padding: 15px 30px;
  background: #7A8459;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 103px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.footer__polit {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #D3D3D3;
}

.menu__button {
  width: 48px;
  border-radius: 100%;
  display: none;
}
.menu__button-close {
  width: 48px;
  border-radius: 100%;
  display: none;
}

.modal__bg {
  display: none;
}

.bg__img {
  position: absolute;
  z-index: -1;
}
.bg-1 {
  width: 1062px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  top: -100px;
  right: -620px;
}
.bg-2 {
  width: 778px;
  top: 950px;
  left: -440px;
}
.bg-3 {
  bottom: 400px;
  width: 1540px;
  left: -900px;
}

@media screen and (max-width: 1200px) {
  .bg__img {
    display: none;
  }
  .modal__bg {
    position: fixed;
    height: 100dvh;
    width: 100%;
    left: 0px;
    top: 130px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 3;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .modal__bg-active {
    opacity: 1;
  }
  .container {
    max-width: 98%;
  }
  .header__right {
    position: absolute;
    top: -10%;
    left: 0px;
    z-index: 4;
    width: 100%;
    background: #F7F5ED;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__right-active {
    top: 125px;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu-item {
    margin-bottom: 20px;
    margin-right: 0px;
    text-align: center;
  }
  .header__menu-item:last-child {
    margin-right: 0px;
  }
  .menu__button {
    display: block;
  }
  .main .container {
    padding-right: 50px;
  }
  .heart__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heart__img {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 900px) {
  .footer__up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .footer__menu li {
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .footer__polit {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main__title {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .main__button {
    margin: 0 auto;
    margin-top: 20px;
  }
  .price__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .rent .slick-next, .rent .slick-prev {
    top: auto;
    bottom: -70px;
  }
  .rent .slick-next {
    right: 80px;
  }
  .rent .slick-prev {
    left: 80px;
  }
  .rent__item {
    margin: 0px;
  }
  .what .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .what__item-main {
    min-height: auto;
  }
  .heart__img {
    max-width: 100%;
  }
  .heart__info {
    max-width: 100%;
  }
  .how .main__button {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .section__title {
    font-size: 7.5vw;
  }
  .header__button {
    width: 100%;
  }
  .rent .slick-next {
    right: 10px;
  }
  .rent .slick-prev {
    left: 10px;
  }
  .price__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 15px;
    padding-top: 150px;
  }
  .price__item-button {
    margin-top: 10px;
    width: 100%;
  }
  .main .container {
    padding: 0px;
    height: 80vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 40px;
  }
  .main__title {
    font-size: 11vw;
  }
  .main__descript {
    font-size: 3.6vw;
  }
  .what__item-main {
    padding: 20px;
  }
  .what__item-subblock {
    padding: 20px;
  }
  .how__descript {
    font-size: 5vw;
  }
}
@media screen and (max-width: 350px) {
  .main .container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 150px;
  }
  .what__item-descript {
    font-size: 9vw;
  }
}