@import 'sass/_vars'
*
    padding: 0px
    margin: 0px
    box-sizing: border-box
    font-family: "Inter Tight", sans-serif
    color: $black
    scroll-behavior: smooth
body
    position: relative
    background: $bg
    max-width: 100%
    overflow-x: hidden
html
    max-width: 100%
    overflow-x: hidden
a
    text-decoration: none
    color: inherit
    cursor: pointer
    display: block
button
    background: none
    outline: 0 none
    border: 0 none
    cursor: pointer
img
    width: 100%
    height: auto
li
    list-style: none
.container
    max-width: $MainContainer
    width: 100%
    margin: 0 auto
.section__title
    font-size: 45px
    font-weight: 500
    margin-bottom: 50px
section
    margin-bottom: 80px




header
    padding: 20px 0px
    .container
        display: flex
        align-items: center
        justify-content: space-between
.header
    &__logo
        display: flex
        align-items: center
        &-img
            width: 100px
            margin-right: 20px
        &-text
            font-size: 12px
            font-weight: 500
            line-height: 140%
    &__right
        display: flex
        align-items: center
    &__menu
        display: flex
        align-items: center
        &-item 
            margin-right: 40px
            font-size: 18px
            font-weight: 600
            &:last-child
                margin-right: 15px
    &__button
        color: $white
        padding: 15px 30px
        background: $green
        border-radius: 103px
        font-size: 16px
        font-weight: 600
        transition: .3s
        &:hover
            transform: scale(1.05)
.main
    .container
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        padding: 50px
        padding-top: 246px
        padding-right: 174px
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__title
        max-width: 441px
        font-size: 60px
        font-weight: 500
        margin-bottom: 30px
        line-height: 110%
    &__descript
        max-width: 702px
        font-size: 22px
        font-weight: 400
        line-height: 140%
    &__button
        min-width: 160px
        width: 160px
        height: 160px
        border-radius: 100%
        font-size: 16px
        font-weight: 600
        display: flex
        align-items: center
        justify-content: center
        background: $green
        color: $white
        transition: .3s
        &:hover
            transform: scale(1.05)
.heart
    &__block
        display: flex
        align-items: center
        justify-content: space-between
    &__img
        max-width: 570px
        width: 100%
        margin-right: 40px
        img
            border-radius: 30px
    &__info
        max-width: 590px
        &-item
            font-size: 16px
            font-weight: 400
            margin-bottom: 20px
            text-align: justify
            &:last-child
                margin-bottom: 0px
.price
    &__block
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 20px
    &__item
        position: relative
        display: flex
        align-items: center
        justify-content: space-between
        padding: 30px
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        padding-top: 198px
        &-title
            font-size: 22px
            font-weight: 600
            margin-bottom: 5px
        &-descript
            font-size: 26px
            font-weight: 600
            color: $main
        &-button
            background: $green
            color: $white
            padding: 15px 30px
            font-size: 16px
            font-weight: 600
            border-radius: 103px
            transition: .3s
            &:hover
                transform: scale(1.05)
.rent
    &__item
        margin: 0px 50px
        transition: .5s
        opacity: 0.2
    .slick-active
        opacity: 1
    .slick-dots
        display: flex
        align-items: center
        position: absolute
        left: 50%
        bottom: -30px
        transform: translateX(-50%)
        button
            font-size: 0px
            width: 10px
            height: 10px
            border-radius: 100%
            background: $main
            margin-right: 10px
            &:last-child
                margin-top: 0px
        .slick-active
            button
                background: #33322E
    .slick-next, .slick-prev
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 40px
        height: 40px
        border-radius: 100%
        font-size: 0px
        background-size: 40px 40px
        background-position: center center
        background-repeat: no-repeat
        z-index: 1
    .slick-next
        right: 130px
    .slick-prev
        left: 130px
.what
    .container
        display: flex
        justify-content: space-between
        gap: 20px
    &__item
        max-width: 590px
        width: 100%
        &-main
            padding: 40px
            border-radius: 30px
            background: $white
            min-height: 624px
        &-title
            font-size: 32px
            font-weight: 600
            margin-bottom: 25px
        &-list
            li
                display: flex
                align-items: center
                font-size: 18px
                font-weight: 400
                margin-bottom: 15px
                &:last-child
                    margin-bottom: 0px
                img
                    min-width: 40px
                    width: 40px
                    height: 40px
                    border-radius: 100%
                    margin-right: 15px
        &-subblock
            margin-top: 20px
            border-radius: 30px
            padding: 40px
            position: relative
            min-height: 239px
            overflow: hidden
            &::before
                width: 100%
                height: 100%
                
                content: ""
                top: 0
                left: 0
                position: absolute
                opacity: 0.1
        &-img
            position: absolute
            right: 45px
            bottom: 22px
        &-subtitle
            font-size: 22px
            font-weight: 600
            color: $white
        &-descript
            font-size: 32px
            font-weight: 600
            margin-top: 5px
            color: $white
    .subblock
        &-first
            background: #596530
        &-second
            background: #655730
            .what__item-img
                bottom: -40%
.how
    &__header
        display: flex
        align-items: center
        justify-content: space-between
    &__descript
        font-size: 22px
        font-weight: 400
        margin-bottom: 10px
        
        &:last-child
            margin-bottom: 0px
        span
            color: #989898
    &__map
        margin-top: 44px
        height: 520px
footer
    .container
        background-size: cover
        background-position: center center
        padding: 30px
        border-radius: 30px
.footer
    &__up
        display: flex
        align-items: center
        justify-content: space-between
    &__logo
        width: 100px
    &__right
        display: flex
        align-items: center
    &__menu
        display: flex
        align-items: center
        li
            font-size: 16px
            font-weight: 600
            margin-right: 40px
            color: $white
    &__button
        padding: 15px 30px
        background: $main
        color: $white
        font-size: 16px
        font-weight: 600
        border-radius: 103px
        transition: .3s
        &:hover
            transform: scale(1.05)
    &__polit
        margin-top: 40px
        font-size: 16px
        font-weight: 600
        color: #D3D3D3
.menu__button
    width: 48px
    border-radius: 100%
    display: none
    &-close
        width: 48px
        border-radius: 100%
        display: none
.modal__bg
    display: none
.bg
    &__img
        position: absolute
        z-index: -1
    &-1
        width: 1062px
        transform: rotate(-3deg)
        top: -100px
        right: -620px
    &-2
        width: 778px
        top: 950px
        left: -440px
    &-3
        bottom: 400px
        width: 1540px
        left: -900px
.modal
    &_bg
        position: fixed
        z-index: 3
        top: 0
        left: 0
        width: 100%
        height: 100dvh
        display: none
        align-items: center
        justify-content: center
        background: rgba(0, 0, 0, 0.4)
        opacity: 0
        transition: .3s
        &-active
            opacity: 1
    &__window
        max-width: 550px
        width: 100%
        padding: 30px
        background: #fff
        border-radius: 30px
        display: none
        transition: .3s
        opacity: 0
        &-active
            opacity: 1
        &-header
            display: flex
            align-items: center
            justify-content: space-between
        &-close
            width: 48px
            height: 48px
        &-title
            font-size: 22px
            font-weight: 600
        form
            margin-top: 20px
        input[type="text"]
            padding: 15px 30px
            width: 100%
            background: #ECEDF2
            border-radius: 103px
            margin-bottom: 10px
            outline: 0 none
            border: 0 none
            font-size: 16px
            color: #33322E
            font-weight: 600
            &::placeholder
                font-weight: 400
                color: #33322E
        input:checked ~ .checkbox-item
            background: #7A8459
        &-button
            margin-top: 10px
            width: 100%
            border-radius: 103px
            padding: 15px 0px
            background: #7A8459
            color: $white
            font-size: 16px
            font-weight: 600
        input[type="checkbox"]
            display: none
        &-footer
            display: flex
            align-items: center
            margin-top: 20px
            p
                font-size: 14px
                font-weight: 500
                max-width: 243px
        .checkbox-item
            min-width: 28px
            width: 28px
            height: 28px
            border-radius: 5px
            border: 1px solid #7A8459
            display: block
            margin-right: 10px
            position: relative
            &::after
                position: absolute
                top: 50%
                left: 50%
                width: 28px
                height: 28px
                content: ""
                background-image: url('img/gal.png')
                background-size: 10px 8px
                background-position: center center
                background-repeat: no-repeat
                transform: translateY(-50%) translateX(-50%)
.recall
    position: fixed
    right: 20px
    bottom: 20px
    &__links
        display: none
        flex-direction: column
        align-items: center
        &-active
            display: flex
        &-item
            width: 40px
            height: 40px
            border-radius: 100%
            background: #7A8459
            display: flex
            align-items: center
            justify-content: center
            padding: 8px
            margin-bottom: 5px
@media screen and (max-width: 1200px)
    .bg__img
        display: none
    .modal__bg
        position: fixed
        height: 100dvh
        width: 100%
        left: 0px
        top: 130px
        background: rgba(0, 0, 0, 0.4)
        z-index: 3
        opacity: 0
        transition: .5s
        &-active
            opacity: 1
    .container
        max-width: 98%
    .header__right
        position: absolute
        top: -10%
        left: 0px
        z-index: 4
        width: 100%
        background: #F7F5ED
        align-items: center
        flex-direction: column
        padding: 30px
        transition: .5s
        &-active 
            top: 125px
    .header__menu
        flex-direction: column
        &-item
            margin-bottom: 20px
            margin-right: 0px
            text-align: center
            &:last-child
                margin-right: 0px
    .menu__button
        display: block
    .main
        .container
            padding-right: 50px
    .heart
        &__block
            flex-direction: column
        &__img
            margin-right: 0px
            margin-bottom: 30px
@media screen and (max-width: 900px)
    .footer
        &__up
            flex-direction: column
            align-items: center
        &__right
            flex-direction: column
            align-items: center
        &__menu
            flex-direction: column
            align-items: center
            margin-top: 30px
            li
                margin-right: 0px
                margin-bottom: 25px
        &__polit
            text-align: center
@media screen and (max-width: 800px)
    .main
        .container
            flex-direction: column
            text-align: center
        &__title
            margin: 0 auto
            margin-bottom: 30px
        &__button
            margin: 0 auto
            margin-top: 20px
    .price
        &__block
            grid-template-columns: 1fr
    .rent .slick-next, .rent .slick-prev
        top: auto
        bottom: -70px
    .rent .slick-next
        right: 80px
    .rent .slick-prev
        left: 80px
    .rent__item
        margin: 0px
    .what .container
        flex-direction: column
        align-items: center
    .what__item-main
        min-height: auto
    .heart__img
        max-width: 100%
    .heart__info
        max-width: 100%
    .how
        .main__button
            display: none
@media screen and (max-width: 550px)
    .section__title
        font-size: 7.5vw
    .header__button
        width: 100%
    .rent .slick-next
        right: 10px
    .rent .slick-prev
        left: 10px
    .price__item
        flex-direction: column
        align-items: flex-start
        padding: 15px
        padding-top: 150px
        &-button
            margin-top: 10px
            width: 100%
    .main
        .container
            padding: 0px
            height: 80vh
            justify-content: flex-end
            padding-bottom: 40px
    .main__title
        font-size: 11vw
    .main__descript
        font-size: 3.6vw
    .what__item-main
        padding: 20px
    .what__item-subblock
        padding: 20px
    .how__descript
        font-size: 5vw
@media screen and (max-width: 350px)
    .main
        .container
            padding-left: 10px 
            padding-right: 10px
            padding-top: 150px
    .what__item-descript
        font-size: 9vw