
// Цвета    
$black: #000
$pink: #484283 
$red: #F14F4F
$blue: #444B58
$pear: #DBBBA9
$sceen: #FFF4EE
$gray: #B2B5BB

// текст
@mixin h1()
    font-weight: 400
    font-size: 36px
    color: $black

@mixin h2()
    font-weight: 700
    font-size: 30px
    color: $black

@mixin h3()
    font-weight: 400
    font-size: 24px
    color: $black