* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

h1, h2, h3 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  font-size: 64px;
}

h2 {
  font-weight: 700;
  font-size: 38px;
}

h3 {
  font-weight: 500;
  font-size: 30px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 0 none;
  outline: 0 none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  background: none;
}

.mainButton {
  padding: 20px 30px;
  border-radius: 46px;
  border: 2px solid #323843;
  -webkit-box-shadow: 2px 2px 0px 0px #323843;
          box-shadow: 2px 2px 0px 0px #323843;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  font-size: 20px;
}
.mainButton-green {
  background: #CBE857;
}
.mainButton-green:hover, .mainButton-green:active {
  background: #E2F497;
  -webkit-box-shadow: 4px 4px 0px 0px #323843;
          box-shadow: 4px 4px 0px 0px #323843;
}
.mainButton-pur {
  background: #C68DFF;
}
.mainButton-pur:hover, .mainButton-pur:active {
  background: #D2AEF6;
  -webkit-box-shadow: 4px 4px 0px 0px #323843;
          box-shadow: 4px 4px 0px 0px #323843;
}

span {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  margin-bottom: 120px;
}

input, textarea {
  border: 0 none;
  outline: 0 none;
}

@media screen and (max-width: 1180px) {
  section {
    margin-bottom: 60px;
  }
  .mainButton {
    padding: 15px 25px;
    font-size: 16px;
  }
  .container {
    max-width: 96%;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
    line-height: 33px;
  }
  h3 {
    font-size: 18px;
  }
}
header {
  padding: 30px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.header__logo-img {
  max-width: 55px;
  width: 100%;
  margin-right: 15px;
}

.header__button {
  display: none;
}

.header-active {
  background: #F1F1FA;
}

.menu li {
  margin-right: 40px;
  font-weight: 400;
}
.menu li:last-child {
  margin-right: 0px;
}
.menu-active {
  opacity: 1 !important;
}

.menu__footer {
  display: none;
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.menu__footer-info .mail {
  width: 24px;
}
.menu__footer-info .mail-text {
  font-size: 16px;
  margin-top: 5px;
}
.menu__footer-soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__footer-soz .soz-item {
  width: 40px;
  margin-right: 10px;
}
.menu__footer-soz .soz-item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 1180px) {
  .header__button {
    display: block;
  }
  .menu__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    opacity: 0;
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    top: 105px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 40px;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu li {
    padding: 15px 0px;
    margin-right: 0px;
    border-bottom: 1px solid #F1F1FA;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
  }
}
@media screen and (max-width: 500px) {
  .menu__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__footer-soz {
    margin-top: 5px;
  }
}
footer {
  padding: 60px 0px;
  background: #323843;
  color: #fff;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail__img {
  width: 24px;
  margin-right: 8px;
  margin-top: 3px;
}

.info__soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.soz__item {
  width: 40px;
  margin-right: 8px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__menu nav {
  margin-right: 64px;
}
.footer__menu nav li {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
}
.footer__menu nav:last-child {
  margin-right: 0px;
}

.polit {
  margin-top: 52px;
  font-size: 16px;
  font-weight: 400;
  display: block;
}

@media screen and (max-width: 1180px) {
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 9%;
  }
  .footer__menu nav {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer__menu nav:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 768px) {
  .footer__menu {
    margin-right: 0px;
    margin-top: 49px;
  }
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__soz {
    margin-top: 17px;
  }
}
.error-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F1F1FA;
  border-radius: 20px;
  padding: 48px 101px;
}
.error-info {
  max-width: 580px;
  margin-top: 100px;
}
.error__title {
  margin-bottom: 30px;
}
.error__img {
  max-width: 480px;
  width: 100%;
}

.mainButton {
  margin-top: 60px;
}

@media screen and (max-width: 1180px) {
  .error .container {
    max-width: 100%;
  }
  .error-block {
    border-radius: 0px;
    padding: 48px 2%;
  }
  .error__descript {
    max-width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .error-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .error-block img {
    max-width: 320px;
    margin-right: 70px;
  }
  .error-info {
    margin-top: 0px;
  }
  .mainButton {
    margin-top: 20px;
  }
}