* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

h1, h2, h3 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  font-size: 64px;
}

h2 {
  font-weight: 700;
  font-size: 38px;
}

h3 {
  font-weight: 500;
  font-size: 30px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 0 none;
  outline: 0 none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  background: none;
}

.mainButton {
  padding: 20px 30px;
  border-radius: 46px;
  border: 2px solid #323843;
  -webkit-box-shadow: 2px 2px 0px 0px #323843;
          box-shadow: 2px 2px 0px 0px #323843;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  font-size: 20px;
}
.mainButton-green {
  background: #CBE857;
}
.mainButton-green:hover, .mainButton-green:active {
  background: #E2F497;
  -webkit-box-shadow: 4px 4px 0px 0px #323843;
          box-shadow: 4px 4px 0px 0px #323843;
}
.mainButton-pur {
  background: #C68DFF;
}
.mainButton-pur:hover, .mainButton-pur:active {
  background: #D2AEF6;
  -webkit-box-shadow: 4px 4px 0px 0px #323843;
          box-shadow: 4px 4px 0px 0px #323843;
}

span {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  margin-bottom: 120px;
}

input, textarea {
  border: 0 none;
  outline: 0 none;
}

@media screen and (max-width: 1180px) {
  section {
    margin-bottom: 60px;
  }
  .mainButton {
    padding: 15px 25px;
    font-size: 16px;
  }
  .container {
    max-width: 96%;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
    line-height: 33px;
  }
  h3 {
    font-size: 18px;
  }
}
header {
  padding: 30px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-width: 55px;
  width: 100%;
}

.header__button {
  display: none;
}

.header-active {
  background: #F1F1FA;
}

.menu li {
  margin-right: 40px;
  font-weight: 400;
}
.menu li:last-child {
  margin-right: 0px;
}
.menu-active {
  opacity: 1 !important;
}

.menu__footer {
  display: none;
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.menu__footer-info .mail {
  width: 24px;
}
.menu__footer-info .mail-text {
  font-size: 16px;
  margin-top: 5px;
}
.menu__footer-soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__footer-soz .soz-item {
  width: 40px;
  margin-right: 10px;
}
.menu__footer-soz .soz-item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 1180px) {
  .header__button {
    display: block;
  }
  .menu__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    opacity: 0;
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    top: 105px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 40px;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu li {
    padding: 15px 0px;
    margin-right: 0px;
    border-bottom: 1px solid #F1F1FA;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
  }
}
@media screen and (max-width: 500px) {
  .menu__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__footer-soz {
    margin-top: 5px;
  }
}
footer {
  padding: 60px 0px;
  background: #323843;
  color: #fff;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail__img {
  width: 24px;
  margin-right: 8px;
  margin-top: 3px;
}

.info__soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.soz__item {
  width: 40px;
  margin-right: 8px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__menu nav {
  margin-right: 64px;
}
.footer__menu nav li {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
}
.footer__menu nav:last-child {
  margin-right: 0px;
}

.polit {
  margin-top: 52px;
  font-size: 16px;
  font-weight: 400;
  display: block;
}

@media screen and (max-width: 1180px) {
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 9%;
  }
  .footer__menu nav {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer__menu nav:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 768px) {
  .footer__menu {
    margin-right: 0px;
    margin-top: 49px;
  }
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__soz {
    margin-top: 17px;
  }
}
.main__block {
  margin-top: 90px;
}
.main__block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__block .mainButton {
  margin-top: 30px;
}

.main__info {
  margin-top: 63px;
}

.main__img {
  max-width: 580px;
  width: 100%;
  margin-left: 17px;
}
.main__img-mobile {
  display: none;
}

.main__title {
  margin-bottom: 15px;
}

.how__block {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.how__item {
  max-width: 380px;
  border-radius: 20px;
  background: #EAD4FF;
  padding: 30px;
  margin-right: 20px;
}
.how__item:last-child {
  margin-right: 0px;
}
.how__item .item__icon {
  width: 60px;
}
.how__item .item__title {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}
.how__item .item__descript {
  line-height: 25px;
  color: #505661;
}

.eks__block {
  padding: 60px 100px;
  border-radius: 20px;
  background: #F1F1FA;
}
.eks__title {
  text-align: center;
}
.eks__item {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eks__item-img {
  min-width: 60px;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.eks__item-title {
  font-size: 20px;
  font-weight: 500;
}

.comand__title {
  max-width: 579px;
}
.comand__item {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comand__item:nth-child(2n+1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.comand__item .item__text {
  max-width: 579px;
}
.comand__item .item__text-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.comand__item .item__text-descript {
  font-weight: 400;
  font-size: 18px;
}
.comand__item .item__img {
  max-width: 481px;
  width: 100%;
  border-radius: 20px;
}
.comand__item .item__img img {
  border-radius: 20px;
}

.quest__title {
  margin-bottom: 60px;
}
.quest .accordion__item {
  border-bottom: 2px solid #323843;
  border-color: rgba(50, 56, 67, 0.4);
}
.quest .accordion__item:first-child {
  border-top: 2px solid #323843;
  border-color: rgba(50, 56, 67, 0.4);
}
.quest .accordion__title {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  padding: 32px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.quest .accordion__title .accordion__arrow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #323843;
}
.quest .accordion-active .accordion__title-text {
  color: #B66DFF;
}
.quest .accordion-active .accordion__arrow svg path {
  stroke: #B66DFF;
}
.quest .accordion__rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.quest .accordion__content {
  font-size: 16px;
  line-height: 24px;
  display: none;
  padding-bottom: 30px;
}

.ank {
  margin-top: 45px;
}

@media screen and (max-width: 1180px) {
  .comand__title {
    font-size: 24px;
  }
  .comand__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comand__item:nth-child(2n+1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comand__item .item__img {
    max-width: 600px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .main__block .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__img {
    display: none;
  }
  .main__img-mobile {
    display: block;
    margin-top: 30px;
    max-width: 100%;
  }
  .how__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .how__item {
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .how__item:last-child {
    margin-bottom: 0px;
  }
  .how__item .item__title {
    margin-top: 10px;
    font-size: 18px;
  }
  .how__item .item__descript {
    font-size: 14px;
  }
  .how__item .item__icon {
    width: 40px;
  }
  .eks__block {
    padding: 20px;
    border-radius: 20px;
    background: #F1F1FA;
  }
  .eks__title {
    font-size: 18px;
    line-height: 21px;
  }
  .eks__item-img {
    min-width: 25px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .eks__item-title {
    font-size: 16px;
  }
  .comand__item .item__text-title {
    font-size: 18px;
  }
  .comand__item .item__text-descript {
    font-size: 16px;
  }
  .quest .accordion__title {
    font-size: 18px;
  }
}