* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

h1, h2, h3 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  font-size: 64px;
}

h2 {
  font-weight: 700;
  font-size: 38px;
}

h3 {
  font-weight: 500;
  font-size: 30px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 0 none;
  outline: 0 none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  background: none;
}

.mainButton {
  padding: 20px 30px;
  border-radius: 46px;
  border: 2px solid #323843;
  -webkit-box-shadow: 2px 2px 0px 0px #323843;
          box-shadow: 2px 2px 0px 0px #323843;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  font-size: 20px;
}
.mainButton-green {
  background: #CBE857;
}
.mainButton-green:hover, .mainButton-green:active {
  background: #E2F497;
  -webkit-box-shadow: 4px 4px 0px 0px #323843;
          box-shadow: 4px 4px 0px 0px #323843;
}
.mainButton-pur {
  background: #C68DFF;
}
.mainButton-pur:hover, .mainButton-pur:active {
  background: #D2AEF6;
  -webkit-box-shadow: 4px 4px 0px 0px #323843;
          box-shadow: 4px 4px 0px 0px #323843;
}

span {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  margin-bottom: 120px;
}

input, textarea {
  border: 0 none;
  outline: 0 none;
}

@media screen and (max-width: 1180px) {
  section {
    margin-bottom: 60px;
  }
  .mainButton {
    padding: 15px 25px;
    font-size: 16px;
  }
  .container {
    max-width: 96%;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
    line-height: 33px;
  }
  h3 {
    font-size: 18px;
  }
}
header {
  padding: 30px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.header__logo-img {
  max-width: 55px;
  width: 100%;
  margin-right: 15px;
}

.header__button {
  display: none;
}

.header-active {
  background: #F1F1FA;
}

.menu li {
  margin-right: 40px;
  font-weight: 400;
}
.menu li:last-child {
  margin-right: 0px;
}
.menu-active {
  opacity: 1 !important;
}

.menu__footer {
  display: none;
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.menu__footer-info .mail {
  width: 24px;
}
.menu__footer-info .mail-text {
  font-size: 16px;
  margin-top: 5px;
}
.menu__footer-soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__footer-soz .soz-item {
  width: 40px;
  margin-right: 10px;
}
.menu__footer-soz .soz-item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 1180px) {
  .header__button {
    display: block;
  }
  .menu__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    opacity: 0;
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    top: 105px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 40px;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu li {
    padding: 15px 0px;
    margin-right: 0px;
    border-bottom: 1px solid #F1F1FA;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
  }
}
@media screen and (max-width: 500px) {
  .menu__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu__footer-soz {
    margin-top: 5px;
  }
}
footer {
  padding: 60px 0px;
  background: #323843;
  color: #fff;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail__img {
  width: 24px;
  margin-right: 8px;
  margin-top: 3px;
}

.info__soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.soz__item {
  width: 40px;
  margin-right: 8px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__menu nav {
  margin-right: 64px;
}
.footer__menu nav li {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
}
.footer__menu nav:last-child {
  margin-right: 0px;
}

.polit {
  margin-top: 52px;
  font-size: 16px;
  font-weight: 400;
  display: block;
}

@media screen and (max-width: 1180px) {
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 9%;
  }
  .footer__menu nav {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer__menu nav:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 768px) {
  .footer__menu {
    margin-right: 0px;
    margin-top: 49px;
  }
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__soz {
    margin-top: 17px;
  }
}
.header__video {
  width: 420px;
  position: relative;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 60px;
}
.header__video video {
  width: 100%;
  display: block;
  height: 287px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__video.video-is-playing #video-over {
  display: block;
}
.header__video.video-is-playing #video-play {
  opacity: 0;
  visibility: hidden;
}

#video-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#video-play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 85px;
  height: 85px;
  background: #C68DFF;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}
#video-play::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  bottom: 0;
  margin: auto;
  left: 50%;
  -webkit-transform: translate(-35%, -60%);
          transform: translate(-35%, -60%);
  width: 0;
  height: 0;
  border: 33px solid transparent;
  border-top-width: 18px;
  border-bottom-width: 18px;
  border-left-color: #E5FC8A;
  border-right-width: 0;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.spec__block {
  padding: 60px;
  border-radius: 20px;
  background: #F1F1FA;
}
.spec__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.spec .info__img {
  width: 160px;
  height: 160px;
  margin-bottom: 30px;
}
.spec .info__job {
  display: block;
  margin: 15px 0px;
}
.spec .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.spec .hashtag__item {
  color: #505661;
  margin-right: 10px;
  font-size: 16px;
}
.spec .hashtag__item:last-child {
  margin-right: 0px;
}
.spec__title {
  margin-top: 60px;
}
.spec__descript {
  margin-top: 30px;
  color: #323843;
}

.diplom-slider {
  margin: 60px 0px;
}
.diplom-slider .slider__item {
  margin-right: 20px;
}

.spec-block {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.spec__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.spec__price-item {
  font-size: 24px;
  font-weight: 600;
}

.vibor {
  margin-top: 20px;
}

.otz {
  margin-bottom: 0px;
}
.otz__title {
  margin-bottom: 15px;
}
.otz__item {
  margin-top: 30px;
}
.otz__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.otz__item-mainInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.otz__item-name {
  font-size: 20px;
  font-weight: 500;
}
.otz__item-date {
  font-size: 16px;
}
.otz__item-img {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 100%;
}
.otz__item-img img {
  border-radius: 100%;
}
.otz__item-descript {
  margin-top: 15px;
  font-size: 16px;
  color: #323843;
}

.more__otz {
  margin-top: 45px;
  font-size: 16px;
  font-weight: 600;
  display: block;
}

.back {
  margin-top: 45px;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 1180px) {
  .spec__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .spec__block {
    padding: 30px;
  }
  .header__video {
    margin: 30px 0px;
  }
  .spec__title, .otz__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .header__video {
    width: 100%;
  }
  .spec__block {
    padding: 20px;
  }
  .spec .hashtag {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .spec .hashtag__item {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .spec .hashtag__item:last-child {
    margin-bottom: 0px;
  }
}