$rg: TTNormsRegular
$med: TTNormsMedium
$green: #1fb963
$bld: TTNormsBold
$light: TTNormsLight
*
    box-sizing: border-box
    border: 0 none
    outline: 0 none
    margin: 0
    padding: 0
body
    color: #212121
    font-family: $rg
    font-size: 14px
    line-height: 20px
button, a
    font-family: inherit
    font-size: inherit
    background: transparent
    text-decoration: none
    cursor: pointer
    color: inherit
img
    width: 100%
    height: auto
.main__button
    color: #3e3730
    display: flex
    align-items: center
    justify-content: center
    font-family: $bld
    border-radius: 35px
    background-image: linear-gradient(to top, #ffe187, #f8ce5e, #f2bb36)
    text-transform: uppercase 
li
    list-style: none
