#slideshowCont {
	float:left;
	height: 100%;
	overflow:scroll;
	position:relative;
}
#next{
	top: 76px;
	left:0;
	cursor:pointer;
	position:absolute;
	display:none;
	z-index:13;
}
#last{
	top: 76px;
	right:0px;
	cursor:pointer;
	position:absolute;
	display:none;
	z-index:13;
}
#slideShow {
	padding: 54px 0px;
	width: 1078px;
	height: 60px;
	overflow: hidden;
	text-align: center;
	float:left;
}
#slideShow img {
	width: 1034px;
	height: 100px;
	background-size: cover;
}
#slideShow ul {
	list-style:none;
	margin:0;
	padding:0;
	margin: 0 auto;
	top: 5px;
	position:relative;
	z-index:0;
}