*
    box-sizing: border-box
    padding: 0
    margin: 0
    font-family: 'Fira Sans', sans-serif
    font-size: 16px
    font-weight: 300
    color: #000
html
    scroll-behavior: smooth
    max-width: 100%
    overflow-x: hidden
body
    max-width: 100%
    overflow-x: hidden
a, button
    text-decoration: none
    color: inherit
    font-family: inherit
    border: 0 none
    outline: 0 none
button
    &:hover
        transform: scale(1.1) !important
img
    width: 100%
    height: auto
.container
    width: 1170px
    margin: 0 auto
.menu
    display: flex
    align-items: center
    li
        margin-right: 30px
        transition: .3s
        list-style: none
        &:hover
            color: #23527c
        &:last-child
            margin-right: 0px

span
    font-size: inherit
.main__link
    color: #fff
    background-color: rgba(104, 58, 183, 0.66)
    padding: 23px 55px
    border-radius: 5px
    box-shadow: rgb(0 0 0 / 44%) 0px 0px 0px 0px
    transition: all 0.3s linear 0s
    cursor: pointer
    font-weight: 500
    font-size: 16px
.line
    min-width: 262px
    max-width: 262px
    color: #000
    background: #000
    height: 2px
    border: 0 none
    outline: 0 none
    margin-top: 50px