.main
    padding-top: 150px
    .container
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
    &__bg
        position: absolute
        top: 20px
        width: 100%
        left: 0px
        opacity: 0.08
        z-index: -1
    &__info
        max-width: 539px
        width: 100%
    &__title
        text-transform: uppercase
        margin-bottom: 25px
    &__descript
        font-size: 16px
        line-height: 25px
        font-weight: 300
    &__img
        max-width: 560px
        width: 100%
        border-radius: 16px
        border: 1px solid #cea058
        img
            border-radius: 16px
.ur
    margin-top: 150px
    .container
        position: relative
    &__bg
        position: absolute
        z-index: -1
        top: 50%
        left: 0px
        width: 100%
        opacity: 0.08
    &__block
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 80px
        &-first
            .ur__info
                max-width: 539px
                &-title
                    max-width: 404px
                &-subtitle
                    max-width: 451px
            .ur__img-block
                max-width: 500px
                position: relative
                .ur__img-row
                    display: flex
                    gap: 0px 60px
                    width: 100%
                    &:nth-child(1)
                        position: absolute
                        z-index: 1
                        left: 30px
                        top: 35px
        &-second
            .ur__info
                max-width: 543px
            .ur__img-block
                max-width: 550px
                position: relative
                .ur__img-item
                    &:nth-child(2)
                        position: absolute
                        bottom: -100px
                        right: -140px
    &__img
        transition: .3s
        &-item
            box-shadow: 0px 0px 10px 0px rgba(11,11,11,0.4)
            border-radius: 16px
            transition: .3s
            img
                border-radius: 16px
        &-filter
            opacity: 0.4
        &-active
            opacity: 1
    &__info
        &-title
            font-size: 28px
            font-weight: 500
            line-height: 36px
            margin-bottom: 15px
        &-subtitle
            font-size: 20px
            font-weight: 400
            line-height: 31px
            margin-bottom: 20px
        &-descript
            font-size: 16px
            line-height: 25px
            font-weight: 300
            margin-top: 20px
.office
    margin-top: 150px
    .container
        position: relative
    &__bg
        position: absolute
        top: 250px
        z-index: -1
        width: 79px
        &-first
            left: -40px
        &-second
            right: -40px
    &__block
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 80px 40px
        margin-top: 80px
    &__item
        &-header
            display: flex
            align-items: center
            margin-bottom: 20px
        &-from
            font-size: 16px
            color: #cea058
        &-arrow
            min-width: 15px
            width: 15px
            margin: 0px 15px
        &-to
            font-size: 16px
        &-loc
            display: flex
            align-items: center
            font-size: 14px
            margin-bottom: 20px
            max-width: 320px
        &-icon
            min-width: 30px
            width: 30px
            margin-right: 10px
@media screen and (max-width: 1160px)
    .main
        .container
            flex-direction: column
            align-items: flex-start
        &__img
            margin-top: 20px
    .ur
        &__block
            &-first
                flex-direction: column
                align-items: center
                .ur__img-block 
                    margin-top: 40px
                    .ur__img-row:nth-child(1)
                        position: static
                        margin-bottom: 20px
            &-second
                flex-direction: column-reverse
                .ur__img-block 
                    display: flex
                    flex-direction: column
                    align-items: center
                    margin-top: 40px
                    .ur__img-item:nth-child(2)
                        position: static
                        margin-top: 20px
    .office
        &__block
            grid-template-columns: 1fr
        &__bg
            display: none
@media screen and (max-width: 650px)
    .main
        padding-top: 100px
        &__descript
            font-size: 3.5vw
            line-height: normal
    .ur
        &__block
            &-first
                .ur__img-block 
                    .ur__img-row
                        gap: 0px 10px
    .office
        margin-top: 50px
        &__block
            margin-top: 20px