footer
  padding: 60px 0px
  background: #323843
  color: #fff

.footer__main
  display: flex
  justify-content: space-between

.info__mail
  display: flex
  align-items: center

.mail__img
  width: 24px
  margin-right: 8px
  margin-top: 3px

.info__soz
  display: flex
  align-items: center
  margin-top: 30px

.soz__item
  width: 40px
  margin-right: 8px
.footer__menu
  display: flex
  nav
    margin-right: 64px
    li
      margin-top: 12px
      font-size: 16px
      font-weight: 400
    &:last-child
      margin-right: 0px
.polit
  margin-top: 52px
  font-size: 16px
  font-weight: 400
  display: block
@media screen and (max-width: $MainContainer)
  .footer__menu
    flex-direction: column
    margin-right: 9%
    nav
      margin-right: 0px
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0px
@media screen and ( max-width: $MobileContainer)
  .footer__menu
    margin-right: 0px
    margin-top: 49px
  .footer__main
    flex-direction: column
  .info__soz
    margin-top: 17px
  