@import 'mixins'
@import 'colors'
header
    padding: 30px 0px
    .container
        +flexa
        justify-content: space-between
.header__logo
    max-width: 270px
    width: 100%
.menu
    li
        margin-right: 40px
        font-weight: 400
        &:last-child
            margin-right: 0px
