=flexa
    display: flex
    align-items: center
=inher
    color: inherit
    font-size: inherit
    font-weight: inherit
=bg
    background-position: center center
    background-size: cover
    background-repeat: no-repeat