.slick-arrow
    font-size: 0px
    width: 65px
    height: 65px
    border-radius: 100%
    background-color: $black
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: $mainZIndex
    +bg
    background-size: 40px
.slick-next
    right: -28px
.slick-prev
    left: -28px
.slick-dots
    position: absolute
    left: 50%
    transform: translateX(-50%)
    +flexa
    bottom: -60px
    li
        width: 28px
        height: 28px
        font-size: 0px
        border-radius: 100%
        background: #EAD4FF
        margin-right: 20px
        cursor: pointer
        &:last-child
            margin-right: 0px
    .slick-active
        background: $purple