@import 'main'
@import 'header'
@import 'footer'
.header__video
    width: 420px
    position: relative 
    height:100%
    border-radius: 20px
    object-fit: cover
    margin-top: 60px
    video 
        width: 100% 
        display: block 
        height: 287px
        border-radius: 20px
        object-fit: cover
    &.video-is-playing 
        #video-over 
            display: block 
        #video-play 
            opacity: 0 
            visibility: hidden 
#video-over 
    position: absolute 
    top: 0 
    right: 0 
    bottom: 0 
    left: 0 
    z-index: 1 
    display: none 
#video-play 
    position: absolute 
    top: 0 
    right: 0 
    bottom: 0 
    left: 0 
    margin: auto 
    width: 85px
    height: 85px
    background: #C68DFF
    border-radius: 50% 
    z-index: 1 
    cursor: pointer 
    transition: .2s ease 
    transition-property: opacity, visibility 
    &::before 
        content: '' 
        display: block 
        position: absolute 
        top: 50% 
        bottom: 0 
        margin: auto 
        left: 50%
        transform: translate(-35%, -60%)
        width: 0 
        height: 0 
        border: 33px solid transparent
        border-top-width: 18px 
        border-bottom-width: 18px 
        border-left-color: #E5FC8A
        border-right-width: 0 
        transition: transform .2s ease 
.spec
    &__block
        padding: 60px
        border-radius: 20px
        background: #F1F1FA
    &__header
        +flexa
        justify-content: space-between
    .info__img
        width: 160px
        height: 160px
        margin-bottom: 30px
    .info__job
        display: block
        margin: 15px 0px
    .hashtag
        +flexa
        &__item
            color: #505661
            margin-right: 10px
            font-size: 16px
            &:last-child
                margin-right: 0px
    &__title
        margin-top: 60px
    &__descript
        margin-top: 30px
        color: $black
.diplom-slider
    margin: 60px 0px
    .slider__item
        margin-right: 20px
.spec-block
    width: fit-content
.spec__price
    +flexa
    width: 100%
    justify-content: space-between
    &-item
        font-size: 24px
        font-weight: 600
.vibor
    margin-top: 20px
.otz
    margin-bottom: 0px
    &__title
        margin-bottom: 15px
    &__item
        margin-top: 30px
        &-header
            +flexa
            justify-content: space-between
        &-mainInfo
            +flexa
        &-name
            font-size: 20px
            font-weight: 500
        &-date
            font-size: 16px
        &-img
            width: 44px
            height: 44px
            margin-right: 10px
            border-radius: 100%
            img
                border-radius: 100%
        &-descript
            margin-top: 15px
            font-size: 16px
            color: $black
.more__otz
    margin-top: 45px
    font-size: 16px
    font-weight: 600
    display: block
.back
    margin-top: 45px
    font-size: 16px
    font-weight: 600
@media screen and (max-width: $MainContainer)
    .spec
        &__header
            flex-direction: column
            align-items: flex-start
        &__block
            padding: 30px
    .header__video
        margin: 30px 0px
    .spec__title, .otz__title
        font-size: 24px
        
@media screen and (max-width: $MobileContainer)
    .header__video
        width: 100%
    .spec
        &__block
            padding: 20px
        .hashtag
            flex-direction: column
            align-items: flex-start
            &__item
                margin-right: 0px
                margin-bottom: 5px
                &:last-child
                    margin-bottom: 0px