.tovar__buttons {
  position: fixed;
  top: -120%;
  left: 0;
  background: #ECEEEF;
  width: 100%;
  height: 100vh;
  z-index: 120;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}
.tovar__buttons footer {
  display: block;
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-top: 2px;
  padding-bottom: 120px;
}
.tovar__buttons footer::before {
  content: "";
  width: 106%;
  height: 65px;
  background: #ECEEEF;
  top: -11px;
  right: -3%;
  position: absolute;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
}
.tovar__buttons .button__item {
  width: 271px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 19px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 6px;
  background: transparent;
  margin-top: 8px;
  z-index: 150;
}
.tovar__buttons .button__item:hover {
  background: linear-gradient(91.93deg, #FF5757 -6.24%, #FF9A9A 108.54%);
  color: #fff;
}
.tovar__buttons .button__item:hover .ct_img__img:first-child {
  display: none;
}
.tovar__buttons .button__item:hover .ct_img__img:nth-child(2) {
  display: block;
}
.tovar__buttons .button__item .ct_img__img:nth-child(2) {
  display: none;
}
.tovar__buttons .button__item:first-child {
  margin-top: 0px;
}
.tovar__buttons .button__item .ct__img {
  margin-right: 10px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tovar__buttons .button__item #ct_1 img {
  width: 21px;
  height: 21px;
}
.tovar__buttons .button__item #ct_2 img {
  width: 24px;
  height: 24px;
}
.tovar__buttons .button__item #ct_3 img {
  width: 21px;
  height: 25px;
}
.tovar__buttons .button__item #ct_4 img {
  width: 24px;
  height: 24px;
}
.tovar__buttons .button__item #ct_5 img {
  width: 24px;
  height: 28px;
}
.tovar__buttons .button__item #ct_6 img {
  width: 24px;
  height: 22px;
}
.tovar__buttons .button__item #ct_7 img {
  width: 24px;
  height: 24px;
}
.tovar__buttons .active {
  background: linear-gradient(91.93deg, #FF5757 -6.24%, #FF9A9A 108.54%);
  color: #fff;
}

header {
  background: #222931;
  color: #fff;
  position: static !important;
}
header .container .header__icon .search-box .search-btn {
  background: #222931;
}

.error {
  background-image: url("../img/error_bg.svg");
  width: 100%;
  height: 1028px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}
.error .main__section {
  width: 805px;
  padding-top: 106px;
}

footer {
  background: #fff;
}
footer .main__container .footer__info, footer .main__container .footer__menu {
  color: #222931;
}
footer .footer__text {
  color: #222931;
}

.main__error {
  width: 100%;
  height: 504px;
  margin: 0 auto;
}

.error__title {
  font-size: 30px;
  line-height: 39px;
  font-family: "SF-Pro-Rounded-Bold";
  max-width: 365px;
  margin-top: 30px;
}

.error__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-family: "SF-Pro-Rounded-Medium";
  margin-top: 35px;
}
.error__link a {
  position: relative;
}
.error__link a::before {
  content: url("../img/error_arrow.svg");
  position: absolute;
  top: 2px;
  right: -30px;
}

@media screen and (max-width: 850px) {
  .error .main__section {
    width: 97%;
  }
}
@media screen and (max-width: 650px) {
  .error .main__section {
    padding-top: 0px;
  }

  .main__error {
    width: 418px;
    height: 261px;
  }

  .error {
    height: 500px;
  }

  .error__text {
    background: #fff;
    width: 100%;
    color: #222931;
    margin-top: 220px;
  }

  footer {
    margin-top: 150px;
  }

  .error__link {
    margin-top: 20px;
  }
  .error__link a::before {
    content: url("../img/error_arrow_black.svg");
  }
}
@media screen and (max-width: 450px) {
  .main__error {
    width: 300px;
    height: 261px;
  }

  .error {
    height: 380px;
  }

  .error__text {
    margin-top: 90px;
  }

  footer {
    margin-top: 80px;
  }

  .error__title {
    font-size: 20px;
    line-height: 26px;
  }
}
.header-active {
  background-color: #F1F3F4;
}