@font-face {
  font-family: "VelaSans-Regular";
  src: url("../fonts/VelaSans-Regular.ttf");
}
@font-face {
  font-family: "VelaSans-Medium";
  src: url("../fonts/VelaSans-Medium.ttf");
}
@font-face {
  font-family: "VelaSans-SemiBold";
  src: url("../fonts/VelaSans-SemiBold.ttf");
}
@font-face {
  font-family: "VelaSans-Bold";
  src: url("../fonts/VelaSans-Bold.ttf");
}
.ic {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ic__tg-header {
  min-width: 40px;
  -webkit-mask: url(../img/tg-header.svg) no-repeat center center;
  mask: url(../img/tg-header.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #2463CA;
  height: 40px;
}
.ic__tg-footer {
  width: 28px;
  min-width: 28px;
  height: 28px;
  -webkit-mask: url(../img/tg-header.svg) no-repeat center center;
  mask: url(../img/tg-header.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #333435;
}

.ic__wt-header {
  min-width: 40px;
  -webkit-mask: url(../img/wt-header.svg) no-repeat center center;
  mask: url(../img/wt-header.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #2463CA;
  height: 40px;
}
.ic__wt-footer {
  width: 28px;
  min-width: 28px;
  height: 28px;
  -webkit-mask: url(../img/wt-header.svg) no-repeat center center;
  mask: url(../img/wt-header.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #333435;
}

.ic__vk {
  width: 28px;
  min-width: 28px;
  height: 28px;
  -webkit-mask: url(../img/vk.svg) no-repeat center center;
  mask: url(../img/vk.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #333435;
}

.ic__gg {
  width: 28px;
  min-width: 28px;
  height: 28px;
  -webkit-mask: url(../img/gg.svg) no-repeat center center;
  mask: url(../img/gg.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #333435;
}

.ic__arrow-menu {
  width: 12px;
  height: 15px;
  -webkit-mask: url(../img/arrow-down.svg) no-repeat center center;
  mask: url(../img/arrow-down.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #9E9E9E;
}

.ic__stages {
  min-width: 36px;
  height: 36px;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #2463CA;
}
.ic__stages-1 {
  -webkit-mask: url(../img/stages-1.svg) no-repeat center center;
  mask: url(../img/stages-1.svg) no-repeat center center;
}
.ic__stages-2 {
  -webkit-mask: url(../img/stages-2.svg) no-repeat center center;
  mask: url(../img/stages-2.svg) no-repeat center center;
}
.ic__stages-3 {
  -webkit-mask: url(../img/stages-3.svg) no-repeat center center;
  mask: url(../img/stages-3.svg) no-repeat center center;
}
.ic__stages-4 {
  -webkit-mask: url(../img/stages-4.svg) no-repeat center center;
  mask: url(../img/stages-4.svg) no-repeat center center;
}
.ic__stages-5 {
  -webkit-mask: url(../img/stages-5.svg) no-repeat center center;
  mask: url(../img/stages-5.svg) no-repeat center center;
}
.ic__stages-6 {
  -webkit-mask: url(../img/stages-6.svg) no-repeat center center;
  mask: url(../img/stages-6.svg) no-repeat center center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "VelaSans-Regular";
  color: #333435;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
  display: block;
  color: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

button {
  border: 0 none;
  outline: 0 none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

input {
  border: 0 none;
  outline: 0 none;
  cursor: text;
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}

section {
  margin-bottom: 90px;
}

.section__title {
  font-size: 40px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}

@media screen and (max-width: 900px) {
  section {
    margin-bottom: 35px;
  }
  .section__title {
    font-size: clamp(26px, 6vw, 40px);
  }
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__burger {
  display: none;
}
.header__top {
  padding: 11px 0px;
  border-bottom: 1px solid #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 141px;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__item-title {
  font-size: 16px;
  font-family: "VelaSans-Bold";
}
.header__item-descript {
  font-size: 14px;
  color: #9E9E9E;
}
.header__soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__recall {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  border-radius: 40px;
  background: #2463CA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FFFFFF;
}
.header__recall-mobile {
  display: none;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__bottom-close {
  display: none;
}
.header__bottom-mobile {
  display: none;
}
.header__bottom-block {
  padding: 6px 0px;
}
.header__bottom-item {
  font-size: 16px;
  color: #9E9E9E;
  position: relative;
  overflow: hidden;
}
.header__bottom-item:hover {
  overflow: visible;
}
.header__bottom-item:hover > .header__bottom-submenu {
  opacity: 1;
}
.header__bottom-item:hover .ic__arrow-menu {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #333435;
}
.header__bottom-item a {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "VelaSans-Medium";
}
.header__bottom-item a:hover {
  border-radius: 10px;
  background: rgba(231, 231, 231, 0.4);
  color: #333435;
}
.header__bottom-item-active {
  color: #333435;
  border-radius: 10px;
  background: rgba(231, 231, 231, 0.4);
}
.header__bottom-submenu {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  background: #FFFFFF;
  padding: 20px;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.header__bottom-submenu li {
  font-size: 16px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}

@media screen and (max-width: 900px) {
  .header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__bottom-close {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 20px;
  }
  .header__bottom-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0px;
    left: -110%;
    z-index: 4;
    max-width: 650px;
    width: 100%;
    height: 100dvh;
    background: #FFFFFF;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__bottom-block-active {
    left: 0px;
  }
  .header__bottom-mobile {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    border-top: 1px solid rgb(245, 245, 245);
    margin-top: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
  }
  .header__bottom-item a {
    padding-left: 0px;
  }
  .header__bottom-item-active {
    padding-left: 10px;
  }
  .header__mobile-title {
    font-size: 16px;
    font-weight: 700;
    font-family: "VelaSans-Bold";
  }
  .header__mobile-descript {
    font-size: 14px;
    font-weight: 400;
    color: #9E9E9E;
  }
  .header__mobile-soz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .header__mobile-sozItem {
    width: 40px;
  }
  .header__mobile-button {
    padding: 10px 32px;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    background: #2463CA;
    font-family: "VelaSans-Medium";
  }
  .header__item, .header__soz {
    display: none;
  }
  .header__burger {
    display: block;
    width: 30px;
  }
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 550px) {
  .header__recall {
    display: none;
  }
  .header__recall-mobile {
    display: block;
    width: 40px;
  }
}
.main {
  margin-top: 20px;
}
.main .container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  background: linear-gradient(217.28deg, rgb(231, 231, 231) 15.711%, rgb(255, 255, 255) 86.8%);
}
.main__img {
  position: relative;
  max-width: 439px;
  z-index: 1;
  margin-bottom: -10px;
  padding-right: 65px;
}
.main__img::before {
  content: "";
  position: absolute;
  top: -67px;
  right: -358px;
  width: 846px;
  height: 846px;
  border-radius: 100%;
  background: #FFFFFF;
  z-index: -1;
}
.main__info {
  padding-left: 40px;
}
.main__info-title {
  font-size: 50px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
  color: #2463CA;
  margin-bottom: 10px;
}
.main__info-descript {
  font-size: 16px;
  font-weight: 400;
}
.main__info-descript span {
  font-size: 60px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
  background: linear-gradient(221.02deg, rgb(232, 11, 11), rgb(220, 79, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.main__info-subtitle {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}
.main__info-button {
  margin-top: 33px;
  background: #2463CA;
  color: #FFFFFF;
  padding: 16px 77px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main__info-button:hover {
  -webkit-box-shadow: 0px 0px 25.2px 0px #2463CA;
          box-shadow: 0px 0px 25.2px 0px #2463CA;
}

.prem__descript {
  font-size: 28px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
}
.prem__descript span {
  font-size: 28px;
  font-weight: 600;
  color: #2463CA;
  font-family: "VelaSans-SemiBold";
}
.prem__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.prem__item {
  position: relative;
  padding: 40px 20px;
  max-width: 33.333%;
  width: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 1;
}
.prem__item::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  border-radius: 20px;
}
.prem__item:hover::before {
  opacity: 1;
}
.prem__item:nth-child(1) {
  background: linear-gradient(225deg, rgb(36, 99, 202), rgb(18, 49, 100) 100%);
}
.prem__item:nth-child(1)::before {
  background: #2463CA;
}
.prem__item:nth-child(2) {
  background: linear-gradient(225deg, rgb(70, 108, 154), rgb(39, 61, 88) 100%);
}
.prem__item:nth-child(2)::before {
  background: #466C9A;
}
.prem__item:nth-child(3) {
  background: linear-gradient(45deg, rgb(31, 42, 62) 0%, rgb(34, 61, 116) 100%);
}
.prem__item:nth-child(3)::before {
  background: #223D74;
}
.prem__item-icon {
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.prem__item-icon img {
  width: 50px;
}
.prem__item-title {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
  margin-bottom: 8px;
}
.prem__item-descript {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .prem__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .prem__item {
    max-width: 100%;
    padding: 25px 10px;
  }
  .prem__item-icon {
    padding: 10px;
    border-radius: 5px;
  }
  .prem__item-icon img {
    width: 20px;
  }
  .prem__item-title {
    font-size: 16px;
  }
  .prem__item-descript {
    font-size: 14px;
  }
  .prem__descript {
    font-size: clamp(16px, 3vw, 28px);
  }
  .prem__descript span {
    font-size: clamp(16px, 3vw, 28px);
  }
}
.products .section__title {
  text-align: center;
}
.products__main {
  display: none;
  gap: 20px;
}
.products__main-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products__main-modal {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: -110%;
  left: 0;
  background: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #9E9E9E;
  border-radius: 20px;
}
.products__main-block {
  margin-top: 20px;
}
.products__main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 30px 20px;
  border-radius: 20px;
  background: rgb(245, 245, 245);
  position: relative;
  max-width: 380px;
  width: 100%;
  overflow: hidden;
}
.products__main-item:hover > .products__main-modal {
  top: 0;
}
.products__main-item::before {
  content: "";
  width: 241px;
  height: 241px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: -81px;
  right: -81px;
}
.products__main-title {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.products__main-descript {
  font-size: 16px;
}
.products__main-img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.products__count-item {
  margin-bottom: 20px;
}
.products__count-title {
  color: #2463CA;
  font-size: 40px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.products__count-descript {
  font-size: 14px;
  color: #9E9E9E;
}
.products__modal-title {
  font-size: 26px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.products__modal-descript {
  display: none;
}
.products__modal-list {
  padding-left: 20px;
}
.products__modal-list li {
  list-style: outside;
  font-size: 18px;
  margin-bottom: 2px;
}
.products__modal-prem {
  display: none;
}
.products__modal-button {
  padding: 16px 0px;
  background: #2463CA;
  color: #FFFFFF;
  border-radius: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.products__modal-button:hover {
  -webkit-box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
          box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
}
.products__modal-link {
  padding: 16px 0px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  border: 1px solid rgb(51, 52, 53);
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.products__modal-link:hover {
  color: #FFFFFF;
  background: #2463CA;
  border-color: #2463CA;
}

#products__main-1 .products__main-item:nth-child(1) .products__main-img {
  width: 164px;
  right: -21px;
}
#products__main-1 .products__main-item:nth-child(2) .products__main-img {
  width: 219px;
  right: -41px;
  bottom: -26px;
}
#products__main-1 .products__main-item:nth-child(3) .products__main-img {
  width: 230px;
  bottom: -57px;
  right: -52px;
}
#products__main-2 .products__main-item:nth-child(1) .products__main-img {
  width: 188px;
}
#products__main-2 .products__main-item:nth-child(2) .products__main-img {
  right: -55px;
  bottom: -57px;
  width: 269px;
}
#products__main-2 .products__main-item:nth-child(3) .products__main-img {
  right: -21px;
  bottom: -9px;
  width: 180px;
}

@media screen and (max-width: 900px) {
  .products__tabs {
    margin-top: 15px;
  }
  .products__main {
    gap: 10px;
  }
  .products__main-active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__main-item {
    max-width: 100%;
    padding: 0px;
  }
  .products__main-modal {
    top: 0px;
    position: static;
    background: rgb(245, 245, 245);
    border: 0px;
    padding: 14px 20px;
  }
  .products__main-info {
    display: none;
  }
  .products__main-footer {
    display: none;
  }
  .products__modal-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .products__modal-descript {
    display: block;
    font-size: 14px;
    font-weight: 400;
  }
  .products__modal-list {
    display: none;
  }
  .products__modal-buttons {
    margin-top: 15px;
  }
  .products__modal-prem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  .products__modal-button, .products__modal-link {
    padding: 13px 0px;
  }
  .products__prem-title {
    font-size: 30px;
    color: #2463CA;
    font-family: "VelaSans-Bold";
    font-weight: 700;
  }
  .products__prem-descript {
    font-size: 12px;
    color: #9E9E9E;
  }
}
.info .section__title {
  text-align: center;
}
.info__block {
  border-radius: 20px;
  background: linear-gradient(225deg, rgb(18, 49, 100) 0%, rgb(36, 99, 202) 100%);
  padding: 40px;
  margin-top: 30px;
}
.info__block-descript {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  font-family: "VelaSans-Medium";
}
.info__item {
  background: #FFFFFF;
  padding: 31px 40px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.info__item:last-child {
  margin-bottom: 0px;
}
.info__item-main {
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
}
.info__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__item-title {
  font-size: 26px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.info__item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.info__item-button p {
  font-size: 16px;
  font-weight: 500;
  color: #2463CA;
  font-family: "VelaSans-Medium";
  white-space: nowrap;
}
.info__item-button span {
  display: block;
  min-width: 30px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #2463CA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2463CA;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.info__item-active .info__item-main {
  overflow: visible;
  opacity: 1;
  visibility: visible;
  height: auto;
  margin-top: 28px;
}
.info__item-descript {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
.info__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  padding-left: 20px;
}
.info__item-list li {
  font-size: 20px;
  font-weight: 400;
  list-style: outside;
}
.info__item-list li span {
  font-weight: 600;
  font-size: 20px;
  font-family: "VelaSans-SemiBold";
}

.stages .section__title {
  text-align: center;
}
.stages__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.stages__block > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.stages__block > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.stages__block > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.stages__block > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.stages__block > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.stages__block > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.stages__item {
  padding: 40px;
  border-radius: 20px;
  background: rgb(245, 245, 245);
  padding-bottom: 30px;
}
.stages__item:hover .stages__item-icon {
  background: #2463CA;
}
.stages__item:hover .ic__stages {
  background: #FFFFFF;
}
.stages__item-icon {
  padding: 12px;
  border-radius: 10px;
  background: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.stages__item-title {
  font-size: 26px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
  margin-bottom: 5px;
}
.stages__item-descript {
  font-size: 16px;
}
.stages__item-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.stages__item-input input {
  width: 100%;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
}
.stages__item-input input::-webkit-input-placeholder {
  color: #9E9E9E;
}
.stages__item-input input::-moz-placeholder {
  color: #9E9E9E;
}
.stages__item-input input:-ms-input-placeholder {
  color: #9E9E9E;
}
.stages__item-input input::-ms-input-placeholder {
  color: #9E9E9E;
}
.stages__item-input input::placeholder {
  color: #9E9E9E;
}
.stages__item input[type=submit] {
  width: 100%;
  background: #2463CA;
  color: #FFFFFF;
  padding: 16px 0px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  margin-top: 20px;
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.stages__item input[type=submit]:hover {
  -webkit-box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
          box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
}

#stages__item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}
#stages__item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}
#stages__item-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}
#stages__item-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}
#stages__item-5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2/2/3/4;
}

@media screen and (max-width: 900px) {
  .stages__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stages__item {
    padding: 10px;
  }
}
@media screen and (max-width: 550px) {
  .stages__item-title {
    font-size: 16px;
  }
  .stages__item-descript {
    font-size: 14px;
  }
  .stages__item-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .stages__item-icon {
    padding: 8px;
    border-radius: 5px;
  }
  .stages__item-icon img {
    width: 30px;
  }
  .stages__item input[type=submit] {
    padding: 13px 0px;
  }
}
.otz .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  gap: 20px;
}
.otz .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.otz .slick-dots button {
  font-size: 0px;
  width: 40px;
  background: #9E9E9E;
  height: 1px;
}
.otz .slick-dots .slick-active button {
  height: 2px;
  background: #FFFFFF;
}
.otz .section__title {
  text-align: center;
}
.otz__block {
  margin-top: 30px;
  padding: 40px;
  padding-bottom: 80px;
  border-radius: 20px;
  background: linear-gradient(225deg, rgb(18, 49, 100) 0%, rgb(36, 99, 202) 100%);
}
.otz__item {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 14px;
  height: inherit !important;
}
.otz__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.otz__item-icon {
  min-width: 60px;
  width: 60px;
  border-radius: 10px;
  background: rgb(245, 245, 245);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 0px;
}
.otz__item-icon img {
  width: 30px;
}
.otz__item-prof {
  font-size: 14px;
  color: #9E9E9E;
}
.otz__item-descript {
  margin-top: 14px;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .otz__block {
    padding: 10px;
    padding-bottom: 30px;
  }
  .otz .slick-dots {
    bottom: -20px;
  }
}
@media screen and (max-width: 550px) {
  .otz .slick-track {
    gap: 10px;
  }
  .otz .slick-dots button {
    width: 30px;
  }
  .otz__block {
    margin-top: 15px;
  }
  .otz__item-name {
    font-size: 16px;
  }
  .otz__item-prof {
    font-size: 12px;
  }
  .otz__item-descript {
    font-size: 14px;
  }
  .otz__item-icon {
    padding: 9px 10px;
    width: auto;
    min-width: auto;
    border-radius: 5px;
  }
  .otz__item-icon img {
    width: 19px;
  }
}
.form .container {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.form__info {
  padding: 30px 40px;
  max-width: 640px;
}
.form__title {
  margin-bottom: 30px;
  color: #2463CA;
  font-size: 35px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.form__descript {
  font-size: 26px;
}
.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.form__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 40px;
  background: #F5F5F5;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
}
.form__input::-webkit-input-placeholder {
  color: #9E9E9E;
}
.form__input::-moz-placeholder {
  color: #9E9E9E;
}
.form__input:-ms-input-placeholder {
  color: #9E9E9E;
}
.form__input::-ms-input-placeholder {
  color: #9E9E9E;
}
.form__input::placeholder {
  color: #9E9E9E;
}
.form__img {
  max-width: 361px;
  position: relative;
  z-index: 1;
}
.form__img img {
  margin-bottom: -10px;
}
.form__img::before {
  content: "";
  position: absolute;
  width: 666px;
  height: 666px;
  border-radius: 100%;
  z-index: -1;
  background: #2463CA;
  top: -82px;
  right: -179px;
}
.form__button {
  padding: 16px 0px;
  width: 100%;
  border-radius: 40px;
  background: #2463CA;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__button:hover {
  -webkit-box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
          box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
}

@media screen and (max-width: 1200px) {
  .form {
    padding: 0px 20px;
  }
  .form .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    text-align: center;
  }
  .form__img::before {
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -50%;
  }
  .form__title {
    font-size: clamp(18px, 5vw, 35px);
    margin-bottom: 10px;
  }
  .form__info {
    padding: 20px 15px;
  }
  .form__descript {
    font-size: clamp(16px, 3.5vw, 26px);
  }
}
@media screen and (max-width: 550px) {
  .form form {
    margin-top: 15px;
  }
  .form__input {
    margin-bottom: 10px;
    padding: 10px;
  }
  .form__button {
    padding: 13px 0px;
  }
  .form__img {
    max-width: 162px;
  }
  .form__img::before {
    width: 320px;
    height: 320px;
    bottom: -80%;
  }
}
footer {
  padding-top: 40px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(245, 245, 245);
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}

.footer__logo {
  width: 206px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.footer__info-soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__info-title {
  font-size: 16px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.footer__info-list {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer__info-list li {
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__info-list li:hover {
  color: #2463CA;
}
.footer__info-contacts {
  text-align: right;
}
.footer__contacts-title {
  font-size: 16px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
  margin-top: 10px;
}
.footer__contacts-title:first-child {
  margin-top: 0px;
}
.footer__contacts-descript {
  font-size: 14px;
  color: #9E9E9E;
}
.footer__soz-item {
  width: 28px;
}
.footer__soz-item .ic {
  background: #333435;
}
.footer__soz-item .ic:hover {
  background: #2463CA;
}
.footer__main-text {
  margin-top: 50px;
}
.footer__main-descript {
  color: #9E9E9E;
  font-size: 14px;
  margin-bottom: 10px;
  width: 212px;
}
.footer__main-descript:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 900px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px 0px;
  }
  .footer__main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__main-text {
    display: none;
  }
  .footer__info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px 10px;
  }
  .footer__info-item:nth-child(2) {
    text-align: right;
  }
  .footer__info-item:nth-child(2) .footer__info-list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.modal__bg {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100dvh;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.modal__bg-active {
  opacity: 1;
}
.modal__window {
  max-width: 1180px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  position: relative;
}
.modal__window-active {
  opacity: 1;
}
.modal__window-close {
  position: absolute;
  width: 24px;
  top: 15px;
  right: 15px;
  z-index: 4;
}
.modal__window-info {
  padding: 30px 40px;
  max-width: 640px;
}
.modal__window-title {
  margin-bottom: 30px;
  color: #2463CA;
  font-size: 35px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.modal__window-descript {
  font-size: 26px;
}
.modal__window form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.modal__window-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 40px;
  background: #F5F5F5;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
}
.modal__window-input::-webkit-input-placeholder {
  color: #9E9E9E;
}
.modal__window-input::-moz-placeholder {
  color: #9E9E9E;
}
.modal__window-input:-ms-input-placeholder {
  color: #9E9E9E;
}
.modal__window-input::-ms-input-placeholder {
  color: #9E9E9E;
}
.modal__window-input::placeholder {
  color: #9E9E9E;
}
.modal__window-img {
  max-width: 361px;
  position: relative;
  z-index: 1;
}
.modal__window-img img {
  margin-bottom: -10px;
}
.modal__window-img::before {
  content: "";
  position: absolute;
  width: 666px;
  height: 666px;
  border-radius: 100%;
  z-index: -1;
  background: #2463CA;
  top: -82px;
  right: -179px;
}
.modal__window-button {
  padding: 16px 0px;
  width: 100%;
  border-radius: 40px;
  background: #2463CA;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal__window-button:hover {
  -webkit-box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
          box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
}

@media screen and (max-width: 1200px) {
  .modal__window {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    text-align: center;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal__window-img {
    display: none;
  }
  .modal__window-img::before {
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -50%;
  }
  .modal__window-title {
    font-size: clamp(18px, 5vw, 35px);
    margin-bottom: 10px;
  }
  .modal__window-info {
    padding: 20px 15px;
  }
  .modal__window-descript {
    font-size: clamp(16px, 3.5vw, 26px);
  }
}
@media screen and (max-width: 550px) {
  .modal__window {
    border-radius: 0px;
  }
  .modal__window-info {
    padding-top: 22dvh;
  }
  .modal__window form {
    margin-top: 15px;
  }
  .modal__window-input {
    margin-bottom: 10px;
    padding: 10px;
  }
  .modal__window-button {
    padding: 13px 0px;
  }
  .modal__window-img {
    display: block;
    max-width: 162px;
  }
  .modal__window-img::before {
    width: 320px;
    height: 320px;
    bottom: -80%;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    padding: 0px 20px;
  }
  .main__info {
    padding-left: 0px;
  }
  .main .container {
    padding: 10px 20px;
  }
  .main__img {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .main__info-title {
    font-size: 24px;
  }
  .main__info-descript {
    font-size: 14px;
  }
  .main__info-descript span {
    font-size: 40px;
  }
  .main__info-subtitle {
    font-size: 16px;
  }
  .main__info-button {
    padding: 16px 0px;
    width: 100%;
  }
  .info__block {
    padding: 10px;
  }
  .info__block-descript {
    font-size: 16px;
  }
  .info__item {
    padding: 13px 10px;
  }
  .info__item-descript {
    font-size: 14px;
  }
  .info__item-list li {
    font-size: 14px;
  }
  .info__item-list li span {
    font-size: 14px;
  }
  .info__item-button p {
    display: none;
  }
  .info__item-title {
    font-size: 16px;
  }
}