@font-face {
  font-family: "VelaSans-Regular";
  src: url("../fonts/VelaSans-Regular.ttf");
}
@font-face {
  font-family: "VelaSans-Medium";
  src: url("../fonts/VelaSans-Medium.ttf");
}
@font-face {
  font-family: "VelaSans-SemiBold";
  src: url("../fonts/VelaSans-SemiBold.ttf");
}
@font-face {
  font-family: "VelaSans-Bold";
  src: url("../fonts/VelaSans-Bold.ttf");
}
.ic {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ic__tg-header {
  min-width: 40px;
  -webkit-mask: url(../img/tg-header.svg) no-repeat center center;
  mask: url(../img/tg-header.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #2463CA;
  height: 40px;
}
.ic__tg-footer {
  width: 28px;
  min-width: 28px;
  height: 28px;
  -webkit-mask: url(../img/tg-header.svg) no-repeat center center;
  mask: url(../img/tg-header.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #333435;
}

.ic__wt-header {
  min-width: 40px;
  -webkit-mask: url(../img/wt-header.svg) no-repeat center center;
  mask: url(../img/wt-header.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #2463CA;
  height: 40px;
}
.ic__wt-footer {
  width: 28px;
  min-width: 28px;
  height: 28px;
  -webkit-mask: url(../img/wt-header.svg) no-repeat center center;
  mask: url(../img/wt-header.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #333435;
}

.ic__vk {
  width: 28px;
  min-width: 28px;
  height: 28px;
  -webkit-mask: url(../img/vk.svg) no-repeat center center;
  mask: url(../img/vk.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #333435;
}

.ic__gg {
  width: 28px;
  min-width: 28px;
  height: 28px;
  -webkit-mask: url(../img/gg.svg) no-repeat center center;
  mask: url(../img/gg.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #333435;
}

.ic__arrow-menu {
  width: 12px;
  height: 15px;
  -webkit-mask: url(../img/arrow-down.svg) no-repeat center center;
  mask: url(../img/arrow-down.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #9E9E9E;
}

.ic__stages {
  min-width: 36px;
  height: 36px;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #2463CA;
}
.ic__stages-1 {
  -webkit-mask: url(../img/stages-1.svg) no-repeat center center;
  mask: url(../img/stages-1.svg) no-repeat center center;
}
.ic__stages-2 {
  -webkit-mask: url(../img/stages-2.svg) no-repeat center center;
  mask: url(../img/stages-2.svg) no-repeat center center;
}
.ic__stages-3 {
  -webkit-mask: url(../img/stages-3.svg) no-repeat center center;
  mask: url(../img/stages-3.svg) no-repeat center center;
}
.ic__stages-4 {
  -webkit-mask: url(../img/stages-4.svg) no-repeat center center;
  mask: url(../img/stages-4.svg) no-repeat center center;
}
.ic__stages-5 {
  -webkit-mask: url(../img/stages-5.svg) no-repeat center center;
  mask: url(../img/stages-5.svg) no-repeat center center;
}
.ic__stages-6 {
  -webkit-mask: url(../img/stages-6.svg) no-repeat center center;
  mask: url(../img/stages-6.svg) no-repeat center center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "VelaSans-Regular";
  color: #333435;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
  display: block;
  color: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

button {
  border: 0 none;
  outline: 0 none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

input {
  border: 0 none;
  outline: 0 none;
  cursor: text;
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}

section {
  margin-bottom: 90px;
}

.section__title {
  font-size: 40px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}

@media screen and (max-width: 900px) {
  section {
    margin-bottom: 35px;
  }
  .section__title {
    font-size: clamp(26px, 6vw, 40px);
    font-weight: 600;
    font-family: "VelaSans-SemiBold";
  }
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__burger {
  display: none;
}
.header__top {
  padding: 11px 0px;
  border-bottom: 1px solid #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 141px;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__item-title {
  font-size: 16px;
  font-family: "VelaSans-Bold";
}
.header__item-descript {
  font-size: 14px;
  color: #9E9E9E;
}
.header__soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__recall {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  border-radius: 40px;
  background: #2463CA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FFFFFF;
}
.header__recall-mobile {
  display: none;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__bottom-close {
  display: none;
}
.header__bottom-mobile {
  display: none;
}
.header__bottom-block {
  padding: 6px 0px;
}
.header__bottom-item {
  font-size: 16px;
  color: #9E9E9E;
  position: relative;
  overflow: hidden;
}
.header__bottom-item:hover {
  overflow: visible;
}
.header__bottom-item:hover > .header__bottom-submenu {
  opacity: 1;
}
.header__bottom-item:hover .ic__arrow-menu {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #333435;
}
.header__bottom-item a {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "VelaSans-Medium";
}
.header__bottom-item a:hover {
  border-radius: 10px;
  background: rgba(231, 231, 231, 0.4);
  color: #333435;
}
.header__bottom-item-active {
  color: #333435;
  border-radius: 10px;
  background: rgba(231, 231, 231, 0.4);
}
.header__bottom-submenu {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  background: #FFFFFF;
  padding: 20px;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.header__bottom-submenu li {
  font-size: 16px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}

@media screen and (max-width: 900px) {
  .header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__bottom-close {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 20px;
  }
  .header__bottom-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0px;
    left: -110%;
    z-index: 4;
    max-width: 650px;
    width: 100%;
    height: 100dvh;
    background: #FFFFFF;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__bottom-block-active {
    left: 0px;
  }
  .header__bottom-mobile {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    border-top: 1px solid rgb(245, 245, 245);
    margin-top: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
  }
  .header__bottom-item a {
    padding-left: 0px;
  }
  .header__bottom-item-active {
    padding-left: 10px;
  }
  .header__mobile-title {
    font-size: 16px;
    font-weight: 700;
    font-family: "VelaSans-Bold";
  }
  .header__mobile-descript {
    font-size: 14px;
    font-weight: 400;
    color: #9E9E9E;
  }
  .header__mobile-soz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .header__mobile-sozItem {
    width: 40px;
  }
  .header__mobile-button {
    padding: 10px 32px;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    background: #2463CA;
    font-family: "VelaSans-Medium";
  }
  .header__item, .header__soz {
    display: none;
  }
  .header__burger {
    display: block;
    width: 30px;
  }
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 550px) {
  .header__recall {
    display: none;
  }
  .header__recall-mobile {
    display: block;
    width: 40px;
  }
}
.main {
  margin-top: 30px;
}
.main__title {
  color: #2463CA;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}
.main__info {
  padding: 40px;
  padding-top: 36px;
  border-radius: 20px;
  background: linear-gradient(225deg, rgb(36, 99, 202) 0%, rgb(18, 49, 100) 100%);
  max-width: 580px;
  width: 100%;
}
.main__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 28px 44px;
}
.main__info-title {
  font-size: 12px;
  font-weight: 400;
  color: #F5F5F5;
  margin-bottom: 8px;
}
.main__info-descript {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.main__info-subtitle {
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}
.main__info-subtitle span {
  font-weight: 700;
  font-family: "VelaSans-Bold";
  color: #FFFFFF;
  font-size: 26px;
}
.main__info-soz {
  margin-top: 30px;
}
.main__soz-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.main__soz-item i {
  background: #FFFFFF;
}
.main__map {
  max-width: 580px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.form .container {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.form__info {
  padding: 30px 40px;
  max-width: 640px;
}
.form__title {
  margin-bottom: 30px;
  color: #2463CA;
  font-size: 35px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.form__descript {
  font-size: 26px;
}
.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.form__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 40px;
  background: #F5F5F5;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
}
.form__input::-webkit-input-placeholder {
  color: #9E9E9E;
}
.form__input::-moz-placeholder {
  color: #9E9E9E;
}
.form__input:-ms-input-placeholder {
  color: #9E9E9E;
}
.form__input::-ms-input-placeholder {
  color: #9E9E9E;
}
.form__input::placeholder {
  color: #9E9E9E;
}
.form__img {
  max-width: 361px;
  position: relative;
  z-index: 1;
}
.form__img img {
  margin-bottom: -10px;
}
.form__img::before {
  content: "";
  position: absolute;
  width: 666px;
  height: 666px;
  border-radius: 100%;
  z-index: -1;
  background: #2463CA;
  top: -82px;
  right: -179px;
}
.form__button {
  padding: 16px 0px;
  width: 100%;
  border-radius: 40px;
  background: #2463CA;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__button:hover {
  -webkit-box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
          box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
}
.form__sogl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.form__sogl-descript {
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 500;
  font-family: "VelaSans-SemiBold";
  text-align: left;
}
.form__sogl label {
  min-width: 20px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
  position: relative;
  cursor: pointer;
}
.form__sogl label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 12px;
  height: 10px;
  background-size: cover;
  background-position: center center;
  background-image: url("../../img/check.svg");
  display: none;
  z-index: 1;
}
.form__sogl input {
  display: none;
}
.form__sogl input:checked + label {
  background: #2463CA;
  border-color: #2463CA;
}
.form__sogl input:checked + label::before {
  display: block;
}

@media screen and (max-width: 1200px) {
  .form {
    padding: 0px 20px;
  }
  .form .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    text-align: center;
  }
  .form__img::before {
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -50%;
  }
  .form__title {
    font-size: clamp(18px, 5vw, 35px);
    margin-bottom: 10px;
  }
  .form__info {
    padding: 20px 15px;
  }
  .form__descript {
    font-size: clamp(16px, 3.5vw, 26px);
  }
}
@media screen and (max-width: 550px) {
  .form form {
    margin-top: 15px;
  }
  .form__input {
    margin-bottom: 10px;
    padding: 10px;
  }
  .form__button {
    padding: 13px 0px;
  }
  .form__img {
    max-width: 162px;
  }
  .form__img::before {
    width: 320px;
    height: 320px;
    bottom: -80%;
  }
}
footer {
  padding-top: 40px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(245, 245, 245);
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}

.footer__logo {
  width: 206px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.footer__info-soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__info-title {
  font-size: 16px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.footer__info-list {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer__info-list li {
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__info-list li:hover {
  color: #2463CA;
}
.footer__info-contacts {
  text-align: right;
}
.footer__contacts-title {
  font-size: 16px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
  margin-top: 10px;
  text-align: right;
}
.footer__contacts-title:first-child {
  margin-top: 0px;
}
.footer__contacts-descript {
  font-size: 14px;
  color: #9E9E9E;
}
.footer__soz-item {
  width: 28px;
}
.footer__soz-item .ic {
  background: #333435;
}
.footer__soz-item .ic:hover {
  background: #2463CA;
}
.footer__main-text {
  margin-top: 50px;
}
.footer__main-descript {
  color: #9E9E9E;
  font-size: 14px;
  margin-bottom: 10px;
  width: 212px;
}
.footer__main-descript:last-child {
  margin-bottom: 0px;
}
.footer__under {
  display: none;
}

@media screen and (max-width: 900px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px 0px;
  }
  .footer__main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__main-text {
    display: none;
  }
  .footer__info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px 10px;
  }
  .footer__info-item:nth-child(2) {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer__info-item:nth-child(2) .footer__info-list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer__under {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .footer__under .footer__main-text {
    display: block;
    margin-top: 30px;
  }
}
.modal__bg {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100dvh;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.modal__bg-active {
  opacity: 1;
}
.modal__window {
  max-width: 1180px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  position: relative;
}
.modal__window-sogl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.modal__window-sogl-descript {
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 500;
  font-family: "VelaSans-SemiBold";
  text-align: left;
}
.modal__window-sogl label {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
  position: relative;
  cursor: pointer;
}
.modal__window-sogl label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 12px;
  height: 10px;
  background-size: cover;
  background-position: center center;
  background-image: url("../../img/check.svg");
  display: none;
  z-index: 1;
}
.modal__window-sogl input {
  display: none;
}
.modal__window-sogl input:checked + label {
  background: #2463CA;
  border-color: #2463CA;
}
.modal__window-sogl input:checked + label::before {
  display: block;
}
.modal__window-active {
  opacity: 1;
}
.modal__window-close {
  position: absolute;
  width: 24px;
  top: 15px;
  right: 15px;
  z-index: 4;
}
.modal__window-info {
  padding: 30px 40px;
  max-width: 640px;
}
.modal__window-title {
  margin-bottom: 30px;
  color: #2463CA;
  font-size: 35px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.modal__window-descript {
  font-size: 26px;
}
.modal__window form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.modal__window-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 40px;
  background: #F5F5F5;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
}
.modal__window-input::-webkit-input-placeholder {
  color: #9E9E9E;
}
.modal__window-input::-moz-placeholder {
  color: #9E9E9E;
}
.modal__window-input:-ms-input-placeholder {
  color: #9E9E9E;
}
.modal__window-input::-ms-input-placeholder {
  color: #9E9E9E;
}
.modal__window-input::placeholder {
  color: #9E9E9E;
}
.modal__window-img {
  max-width: 361px;
  position: relative;
  z-index: 1;
}
.modal__window-img img {
  margin-bottom: -10px;
}
.modal__window-img::before {
  content: "";
  position: absolute;
  width: 666px;
  height: 666px;
  border-radius: 100%;
  z-index: -1;
  background: #2463CA;
  top: -82px;
  right: -179px;
}
.modal__window-button {
  padding: 16px 0px;
  width: 100%;
  border-radius: 40px;
  background: #2463CA;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal__window-button:hover {
  -webkit-box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
          box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
}

@media screen and (max-width: 1200px) {
  .modal__window {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    text-align: center;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal__window-img {
    display: none;
  }
  .modal__window-img::before {
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -50%;
  }
  .modal__window-title {
    font-size: clamp(18px, 5vw, 35px);
    margin-bottom: 10px;
  }
  .modal__window-info {
    padding: 20px 15px;
  }
  .modal__window-descript {
    font-size: clamp(16px, 3.5vw, 26px);
  }
}
@media screen and (max-width: 550px) {
  .modal__window {
    border-radius: 0px;
  }
  .modal__window-info {
    padding-top: 22dvh;
  }
  .modal__window form {
    margin-top: 15px;
  }
  .modal__window-input {
    margin-bottom: 10px;
    padding: 10px;
  }
  .modal__window-button {
    padding: 13px 0px;
  }
  .modal__window-img {
    display: block;
    max-width: 162px;
  }
  .modal__window-img::before {
    width: 320px;
    height: 320px;
    bottom: -80%;
  }
}
@media screen and (max-width: 1000px) {
  .main__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__info {
    max-width: 100%;
  }
  .main__map {
    height: 463px;
    max-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .main__info {
    padding: 15px;
  }
  .main__info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .main__info-title {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .main__info-descript {
    font-size: 20px;
  }
  .main__info-subtitle {
    font-size: 16px;
  }
  .main__info-subtitle span {
    font-size: 20px;
  }
}