@font-face {
  font-family: "VelaSans-Regular";
  src: url("../fonts/VelaSans-Regular.ttf");
}
@font-face {
  font-family: "VelaSans-Medium";
  src: url("../fonts/VelaSans-Medium.ttf");
}
@font-face {
  font-family: "VelaSans-SemiBold";
  src: url("../fonts/VelaSans-SemiBold.ttf");
}
@font-face {
  font-family: "VelaSans-Bold";
  src: url("../fonts/VelaSans-Bold.ttf");
}
.ic {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ic__tg-header {
  min-width: 40px;
  -webkit-mask: url(../img/tg-header.svg) no-repeat center center;
  mask: url(../img/tg-header.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #2463CA;
  height: 40px;
}

.ic__wt-header {
  min-width: 40px;
  -webkit-mask: url(../img/wt-header.svg) no-repeat center center;
  mask: url(../img/wt-header.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #2463CA;
  height: 40px;
}

.ic__arrow-menu {
  width: 12px;
  height: 15px;
  -webkit-mask: url(../img/arrow-down.svg) no-repeat center center;
  mask: url(../img/arrow-down.svg) no-repeat center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #9E9E9E;
}

.ic__stages {
  min-width: 36px;
  height: 36px;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #2463CA;
}
.ic__stages-1 {
  -webkit-mask: url(../img/stages-1.svg) no-repeat center center;
  mask: url(../img/stages-1.svg) no-repeat center center;
}
.ic__stages-2 {
  -webkit-mask: url(../img/stages-2.svg) no-repeat center center;
  mask: url(../img/stages-2.svg) no-repeat center center;
}
.ic__stages-3 {
  -webkit-mask: url(../img/stages-3.svg) no-repeat center center;
  mask: url(../img/stages-3.svg) no-repeat center center;
}
.ic__stages-4 {
  -webkit-mask: url(../img/stages-4.svg) no-repeat center center;
  mask: url(../img/stages-4.svg) no-repeat center center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "VelaSans-Regular";
  color: #333435;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
  display: block;
  color: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

button {
  border: 0 none;
  outline: 0 none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

input {
  border: 0 none;
  outline: 0 none;
  cursor: text;
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}

section {
  margin-bottom: 90px;
}

.section__title {
  font-size: 40px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}

.header__top {
  padding: 11px 0px;
  border-bottom: 1px solid #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 141px;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__item-title {
  font-size: 16px;
  font-family: "VelaSans-Bold";
}
.header__item-descript {
  font-size: 14px;
  color: #9E9E9E;
}
.header__soz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__recall {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  border-radius: 40px;
  background: #2463CA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FFFFFF;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__bottom-block {
  padding: 6px 0px;
}
.header__bottom-item {
  font-size: 16px;
  color: #9E9E9E;
  position: relative;
}
.header__bottom-item:hover > .header__bottom-submenu {
  opacity: 1;
}
.header__bottom-item:hover .ic__arrow-menu {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #333435;
}
.header__bottom-item a {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "VelaSans-Medium";
}
.header__bottom-item a:hover {
  border-radius: 10px;
  background: rgba(231, 231, 231, 0.4);
  color: #333435;
}
.header__bottom-item-active {
  color: #333435;
  border-radius: 10px;
  background: rgba(231, 231, 231, 0.4);
}
.header__bottom-submenu {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  background: #FFFFFF;
  padding: 20px;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.header__bottom-submenu li {
  font-size: 16px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}

.main {
  border-radius: 0px 0px 40px 40px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  background: linear-gradient(210.47deg, rgb(36, 99, 202) 39.142%, rgb(18, 49, 100) 100%);
  height: calc(100dvh - 127px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__info {
  max-width: 674px;
  padding-top: 100px;
}
.main__title {
  color: #FFFFFF;
  font-size: 60px;
  font-family: "VelaSans-Bold";
  font-weight: 700;
  line-height: 110%;
}
.main__descript {
  font-size: 16px;
  color: #FFFFFF;
}
.main__descript span {
  font-size: 60px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(221.02deg, rgb(232, 11, 11), rgb(220, 79, 0));
}
.main__subtitle {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 20px;
}
.main__button {
  padding: 16px 77px;
  background: #FFFFFF;
  color: #2463CA;
  border-radius: 40px;
  font-size: 16px;
  font-family: "VelaSans-SemiBold";
  margin-top: 33px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main__button:hover {
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25.2px 0px #2463CA;
          box-shadow: 0px 0px 25.2px 0px #2463CA;
  background: #2463CA;
}
.main__img {
  position: relative;
  max-width: 439px;
  width: 100%;
  z-index: 1;
}
.main__img::before {
  top: -30%;
  content: "";
  position: absolute;
  z-index: -1;
  width: 1000px;
  height: 1000px;
  background: linear-gradient(217.28deg, rgb(231, 231, 231) 5.001%, rgb(255, 255, 255) 83.887%);
  border-radius: 100%;
}

.prem__descript {
  font-size: 28px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
}
.prem__descript span {
  font-size: 28px;
  font-weight: 600;
  color: #2463CA;
  font-family: "VelaSans-SemiBold";
}
.prem__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.prem__item {
  position: relative;
  padding: 40px 20px;
  max-width: 33.333%;
  width: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 1;
}
.prem__item::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  border-radius: 20px;
}
.prem__item:hover::before {
  opacity: 1;
}
.prem__item:nth-child(1) {
  background: linear-gradient(225deg, rgb(36, 99, 202), rgb(18, 49, 100) 100%);
}
.prem__item:nth-child(1)::before {
  background: #2463CA;
}
.prem__item:nth-child(2) {
  background: linear-gradient(225deg, rgb(70, 108, 154), rgb(39, 61, 88) 100%);
}
.prem__item:nth-child(2)::before {
  background: #466C9A;
}
.prem__item:nth-child(3) {
  background: linear-gradient(45deg, rgb(31, 42, 62) 0%, rgb(34, 61, 116) 100%);
}
.prem__item:nth-child(3)::before {
  background: #223D74;
}
.prem__item-icon {
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.prem__item-icon img {
  width: 50px;
}
.prem__item-title {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
  margin-bottom: 8px;
}
.prem__item-descript {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.8;
}

.products__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  padding: 5px;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgb(245, 245, 245);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.products__tabs-item {
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 16px;
  color: #9E9E9E;
  font-weight: 500;
  font-family: "VelaSans-Medium";
}
.products__tabs-item-active {
  background: #2463CA;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "VelaSans-Regular";
}
.products__main-active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.products .section__title {
  text-align: center;
}
.products__main {
  display: none;
  gap: 20px;
}
.products__main-modal {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: -110%;
  left: 0;
  background: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #9E9E9E;
  border-radius: 20px;
}
.products__main-block {
  margin-top: 20px;
}
.products__main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 30px 20px;
  border-radius: 20px;
  background: rgb(245, 245, 245);
  position: relative;
  max-width: 380px;
  width: 100%;
  overflow: hidden;
}
.products__main-item:hover > .products__main-modal {
  top: 0;
}
.products__main-item::before {
  content: "";
  width: 241px;
  height: 241px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: -81px;
  right: -81px;
}
.products__main-title {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.products__main-descript {
  font-size: 16px;
}
.products__main-img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.products__count-item {
  margin-bottom: 20px;
}
.products__count-title {
  color: #2463CA;
  font-size: 40px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.products__count-descript {
  font-size: 14px;
  color: #9E9E9E;
}
.products__modal-title {
  font-size: 26px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
}
.products__modal-list {
  padding-left: 20px;
}
.products__modal-list li {
  list-style: outside;
  font-size: 18px;
  margin-bottom: 2px;
}
.products__modal-button {
  padding: 16px 0px;
  background: #2463CA;
  color: #FFFFFF;
  border-radius: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  width: 100%;
}
.products__modal-link {
  padding: 16px 0px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  border: 1px solid rgb(51, 52, 53);
  width: 100%;
  text-align: center;
}

#products__main-1 .products__main-item:nth-child(1) .products__main-img {
  width: 164px;
  right: -21px;
}
#products__main-1 .products__main-item:nth-child(2) .products__main-img {
  width: 219px;
  right: -41px;
  bottom: -26px;
}
#products__main-1 .products__main-item:nth-child(3) .products__main-img {
  width: 230px;
  bottom: -57px;
  right: -52px;
}
#products__main-2 .products__main-item:nth-child(1) .products__main-img {
  width: 188px;
}
#products__main-2 .products__main-item:nth-child(2) .products__main-img {
  right: -55px;
  bottom: -57px;
  width: 269px;
}
#products__main-2 .products__main-item:nth-child(3) .products__main-img {
  right: -21px;
  bottom: -9px;
  width: 180px;
}

.credit .section__title {
  text-align: center;
}

.stages .section__title {
  text-align: center;
}
.stages__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.stages__block > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.stages__block > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.stages__block > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.stages__block > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.stages__block > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.stages__block > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.stages__item {
  padding: 40px;
  border-radius: 20px;
  background: rgb(245, 245, 245);
  padding-bottom: 30px;
}
.stages__item:hover .stages__item-icon {
  background: #2463CA;
}
.stages__item:hover .ic__stages {
  background: #FFFFFF;
}
.stages__item-icon {
  padding: 12px;
  border-radius: 10px;
  background: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.stages__item-title {
  font-size: 26px;
  font-weight: 700;
  font-family: "VelaSans-Bold";
  margin-bottom: 5px;
}
.stages__item-descript {
  font-size: 16px;
}
.stages__item-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.stages__item-input input {
  width: 100%;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
}
.stages__item-input input::-webkit-input-placeholder {
  color: #9E9E9E;
}
.stages__item-input input::-moz-placeholder {
  color: #9E9E9E;
}
.stages__item-input input:-ms-input-placeholder {
  color: #9E9E9E;
}
.stages__item-input input::-ms-input-placeholder {
  color: #9E9E9E;
}
.stages__item-input input::placeholder {
  color: #9E9E9E;
}
.stages__item input[type=submit] {
  width: 100%;
  background: #2463CA;
  color: #FFFFFF;
  padding: 16px 0px;
  font-size: 16px;
  font-weight: 500;
  font-family: "VelaSans-Medium";
  margin-top: 20px;
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.stages__item input[type=submit]:hover {
  -webkit-box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
          box-shadow: 0px 0px 8.4px 0px rgb(36, 99, 202);
}

#stages__item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}
#stages__item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}
#stages__item-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}
#stages__item-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}
#stages__item-5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2/2/3/4;
}