@font-face {
  font-family: "VelaSans-Regular";
  src: url("../fonts/VelaSans-Regular.ttf");
}
@font-face {
  font-family: "VelaSans-Medium";
  src: url("../fonts/VelaSans-Medium.ttf");
}
@font-face {
  font-family: "VelaSans-SemiBold";
  src: url("../fonts/VelaSans-SemiBold.ttf");
}
@font-face {
  font-family: "VelaSans-Bold";
  src: url("../fonts/VelaSans-Bold.ttf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "VelaSans-Regular";
}