.project__slider__item{
  width: 33.3333%;
  margin-right: 20px;

}
.project__slider__item img{
  height: 300px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.projects__item{
  margin-bottom: 100px;
}
@media screen and (max-width: 768px){
  .project__slider__item img{
    height: 220px;
  }
  h1{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 570px){
  .project__slider__item{
    margin-right: 0px;
  }
}
