@import 'sass/main'
@import 'sass/header'
@import 'sass/footer'
.main
    margin-top: 60px
    &__text
        max-width: 580px
        width: 100%
        padding-top: 60px
    &__title
        margin-bottom: 15px
        text-transform: uppercase
    .mainButton
        margin-top: 30px
    .container
        display: flex
        justify-content: space-between
    &__img
        max-width: 567px
        width: 100%
.sugg
    margin-top: 170px
    +flexa
    &__img
        width: 196px
    &__text
        margin-left: 20px
    &__descript
        max-width: 206px
        font-size: 16px
        margin-left: 4px
.resh
    background: $purpleBg
    padding: 67px 0px
    &__title
        margin-bottom: 36px
    &__block
        display: flex
        justify-content: space-between
    &__item
        max-width: 376px
        width: 100%
    .item__img
        max-width: 380px
        width: 100%
        height: 227px
        margin-bottom: 21px
        img
            border-radius: 20px
    .item__title
        font-weight: 400
.how
    background: $purpleBg
    padding: 60px 0px
    &__item
        +flexa
        margin-bottom: 112px
        &:nth-child(2n + 1)
            display: flex
            flex-direction: row-reverse
            .item__icon
                margin-right: 120px
                margin-left: 0px !important
        &-last
            margin-bottom: 0px
    &__title
        text-align: center
        margin-bottom: 62px
    .item__text
        max-width: 578px
        width: 100%
    .item__count
        margin-bottom: 15px
    .item__title
        margin-bottom: 12px
    .item__icon
        max-width: 205px
        width: 100%
        margin-left: 100px
.form
    background: #EAD4FF
    padding: 101px 0px
    .container
        display: flex
        justify-content: space-between
    &__title
        max-width: 372px
        margin-bottom: 20px
    &__form
        max-width: 576px
        width: 100%
        .item__name
            font-size: 22px
            font-weight: 600
            font-family: 'Montserrat Alternates', sans-serif
        input, textarea
            width: 100%
            margin-top: 8px
            background: #fff
            border-radius: 10px
            font-size: 20px
            font-weight: 600
            $color: $black
            &::placeholder
                font-size: 20px
                font-weight: 600
                $color: $black
        input
            padding: 20px 30px
            margin-bottom: 16px
        textarea
            padding: 20px 30px
            height: 110px
            resize: none
            margin-bottom: 32px
    .mainButton
        margin-top: 16px
.sert
    background: #F1F1FA
    padding: 83px 0px
    .container
        +flexa
    &__img
        max-width: 442px
        width: 100%
        margin-right: 107px
    &__text
        max-width: 480px
        width: 100%
    &__descript
        margin: 20px 0px
        line-height: 25px
.history
    margin-top: 17px
    margin-bottom: 180px
    &__title
        max-width: 533px
        text-transform: uppercase
        line-height: 45px
        text-align: center
        margin: 0 auto
    &__slider
        margin-top: 60px
        position: relative
        .slider__item
            padding: 38px 60px
            border-radius: 20px
            border: 2px solid $black
            width: 482px
            margin: 0px 12px
    .item__header
        +flexa
        .item__img
            margin-right: 16px
            width: 60px
            height: 60px
            border-radius: 100%
            img
                border-radius: 60px
        .item__name
            font-size: 20px
            font-weight: 500
            color: $black
            margin-bottom: 5px
        .item__job
            font-size: 16px
            font-weight: 400
    .item__descript
        margin-top: 32px
        font-size: 20px
        font-weight: 500
        line-height: 27px
    .item__moreInfo
        display: flex
        justify-content: end
        margin-top: 30px
        font-size: 16px
        font-weight: 600
    .slick-arrow
        font-size: 0px
        width: 65px
        height: 65px
        border-radius: 100%
        background-color: $black
        position: absolute
        top: 50%
        transform: translateY(-50%)
        z-index: $mainZIndex
        +bg
        background-size: 40px
    .slick-next
        right: -28px
    .slick-prev
        left: -28px
    .slick-dots
        position: absolute
        left: 50%
        transform: translateX(-50%)
        +flexa
        bottom: -60px
        li
            width: 28px
            height: 28px
            font-size: 0px
            border-radius: 100%
            background: #EAD4FF
            margin-right: 20px
            cursor: pointer
            &:last-child
                margin-right: 0px
        .slick-active
            background: $purple
.dov
    &__title
        text-align: center
    &__block
        padding: 22px 0px
        border-top: 2px solid #C3CDE0
        border-bottom: 2px solid #C3CDE0
        margin-top: 32px
        .container
            display: flex
            justify-content: space-between
        
    &__item
        max-width: 200px
        width: 100%
        +flexa
.quest
    &__title
        margin-bottom: 60px
    .accordion
        &__item
            border-bottom: 2px solid #323843
            border-color: rgba(50, 56, 67, 0.4)
            &:first-child
                border-top: 2px solid #323843
                border-color: rgba(50, 56, 67, 0.4)
        &__title
            position: relative
            display: block
            cursor: pointer
            font-size: 24px
            font-weight: 600
            padding: 32px 0px
            +flexa
            justify-content: space-between
            flex-direction: row-reverse
            .accordion__arrow
                transition: .3s
                color: $black
        &-active
            .accordion__title-text
                color: #B66DFF
            .accordion__arrow svg path
                stroke: #B66DFF
        &__rotate
            transform: rotate(180deg)

        &__content
            font-size: 16px
            line-height: 24px
            display: none
            padding-bottom: 30px