@import 'sass/main'
@import 'sass/header'
@import 'sass/spec'
@import 'sass/slider'
@import 'sass/_insait'
@import 'sass/footer'
.bg-line
    position: relative
    .bg-line-item
        position: absolute
        z-index: $mainZIndex
        left: 250px
        top: 80px
.main
    margin-top: 60px
    &__text
        max-width: 580px
        width: 100%
        padding-top: 60px
    &__title
        margin-bottom: 15px
        text-transform: uppercase
    .mainButton
        margin-top: 30px
    .container
        display: flex
        justify-content: space-between
    &__img
        max-width: 567px
        width: 100%
.sugg
    margin-top: 170px
    +flexa
    &__img
        width: 196px
    &__text
        margin-left: 20px
    &__descript
        max-width: 206px
        font-size: 16px
        margin-left: 4px
.resh
    background: $purpleBg
    padding: 67px 0px
    &__title
        margin-bottom: 36px
    &__block
        display: flex
        justify-content: space-between
    &__item
        max-width: 376px
        width: 100%
    .item__img
        max-width: 380px
        width: 100%
        height: 227px
        margin-bottom: 21px
        img
            border-radius: 20px
    .item__title
        font-weight: 400
.sort
    .container
        display: flex
        justify-content: space-between
    &__item-block
        display: flex
        flex-direction: column
        align-items: flex-start
        margin-top: 70px
        .sort__item
            margin-bottom: 30px
            padding: 20px 30px
            border-radius: 46px
            font-size: 20px
            font-weight: 500
            color: #323843
            text-align: left
            &:last-child
                margin-bottom: 0px
            &-active
                background: #CBE857
    &__text
        max-width: 578px
    &__content
        display: none
        &-active
            display: block
        &-item
            background: #E4FF95
            border: 2px solid $black
            border-radius: 20px
            margin-bottom: 20px
            max-width: 680px
            width: 100%
            &:last-child
                margin-bottom: 0px
            &:nth-child(1)
                padding: 28px 38px
            &:nth-child(2)
                +flexa
                padding: 29px 41px
            &:nth-child(3)
                padding: 47px 42px
            
        .mainButton
            margin-top: 23px
        .item__img
            margin-right: 45px
        .item__text
            font-size: 16px
    &__list
        margin-top: 18px
        padding-left: 26px
        li
            list-style: disc
.how
    background: $purpleBg
    padding: 60px 0px
    position: relative
    &__item
        +flexa
        margin-bottom: 112px
        &:nth-child(2n + 1)
            display: flex
            flex-direction: row-reverse
            .item__icon
                margin-right: 120px
                margin-left: 0px !important
        &-last
            margin-bottom: 0px
    &__title
        text-align: center
        margin-bottom: 62px
    .item__text
        max-width: 578px
        width: 100%
    .item__count
        margin-bottom: 15px
    .item__title
        margin-bottom: 12px
    .item__icon
        max-width: 205px
        width: 100%
        margin-left: 100px
    button
        margin-top: 30px
.form
    background: #EAD4FF
    padding: 101px 0px
    .container
        display: flex
        justify-content: space-between
    &__title
        max-width: 372px
        margin-bottom: 20px
    &__form
        max-width: 576px
        width: 100%
        .item__name
            font-size: 22px
            font-weight: 600
            font-family: 'Montserrat Alternates', sans-serif
        input, textarea
            width: 100%
            margin-top: 8px
            background: #fff
            border-radius: 10px
            font-size: 20px
            font-weight: 600
            $color: $black
            &::placeholder
                font-size: 20px
                font-weight: 600
                $color: $black
        input
            padding: 20px 30px
            margin-bottom: 16px
        textarea
            padding: 20px 30px
            height: 110px
            resize: none
            margin-bottom: 32px
    .mainButton
        margin-top: 16px
.sert
    background: #F1F1FA
    padding: 83px 0px
    .container
        +flexa
    &__img
        max-width: 442px
        width: 100%
        margin-right: 107px
    &__text
        max-width: 480px
        width: 100%
    &__descript
        margin: 20px 0px
        line-height: 25px
.history
    margin-top: 17px
    margin-bottom: 180px
    &__title
        max-width: 533px
        text-transform: uppercase
        text-align: center
        margin: 0 auto
    &__slider
        margin-top: 60px
        position: relative
        .slider__item
            padding: 38px 60px
            border-radius: 20px
            border: 2px solid $black
            width: 482px
            margin: 0px 12px
    .item__header
        +flexa
        .item__img
            margin-right: 16px
            width: 60px
            height: 60px
            border-radius: 100%
            img
                border-radius: 60px
        .item__name
            font-size: 20px
            font-weight: 500
            color: $black
            margin-bottom: 5px
        .item__job
            font-size: 16px
            font-weight: 400
    .item__descript
        margin-top: 32px
        font-size: 20px
        font-weight: 500
        line-height: 27px
    .item__moreInfo
        display: flex
        justify-content: end
        margin-top: 30px
        font-size: 16px
        font-weight: 600
.dov
    &__title
        text-align: center
    &__block
        padding: 22px 0px
        border-top: 2px solid #C3CDE0
        border-bottom: 2px solid #C3CDE0
        margin-top: 32px
        .container
            display: flex
            justify-content: space-between
        
    &__item
        max-width: 200px
        width: 100%
        +flexa
.quest
    &__title
        margin-bottom: 60px
    .accordion
        &__item
            border-bottom: 2px solid #323843
            border-color: rgba(50, 56, 67, 0.4)
            &:first-child
                border-top: 2px solid #323843
                border-color: rgba(50, 56, 67, 0.4)
        &__title
            position: relative
            display: block
            cursor: pointer
            font-size: 24px
            font-weight: 600
            padding: 32px 0px
            +flexa
            justify-content: space-between
            flex-direction: row-reverse
            .accordion__arrow
                transition: .3s
                color: $black
        &-active
            .accordion__title-text
                color: #B66DFF
            .accordion__arrow svg path
                stroke: #B66DFF
        &__rotate
            transform: rotate(180deg)

        &__content
            font-size: 16px
            line-height: 24px
            display: none
            padding-bottom: 30px
@media screen and (max-width: $MainContainer)
    .history__slider
        margin-top: 30px
    .resh 
        .item__img
            max-width: 692px
            img
                height: 227px
    .resh__block 
        flex-direction: column
        align-items: center
    .resh__item 
        max-width: 692px
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0px
    .how
        .item__descript
            font-size: 16px
        .item__icon
            max-width: 140px
    .form 
        .container
            flex-direction: column
        &__text
            margin: 0 auto
            margin-bottom: 30px
        &__title
            max-width: 512px
        &__form
            margin: 0 auto
    .sert__img
        max-width: 281px
@media screen and (max-width: $MobileContainer)
    .sort 
        .container
            flex-direction: column
        &__content
            margin-top: 15px
            &-item
                max-width: 100%
                padding: 20px 15px !important
        &__item-block 
            margin-top: 15px
            .sort__item
                font-size: 14px
                padding: 12px 20px
                margin-bottom: 5px
        &__list
            li
                font-size: 16px
    .main
        margin-top: 30px
        .main__img
            display: none
    .main__text
        padding-top: 0px
    .sugg
        margin-top: 30px
        flex-direction: column-reverse
        align-items: flex-start
        &_img
            margin-top: 10px
            max-width: 130px
        &__text
            margin-left: 0px
            +flexa
        &__descript
            font-size: 14px
            margin-left: 5px
    .how
        &__title
            text-align: left
        &__item
            flex-direction: row-reverse
            align-items: flex-start
        .item__icon
            margin: 0px !important
            margin-right: 10px !important
            width: 60px
        .item__descript
            font-size: 14px
    .spec__all
        display: none
    .form
        padding: 40px 0px
    .form__form 
        .item__name
            font-size: 16px
        input, textarea
            font-size: 14px
            padding-left: 15px
            &::placeholder
                font-size: 14px
    .form__descript
        font-size: 14px
    .history__slider 
        .slider__item
            padding: 30px 20px
    .history__title
        text-align: left
    .history 
        .item__header 
            .item__name
                font-size: 18px
        .item__descript
            font-size: 14px
    .sert 
        padding: 30px 20px
        .container
            flex-direction: column
            align-items: flex-start
        &__img
            margin-bottom: 20px
            width: 150px 
        &__title
            font-size: 20px
        &__descript
            font-size: 14px
    .dov__block 
        .container
            justify-content: space-evenly
            flex-wrap: wrap
    .dov__item
        max-width: 43%
        margin-bottom: 10px
    .quest 
        .accordion__title
            font-size: 18px