@import 'vars'
.header__menu-item
    color: $black
main
    padding-top: 150px
.main
    &__title
        margin-top: 20px
        font-size: 48px
        font-weight: 400
.error
    .container
        padding: 24px 40px
        border: 1px solid $red
    &__img
        max-width: 563px
        margin: 0 auto
        margin-top: 50px
        width: 100%
@media screen and (max-width: 500px)
    .main__title
        font-size: 8vw